<template>
  <div class="material-images">
    <a-spin :spinning="loading">
      <div class="material-images-inner">
        <div class="material-images-item" v-for="i in images" :key="i.id" @click="$emit('openFullText', i)">
          <material-image :src="i.src" @load="onLoad(i)" @open="open" />
        </div>
      </div>
    </a-spin>
  </div>
</template>

<script lang="ts">
import waterfull from './waterfall'
import MaterialImage from './MaterialImagesItem.vue'
import { defineComponent } from 'vue'
import { GetAllResult } from '@/api'
import { materialsApi, useApi } from '@/api'
import { MaterialType, Materials } from '@/models/materials'
import { throttle } from 'lodash-es'

export default defineComponent({
  components: { MaterialImage },
  emits: ['openFullText'],
  setup() {
    const { loading, response: images } = useApi<GetAllResult<Materials>, Materials[]>(
      materialsApi.getAll({
        type: MaterialType.Image,
      })
    )
    const onLoad = throttle(() => waterfull('.material-images-inner'), 100)
    const open = () => {
      console.log()
    }
    return {
      loading,
      images,
      onLoad,
      open,
    }
  },
})
</script>

<style lang="less" scoped>
.material-images {
  padding: 5px;
  &-item {
    height: auto;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
  }
}
</style>
