<template>
  <div class="martial-image-wrapper" :class="{ 'show-action': !readonly }" @click="$emit('open')">
    <img v-bind="$attrs" class="material-image" />
    <div class="martial-image-wrapper-mask">
      <a-button size="small" class="quote-btn primary" type="primary" @click.stop="$emit('quote')">引用</a-button>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MartialImagesItem',
  emits: ['open', 'quote'],
  props: {
    readonly: Boolean,
  },
})
</script>

<style lang="less" scoped>
.martial-image-wrapper {
  position: relative;
  cursor: pointer;

  &.show-action:hover {
    .martial-image-wrapper-mask {
      display: block;
    }
  }
  .material-image {
    width: 100%;
  }
  &-mask {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .quote-btn {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }
  }
}
</style>
