<template>
  <div class="edit-template">
    <div class="edit-menu-header">
      <a-breadcrumb>
        <a-breadcrumb-item>我的项目</a-breadcrumb-item>
        <a-breadcrumb-item>沪深个股资讯</a-breadcrumb-item>
      </a-breadcrumb>
      <div class="edit-actions">
        <div class="action-btn" @click="handleGoSmartWriting">
          <icon-font type="iconexit" />
          <span>退出</span>
        </div>
        <div class="action-btn" @click="handleSaveTemplate">
          <icon-font type="iconsave" />
          <span>保存</span>
        </div>
        <div class="action-btn" @click="previewTemplate">
          <icon-font type="iconpreview" />
          <span>预览</span>
        </div>
      </div>
      <div class="edit-save-status">
        <icon-font type="iconsave2" />
        <span>已保存至云端</span>
      </div>
    </div>
    <div class="edit-container">
      <div class="edit-workplace">
        <CollaborativeEditor ref="collaborativeEditorEle" @variableClick="handleClickVars"></CollaborativeEditor>
      </div>
      <div class="edit-tools">
        <edit-tools ref="editToolsEle" @delete="handleDeleteVars" @selected="handleSelectedVars"></edit-tools>
      </div>
    </div>
    <!-- 生成文章预览 -->
    <a-modal
      :width="660"
      class="preview-template-modal ant-modal--modification"
      v-model:visible="previewVisible"
      title="生成文章预览"
      :footer="null"
    >
      <div class="preview-template-article">
        <a-spin :spinning="spinning" tip="文章生成中...">
          <a-alert message="文章标题" description="文本内容"></a-alert>
        </a-spin>
      </div>
      <div class="footer-btns">
        <a-button type="primary" @click="handleOk">确定</a-button>
      </div>
    </a-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from 'vue'
import EditTools from './components/edit-template/EditTools.vue'
import CollaborativeEditor from '@/components/collaborative-editor/index.vue'
import { useRouter } from 'vue-router'
import { AddOperationalVars, CommonVariables } from '@/models/templateVariables'
import { VariableType } from '@/components/collaborative-editor/blots/variable'

export default defineComponent({
  components: {
    EditTools,
    CollaborativeEditor,
  },
  setup() {
    const router = useRouter()
    const state = reactive({
      editText: '',
      previewVisible: false,
      spinning: false,
    })
    const handleGoSmartWriting = () => {
      router.go(-1)
    }
    const handleSaveTemplate = () => {
      console.log('保存')
    }
    const previewTemplate = () => {
      console.log('预览')
      state.previewVisible = true
      state.spinning = true
      setTimeout(() => {
        // 获取富文本编辑器中的html文本
        const htmlStr = `<h3>03中铁债收盘后浮动为-0.661%</h3><br/>
        <p>sz111023截至今日收盘，sz111023报收100.731元，较前收盘价浮动-0.661%，全天成交量150手，成交金额为1.51万AAA元。</p>
        <p>sz111023截至今日收盘，sz111023报收100.731元，较前收盘价浮动-0.661%，全天成交量150手，成交金额为1.51万AAA元。</p>
        <p>sz111023截至今日收盘，sz111023报收100.731元，较前收盘价浮动-0.661%，全天成交量150手，成交金额为1.51万AAA元。</p>
        <p>sz111023截至今日收盘，sz111023报收100.731元，较前收盘价浮动-0.661%，全天成交量150手，成交金额为1.51万AAA元。</p>
        <p>sz111023截至今日收盘，sz111023报收100.731元，较前收盘价浮动-0.661%，全天成交量150手，成交金额为1.51万AAA元。</p>
        <p>sz111023截至今日收盘，sz111023报收100.731元，较前收盘价浮动-0.661%，全天成交量150手，成交金额为1.51万AAA元。</p>
        <p>sz111023截至今日收盘，sz111023报收100.731元，较前收盘价浮动-0.661%，全天成交量150手，成交金额为1.51万AAA元。</p>
        <p>sz111023截至今日收盘，sz111023报收100.731元，较前收盘价浮动-0.661%，全天成交量150手，成交金额为1.51万AAA元。</p>
        <p>该债券发行规模达30亿元，债券年限为18年，2021年8月25日到期，到期收益率为0.35%。以上。101.4012.315</p>`
        const previewEle = document.getElementsByClassName('preview-template-article')[0]
        console.log(previewEle)
        previewEle.innerHTML = htmlStr
        state.spinning = false
      }, 500)
    }
    const handleOk = () => {
      state.previewVisible = false
    }

    return {
      ...toRefs(state),
      handleGoSmartWriting,
      handleSaveTemplate,
      previewTemplate,
      handleOk,
    }
  },
  methods: {
    // 选择变量，插入编辑区
    handleSelectedVars(item: Partial<CommonVariables | AddOperationalVars>, type: number) {
      const collaborativeEditorEle = this.$refs.collaborativeEditorEle as typeof CollaborativeEditor
      let value = ''
      if (type == VariableType.DataVariable) {
        // 数据变量
        value = item.dataValue || ''
      } else {
        // 运算变量
        const showStr = (item as AddOperationalVars).dataValueShowStr
        value = this.getSpanValue(showStr)
      }
      const id = item.variableId
      // 还需要传值： 变量值类型dataType, 变量名称variableName, 示例值dataValue || dataValueShowStr
      collaborativeEditorEle.insertVariable(value, id, type)
    },
    // 删除变量，调用编辑区删除变量方法
    handleDeleteVars(item: Partial<CommonVariables | AddOperationalVars>) {
      const collaborativeEditorEle = this.$refs.collaborativeEditorEle as typeof CollaborativeEditor
      collaborativeEditorEle.removeVariable(item.variableId)
    },
    handleClickVars(e: MouseEvent) {
      const attributes = (e.target as HTMLElement).attributes
      let id = attributes.getNamedItem('var-id')?.value
      let type = Number(attributes.getNamedItem('var-type')?.value)
      // 根据变量id获取变量
      const editToolsEle = this.$refs.editToolsEle as typeof EditTools
      const showItem: CommonVariables = editToolsEle.getVarsItem(id, type)
      editToolsEle.showDetail(showItem)
    },
    getSpanValue(str: string) {
      let res = ''
      const strArr = str.split(' ')
      strArr.forEach(ele => {
        if (ele.indexOf('：') != -1) {
          // 截取示例值
          res += ele.split('：')[1].replace(')', '')
        } else {
          res += ele
        }
      })
      return res
    },
  },
})
</script>

<style lang="less" scoped>
@import url('~@/layouts/layout.less');
@container-height: calc(100vh - @header-height);
@menu-header-height: 50px;
.mixin-display-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-template {
  width: 100%;
  height: @container-height;
  display: flex;
  flex-direction: column;
  .edit-menu-header {
    font-size: 12px;
    color: #7f8fa4;
    width: 100%;
    height: @menu-header-height;
    background-color: #f5f7fa;
    .mixin-display-flex-space-between();
    padding: 0 20px;
    .ant-breadcrumb {
      font-size: 12px;
    }
    .edit-actions {
      width: 165px;
      .mixin-display-flex-space-between();
      .action-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .edit-save-status {
      .mixin-display-flex-space-between();
      span.anticon {
        color: #d8d8d8;
        margin-right: 6px;
      }
    }
  }
  .edit-container {
    height: calc(@container-height - @menu-header-height);
    display: flex;
    justify-content: center;

    .edit-workplace {
      width: 840px;
      height: calc(100% - 20px);
      background-color: @card-bgcolor;
      border-radius: 2px;
      margin: 10px 10px 0 0;
    }
    .edit-tools {
      width: 350px;
      height: calc(100% - 20px);
      background-color: @card-bgcolor;
      margin-top: 10px;
    }
  }
}
.preview-template-modal {
  padding-bottom: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  .preview-template-article {
    padding: 20px;
    height: 420px;
    overflow-y: scroll;
    flex: 1;
  }
  .footer-btns {
    width: 100%;
    height: 50px;
    border-top: 1px solid @border-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .ant-btn {
      height: 30px;
      border-radius: 4px;
      border: 0 none;
      margin-right: 20px;
    }
  }
}
</style>
