<template>
  <a-layout class="writing-layout">
    <left-menu :width="240" :menuData="menuList">
      <template v-slot:footer>
        <div class="menu-footer" @click="createProject">
          <icon-font type="iconadd" />
          <span>新建项目</span>
        </div>
      </template>
      <template v-slot:subOperation="{ item, subKey }">
        <MenuOperation :item="item" :subKey="subKey" @change="onChange" @operate="onOperate"></MenuOperation>
      </template>
    </left-menu>
    <a-layout class="writing-main">
      <a-layout-content>
        <router-view></router-view>
      </a-layout-content>
    </a-layout>
    <EditProjects :visible="modalVisible" :projectData="project" @cancel="onCancel" @confirm="onConfirm"></EditProjects>
  </a-layout>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, reactive } from 'vue'
import { useRouter, useRoute } from 'vue-router'
import LeftMenu from '@/views/components/left-menu/index.vue'
import { message, Modal } from 'ant-design-vue'
import { Menu } from '@/models/menu'
import MenuOperation from './components/MenuOperation.vue'
import EditProjects from './components/EditProjects.vue'
import { ProjectInfo } from '@/models/smartWriting'
// import smartWritingApi from '@/api/smartWriting'
export default defineComponent({
  components: {
    LeftMenu,
    MenuOperation,
    EditProjects,
  },
  setup() {
    const router = useRouter()
    const menuList = reactive([
      {
        key: '1',
        title: '我的项目',
        icon: 'iconmyproject',
        path: '/no-projects',
        children: [
          {
            key: '11',
            title: '沪深个股资讯',
            path: '/writing-prolist/news',
            hasBtn: true,
            status: true,
          },
          {
            key: '12',
            title: '股市快报',
            path: '/writing-prolist/report',
            hasBtn: true,
            status: false,
          },
          {
            key: '13',
            title: '新募基金报告',
            path: '/writing-prolist/newreport',
            hasBtn: true,
            status: false,
          },
        ],
      },
      {
        key: '2',
        title: '我的审批',
        icon: 'iconrecord',
        path: '/writing-approval',
      },
    ])
    let project = reactive({
      projectName: '',
    })
    let modalVisible = ref(false)

    const onChange = (key: string, status: boolean) => {
      const proName = changeStatusAndGetName(menuList as Partial<Menu>[], key, status)
      const msg = `项目：${proName}，已${status ? '开启' : '关闭'}智能写作与发布`
      message.success(msg)
    }
    const changeStatusAndGetName = (list: Partial<Menu>[], key: string, status: boolean) => {
      let name = ''
      for (let i = 0; i < list.length; i++) {
        const ele = list[i]
        if (ele.key === key) {
          name = ele.title || ''
          ele.status = status
        }
        if (ele.children) {
          name = changeStatusAndGetName(ele.children, key, status)
        }
        if (name) {
          return name
        }
      }
      return name
    }

    // 菜单操作
    const onOperate = (eventName: string, item: Partial<Menu>) => {
      switch (eventName) {
        case 'edit':
          // 编辑查看模版
          handleToEditTemplate(item)
          break
        case 'delete':
          // 删除项目
          handleDeleteProject(item)
          break
        case 'setup':
          // 项目设置
          handleSetUpProject(item)
          break

        default:
          break
      }
    }
    // 编辑查看模板
    const handleToEditTemplate = (item: Partial<Menu>) => {
      console.log(item)
      // const router = useRouter()
      router.push({ path: '/smart-writing/edit-template' })
    }
    // 删除项目
    const handleDeleteProject = (item: Partial<Menu>) => {
      Modal.confirm({
        title: '请确认是否要删除此项目：',
        content: item.title,
        okText: '确定',
        cancelText: '取消',
        onOk() {
          return new Promise((resolve, reject) => {
            setTimeout(Math.random() > 0.5 ? resolve : reject, 1000)
          }).catch(() => console.log('Oops errors!'))
        },
      })
    }
    // 项目设置
    const handleSetUpProject = (item: Partial<Menu>) => {
      project = {
        projectName: item.title || '',
      }
      modalVisible.value = true
    }
    // 获取项目列表
    const getProjectsOfMenu = async () => {
      const route = useRoute()
      let path: string = route.path
      //   const res = await smartWritingApi.getProjects()
      //   menuList.value[0].children = res.data.list || []
      //   console.log(menuList.value[0].children)
      //   if (res.data.total == 0) {
      //     router.push({ name: 'NoProjects' })
      //   } else
      if (path !== '/writing-approval') {
        // router.push('/writing-prolist' + menuList.value[0].children[0].path)
        router.push('/writing-prolist/news')
      }
    }
    onMounted(getProjectsOfMenu)

    const createProject = () => {
      project = {
        projectName: '',
      } as ProjectInfo
      modalVisible.value = true
    }
    const onCancel = () => {
      modalVisible.value = false
    }
    const onConfirm = (project: Partial<ProjectInfo>) => {
      console.log('project', JSON.stringify(project))
      onCancel()
      // message.success(`项目`)
    }
    return {
      menuList,
      onChange,
      onOperate,
      project,
      modalVisible,
      onCancel,
      onConfirm,
      createProject,
    }
  },
  methods: {},
})
</script>

<style lang="less" scoped>
@import url('~@/layouts/layout.less');
.writing-layout {
  height: calc(100vh - @header-height);
  .menu-footer {
    width: 140px;
    height: 30px;
    border-radius: 4px;
    background-color: @primary-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
  .writing-main {
    padding: 10px;
  }
}
</style>
