<template>
  <div class="approval-container">
    <div class="list-title">我的审批</div>

    <!-- 文章列表 -->
    <a-table
      class="ant-table-modification"
      size="small"
      :columns="labelKeys"
      :data-source="approvalList"
      :pagination="{ showQuickJumper: true, showSizeChanger: true }"
      bordered
    >
      <template #action="{ record }">
        <a-dropdown placement="bottomLeft" overlayClassName="action-drop">
          <icon-font type="iconmore2" />
          <template #overlay>
            <a-menu>
              <a-menu-item @click="handleApproval(record)">审批</a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </template>
    </a-table>

    <!-- 审批弹窗 -->
    <approval-article
      :visible="modalVisible"
      :articleData="article"
      @cancel="onCancel"
      @confirm="onConfirm"
    ></approval-article>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive, toRefs } from 'vue'
import labels from './useLabelKeys'
import { ProjectArticle } from '@/models/smartWriting'
import { smartWritingApi } from '@/api'
// import { smartWritingApi, useApi, GetPagingListResult } from '@/api'
import ApprovalArticle from './components/ApprovalArticle.vue'
import { message } from 'ant-design-vue'

export default defineComponent({
  components: { ApprovalArticle },
  setup() {
    let approvalList: ProjectArticle[] = []
    const state = reactive({
      labelKeys: [...labels.approvalLabelKeys],
      approvalList,
      article: {},
      modalVisible: false,
    })
    onMounted(async () => {
      state.approvalList = (await smartWritingApi.getArticleList()).data.list
      // state.data = useApi<GetPagingListResult<ProjectArticle>, ProjectArticle[]>(smartWritingApi.getArticleList())
    })
    const handleApproval = (record: ProjectArticle) => {
      state.article = record
      state.modalVisible = true
    }
    const onCancel = () => {
      state.modalVisible = false
    }
    const onConfirm = (val: boolean) => {
      onCancel()
      message.success(`审批文章${val ? '通过' : '不通过'}`)
    }
    return {
      ...toRefs(state),
      handleApproval,
      onCancel,
      onConfirm,
    }
  },
})
</script>

<style lang="less" scoped>
@import url('~@/layouts/layout.less');
.approval-container {
  width: 100%;
  height: 100%;
  background: @card-bgcolor;
  padding: 10px;
  position: relative;
  .list-title {
    height: 22px;
    margin: 4px 0 14px 5px;
    font-weight: 500;
    color: #002257;
  }
}
</style>
