<template>
  <div class="no-projects">
    <data-empty></data-empty>
  </div>
</template>

<script>
export default {}
</script>

<style lang="less" scoped>
.no-projects {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}
</style>
