<template>
  <div class="prolist-container">
    <div class="list-title">完成文章</div>

    <!-- 文章列表 -->
    <a-table
      class="ant-table-modification"
      size="small"
      :columns="labelKeys"
      :data-source="data"
      :pagination="{ showQuickJumper: true, showSizeChanger: true }"
      bordered
    >
      <template #titlelink="{ record }">
        <a @click="handleShowArticle(record)">{{ record.title }}</a>
      </template>
      <template #action="{ record }">
        <a-dropdown placement="bottomRight" overlayClassName="action-drop">
          <icon-font type="iconmore2" />
          <template #overlay>
            <a-menu>
              <a-menu-item @click="handleDelete(record)">删除</a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </template>
    </a-table>

    <!-- 文章预览 -->
    <div class="preview-article" :class="!showPreview || !article.title ? 'preview-empty' : ''">
      <data-empty v-if="!article.title"></data-empty>
      <preview-article v-else :article="article"></preview-article>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from 'vue'
import labels from './useLabelKeys'
import { ProjectArticle } from '@/models/smartWriting'
import PreviewArticle from './components/PreviewArticle.vue'
import smartWritingApi from '@/api/smartWriting'
import { Modal } from 'ant-design-vue'
export default defineComponent({
  components: {
    PreviewArticle,
  },
  setup() {
    const labelKeys = ref([...labels.articleLabelKeys])
    const data = ref<ProjectArticle[]>([])
    let article = ref({})
    const showPreview = ref(false)
    onMounted(async () => {
      data.value = (await smartWritingApi.getArticleList()).data.list
    })
    const handleDelete = (record: ProjectArticle) => {
      console.log(record)
      Modal.confirm({
        title: '请确认是否要删除此文章：',
        content: record.title,
        okText: '确定',
        cancelText: '取消',
        onOk: () => {
          return smartWritingApi.deleteArticle({ id: record.id })
        },
      })
    }
    const handleShowArticle = (record: ProjectArticle) => {
      article.value = record
      showPreview.value = true
    }
    return {
      labelKeys,
      data,
      article,
      handleDelete,
      handleShowArticle,
      showPreview,
    }
  },
})
</script>

<style lang="less" scoped>
@import url('~@/layouts/layout.less');
@preview-width: 500px;
.prolist-container {
  width: 100%;
  height: 100%;
  background: @card-bgcolor;
  padding: 10px;
  position: relative;
  padding-right: calc(@preview-width - 10px);
  .list-title {
    height: 22px;
    margin: 4px 0 14px 5px;
    font-weight: 500;
  }
  .preview-article {
    position: absolute;
    width: @preview-width;
    height: calc(100vh - @header-height - 1px);
    background: @card-bgcolor;
    box-shadow: -10px 4px 16px 0 rgba(144, 164, 183, 0.22);
    top: -9px;
    right: -10px;
    &.preview-empty {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
</style>
