<script>
/**
 * renderer组件
 */
import { h, defineComponent } from 'vue'
export default defineComponent({
  name: 'SjRenderer',
  props: {
    render: Function,
    props: {
      type: null,
    },
  },
  render() {
    if (!this.render || typeof this.render !== 'function') {
      return <div>Render function not provided.</div>
    }

    return this.render(h, this.props)
  },
})
</script>
