<template>
  <div class="baseChart">
    <v-chart manual-update ref="chart" class="chart" v-bind="$attrs" />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import ECharts from 'vue-echarts'
import { use } from 'echarts/core'
import { CanvasRenderer } from 'echarts/renderers'
import { addListener, removeListener } from 'resize-detector'
import { debounce } from 'lodash-es'
import 'echarts/lib/chart/candlestick'
import 'echarts/lib/chart/line'
import 'echarts/lib/chart/radar'
import 'echarts/lib/chart/bar'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/legend'
import 'echarts/lib/component/graphic'
import 'echarts/lib/component/visualMap'
import 'echarts/lib/component/geo'
import 'echarts/lib/component/dataZoomSlider'
import 'echarts/lib/chart/map'
import 'echarts/lib/chart/scatter'
import 'echarts/lib/chart/pie'

use(CanvasRenderer)
export default defineComponent({
  name: 'BaseChart',
  components: {
    'v-chart': ECharts,
  },
  mounted() {
    this.onResize = debounce(
      () => {
        if (this.$refs.chart) {
          this.$refs.chart.resize()
        }
      },
      100,
      { leading: true }
    )
    addListener(this.$el, this.onResize)
  },
  beforeUnmount() {
    removeListener(this.$el, this.onResize)
  },
})
</script>

<style lang="less" scoped>
.baseChart {
  width: 100%;
  height: 100%;
  .chart {
    width: 100%;
    height: 100%;
  }
}
</style>
