<template>
  <sj-base-table-with-fix
    :columns="visibleColumns"
    :data="data"
    :header-style="headerStyle"
    :fixed-body-style="fixedBodyStyle"
    :normal-body-style="normalBodyStyle"
    :header-class="headerClass + ' baseTable-head highlight-column'"
    :fixed-body-class="fixedBodyClass"
    :normal-body-class="normalBodyClass"
    :enable-zebra-stripe="false"
    :scroll-immediate-check="scrollImmediateCheck"
    :scroll-disabled="scrollDisabled"
    :scroll-distance="scrollDistance"
    :page-size="pageSize"
  ></sj-base-table-with-fix>
</template>

<script>
import { SjBaseTableWithFix } from '../custom-components/base-table-width-fix/index.vue'
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'BaseTable',
  components: {
    SjBaseTableWithFix,
  },
  props: {
    columns: {
      type: Array,
      default: () => [],
    },
    data: {
      type: Array,
      default: () => [],
    },

    // 自定义 style
    headerStyle: {
      type: Object,
      default: () => ({}),
    },
    fixedBodyStyle: {
      type: Object,
      default: () => ({}),
    },
    normalBodyStyle: {
      type: Object,
      default: () => ({}),
    },

    // 自定义 class
    headerClass: {
      type: String,
      default: '',
    },
    fixedBodyClass: {
      type: String,
      default: '',
    },
    normalBodyClass: {
      type: String,
      default: '',
    },

    // 无限滚动相关
    scrollImmediateCheck: {
      type: Boolean,
      default: false,
    }, // 是否立即执行加载方法
    scrollDisabled: {
      type: Boolean,
      default: false,
    },
    scrollDistance: {
      type: Number,
      default: 0,
    }, // 触发加载的距离阈值，单位为px
    pageSize: {
      type: Number,
      default: 50,
    }, // 分页大小
  },

  computed: {
    // 加上特定 class
    visibleColumns() {
      return this.columns.map((col, index) => ({
        ...col,
        class: index === 0 ? 'highlight-column' : 'normal-column',
        renderHeader() {
          return (
            <div class="table-header-wrapper">
              <span class="table-cell table-header-cell" title={col.label}>
                {col.label || '-'}
              </span>
            </div>
          )
        },
      }))
    },
  },
})
</script>

<style lang="less" scoped>
:deep(.highlight-column),
:deep(.normal-column) {
  border-style: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
:deep(.table-header-wrapper) {
  border-style: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 1px;
  border-bottom-width: 0;
  padding: 10px;
  .table-header-cell {
    padding: 0;
    .text-ellipsis('body', 2);
  }
}
:deep(.highlight-column) {
  color: #ffffff;
  background-color: @color-table-highlight;
  border-color: #ffffff;
}
:deep(.normal-column) {
  color: #3e3e3e;
  background-color: @color-productlight;
  border-color: @color-gray-3;
}
</style>
