<template>
  <div class="chart_name" @click="isEditing = true">
    <div v-if="editable" style="display: flex">
      <icon-font type="iconedittext" class="color-grey edit-icon" style="margin-right: 10px"></icon-font>
      <editable-text
        v-model:isediting="isEditing"
        :value="name"
        iconAlign="left"
        @change="handleChange"
        :style="{
          maxWidth: '100%',
          flex: '1',
          ...nameStyle,
        }"
      />
    </div>
    <div v-else style="margin-left: 30px">
      <div class="chart_name_invisible" :style="nameStyle">{{ name }}</div>
      <div class="chart_name_wrapper">
        <div class="name" :style="nameStyle">
          <div v-if="show" class="show">{{ name }}</div>
          <div class="hide" :style="{ visibility: !show ? 'visible' : 'hidden' }">
            {{ name }}
          </div>
        </div>
        <span v-if="needExtend" @click="handleClick" class="toggle_wrapper">
          <i class="icon_chart charttitlemoreinfo"></i>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { addListener, removeListener } from 'resize-detector'
import EditableText from '../custom-components/editable-text/index.vue'

export default defineComponent({
  components: {
    EditableText,
  },
  emits: ['change', 'update:name'],
  data() {
    return {
      show: false,
      needExtend: false,
    }
  },
  name: 'ChartTitle',
  props: {
    name: {
      type: String,
    },
    config: {
      type: Object,
    },
    editable: {
      type: Boolean,
      default: false,
    },
    showEdit: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    nameStyle() {
      const { config } = this
      return Object.assign({}, config, {
        show: null,
      })
    },
  },
  setup() {
    const isEditing = ref(false)
    return {
      isEditing,
    }
  },
  methods: {
    handleChange(text) {
      this.$emit('update:name', text)
      this.$emit('change', text)
    },
    check() {
      this.$nextTick(() => {
        const invisibleText = this.$el.querySelector('.chart_name_invisible')
        if (invisibleText) {
          this.needExtend = invisibleText.scrollHeight > invisibleText.clientHeight
        }
      })
    },
    handleClick() {
      this.show = !this.show
    },
  },
  watch: {
    name: {
      handler() {
        this.check()
      },
    },
  },
  beforeUnmount() {
    removeListener(this.$el, this.check)
  },
  mounted() {
    addListener(this.$el, this.check)
    this.check()
  },
})
</script>

<style lang="less" scoped>
@height: 22px;
.chart_name {
  position: relative;
  .edit-icon {
    opacity: 0;
  }
  &:hover {
    .edit-icon {
      opacity: 1;
    }
  }
  .chart_name_invisible {
    position: absolute;
    visibility: hidden;
    overflow-y: scroll;
    height: 28px;
  }
  .chart_name_wrapper {
    display: flex;
    align-items: flex-start;
    .toggle_wrapper {
      width: @height;
      height: @height;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      i {
        color: @grey-color;
        font-size: 12px;
      }

      &:hover {
        background-color: @height;
        i {
          color: @height;
        }
      }
    }

    .name {
      flex-grow: 1;
      min-width: 0;
      position: relative;
      .show {
        position: absolute;
      }
      .hide {
        .text-ellipsis();
      }
    }
  }
}
</style>
