<template>
  <div class="editable-text" :title="value">
    <i
      class="iconfont icon-icon_edittext edit_icon"
      v-if="editable"
      :class="{ showEdit }"
      @click="goEdit"
      v-show="!isEditing"
      title="编辑"
    />
    <span v-if="!isEditing" @click="handleClick" class="name" :class="{ ellipsis: !textArea }">{{
      editable ? value || placeholder : value
    }}</span>
    <sj-input
      v-else
      border
      class="input"
      :textArea="textArea"
      v-model="text"
      :size="size"
      @keyup.enter="
        () => {
          !textArea && finishEditing()
        }
      "
      @blur="finishEditing"
      :style="{ color: textColor }"
      ref="input"
    />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import SjInput from '../SJComponents/Input/index.vue'
let textCache = '' // 文本缓存

export default defineComponent({
  name: 'editable-text',
  components: {
    SjInput,
  },
  props: {
    value: String,
    editable: {
      default: true,
      type: Boolean,
    },
    dblclickable: {
      default: false,
      type: Boolean,
    },
    dblclickInterval: {
      default: 300,
      type: Number,
    },
    size: {
      type: String,
      default: 'default',
    },
    textArea: {
      type: Boolean,
      default: false,
    },
    showEdit: {
      type: Boolean,
      default: true,
    },
    placeholder: {
      type: String,
      default: '点击输入',
    },
    textColor: String,
  },
  data() {
    return {
      isEditing: false,

      isWaiting: false,
      timer: null,

      text: String,
    }
  },

  methods: {
    handleClick() {
      const { dblclickable } = this
      if (!dblclickable) {
        this.goEdit()
        return
      }
      if (this.isWaiting) {
        this.clearTimer()
        this.$emit('dblclick')
      } else {
        this.isWaiting = true
        this.timer = setTimeout(() => {
          this.isWaiting = false
          this.goEdit()
        }, this.dblclickInterval)
      }
    },
    clearTimer() {
      this.isWaiting = false
      const { timer } = this
      if (timer) {
        clearTimeout(timer)
        this.timer = null
      }
    },
    goEdit() {
      this.clearTimer()
      if (!this.editable) return
      this.isEditing = true
      this.$nextTick(() => {
        this.$refs.input.focus()
      })
      this.$emit('editStart')
    },
    finishEditing() {
      if (this.text) {
        textCache = this.text
        this.$emit('input', this.text)
        this.$emit('editEnd')
      } else {
        this.text = textCache
        this.$SjNotify({
          type: 'error',
          message: '图表名称不可为空，已恢复至原名称',
        })
      }

      this.isEditing = false
    },
  },

  watch: {
    value: {
      immediate: true,
      handler(value) {
        this.text = value
        textCache = value
      },
    },
    editable(editable) {
      if (!editable) {
        this.isEditing = false
      }
    },
  },
})
</script>

<style scoped lang="less">
.editable-text {
  display: flex;
  align-items: center;
  .edit_icon {
    cursor: pointer;
    flex-shrink: 0;
    font-weight: normal;
    font-size: 16px;
    margin-right: 4px;
    &.showEdit {
      visibility: visible;
    }
    visibility: hidden;
  }
  .name {
    cursor: pointer;
  }
  .name,
  .input {
    flex-grow: 1;
  }
  .ellipsis {
    .text-ellipsis();
  }
}
</style>
