<template>
  <div class="legend_item" :title="label">
    <div class="icon">
      <template v-if="allowColorPick && type !== 'candlestick'">
        <SjColorPicker :value="color" @input="onInput">
          <icon-font :style="{ color }" :type="typeIconClass" class="icon_chart" style="cursor: pointer"></icon-font>
          <template #attachment v-if="allowLevelSelector">
            <div>
              <div class="legend-item-color-picker-attachment">
                <div class="attachment-item" @click="onLayerLevelClick('prev')">
                  <icon-font type="iconicon_moveup" class="icon_sj" style="font-size: 15px"></icon-font>
                  <div>上移一层</div>
                </div>
                <div class="attachment-item" @click="onLayerLevelClick('top')">
                  <icon-font type="iconicon_movetop" class="icon_sj" style="font-size: 15px"></icon-font>
                  <div>移至顶层</div>
                </div>
                <div class="attachment-item" @click="onLayerLevelClick('next')">
                  <icon-font type="iconicon_movedown" class="icon_sj" style="font-size: 15px"></icon-font>
                  <div>下移一层</div>
                </div>
                <div class="attachment-item" @click="onLayerLevelClick('bottom')">
                  <icon-font type="iconicon_movebottom" class="icon_sj" style="font-size: 15px"></icon-font>
                  <div>移至底层</div>
                </div>
              </div>
            </div>
          </template>
        </SjColorPicker>
      </template>
      <template v-else>
        <i class="icon_chart" :class="[typeIconClass]" :style="{ color }" />
      </template>
    </div>
    <div class="label" :style="{ color: textColor, fontSize: textFontSize, lineHeight: `calc(${textFontSize} + 2px)` }">
      {{ label }}
    </div>
    <div
      v-if="showValue"
      :class="['value', valueType]"
      :style="{ fontSize: textFontSize, lineHeight: `calc(${textFontSize} + 1px)` }"
    >
      {{ value }}
      <i class="icon_sj" :class="[valueTypeIconClass]" :style="{ fontSize: `calc(${textFontSize} + 2px)` }" />
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { defineComponent } from 'vue'
import SjColorPicker from '../custom-components/color-select/color-picker/index.vue'

export default defineComponent({
  name: 'LegendItem',
  components: {
    SjColorPicker,
  },
  emits: ['layerLevelClick', 'colorChange'],
  props: {
    type: {
      type: String,
    },
    color: {
      type: String,
    },
    label: {
      type: String,
    },
    value: {
      type: [String, Number],
    },
    valueType: {
      type: String,
    },
    textColor: {
      type: String,
    },
    textFontSize: {
      type: String,
    },
    allowColorPick: {
      type: Boolean,
    },
    showValue: {
      type: Boolean,
    },
    allowLevelSelector: {
      type: Boolean,
    },
  },
  computed: {
    typeIconClass() {
      switch (this.type) {
        case 'bar':
          return 'iconicon_barlegend'
        case 'candlestick':
          return 'iconicon_Klegend'
        case 'radar':
          return 'iconicon_linelegend'
        case 'pie':
          return 'iconicon_pielegend'
        case 'line':
          return 'iconicon_linelegend'
      }
      return null
    },
    valueTypeIconClass() {
      switch (this.valueType) {
        case 'flat':
          return 'iconflat'
        case 'rise':
          return 'iconrise'
        case 'down':
          return 'icondown'
      }
      return null
    },
  },
  methods: {
    onLayerLevelClick(position) {
      this.$emit('layerLevelClick', position)
    },
    onInput(val) {
      this.$emit('colorChange', val)
    },
  },
})
</script>
<style lang="less">
.legend-item-color-picker-attachment {
  display: flex;
  flex-direction: column;
  .attachment-item {
    display: flex;
    color: #002257;
    line-height: 1.5;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: @primary-color;
    }
    .icon_sj {
      color: #354052;
      margin-right: 5px;
    }
  }
}
</style>
<style scoped lang="less">
.legend_item {
  display: flex;
  align-items: center;
  .icon_chart {
    font-size: 16px;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    i {
      font-size: 16px;
    }
  }
  .label {
    // .text('caption', 'dark', 'light');
    text-align: left;
  }
  .value {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    // .text('caption', 'dark', 'regular');
    &.flat {
      color: #3e3e3e;
    }
    &.rise {
      color: #ff5c47;
    }
    &.down {
      color: #58975f;
    }
    i {
      margin-left: 2px;
    }
  }
}
</style>
