<template>
  <div class="legend" :class="[align, direction]">
    <div class="legend_inner">
      <LegendItem
        v-for="(legend, index) in data"
        :key="index"
        class="item"
        :color="legend.color"
        :type="legend.type"
        :label="legend.label"
        :value="legend.value"
        :valueType="legend.valueType"
        :allowColorPick="allowColorPick"
        :allow-level-selector="allowLevelSelector"
        :showValue="showValue"
        :textColor="textColor"
        :textFontSize="textFontSize"
        @colorChange="onColorChange(index, $event)"
        @layerLevelClick="onLayerLevelClick(index, $event)"
      />
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import LegendItem from './LegendItem.vue'

export default defineComponent({
  name: 'Legend',
  components: { LegendItem },
  props: {
    data: Array,
    direction: String,
    align: String,
    textColor: String,
    textFontSize: String,
    allowLevelSelector: Boolean,
    allowColorPick: Boolean,
    showValue: Boolean,
  },
  methods: {
    onColorChange(index, color) {
      this.$emit('colorChange', index, color)
    },
    onLayerLevelClick(index, color) {
      this.$emit('layerLevelClick', index, color)
    },
  },
})
</script>

<style scoped lang="less">
.legend {
  display: flex;
  min-width: 0;
  &.left {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  &.horizontal {
    overflow-x: auto;
    overflow-y: hidden;
    .legend_inner {
      flex-wrap: nowrap;
      :deep(.legend_item) {
        flex-shrink: 0;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &.vertical {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    .legend_inner {
      flex-direction: column;
      :deep(.legend_item) {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .legend_inner {
    display: flex;
    min-width: 0;
  }
}
</style>
