<template>
  <div
    class="sj_chart"
    :style="{ backgroundColor: chartConfig && chartConfig.backgroundColor }"
    @mouseover="showTitleEdit = true"
    @mouseout="showTitleEdit = false"
  >
    <ChartTitle
      :name="data && data.show_name"
      @change="onTitleChange"
      class="title"
      :config="titleConfig"
      :editable="editable"
      :showEdit="showTitleEdit"
      v-show="titleConfig.show"
      v-if="titleConfig"
    />
    <div class="sj_chart_wrapper" v-if="showViewType === 'chart'">
      <div class="wrapper" :style="wrapperStyle">
        <div class="legend_wrapper" :style="legendWrapperStyle">
          <Legend
            :data="legendData"
            :direction="legendDirection"
            :align="legendConfig.align"
            :textColor="legendConfig.textColor"
            :textFontSize="legendConfig.textFontSize"
            :allowColorPick="legendConfig.allowColorPick"
            :showValue="legendConfig.showValue"
            @colorChange="onLegendColorChange"
            @layerLevelClick="onLayerLevelClick"
            :allow-level-selector="legendConfig.allowLevelSelector"
            v-if="showLegend"
          />
        </div>
        <div class="chart_wrapper" :style="chartWrapperStyle">
          <BaseChart ref="chart" @datazoom="onRangeValueChangeNative"></BaseChart>
        </div>
      </div>
      <!-- <div class="range" v-if="rangeConfig && rangeConfig.show && rangeConfig.type === 'line'">
        <SjRange
          :range="rangeConfig.range"
          :value="rangeConfig.value"
          @input="onRangeValueChange"
          :labels="rangeConfig.labels"
          :color="rangeConfig.color"
          placeholderColor="#ebebec"
          :textColor="rangeConfig.textColor"
          :style="{ marginRight: `${rangeConfig.rangeRight}px` }"
          simple
        ></SjRange>
      </div>
      <div class="slider" v-if="sliderConfig && sliderConfig.show">
        <SjSlider
          showLabel
          :range="sliderConfig.range"
          :value="sliderConfig.selectedIndex"
          :color="sliderConfig.color"
          placeholderColor="#ebebec"
          :textColor="sliderConfig.textColor"
          @input="onSliderChange"
          :getLabel="v => sliderConfig.labels[v]"
        />
      </div> -->
    </div>
    <!-- <div class="sj_chart_table" v-else-if="showViewType === 'table'">
      <sj-base-table-with-fix
        v-if="viewOption === 'table'"
        headerClass="sj_chart_table_fix_head"
        :columns="columns"
        :data="tableDataWithFix"
      ></sj-base-table-with-fix>
      <BaseTable v-else :columns="columns" :data="tableData"></BaseTable>
    </div>
    <time-table
      v-else-if="showViewType === 'timetable'"
      :table-data="timetableData"
      :slider-config="sliderConfig"
      @sliderChange="handleTimeTableSliderChange"
    ></time-table> -->
  </div>
</template>

<script>
import { defineComponent } from 'vue'
// import { SjRange, SjSlider } from '../SJComponents'
// import SjBaseTableWithFix from '../custom-components/base-table-width-fix/index.vue';
import ChartTitle from './ChartTitle.vue'
import Legend from './Legend.vue'
import BaseChart from './BaseChart.vue'
// import BaseTable from './BaseTable.vue'
import WebworkerPromise from 'webworker-promise'
import Worker from 'worker-loader!./ChartWorker.js'
const chartWorker = new WebworkerPromise(new Worker())
import getChartOptions from './lib/chart'
import { getStyleConfigByIndicator, valueFormatter, numberFormatUnit, getDefaultMinMax } from './lib/utils'
import { timeFormatter } from '../utils/lib/time'
import { getIsPie, getIndicatorTableData, getTimeTableData } from '../utils/lib/indicator'
import ECharts from 'vue-echarts'
const getMap = async mapName => {
  return await import(`./lib/map/${mapName}.json`)
}
import { DATAZOOM_LEFT, DATAZOOM_RIGHT } from './lib/dataZoom'
const MapSet = new Set()
import { merge, isEqual as isequal } from 'lodash-es'
import Moment from 'moment'
// import TimeTable from './TimeTable'
import $chartTheme from './lib/theme'
export default defineComponent({
  name: 'SjChart',
  components: {
    // SjRange,
    // SjSlider,
    // SjBaseTableWithFix,
    // TimeTable,
    ChartTitle,
    Legend,
    BaseChart,
    // BaseTable,
  },
  emits: ['colorChange'],
  props: {
    data: Object,
    config: Object,
    async: {
      type: Boolean,
      default: false,
    },
    viewOption: String,
    editable: {
      type: Boolean,
      default: false,
    },
    timeRange: {
      type: Array,
      default: null,
    },
    timeRangeInitForce: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      showTitleEdit: false,
      format: null,
      options: null,
      finalConfig: null,
      viewType: null,
      mapIndex: {},
      columns: [],
      tableDataWithFix: [],
      tableData: [],

      timetableData: [],

      timeRangeChanged: false,
      dataZoomBoundingRects: [],
    }
  },
  computed: {
    showViewType() {
      // chart, timetable, table
      const { viewOption, finalConfig, data } = this
      if (data && data.indicator_format === 'timetable') {
        return 'timetable'
      }
      if (
        viewOption !== 'table' &&
        !(finalConfig && finalConfig.chartType === 'table') &&
        !(data && data.indicator_format === 'table')
      ) {
        return 'chart'
      }

      return 'table'
    },

    chartConfig() {
      return this.finalConfig?.chart
    },

    titleConfig() {
      return this.finalConfig?.title
    },

    legendConfig() {
      return this.finalConfig?.legend
    },

    rangeConfig() {
      return this.finalConfig?.range
    },

    sliderConfig() {
      return this.finalConfig?.slider
    },

    wrapperStyle() {
      const { legendConfig } = this
      const style = {}
      if (legendConfig?.show) {
        const { align, verticalAlign } = legendConfig
        if (align === 'left' && verticalAlign === 'center') {
          style.flexDirection = 'row'
        }
        if (align === 'right' && verticalAlign === 'center') {
          style.flexDirection = 'row-reverse'
        }
        if (verticalAlign === 'top') {
          style.flexDirection = 'column'
        }
        if (verticalAlign === 'bottom') {
          style.flexDirection = 'column-reverse'
        }
        if (align === 'center' && verticalAlign === 'center') {
          style.display = 'block'
          style.position = 'relative'
        }
      }
      return style
    },

    legendWrapperStyle() {
      const { legendConfig } = this
      const style = {}
      if (legendConfig?.show) {
        const { align, verticalAlign } = legendConfig
        if (align === 'left' && verticalAlign === 'center') {
          style.maxWidth = '30%'
          style.height = '90%'
        }
        if (align === 'right' && verticalAlign === 'center') {
          style.maxWidth = '30%'
          style.height = '90%'
        }
        if (verticalAlign === 'top') {
          style.maxHeight = '30%'
          style.width = '90%'
        }
        if (verticalAlign === 'bottom') {
          style.maxHeight = '30%'
          style.width = '90%'
        }
        if (align === 'center' && verticalAlign === 'center') {
          style.position = 'absolute'
          style.width = '90%'
          style.maxHeight = '90%'
          style.marginLeft = '50%'
          style.marginTop = '40%'
          style.transform = 'translate(-50%, -50%)'
        }
      }
      return style
    },

    chartWrapperStyle() {
      const { legendConfig } = this
      const style = {}
      if (legendConfig?.show) {
        const { align, verticalAlign } = legendConfig
        if (align === 'center' && verticalAlign === 'center') {
          style.height = '100%'
        } else {
          style.minWidth = 0
        }
      }
      return style
    },
    showLegend() {
      const { legendConfig } = this
      return legendConfig?.show
    },

    legendData() {
      const { options, format, finalConfig, legendConfig } = this
      if (format === 'grid' && !getIsPie(finalConfig.chartType) && finalConfig.chartType !== 'radar') {
        return options?.series?.map(({ name, itemStyle, type, data }) => {
          const legendItem = {
            type,
            label: name,
            color: itemStyle?.color,
          }
          if (legendConfig.showValue && data.length) {
            let valueType = 'flat'
            let lastIndex, secondLastIndex
            for (let i = data.length - 1; i >= 0; i--) {
              if (typeof data[i].value !== 'number') {
                continue
              }
              if (lastIndex === undefined) {
                lastIndex = i
                continue
              }

              if (secondLastIndex === undefined) {
                secondLastIndex = i
                break
              }
            }

            if (lastIndex !== undefined && secondLastIndex !== undefined) {
              valueType = this.getLegendValueType(data[lastIndex].value, data[secondLastIndex].value)
            }
            const dataItem = lastIndex !== undefined ? data[lastIndex] : null
            Object.assign(legendItem, {
              value: dataItem
                ? `${!dataItem.value && dataItem.value !== 0 ? '' : dataItem.value}${dataItem.unit || ''}`
                : '-',
              valueType,
            })
          }
          return legendItem
        })
      }

      if (format === 'radar' || finalConfig.chartType === 'radar') {
        return options?.series?.data.map(({ name, itemStyle }) => {
          return {
            type: 'radar',
            label: name,
            color: itemStyle?.color,
          }
        })
      }

      if (format === 'pie' || getIsPie(finalConfig.chartType)) {
        return options?.series?.data.map(({ name, itemStyle }) => {
          return {
            type: 'pie',
            label: name,
            color: itemStyle?.color,
          }
        })
      }

      if (format === 'map' || ['map', 'scatter_map'].includes(finalConfig.chartType)) {
        const data = []
        const mapIndex = {}
        options?.series.forEach(({ name, itemStyle, type }, index) => {
          if (type === 'scatter') {
            mapIndex[data.length] = index
            data.push({
              type: 'pie',
              label: name,
              color: itemStyle?.color,
            })
          }
        })
        // eslint-disable-next-line
        this.mapIndex = mapIndex
        return data
      }

      if (format === 'scatter_sequence') {
        return options?.series?.map(({ name, itemStyle }) => {
          return {
            type: 'line',
            label: name,
            color: itemStyle?.color,
          }
        })
      }

      return null
    },

    legendDirection() {
      const { legendConfig } = this
      if (legendConfig?.show) {
        return legendConfig.arrangement
      }
      return null
    },
  },
  methods: {
    async initChart() {
      try {
        this.loading = true

        this.finalConfig = null
        this.options = null
        this.getData()
        this.initData({})
        if (!this.data) return

        if (this.data.indicator_format === 'table') {
          this.finalConfig = merge(getStyleConfigByIndicator(this.data), this.config)
          return
        }

        if (this.data.indicator_format === 'timetable') {
          this.timetableData = getTimeTableData(this.data)
          const sliderRange = this.timetableData.map((_, index) => index)
          const sliderLabels = this.timetableData.map(item => item.date)
          this.finalConfig = merge(getStyleConfigByIndicator(this.data), this.config, {
            slider: {
              range: sliderRange,
              labels: sliderLabels,
              show: true,
              selectedIndex: this.data.selectedTimeIndex || 0,
            },
          })
          return
        }

        const params = {
          data: this.data,
          config: this.config,
          theme: $chartTheme,
          viewOption: this.viewOption,
        }
        if (!params.data) return
        let options, config, format, viewOption
        if (!this.async) {
          ;({ options, config, format, viewOption } = getChartOptions(params))
        } else {
          ;({ options, config, format, viewOption } = await chartWorker.postMessage(params))
        }
        this.format = format
        this.finalConfig = config
        this.viewType = viewOption
        this.options = options
        // if (this.timeRangeChanged) {
        //   this.initTimeRangeChange()
        // }

        await this.setTooltip(options)
        this.initData(options)
      } finally {
        this.loading = false
      }
    },
    async setTooltip(options) {
      const { format, finalConfig: config } = this
      //tooltip options
      if (format === 'grid' && !getIsPie(config.chartType) && config.chartType !== 'radar') {
        const valueAxis = config.horizontal ? options.xAxis : options.yAxis
        const categoryAxis = config.horizontal ? options.yAxis : options.xAxis
        options.tooltip.formatter = params => {
          const axisItem = categoryAxis.data[params[0].dataIndex]
          const axisLabel = axisItem.tooltipLabel || axisItem.value
          const s = params.reduce((prev, v) => {
            let s = ''
            if (v.seriesType === 'candlestick') {
              s = `<div style="display: flex;align-items: center">
                      <span style="display: flex-shrink: 0">${v.marker}</span>
                      <div style="flex-grow: 1;min-width: 0;white-space: normal; word-break: break-all;overflow-wrap: break-word;text-align: left;display: flex;flex-direction: column">
                        ${v.seriesName}:
                      </div>
                    </div>
                    <div style="display: flex;flex-direction: column;text-align: left;padding-left: 10px">
                        ${v.dimensionNames
                          .slice(1)
                          .map((name, index) => {
                            return `<span>${name}:${valueFormatter(v.value[index + 1])}${
                              v.data.unit || this.data.unit || ''
                            }</span>`
                          })
                          .join('')}
                    </div>
                `
            } else {
              //todo full name
              s = `<div style="display: flex;align-items: center">
                      <span style="display: flex-shrink: 0">${v.marker}</span>
                      <div style="flex-grow: 1;min-width: 0;white-space: normal; word-break: break-all;overflow-wrap: break-word;text-align: left">${
                        v.seriesName
                      }: ${v.value || '-'}${v.data.unit || this.data.unit || ''}</div>
                </div>`
            }
            return prev + s
          }, axisLabel)
          return `<div style="display:flex;flex-direction:column;align-items:stretch;width: 100%">${s}</div>`
        }

        valueAxis.forEach((axis, index) => {
          const { type, defaultMinMax, unit } = axis
          if (type === 'value') {
            if (defaultMinMax) {
              //判断该轴上是否有堆叠
              const stack =
                options.series.filter(({ yAxisIndex, stack }) => {
                  return yAxisIndex === index && stack
                }).length > 1
              axis.min = value => {
                return getDefaultMinMax(value, unit, stack).min
              }
              axis.max = value => {
                return getDefaultMinMax(value, unit, stack).max
              }
            }
            axis.axisLabel.formatter = v => numberFormatUnit(v, 2, false, 'zh', false, 10)
          }
        })
      }

      if (format === 'map') {
        const { mapType, series } = options
        if (!MapSet.has(mapType)) {
          const map = await getMap(mapType)
          MapSet.add(mapType)
          ECharts.registerMap(mapType, map)
        }
        options.tooltip.formatter = params => {
          const getValue = data => {
            let value
            if (![null, undefined].includes(data?.value?.[2])) {
              value = data?.value?.[2]
            } else {
              if (data) {
                value = data.value
              } else {
                value = '-'
              }
            }
            return value
          }
          let tooltip = `${params.name}`
          series.forEach(({ data, name, type, itemStyle }) => {
            const item = data.find(({ name }) => name === params.name)
            tooltip += `<br/>${
              type === 'scatter'
                ? `<span style="display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;background-color:${itemStyle.color};"></span>`
                : ''
            }${name}:${getValue(item)}${item?.unit || ''}`
          })
          return tooltip
        }
      }

      if (format === 'scatter_sequence') {
        const unit = this.data?.unit || ''
        const frequency = this.data?.frequency || ''
        options.tooltip.formatter = params => {
          return `
            ${params.marker}${params.seriesName}<br />
            序列: ${frequency ? timeFormatter(params.value[2], frequency) : params.value[2]}<br />
            ${options.xAxis.name}: ${params.value[0]}${unit}<br />
            ${options.yAxis[0].name}: ${params.value[1]}${unit}
          `
        }

        const valueAxis = options.yAxis
        valueAxis.forEach(axis => {
          const { type, defaultMinMax } = axis
          if (type === 'value') {
            if (defaultMinMax) {
              axis.min = value => {
                return getDefaultMinMax(value, unit, false).min
              }
              axis.max = value => {
                return getDefaultMinMax(value, unit, false).max
              }
            }
          }
        })
      }

      if (format === 'pie' || getIsPie(config.chartType)) {
        options.tooltip.formatter = params => {
          const unit = this.data?.unit || ''
          return `${params.marker}${params.name}: ${params.value}${unit}`
        }
      }
    },
    initData(options) {
      if (this.$refs.chart && this.$refs.chart.$refs.chart) {
        console.log('echarts配置', options)
        if (Object.keys(options).length === 0) return
        this.$refs.chart.$refs.chart.setOption(options, true)
        this.dataZoomStopPropagation()
      }
    },
    dataZoomStopPropagation() {
      if (this.$refs.chart && this.$refs.chart.$refs.chart && this.$refs.chart.$refs.chart.chart) {
        const zr = this.$refs.chart.$refs.chart.chart.getZr()
        const dataZooms = zr.storage._roots.filter(
          v => v.__ecComponentInfo && v.__ecComponentInfo.mainType === 'dataZoom'
        )
        this.dataZoomBoundingRects = dataZooms.map(v => ({
          boundingRect: v.getBoundingRect(),
          position: v.position,
        }))
        console.log('this.dataZoomBoundingRects', this.dataZoomBoundingRects)
        zr.off('mousedown', this.onCanvasMousedown)
        zr.on('mousedown', this.onCanvasMousedown)
      }
    },
    onCanvasMousedown(params) {
      const { offsetX, offsetY } = params
      const { dataZoomBoundingRects } = this
      let isDataZoom = false
      const offset = 5
      dataZoomBoundingRects.every(v => {
        const xRange = [v.position[0] - offset, v.position[0] + v.boundingRect.width + offset]
        const yRange = [v.position[1] - v.boundingRect.height, v.position[1]]
        if (offsetX >= xRange[0] && offsetX <= xRange[1] && offsetY >= yRange[0] && offsetY <= yRange[1]) {
          isDataZoom = true
          return false
        }
        return true
      })
      if (isDataZoom) {
        params.event.stopPropagation()
      }
    },
    getData() {
      this.columns = []
      this.tableDataWithFix = []
      this.tableData = []
      if (this.data) {
        const { data, columns } = getIndicatorTableData(this.data, true, true, true, true)
        this.columns = columns.map(v =>
          Object.assign(v, {
            minWidth: 120,
          })
        )
        this.tableDataWithFix = data
        this.tableData = data.filter(v => !v.isFixed)
      }
    },
    getLegendValueType(v1, v2) {
      if (v1 !== null && v2 !== null) {
        if (v1 > v2) {
          return 'rise'
        } else if (v1 < v2) {
          return 'down'
        }
      }
      return 'flat'
    },
    onTitleChange(val) {
      this.$emit('titleChange', val)
    },
    initTimeRangeChanged() {
      if (this.timeRange && this.data?.indicator_format === 'timeline' && !getIsPie(this.data?.styles?.type)) {
        this.timeRangeChanged = true
      }
    },
    initTimeRangeChange() {
      const { data, rangeConfig, finalConfig } = this
      if (this.timeRangeInitForce || !data.timeRange) {
        const rangeValue = this.getRangeValueByTimeRange(this.timeRange, finalConfig.range.labels)
        finalConfig.range.value = rangeValue
        const filterColor =
          rangeConfig.filterColor ||
          (finalConfig && finalConfig.range && finalConfig.range.filterColor) ||
          $chartTheme.DATAZOOM_FILTER_COLOR
        Object.assign(this.options, {
          dataZoom: rangeValue
            ? [
                {
                  type: 'slider',
                  show: true,
                  startValue: rangeValue[0],
                  endValue: rangeValue[1],
                  fillerColor: filterColor,
                  textStyle: {
                    color: rangeConfig.textColor || $chartTheme.AXIS_TEXT_COLOR,
                  },
                  orient: 'horizontal',
                  [finalConfig.horizontal ? 'yAxisIndex' : 'xAxisIndex']: 0,
                  left: DATAZOOM_LEFT,
                  right: DATAZOOM_RIGHT,
                },
              ]
            : null,
        })
      }
    },
    onTimeRangeChange() {
      if (this.data?.indicator_format !== 'timeline' || getIsPie(this.data?.styles?.type)) {
        return
      }
      const { timeRange } = this
      if (this.loading) {
        this.timeRangeChanged = true
      } else {
        const rangeValue = this.getRangeValueByTimeRange(timeRange, this.rangeConfig.labels)
        this.onRangeValueChange(rangeValue)
      }
    },
    getRangeValueByTimeRange(timeRange, rangeLabels) {
      const { frequency } = this.data
      let data = [0, rangeLabels.length - 1]
      const getDateTime = time => {
        let formatText
        switch (frequency) {
          case 'day':
            formatText = 'YYYY-MM-DD'
            break
          case 'week':
            formatText = 'GGGG第WW周'
            break
          case 'month':
            formatText = 'YYYY年MM月'
            break
          case 'quarter':
            formatText = 'YYYY第Q季'
            break
          case 'year':
            formatText = 'YYYY年'
            break
          default:
            formatText = null
            break
        }
        if (formatText) {
          return Moment(time, formatText).valueOf()
        }
        if (frequency === 'half-year') {
          const momentData = Moment(time, 'YYYY年')
          if (time.endsWith('上半年')) {
            momentData.quarter(1)
          } else {
            momentData.quarter(3)
          }
          return momentData.valueOf()
        }
        return time
      }
      if (frequency && Array.isArray(timeRange)) {
        const rangeTimeList = rangeLabels.map(v => getDateTime(v))
        let first = rangeTimeList.findIndex(v => v >= timeRange[0])
        if (first < 0) {
          first = 0
        }
        let last = rangeTimeList.reverse().findIndex(v => v <= timeRange[1])
        if (last < 0) {
          last = 0
        }
        last = rangeTimeList.length - last - 1
        data = [first, last]
      }
      this.timeRangeChanged = false
      return data
    },
    onRangeValueChange(val) {
      const { rangeConfig, finalConfig } = this
      if (!isequal(rangeConfig.value, val)) {
        this.rangeConfig.value = val
        const filterColor =
          rangeConfig.filterColor ||
          (finalConfig && finalConfig.range && finalConfig.range.filterColor) ||
          $chartTheme.DATAZOOM_FILTER_COLOR
        this.$refs.chart.$refs.chart.setOption(
          Object.assign(this.options, {
            dataZoom: val
              ? [
                  {
                    type: 'slider',
                    show: true,
                    startValue: val[0],
                    endValue: val[1],
                    fillerColor: filterColor,
                    textStyle: {
                      color: rangeConfig.textColor || $chartTheme.AXIS_TEXT_COLOR,
                    },
                    orient: 'horizontal',
                    [finalConfig.horizontal ? 'yAxisIndex' : 'xAxisIndex']: 0,
                    left: DATAZOOM_LEFT,
                    right: DATAZOOM_RIGHT,
                  },
                ]
              : null,
          }),
          true
        )
        this.emitRangeChange(val)
      }
    },
    linearMap(val, domain, range, clamp) {
      const subDomain = domain[1] - domain[0]
      const subRange = range[1] - range[0]

      if (subDomain === 0) {
        return subRange === 0 ? range[0] : (range[0] + range[1]) / 2
      }

      if (clamp) {
        if (subDomain > 0) {
          if (val <= domain[0]) {
            return range[0]
          } else if (val >= domain[1]) {
            return range[1]
          }
        } else {
          if (val >= domain[0]) {
            return range[0]
          } else if (val <= domain[1]) {
            return range[1]
          }
        }
      } else {
        if (val === domain[0]) {
          return range[0]
        }

        if (val === domain[1]) {
          return range[1]
        }
      }

      return ((val - domain[0]) / subDomain) * subRange + range[0]
    },
    onRangeValueChangeNative({ start, end }) {
      const { rangeConfig } = this
      const startIndex = Math.round(this.linearMap(start, [0, 100], rangeConfig.range))
      const endIndex = Math.round(this.linearMap(end, [0, 100], rangeConfig.range))
      const newVal = [startIndex, endIndex]
      this.emitRangeChange(newVal)
    },
    emitRangeChange(val) {
      const { rangeConfig } = this
      const newVal = [...val]
      if (newVal && rangeConfig.range) {
        if (newVal[1] === rangeConfig.range[1]) {
          newVal[1] = null
        }
      }
      this.$emit('rangeChange', newVal)
    },
    async onSliderChange(val) {
      this.sliderConfig.selectedIndex = val
      const { options } = getChartOptions({
        data: {
          show_name: this.data.show_name,
          format: this.format,
          data: this.sliderConfig.dataMap[this.sliderConfig.labels[val]],
        },
        config: this.finalConfig,
        theme: $chartTheme,
        viewOption: this.viewOption,
      })
      await this.setTooltip(options)
      this.options = options
      this.initData(options)
      this.$emit('sliderChange', val)
    },

    handleTimeTableSliderChange(val) {
      this.sliderConfig.selectedIndex = val
      this.$emit('sliderChange', val)
    },
    onLegendColorChange(index, color) {
      const { options, format, finalConfig } = this
      if (
        ['grid', 'scatter_sequence'].includes(format) &&
        !getIsPie(finalConfig.chartType) &&
        finalConfig.chartType !== 'radar'
      ) {
        options.series[index].itemStyle.color = color
        // TODO 无法完美记录timecut每个时间点修改，以及产生的修改会造成取消时间轴时的绘制错误
        // timeCut
        if (finalConfig.slider.show) {
          if (finalConfig.series[index]) {
            finalConfig.series[index].itemStyle = {
              color,
            }
          }
        }
      }
      if (
        format === 'radar' ||
        format === 'pie' ||
        getIsPie(finalConfig.chartType) ||
        finalConfig.chartType === 'radar'
      ) {
        options.series.data[index].itemStyle.color = color
      }
      if (format === 'map') {
        const { mapIndex } = this
        options.series[mapIndex[index]].itemStyle.color = color
        options.visualMap[mapIndex[index]].inRange.color = color
      }
      this.initData(options)
      this.$emit('colorChange', index, color)
    },
    onLayerLevelClick(index, operating) {
      const seriesList = this.options.series
      const currentSelectedZIndex = seriesList[index].z
      if (currentSelectedZIndex === undefined) {
        this.$set(this.options.series[index], 'z', 0)
      }
      const zList = seriesList.map(item => item.z)
      if (operating === 'top') {
        // 如果Z值等于0等于没设置，不要0
        const nextZ = Math.max(...zList) === -1 ? 0 : Math.max(...zList)
        this.options.series[index].z = nextZ + 1
      }

      if (operating === 'bottom') {
        const nextZ = Math.min(...zList) === 1 ? 0 : Math.min(...zList)
        this.options.series[index].z = nextZ - 1
      }

      if (operating === 'prev') {
        const orderList = zList.filter(item => item > currentSelectedZIndex).sort((a, b) => a - b)
        if (!orderList.length) {
          return
        }
        const swapValue = orderList[0]
        const swapItem = this.options.series.find(item => item.z === swapValue)
        this.options.series[index].z = swapItem.z
        swapItem.z = currentSelectedZIndex
      }

      if (operating === 'next') {
        const lessList = zList.filter(item => item < currentSelectedZIndex).sort((a, b) => b - a)
        if (!lessList.length) {
          return
        }
        const swapValue = lessList[0]
        const swapItem = this.options.series.find(item => item.z === swapValue)
        this.options.series[index].z = swapItem.z
        swapItem.z = currentSelectedZIndex
      }
      this.$refs.chart.$refs.chart.setOption(this.options, true)
      this.$emit(
        'layerLevelChanged',
        this.options.series.map(item => item.z)
      )
    },
  },
  watch: {
    data(newVal, oldVal) {
      console.log(
        'sjChart',
        !isequal(newVal, oldVal),
        newVal === oldVal,
        newVal.indicator_values[0]?.config?.lineType,
        oldVal.indicator_values[0]?.config?.lineType
      )
      if (!isequal(newVal, oldVal)) {
        this.initTimeRangeChanged()
        this.initChart()
      }
    },
    config: {
      deep: true,
      handler(newVal, oldVal) {
        if (!isequal(newVal, oldVal)) {
          this.initChart()
        }
      },
    },
    viewOption: {
      handler() {
        this.initChart()
      },
    },
    timeRange: {
      handler() {
        this.onTimeRangeChange()
      },
    },
  },
  mounted() {
    this.initTimeRangeChanged()
    this.initChart()
  },
})
</script>

<style scoped lang="less">
.sj_chart {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  .title {
    flex-shrink: 0;
    z-index: 1;
    margin-bottom: 10px;
  }

  .sj_chart_wrapper {
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    .wrapper {
      flex-grow: 1;
      min-height: 0;
      display: flex;
      align-items: stretch;
      .legend_wrapper {
        z-index: 2;
        align-self: center;
        flex-shrink: 0;
        min-width: 0;
        overflow: hidden;
      }
      .chart_wrapper {
        z-index: 1;
        flex-grow: 1;
        min-width: 0;
        overflow: hidden;
      }
    }
    .range,
    .slider {
      flex-shrink: 0;
      margin-top: 5px;
    }
  }

  .sj_chart_table {
    flex-grow: 1;
    min-height: 0;
    :deep(.sj_chart_table_fix_head) {
      .table-header-cell {
        margin: 10px;
        padding: 0;
        .text-ellipsis('body', 2);
      }
    }
  }
}
</style>
