<template>
  <div class="time-table">
    <div class="base-table-wrapper">
      <sj-base-table-with-fix
        class="base-table"
        v-if="tableData.length"
        :columns="tableData[sliderConfig.selectedIndex].tableColumn"
        :data="tableData[sliderConfig.selectedIndex].tableData"
      ></sj-base-table-with-fix>
    </div>

    <SjSlider
      v-if="Array.isArray(sliderConfig.range) && sliderConfig.range.length > 0"
      showLabel
      :labels="sliderConfig.labels"
      placeholderColor="#ebebec"
      :getLabel="v => sliderConfig.labels[sliderConfig.selectedIndex]"
      :range="sliderConfig.range"
      :value="sliderConfig.selectedIndex"
      :color="sliderConfig.color"
      laceholderColor="#ebebec"
      :textColor="sliderConfig.textColor"
      @input="onSliderChange"
    />
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'TimeTable',
  props: {
    tableData: {
      type: Array,
      default: () => [],
    },
    sliderConfig: {
      type: Object,
      default: () => ({}),
    },
  },

  methods: {
    onSliderChange(val) {
      this.$emit('sliderChange', val)
    },
  },
}
</script>

<style scoped lang="less">
.time-table {
  display: flex;
  height: 100%;
  flex-direction: column;
  .base-table-wrapper {
    flex: 1;
  }
}
</style>
