<template>
  <div :style="style"></div>
</template>

<script lang="ts">
import { computed, defineComponent, toRefs } from 'vue'
import ossImageMixin from '../../../hooks/ossImageMixin'

export default defineComponent({
  name: 'TemplateThumbnail',
  props: {
    src: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    const { src } = toRefs(props)
    const finalSrc = computed(() => {
      if (src.value.indexOf('report/template/') != -1) {
        return require(`../../../templates/${src.value.replace('report/template/', '')}`)
      } else {
        const { getFinalImageSrc } = ossImageMixin()
        return getFinalImageSrc(src.value)
      }
    })
    const style = computed(() => {
      return {
        backgroundImage: finalSrc.value ? `url(${finalSrc.value})` : undefined,
        borderRadius: '4px',
        backgroundColor: '#fff',
        backgroundSize: '100% 100%',
      }
    })
    return {
      finalSrc,
      style,
    }
  },
})
</script>

<style scoped></style>
