<template>
  <div class="page">
    <div class="editor">
      <div class="editor-container" id="container"></div>
    </div>
  </div>
</template>
<script>
import { defineComponent } from 'vue'
import ShareDB from 'sharedb/lib/client'
import Quill from 'quill'
import Editor from './editor'
import 'quill/dist/quill.snow.css'
import EditorEvents from './editor-events'
import './modules/task-list'

import richText from 'rich-text'
ShareDB.types.register(richText.type)

// For icons of header value 3
const icons = Quill.import('ui/icons')
// icons['header'][3] = require('!html-loader!quill/assets/icons/header-3.svg')

// import './display.styl'

export default defineComponent({
  props: {
    docId: { type: String },
  },
  mounted() {
    let authors = [
      {
        id: 1,
        name: '张三',
      },
      {
        id: 2,
        name: '李四',
      },
      {
        id: 3,
        name: '王五',
      },
      {
        id: 4,
        name: '周六',
      },
      {
        id: 5,
        name: '陈七',
      },
    ]

    let authorIndex = Math.ceil(Math.random() * 1000) % authors.length

    let testUrl = 'https://vue3js.cn/docs/logo.png'

    let editorOptions = {
      authorship: {
        author: authors[authorIndex],
        authorColor: '#ed5634',
        colors: ['#f7b452', '#ef6c91', '#8e6ed5', '#6abc91', '#5ac5c3', '#7297e3', '#9bc86e', '#ebd562', '#d499b9'],
        handlers: {
          getAuthorInfoById: authorId => {
            return new Promise((resolve, reject) => {
              let author = authors.find(a => a.id + '' === authorId)

              console.log('user info retrieved from server: ' + authorId)

              if (author) {
                resolve(author)
              } else {
                reject('user not found')
              }
            })
          },
        },
      },
      image: {
        handlers: {
          imageDataURIUpload: dataURI => {
            return new Promise(resolve => {
              resolve(testUrl)
            })
          },
          imageSrcUpload: src => {
            return new Promise(resolve => {
              resolve(testUrl)
            })
          },
          imageUploadError: err => {
            console.log('image upload error: ' + err)
          },
        },
      },
    }

    let toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'],
      [{ header: 1 }, { header: 2 }, { header: 3 }],
      [{ list: 'ordered' }, { list: 'bullet' }, 'task-list', { indent: '+1' }, { indent: '-1' }],
      ['align', 'color', 'background'],
      ['blockquote', 'code-block', 'link', 'image'],
    ]

    let quillOptions = {
      modules: {
        toolbar: toolbarOptions,
        'task-list': true,
      },
      theme: 'snow',
    }

    let editor = new Editor('#container', editorOptions, quillOptions)

    editor.on(EditorEvents.imageSkipped, () => {
      console.log('image skipped')
    })

    editor.on(EditorEvents.documentLoaded, () => {
      console.log('document loaded')
    })

    editor.on(EditorEvents.synchronizationError, err => {
      console.log('connection error')
      console.log(err)
    })

    let websocketEndpoint = `ws://localhost:3000/${this.docId}`

    editor.syncThroughWebsocket(websocketEndpoint, 'examples', this.docId)
  },
})
</script>

<style lang="less" scoped>
.page {
  position: relative;
  width: 900px;
  margin: 50px auto;
}
.page .title {
  text-align: center;
  font-size: 24px;
}

.page .subtitle {
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.page .editor {
  position: relative;
  margin-top: 32px;
}

.editor-container {
  padding: 0 90px;
  min-height: 400px;
}

.page .content {
  width: 660px;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
</style>
