<template>
  <a-modal title="添加自定义指标" :width="600" class="ant-modal--modification" @ok="submitIndicator">
    <a-form
      :colon="false"
      labelAlign="left"
      :labelCol="{ span: 3, offset: 2 }"
      :wrapperCol="{ span: 17 }"
      style="padding: 10px 0"
      class="antForm"
    >
      <a-form-item label="名称">
        <a-input v-model:value="config.name" size="small" placeholder="输入名称"></a-input>
      </a-form-item>
      <a-form-item label="单位">
        <a-input v-model:value="config.unit" size="small" placeholder="输入单位"></a-input>
      </a-form-item>
      <a-form-item label="生成公式">
        <formula-editor
          v-model:value="config.formula"
          :formulaParams="formulaParams"
          :systemParamsOptions="systemParamsOptions"
        />
      </a-form-item>
      <a-form-item label="参数平移">
        <div class="flex-between" style="justify-content: flex-start">
          <a-input-number
            size="small"
            :max="1000"
            style="width: 200px; margin-right: 5px"
            v-model:value="config.translation"
          />
          <span>月</span>
        </div>
      </a-form-item>
      <a-form-item label="聚合周期">
        <a-select
          v-model:value="config.aggregation_period"
          :options="aggregationPeriodOptions"
          placeholder="聚合周期"
          style="width: 200px"
        />
      </a-form-item>
      <a-form-item label="聚合方式">
        <a-select
          :disabled="!config.aggregation_period"
          v-model:value="config.aggregation_type"
          :options="aggregationTypeOptions"
          placeholder="聚合方式"
          style="width: 200px"
        />
      </a-form-item>
      <a-form-item label="计算方式">
        <a-select
          v-model:value="config.calculator_type"
          :options="calculateTypeOptions"
          placeholder="计算方式"
          style="width: 200px"
        />
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script>
import { computed, defineComponent, reactive } from 'vue'
import FormulaEditor from './components/FormulaEditor.vue'
import { generatorSystemList } from '../../utils/index.js'

export default defineComponent({
  name: 'AddCustomIndicatorModal',
  emits: ['submit-indicator'],
  props: {
    parameters: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    FormulaEditor,
  },
  setup(props, ctx) {
    const config = reactive({
      name: '自定义指标',
      unit: null, // 单位
      formula: [], // 生成公式
      translation: 0, // 参数平移
      aggregation_period: '', // 聚合周期
      aggregation_type: null, // 聚合方式
      calculator_type: 'original', // 计算方式
    })
    const aggregationPeriodOptions = [
      {
        value: '',
        label: '未应用',
      },
      {
        value: 'year',
        label: '年度',
      },
    ]
    const aggregationTypeOptions = [
      { value: 'avg', label: '均值' },
      { value: 'sum', label: '求和' },
      { value: 'median', label: '中位数' },
      { value: 'period_head', label: '周期开始值' },
      { value: 'period_last', label: '周期结束值' },
    ]
    const calculateTypeOptions = computed(() => {
      if (config.aggregation_period !== 'year') {
        return [
          {
            label: '原值',
            value: 'original',
          },
          {
            label: '环比',
            value: 'chain_ratio',
          },
          {
            label: '同比',
            value: 'cycle_ratio',
          },
          {
            label: '年度累计',
            value: 'year_accumulation',
          },
          {
            label: '累计环比',
            value: 'accumulation_chain_ratio',
          },
          {
            label: '累计同比',
            value: 'accumulation_cycle_ratio',
          },
          {
            label: '环比差值',
            value: 'chain_differential',
          },
          {
            label: '同比差值',
            value: 'cycle_differential',
          },
          {
            label: '年度差值',
            value: 'year_differential',
          },
          {
            label: '移动均值',
            value: 'moving_average',
          },
        ]
      }
      return [
        { value: 'original', label: '原值' },
        { value: 'cycle_ratio', label: '同比' },
        { value: 'cycle_differential', label: '同比差值' },
        { value: 'moving_average', label: '移动均值' },
      ]
    })

    const systemParameters = computed(() => {
      return props.parameters.filter(({ generator }) => generatorSystemList.includes(generator))
    })
    const systemParamsOptions = computed(() => {
      if (!systemParameters.value) return null
      return systemParameters.value.map(({ param_id, config }) => ({
        label: config.name,
        value: param_id,
      }))
    })
    const formulaParams = computed(() => {
      if (!systemParameters.value) return null
      return systemParameters.value.map(({ param_id, config }) => ({
        name: config.name,
        id: param_id,
        color: config.color,
      }))
    })
    const submitIndicator = () => {
      ctx.emit('submit-indicator', config)
    }
    return {
      submitIndicator,
      config,
      aggregationPeriodOptions,
      aggregationTypeOptions,
      calculateTypeOptions,
      formulaParams,
      systemParamsOptions,
    }
  },
})
</script>

<style lang="less" scoped>
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.antForm {
  :deep(.ant-form-item) {
    margin-bottom: 10px;
  }
}
</style>
