<template>
  <div class="EditInformation">
    <div class="margin-bottom-10">数据来源</div>
    <div class="margin-bottom-10">{{ source }}</div>
    <div class="margin-bottom-10 border-1px"></div>
    <div class="margin-bottom-10">更新频率</div>
    <div class="margin-bottom-10">{{ frequency }}</div>
    <div class="margin-bottom-10 border-1px"></div>
    <div class="margin-bottom-10">图表描述</div>
    <a-textarea
      v-model:value="description"
      placeholder="图表描述"
      :autoSize="{ minRows: 6 }"
      @input="onDescriptionChange"
    />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { frequencyMap, dateFormat } from '../../utils/index'

export default defineComponent({
  props: {
    data: {
      type: Object,
      default: () => ({}),
    },
  },
  emits: ['descriptionChange'],
  computed: {
    source() {
      const { data } = this
      if (data?.indicator_format === 'timeline') {
        const sourceList = []
        data.indicator_values.forEach(v => {
          const source = v.data_source || data.data_source
          if (source) {
            sourceList.push(source)
          }
        })
        return [...new Set(sourceList)].join('、')
      }
      return data && data.data_source
    },
    frequency() {
      const { data } = this
      return frequencyMap[data && data.frequency] || '-'
    },
    unit() {
      const { data } = this
      return data && data.unit
    },
    updateTime() {
      const { data } = this
      return dateFormat(data && data.update_time)
    },
    // description() {
    //   const { data } = this
    //   return data && data.description
    // },
  },
  data() {
    return {
      description: this.data?.description,
    }
  },
  watch: {
    'data.description': {
      immediate: true,
      handler: function (newVal) {
        this.description = newVal
      },
    },
  },
  methods: {
    onDescriptionChange(val) {
      this.$emit('descriptionChange', val.target.value)
    },
  },
})
</script>

<style lang="less" scoped>
.margin-bottom-10 {
  margin-bottom: 10px;
}
.EditInformation {
  padding: 10px;
  font-size: 12px;
  .border-1px {
    width: 100%;
    height: 1px;
    background-color: @border-color;
  }
}
</style>
