<template>
  <div class="editData">
    <a-collapse class="ant-collapse-modification-chart common-border-color">
      <template #expandIcon="{ isActive }">
        <div>
          <caret-right-outlined class="color-grey" :rotate="isActive ? 90 : 0" />
        </div>
      </template>
      <!-- 对比指标 -->
      <!-- <a-collapse-panel v-if="systemParameters.length" key="duibozhibiao" header="对比指标">
        <a-collapse class="ant-collapse-modification-chart common-border-color">
          <template #expandIcon="{ isActive }">
            <div>
              <caret-right-outlined class="color-grey" :rotate="isActive ? 90 : 0" />
            </div>
          </template> -->
      <ParameterConfig
        v-for="p in systemParameters"
        isSystem
        dblclickable
        :key="p.param_id"
        :indicator="data"
        :data="p.config"
        :parameter="p"
        :userParams="userParameters"
        :comparable="comparable"
        :ref="`param_config_${p.param_id}`"
        @remove="onParameterRemove(p)"
        @styleChange="onParameterStyleChange($event, p)"
        @aggregationChange="onAggregationChange($event, p)"
        @addCustomParameter="onAddCustomParameter($event, p)"
        @dblclick="onDblclick(p)"
      />
      <!-- </a-collapse>
      </a-collapse-panel> -->
      <!-- 自定义指标 -->
      <a-collapse-panel v-if="userParameters.length" key="zidingyizhibiao" header="自定义指标">
        <a-collapse class="ant-collapse-modification-chart common-border-color">
          <template #expandIcon="{ isActive }">
            <div>
              <caret-right-outlined class="color-grey" :rotate="isActive ? 90 : 0" />
            </div>
          </template>
          <ParameterConfig
            v-for="(p, i) in userParameters"
            :key="p.param_id"
            :indicator="data"
            :data="p.config"
            :parameter="p"
            :systemParams="systemParameters"
            :comparable="comparable"
            :isSystem="false"
            :ref="`param_config_${p.param_id}`"
            :class="{ 'no-border': i === systemParameters.length - 1 }"
            @remove="onParameterRemove(p)"
            @styleChange="onParameterStyleChange($event, p)"
            @formulaChange="onFormulaChange(...arguments, p)"
          />
        </a-collapse>
      </a-collapse-panel>
    </a-collapse>
  </div>
</template>

<script>
/* eslint-disable */
import { defineComponent } from 'vue'
import { generatorSystemList } from '../../utils/index.js'
import ParameterConfig from './components/ParameterConfig.vue'
import { CaretRightOutlined } from '@ant-design/icons-vue'

export default defineComponent({
  name: 'EditData',
  components: {
    ParameterConfig,
    CaretRightOutlined,
  },
  props: {
    maxHeight: {
      type: Number,
      default: 0,
    },
    data: {
      type: Object,
      default: () => {},
    },
    parameters: {
      type: Array,
      default: () => [],
    },
    // TODO 后续看是否去掉
    comparable: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      collapsedMap: {},
    }
  },
  watch: {
    parameters() {
      console.log('parameters变了!!');
    },
  },
  computed: {
    systemParameters() {
      return this.parameters.filter(({ generator }) => generatorSystemList.includes(generator))
    },
    userParameters() {
      return this.parameters.filter(({ generator }) => !generatorSystemList.includes(generator))
    },
  },
  methods: {
    onParameterRemove(p) {
      this.$emit('parameterRemove', p)
    },
    onParameterStyleChange(styles, p) {
      this.$emit('parameterStyleChange', styles, p)
    },
    onAggregationChange(aggregationConfig, p) {
      this.$emit('parameterAggregationChange', aggregationConfig, p)
    },
    onFormulaChange(aggregationConfig, formulaChange, p) {
      this.$emit('parameterFormulaChange', aggregationConfig, formulaChange, p)
    },
    onDblclick(p) {
      this.$emit('parameterDblclick', p)
    },
    onAddCustomParameter(type, p) {
      this.$emit('addCustomParameter', type, p)
    },
  },
})
</script>

<style lang="less" scoped>
.editData {
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .margin-bottom-10 {
    margin-bottom: 10px;
  }
}
</style>
