<template>
  <div class="editGlobalStyle">
    <div class="general common-border-color">
      <a-collapse class="ant-collapse-modification-chart common-border-color">
        <template #expandIcon="{ isActive }">
          <div>
            <caret-right-outlined class="color-grey" :rotate="isActive ? 90 : 0" />
          </div>
        </template>
        <!-- 标题 -->
        <a-collapse-panel key="biaoti" header="标题">
          <template #extra
            ><a-switch v-model:checked="styles.showTitle" size="small" @click="stopClick" @change="emitStyleChange"
          /></template>
          <div class="flex-between">
            <a-select :value="styles.titleFontFamily || 'yahei'" size="small" style="width: 86px">
              <a-select-option key="yahei" value="yahei">微软雅黑</a-select-option>
            </a-select>
            <a-select v-model:value="styles.titleFontSize" size="small" style="width: 54px" @change="emitStyleChange">
              <a-select-option v-for="item in fontSizeArr" :key="'fontSize' + item.value" :value="item.value">{{
                item.label
              }}</a-select-option>
            </a-select>
            <ColorSelect v-model:value="styles.titleFontColor" @change="emitStyleChange"></ColorSelect>
          </div>
          <SimpleRadio
            style="vertical-align: bottom; height: 20px; margin: 10px 0px"
            type="icon"
            v-model:value="styles.titleAlign"
            @change="emitStyleChange"
            :data="titleAlignOptions"
          ></SimpleRadio>
        </a-collapse-panel>
        <!-- 图例 -->
        <a-collapse-panel key="tuli" header="图例">
          <template #extra
            ><a-switch v-model:checked="styles.showLegend" size="small" @click="stopClick" @change="emitStyleChange"
          /></template>
          <div class="flex-between">
            <a-select :value="styles.legendFontFamily || 'yahei'" size="small" style="width: 86px">
              <a-select-option key="yahei" value="yahei">微软雅黑</a-select-option>
            </a-select>
            <a-select v-model:value="styles.legendFontSize" size="small" style="width: 54px" @change="emitStyleChange">
              <a-select-option v-for="item in fontSizeArr" :key="'fontSize' + item.value" :value="item.value">{{
                item.label
              }}</a-select-option>
            </a-select>
            <ColorSelect v-model:value="styles.legendFontColor" @change="emitStyleChange"></ColorSelect>
          </div>
          <div class="flex-between">
            <SimpleRadio
              style="vertical-align: bottom; height: 20px; margin: 10px 0px"
              type="icon"
              v-model:value="styles.legendAlign"
              @change="emitStyleChange"
              :data="legendAlignOptions"
            ></SimpleRadio>
            <SimpleRadio
              style="vertical-align: bottom; height: 20px; margin: 10px 0px"
              type="icon"
              v-model:value="styles.legendVerticalAlign"
              @change="emitStyleChange"
              :data="legendVerticalAlignOptions"
            ></SimpleRadio>
          </div>
          <SimpleRadio
            style="vertical-align: bottom; height: 20px; margin: 0px 0px 10px 0px"
            type="icon"
            v-model:value="styles.legendArrangement"
            @change="emitStyleChange"
            :data="legendArrangementOptions"
          ></SimpleRadio>
        </a-collapse-panel>
        <!-- 配色 -->
        <a-collapse-panel key="peise" header="配色">
          <div class="flex-between margin-bottom-10">
            <span>画布色</span>
            <ColorSelect v-model:value="styles.frameBackgroundColor" @change="emitStyleChange"></ColorSelect>
          </div>
          <div class="flex-between margin-bottom-10">
            <span>背景色</span>
            <ColorSelect v-model:value="styles.chartBackgroundColor" @change="emitStyleChange"></ColorSelect>
          </div>
          <div class="flex-between margin-bottom-10">
            <div style="width: 40px">主题</div>
            <a-select v-model:value="themeSelected" size="small" style="flex: 1" @change="onThemeChange">
              <a-select-option v-for="(item, index) in themes" :key="item.icon" :value="index">
                <div class="flex-between" style="justify-content: flex-start">
                  <img width="16" height="16" :src="item.icon" />
                  <span style="margin-left: 10px">{{ index === 0 ? '默认' : '主题' + index }}</span>
                </div>
              </a-select-option>
            </a-select>
          </div>
        </a-collapse-panel>
        <!-- 辅助线 -->
        <a-collapse-panel key="fuzhuxian" header="辅助线">
          <div class="flex-between margin-bottom-10">
            <span>X轴</span>
            <a-switch v-model:checked="styles.showSplitArea" size="small" @change="emitStyleChange"></a-switch>
          </div>
          <div class="flex-between margin-bottom-10">
            <span>Y轴</span>
            <a-switch v-model:checked="styles.showSplitY" size="small" @change="emitStyleChange"></a-switch>
          </div>
        </a-collapse-panel>
        <!-- 坐标轴 -->
        <a-collapse-panel key="zuobiaozhou" header="坐标轴">
          <div class="flex-between border-bottom">
            <span>缩略轴</span>
            <a-switch v-model:checked="styles.showDataZoom" @change="emitStyleChange" size="small" />
          </div>
          <a-collapse class="ant-collapse-modification-chart common-border-color">
            <template #expandIcon="{ isActive }">
              <div>
                <caret-right-outlined class="color-grey" :rotate="isActive ? 90 : 0" />
              </div>
            </template>
            <template v-if="isGrid || format === 'scatter_sequence'">
              <a-collapse-panel
                :class="{
                  'content-no-right-padding': true,
                  'no-border': index + 1 === yAxisList.length,
                  'font-weight-normal': true,
                }"
                v-for="(yAxis, index) in yAxisList"
                :key="yAxis.label"
                :header="yAxis.label"
              >
                <template #extra
                  ><a-switch
                    v-model:checked="styles.yAxis[yAxis.value].showName"
                    :disabled="!yAxisEditable[yAxis.value]"
                    size="small"
                    @click="stopClick"
                    @change="emitStyleChange"
                /></template>
                <div class="flex-between">
                  <span style="width: 34px; flex-shrink: 0">标题</span>
                  <a-input
                    v-model:value="styles.yAxis[yAxis.value].name"
                    @input="emitStyleChange"
                    placeholder="名称"
                    :disabled="!styles.yAxis[yAxis.value].showName || !yAxisEditable[yAxis.value]"
                    style="flex: 1; padding: 2px 11px"
                  ></a-input>
                </div>
                <SimpleRadio
                  style="vertical-align: bottom; height: 20px; margin: 10px 0px"
                  type="icon"
                  v-model:value="styles.yAxis[yAxis.value].namePos"
                  @change="emitStyleChange"
                  :data="yAxisNamePosOptions"
                  :disabled="!styles.yAxis[yAxis.value].showName || !yAxisEditable[yAxis.value]"
                ></SimpleRadio>
                <div class="flex-between margin-bottom-10">
                  <span>刻度设置</span>
                  <a-select
                    v-model:value="yAxisListDefaultMinMax[yAxis.value]"
                    :disabled="!styles.yAxis[yAxis.value].showName || !yAxisEditable[yAxis.value]"
                    size="small"
                    style="flex: 1; margin-left: 10px"
                    @change="defaultMinMaxChange(yAxis.value, $event)"
                  >
                    <a-select-option key="zishiying" :value="1">自适应</a-select-option>
                    <a-select-option key="zidingyi" :value="0">自定义</a-select-option>
                  </a-select>
                </div>
                <div
                  v-show="yAxisEditable[yAxis.value] && !styles.yAxis[yAxis.value].defaultMinMax"
                  class="flex-between margin-bottom-10"
                >
                  <span>刻度间隔</span>
                  <a-input-number
                    size="small"
                    v-model:value="styles.yAxis[yAxis.value].interval"
                    :min="1"
                    @pressEnter="emitStyleChange"
                    class="ant-input-number-24px"
                    style="flex: 1; margin-left: 10px"
                  ></a-input-number>
                </div>
                <div
                  v-show="yAxisEditable[yAxis.value] && !styles.yAxis[yAxis.value].defaultMinMax"
                  class="flex-between margin-bottom-10"
                >
                  <span>轴范围</span>
                  <div class="flex-between a-input-number-modification" style="width: 121px">
                    <a-input-number
                      style="width: 56px"
                      v-model:value="styles.yAxis[yAxis.value].min"
                      @pressEnter="emitStyleChange"
                      class="ant-input-number-24px"
                    ></a-input-number>
                    <span>-</span>
                    <a-input-number
                      style="width: 56px"
                      v-model:value="styles.yAxis[yAxis.value].max"
                      @pressEnter="emitStyleChange"
                      class="ant-input-number-24px"
                    ></a-input-number>
                  </div>
                </div>
                <div class="flex-between margin-bottom-10" v-if="yAxisAllowLog[yAxis.value]">
                  <span>对数轴</span>
                  <a-switch
                    v-model:checked="styles.yAxis[yAxis.value].log"
                    :disabled="!yAxisEditable[yAxis.value]"
                    size="small"
                    @change="emitStyleChange"
                  />
                </div>
              </a-collapse-panel>
            </template>
          </a-collapse>
        </a-collapse-panel>
      </a-collapse>

      <!-- <template v-if="isGridExcludeTimeline || format === 'scatter_sequence'">
        <div class="item">
          <div class="name">
            <span>Y轴位置</span>
          </div>
          <div class="split">
            <div class="left">
              <sj-radio
                style="height: 30px"
                :data="yAxisOptions"
                v-model="styles.yAxisPosition"
                @change="onYAxisPositionChange"
              ></sj-radio>
            </div>
          </div>
        </div>
      </template>

      <template v-if="isGridExcludeTimeline">
        <div class="item">
          <div class="split">
            <div class="left">
              <div class="name">
                <span>数值</span>
                <SjSwitch v-model="styles.showSeriesLabel" @change="emitStyleChange" />
              </div>
              <div class="subname">
                <span>显示小数位数</span>
                <NumberInput
                  allow-null
                  :allow-negative="false"
                  v-model="styles.labelFractionDigit"
                  @input="emitStyleChange"
                  :validator="value => Number.isInteger(value) && value >= 0 && value <= 100"
                  :disabled="!styles.showSeriesLabel"
                  class="input"
                />
              </div>
            </div>
          </div>
        </div>
      </template> -->
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { computed, defineComponent, ref } from 'vue'
import { styleList, getIsScatterMap } from '../../utils/index.js'
import SimpleRadio from '../../custom-components/simple-radio/index.vue'
import ColorSelect from '../../custom-components/color-select/index.vue'
import { cloneDeep as clone } from 'lodash-es'
import { CaretRightOutlined } from '@ant-design/icons-vue'

export default defineComponent({
  name: 'EditGlobalStyle',
  components: {
    SimpleRadio,
    ColorSelect,
    CaretRightOutlined,
  },
  props: {
    data: {
      type: Object,
      default: () => ({}),
    },
    globalStyles: {
      type: Object,
      default: () => ({}),
    },
    parameters: {
      type: Array,
      default: () => [],
    },
    format: {
      type: String,
      default: '',
    },
    dataEditable: {
      type: Boolean,
      default: false,
    },
    themes: {
      type: Array,
      default: () => [],
    },
  },
  emits: ['styleChange', 'themeChange', 'yAxisStyleChange', 'yAxisPositionChange'],
  setup() {
    const fontSizeArr = computed(() => {
      return Array.from({ length: 11 }).map((v, i) => ({
        label: i + 15,
        value: i + 15,
      }))
    })
    const themeSelected = ref(0)
    const stopClick = (checked, event) => {
      event.stopPropagation()
    }
    return {
      fontSizeArr,
      themeSelected,
      stopClick,
    }
  },
  data() {
    return {
      titleAlignOptions: [
        {
          icon: 'iconleft',
          style: { fontSize: '20px' },
          value: 'left',
          label: '左',
        },
        {
          icon: 'iconmediate',
          style: { fontSize: '20px' },
          value: 'center',
          label: '中',
        },
        {
          icon: 'iconright',
          style: { fontSize: '20px' },
          value: 'right',
          label: '右',
        },
      ],
      legendAlignOptions: [
        {
          icon: 'iconleft',
          style: { fontSize: '20px' },
          value: 'left',
          label: '左',
        },
        {
          icon: 'iconmediate',
          style: { fontSize: '20px' },
          value: 'center',
          label: '中',
        },
        {
          icon: 'iconright',
          style: { fontSize: '20px' },
          value: 'right',
          label: '右',
        },
      ],
      legendVerticalAlignOptions: [
        {
          icon: 'iconbottom',
          style: { fontSize: '20px' },
          value: 'bottom',
          label: '下',
        },
        {
          icon: 'iconmid',
          style: { fontSize: '20px' },
          value: 'center',
          label: '中',
        },
        {
          icon: 'icontop',
          style: { fontSize: '20px' },
          value: 'top',
          label: '上',
        },
      ],
      legendArrangementOptions: [
        {
          icon: 'iconX',
          style: { fontSize: '20px' },
          value: 'horizontal',
          label: '水平',
        },
        {
          icon: 'iconY',
          style: { fontSize: '20px' },
          value: 'vertical',
          label: '垂直',
        },
      ],
      yAxisOptions: [
        {
          name: '左侧',
          value: 'left',
        },
        {
          name: '右侧',
          value: 'right',
        },
      ],
      yAxisList: [
        {
          label: '左侧Y轴',
          value: 'left',
        },
        {
          label: '右侧Y轴',
          value: 'right',
        },
      ],
      yAxisNamePosOptions: [
        {
          icon: 'iconX',
          style: { fontSize: '20px' },
          value: 'end',
          label: '结束位置',
        },
        {
          icon: 'iconY',
          style: { fontSize: '20px' },
          value: 'middle',
          label: '居中',
        },
      ],
      styleList,
      styles: {},
      yAxisListDefaultMinMax: {
        left: 1,
        right: 1,
      },
    }
  },
  computed: {
    isGrid() {
      const { format } = this
      const gridFormats = ['timeline', 'panel', 'cut', 'group', 'timecut', 'candlestick']
      return gridFormats.includes(format)
    },
    isGridExcludeTimeline() {
      const { format, isGrid } = this
      return isGrid && format !== 'timeline'
    },
    isMapWithoutScatter() {
      const { format, data } = this
      if (format === 'map') {
        return !getIsScatterMap(data)
      }
      return false
    },
    showRevert() {
      // TODO 后期根据图表样式调整
      const { isGrid, format } = this
      return isGrid || format === 'radar'
    },
    revertButtonIcon() {
      return this.styles.revert
        ? require('@/assets/images/chartIcons/icon_legendX.png')
        : require('@/assets/images/chartIcons/icon_legendY.png')
    },
    yAxisAllowLog() {
      // TODO 负数不能取对数
      return {
        left: true,
        right: true,
      }
    },
    yAxisEditable() {
      const data = {
        left: false,
        right: false,
      }

      const { isGrid, format, dataEditable } = this
      if ((isGrid || format === 'scatter_sequence') && !dataEditable) {
        const { styles } = this
        if (styles.yAxisPosition) {
          data[styles.yAxisPosition] = true
        } else {
          data.left = true
        }
      } else {
        const { parameters } = this
        parameters.forEach(({ config }) => {
          data[config.yAxisPosition] = true
        })
      }
      return data
    },
  },
  watch: {
    globalStyles: {
      immediate: true,
      handler() {
        this.initStyles()
      },
    },
  },
  methods: {
    getIsThemeSame(themeData, styles, index) {
      const nowColors = styles.chartColors || []
      const themeColors = themeData.chartColors
      let isSame = nowColors.length > 0 ? true : index === 0
      nowColors.every((val, index) => {
        const themeColor = themeColors[index] || ''
        if (val.toLocaleLowerCase() !== themeColor.toLocaleLowerCase()) {
          isSame = false
          return false
        }
        return true
      })
      return isSame
    },
    initStyles() {
      const { globalStyles } = this
      this.styles = clone(globalStyles)
      this.initModification()
    },
    // 移植新增  2021.06.04
    initModification() {
      this.themes.forEach((item, index) => {
        if (this.getIsThemeSame(item.data, this.styles, index)) {
          this.themeSelected = index
        }
      })
      // 回显刻度设置
      for (let item in this.styles.yAxis) {
        this.yAxisListDefaultMinMax[item] = this.styles.yAxis[item].defaultMinMax ? 1 : 0
      }
    },
    defaultMinMaxChange(type, value) {
      // 刻度设置变化
      if (value === 1) {
        this.styles.yAxis[type].defaultMinMax = true
      } else {
        this.styles.yAxis[type].defaultMinMax = false
      }
      this.emitStyleChange()
    },
    emitStyleChange() {
      this.$emit('styleChange', this.styles)
    },
    onRevertChange() {
      const { styles } = this
      styles.revert = !styles.revert
      this.emitStyleChange()
    },
    onThemeChange(themeIndex) {
      const { styles, themes } = this
      const theme = themes[themeIndex]
      Object.assign(styles, theme.data || {})
      this.$emit('themeChange', styles)
    },
    onYAxisLogClick(yAxis) {
      const { yAxisEditable, styles } = this
      if (yAxisEditable[yAxis.value]) {
        styles.yAxis[yAxis.value].log = !styles.yAxis[yAxis.value].log
        this.emitStyleChange()
      }
    },
    onYAxisStyleChange(yAxis, { value }) {
      this.$emit('yAxisStyleChange', value, yAxis, this.styles)
    },
    onYAxisPositionChange(val) {
      this.$emit('yAxisPositionChange', val, this.styles)
    },
  },
})
</script>

<style lang="less" scoped>
.editGlobalStyle {
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .margin-bottom-10 {
    margin-bottom: 10px;
  }
  .border-bottom {
    padding-bottom: 8px;
    border-bottom: 1px solid @border-color;
  }
  .a-input-number-modification {
    :deep(.ant-input-number-input) {
      padding: 0 8px;
    }
  }
}
</style>
