<template>
  <div class="editDataStyle">
    <a-collapse class="ant-collapse-modification-chart common-border-color">
      <template #expandIcon="{ isActive }">
        <div>
          <caret-right-outlined class="color-grey" :rotate="isActive ? 90 : 0" />
        </div>
      </template>
      <!-- 对比指标 -->
      <a-collapse-panel v-if="systemParameters.length" key="duibozhibiao" header="指标样式">
        <a-collapse class="ant-collapse-modification-chart common-border-color">
          <template #expandIcon="{ isActive }">
            <div>
              <caret-right-outlined class="color-grey" :rotate="isActive ? 90 : 0" />
            </div>
          </template>
          <ParameterStyle
            v-for="(p, i) in systemParameters"
            :key="p.param_id"
            :format="format"
            :globalStyles="globalStyles"
            :data="p.config"
            :parameter="p"
            :ref="`param_style_${p.param_id}`"
            :userParams="userParameters"
            :comparable="comparable"
            isSystem
            dblclickable
            @remove="onParameterRemove(p)"
            @styleChange="onParameterStyleChange($event, p)"
            @dblclick="onDblclick(p)"
            :class="{ 'no-border': i === systemParameters.length - 1 }"
          />
        </a-collapse>
      </a-collapse-panel>
      <!-- 自定义指标 -->
      <a-collapse-panel v-if="userParameters.length" key="zidingyizhibiao" header="自定义指标">
        <a-collapse class="ant-collapse-modification-chart common-border-color">
          <template #expandIcon="{ isActive }">
            <div>
              <caret-right-outlined class="color-grey" :rotate="isActive ? 90 : 0" />
            </div>
          </template>
          <ParameterStyle
            v-for="(p, i) in userParameters"
            :key="p.param_id"
            :format="format"
            :globalStyles="globalStyles"
            :data="p.config"
            :parameter="p"
            :ref="`param_style_${p.param_id}`"
            :comparable="comparable"
            :class="{ 'no-border': i === systemParameters.length - 1 }"
            :isSystem="false"
            @remove="onParameterRemove(p)"
            @styleChange="onParameterStyleChange($event, p)"
          />
        </a-collapse>
      </a-collapse-panel>
    </a-collapse>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { generatorSystemList } from '../../utils/index.js'
import ParameterStyle from './components/ParameterStyle.vue'
import { CaretRightOutlined } from '@ant-design/icons-vue'

export default defineComponent({
  name: 'EditDataStyle',
  components: {
    ParameterStyle,
    CaretRightOutlined,
  },
  emits: ['parameterColorChange', 'parameterStyleChange', 'parameterRemove', 'parameterDblclick'],
  props: {
    data: {
      type: Object,
      default: () => ({}),
    },
    globalStyles: {
      type: Object,
      default: () => ({}),
    },
    parameters: {
      type: Array,
      default: () => [],
    },
    format: {
      type: String,
      default: '',
    },
    // TODO 后续看是否去掉
    comparable: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    systemParameters() {
      const { parameters } = this
      return parameters.filter(({ generator }) => generatorSystemList.includes(generator))
    },
    userParameters() {
      const { parameters } = this
      return parameters.filter(({ generator }) => !generatorSystemList.includes(generator))
    },
  },
  methods: {
    onParameterRemove(p) {
      this.$emit('parameterRemove', p)
    },
    onParameterStyleChange(config, p) {
      this.$emit('parameterStyleChange', config, p)
    },
    onDblclick(p) {
      this.$emit('parameterDblclick', p)
    },
  },
})
</script>

<style lang="less" scoped>
.editDataStyle {
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .margin-bottom-10 {
    margin-bottom: 10px;
  }
}
</style>
