<template>
  <div
    class="editChartType"
    :style="{
      height: maxHeight ? `${maxHeight}px` : null,
    }"
  >
    <div class="editChartType_body">
      <div class="editChartType_group">
        <div
          class="editChartType_group_item"
          v-for="group in chartTypeGroupList"
          :key="group.value"
          :class="{
            'editChartType_group_item--selected': groupSelected === group.value,
          }"
        >
          <span class="editChartType_group_item_label" @click="onGroupClick(group)">{{ group.label }}</span>
        </div>
      </div>
      <div class="editChartType_list">
        <div style="margin: 5px">
          <a-input
            v-model:value="searchKey"
            placeholder="搜索"
            @pressEnter="onSearch"
            size="small"
            class="input-search-icon"
            style="padding: 1px 11px"
          >
            <template #suffix>
              <icon-font type="iconsearch" @click="onSearch"></icon-font>
            </template>
          </a-input>
        </div>
        <template v-if="currentChartTypeList.length">
          <div
            class="editChartType_list_item"
            v-for="type in currentChartTypeList"
            :key="type.value"
            :class="{
              'editChartType_list_item--selected': value.type === type.value,
              'editChartType_list_item--disabled': type.disabled,
            }"
            @click="onTypeClick(type)"
          >
            <div class="editChartType_list_item_imgBox">
              <img class="editChartType_list_item_img" :src="type.disabled ? type.iconDisabled : type.icon" />
            </div>
            <div class="editChartType_list_item_label" v-html="type.label"></div>
          </div>
        </template>
        <DataEmpty v-else></DataEmpty>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { defineComponent } from 'vue'
import DataEmpty from '@/components/DataEmpty.vue'

import { chartTypeGroupList, chartTypeList, getChartTypeDisabled, formatDefaultTypeMap } from '../../utils/index.js'

export default defineComponent({
  name: 'EditChartType',
  components: {
    DataEmpty,
  },
  props: {
    maxHeight: {
      type: Number,
      default: 0,
    },
    format: {
      type: String,
      default: '',
    },
    value: {
      type: Object,
      default: () => ({}),
    },
    chartTypeGroupList: {
      type: Array,
      default: () => [
        {
          label: '全部',
          value: 'all',
        },
        ...chartTypeGroupList,
      ],
    },
    chartTypeList: {
      type: Array,
      default: () => [...chartTypeList],
    },
    getChartTypeImg: {
      type: Function,
      default: (imgName, disabled) => {
        return require(`@/assets/images/chartType/${imgName}${disabled ? '_disabled' : ''}.png`)
      },
    },
    getChartTypeDisabled: {
      type: Function,
      default: getChartTypeDisabled,
    },
    extra: Object, // 额外信息，用于触发图形类型的可选判断
  },
  emits: ['typeChange', 'change'],
  data() {
    return {
      searchKey: '',
      searchedKey: '',
      groupSelected: 'all',
    }
  },
  computed: {
    chartTypeListFinal() {
      const { chartTypeList, getChartTypeImg, format, value, extra } = this
      return chartTypeList.map(v => {
        const typeItem = Object.assign({}, v, {
          icon: getChartTypeImg(v.value),
          iconDisabled: getChartTypeImg(v.value, true),
          disabled: this.getChartTypeDisabled(v.value, format, value, extra),
        })
        return typeItem
      })
    },
    currentChartTypeList() {
      const { groupSelected, chartTypeListFinal, searchedKey } = this
      let typelist = chartTypeListFinal
      if (groupSelected !== 'all') {
        typelist = chartTypeListFinal.filter(v => v.group === groupSelected)
      }
      const typelistFinal = []
      const reg = new RegExp(searchedKey, 'gi')
      typelist.forEach(v => {
        if (searchedKey) {
          if (reg.test(v.label)) {
            typelistFinal.push(
              Object.assign({}, v, {
                label: v.label.replace(reg, match => `<span class="highlight">${match}</span>`),
              })
            )
          }
        } else {
          typelistFinal.push(v)
        }
      })
      return typelistFinal
    },
    dataZoomShow() {
      const { format } = this
      return !['table', 'radar', 'map', 'scatter_sequence', 'timetable'].includes(format)
    },
    timelineShow() {
      const { format } = this
      // TODO 带时间蜡烛图也可以显示
      return ['timeline', 'panel', 'timecut'].includes(format)
    },
  },
  methods: {
    onSearch() {
      this.searchedKey = this.searchKey || ''
    },
    emitEvent(obj, event = 'change') {
      const { value } = this
      const newValue = Object.assign({}, value, obj)
      this.$emit(event, newValue)
    },
    // onShowDataZoomChange(val) {
    //   this.emitEvent({
    //     showDataZoom: val,
    //   })
    // },
    // onShowTimelineChange(val) {
    //   const { value, format } = this
    //   const data = {
    //     showTimeline: val,
    //   }
    //   // 处理切换时间轴选择type不适用问题
    //   const disabled = this.getChartTypeDisabled(value.type, format, Object.assign({}, value, data))
    //   if (disabled) {
    //     data.type = formatDefaultTypeMap[format]
    //   }

    //   this.emitEvent(data, disabled ? 'typeChange' : 'change')
    // },
    onGroupClick(group) {
      this.groupSelected = group.value
    },
    onTypeClick(type) {
      if (!type.disabled) {
        this.emitEvent(
          {
            type: type.value,
          },
          'typeChange'
        )
      }
    },
  },
})
</script>

<style lang="less" scoped>
.editChartType {
  height: 100%;
  display: flex;
  flex-direction: column;
  .editChartType_head {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0 10px;
    .editChartType_searchBox {
      margin-bottom: 6px;
      :deep(.lightborder) {
        border: 0;
        background-color: @grey-color;
        .sj-input {
          font-size: 14px;
        }
      }
    }
    .editChartType_otherBox {
      margin-bottom: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .editChartType_otherBox_item {
        display: flex;
        align-items: center;
        :deep(.lightborder) {
          border: 0;
          background-color: @grey-color;
          .sj-input {
            font-size: 14px;
          }
        }
      }
      .editChartType_checkboxWrapper {
        margin-right: 20px;
      }
    }
  }
  .editChartType_body {
    flex: 1;
    min-height: 0;
    display: flex;
    align-items: stretch;
    .editChartType_group {
      padding: 15px 0 0 0;
      width: 80px;
      flex-shrink: 0;
      overflow-x: hidden;
      overflow-y: auto;
      .editChartType_group_item {
        margin-bottom: 15px;
        padding: 0 10px;
        box-sizing: border-box;
        position: relative;
        text-align: left;
        // // .text('body', 'subinfo');
        &.editChartType_group_item--selected {
          color: @primary-color;
          &::before {
            content: '';
            position: absolute;
            height: 18px;
            width: 4px;
            left: 0;
            top: 50%;
            margin-top: -9px;
            background-color: @primary-color;
          }
        }
        .editChartType_group_item_label {
          cursor: pointer;
        }
      }
    }
    .editChartType_list {
      flex: 1;
      min-width: 0;
      text-align: left;
      overflow-x: hidden;
      overflow-y: auto;
      .editChartType_list_item {
        display: inline-block;
        width: 74px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        &:hover,
        &.editChartType_list_item--selected {
          .editChartType_list_item_imgBox {
            border: 2px solid @primary-color;
          }
        }
        &.editChartType_list_item--disabled {
          cursor: not-allowed;
          &:hover {
            .editChartType_list_item_imgBox {
              border: 1px solid @grey-color;
            }
          }
        }
        .editChartType_list_item_imgBox {
          height: 60px;
          box-sizing: border-box;
          border-radius: 2px;
          border: 1px solid @grey-color;
          margin-bottom: 3px;
          .editChartType_list_item_img {
            width: 100%;
            height: 100%;
          }
        }
        .editChartType_list_item_label {
          color: @grey-color;
          font-size: 12px;
          line-height: 22px;
          text-align: center;
          :deep(.highlight) {
            background-color: yellow;
          }
        }
      }
    }
  }
}
</style>
