<template>
  <div class="editStyle" v-if="data">
    <EditGlobalStyle
      :data="data"
      :globalStyles="globalStyles"
      :parameters="parameters"
      :format="format"
      :dataEditable="dataEditable"
      :themes="themes"
      @styleChange="onStyleChange"
      @themeChange="onThemeChange"
      @yAxisStyleChange="onYAxisStyleChange"
      @yAxisPositionChange="onYAxisPositionChange"
    ></EditGlobalStyle>
    <EditDataStyle
      v-if="dataEditable"
      :globalStyles="globalStyles"
      :data="data"
      :parameters="parameters"
      :format="format"
      :comparable="comparable"
      @parameterRemove="onParameterRemove"
      @parameterStyleChange="onParameterStyleChange"
      @parameterDblclick="onParameterDblclick"
    ></EditDataStyle>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import EditGlobalStyle from './EditGlobalStyle.vue'
import EditDataStyle from './EditDataStyle.vue'

export default defineComponent({
  name: 'EditStyle',
  components: {
    EditGlobalStyle,
    EditDataStyle,
  },
  emits: [
    'styleChange',
    'themeChange',
    'parameterRemove',
    'yAxisPositionChange',
    'yAxisStyleChange',
    'parameterColorChange',
    'parameterStyleChange',
    'parameterDblclick',
  ],
  props: {
    maxHeight: {
      type: Number,
      default: 0,
    },
    data: {
      type: Object,
      default: () => ({}),
    },
    globalStyles: {
      type: Object,
      default: () => ({}),
    },
    parameters: {
      type: Array,
      default: () => [],
    },
    format: {
      type: String,
      default: '',
    },
    dataEditable: {
      type: Boolean,
      default: false,
    },
    themes: {
      type: Array,
      default: () => [],
    },
    // TODO 后续看是否去掉
    comparable: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    onStyleChange(styles) {
      console.log('触发onStyleChange')
      this.$emit('styleChange', styles)
    },
    onThemeChange(styles) {
      console.log('触发onThemeChange')
      this.$emit('themeChange', styles)
    },
    onYAxisStyleChange(value, yAxis, styles) {
      console.log('触发onYAxisStyleChange')
      this.$emit('yAxisStyleChange', value, yAxis, styles)
    },
    onYAxisPositionChange(value, styles) {
      console.log('触发onYAxisPositionChange')
      this.$emit('yAxisPositionChange', value, styles)
    },
    onParameterRemove(p) {
      console.log('触发onParameterRemove')
      this.$emit('parameterRemove', p)
    },
    onParameterStyleChange(config, p) {
      console.log('触发onParameterStyleChange', config, p)
      this.$emit('parameterStyleChange', config, p)
    },
    onParameterDblclick(p) {
      console.log('触发onParameterDblclick')
      this.$emit('parameterDblclick', p)
    },
  },
})
</script>

<style lang="less" scoped>
.editStyle {
  overflow-x: hidden;
  overflow-y: auto;
}
</style>
