<template>
  <div
    :class="[
      'sj-base-table-with-fix',
      {
        'sj-base-table-with-fix-real': fixRows.length > 0,
      },
    ]"
  >
    <!-- header -->
    <div
      class="table-header"
      :class="headerClass"
      :style="{
        width: 'calc(100% - ' + scrollBarWidth + 'px)',
        'grid-template-columns': gridTemplateColumnsStyle,
        ...headerStyle,
      }"
    >
      <template v-for="col of columns">
        <sj-renderer
          v-if="col.renderHeader"
          :key="col.prop"
          class="table-cell table-header-cell"
          :render="col.renderHeader"
          :props="col.prop"
        ></sj-renderer>
        <span v-else :key="col.prop" class="table-cell table-header-cell" :title="col.label">{{
          getValue(col.label)
        }}</span>
      </template>
    </div>

    <!-- body -->
    <!-- fixed body -->
    <div
      v-if="fixRows.length"
      class="table-body table-body-fix"
      :class="fixedBodyClass"
      :style="{
        width: 'calc(100% - ' + scrollBarWidth + 'px)',
        'grid-template-columns': gridTemplateColumnsStyle,
        ...fixedBodyStyle,
      }"
    >
      <template v-for="(item, index) of fixRows">
        <template v-for="col of columns">
          <sj-renderer
            v-if="col.render"
            :key="index + col.prop"
            class="table-cell"
            :class="{
              'zebra-stripe': enableZebraStripe && index % 2 === 1,
              [col.class]: col.class,
            }"
            :render="col.render"
            :props="col.prop"
            :style="col.style"
          ></sj-renderer>
          <span
            v-else
            :key="index + col.prop"
            class="table-cell"
            :class="{
              'zebra-stripe': enableZebraStripe && index % 2 === 1,
              [col.class]: col.class,
            }"
            :style="col.style"
            :title="item[col.prop]"
            >{{ getValue(item[col.prop]) }}</span
          >
        </template>
      </template>
    </div>

    <!-- normal body -->
    <div
      ref="tableBodyNormal"
      class="table-body-normal"
      :class="normalBodyClass"
      :style="{
        ...normalBodyStyle,
      }"
      v-infinite-scroll="handleInfiniteScroll"
      infinite-scroll-immediate-check="scrollImmediateCheck"
      infinite-scroll-disabled="scrollDisabled"
      infinite-scroll-distance="scrollDistance"
    >
      <span
        v-for="(item, index) of visibleNormalRows"
        :key="index"
        class="table-body-item"
        :style="{
          'grid-template-columns': gridTemplateColumnsStyle,
        }"
      >
        <template v-for="col of columns">
          <sj-renderer
            v-if="col.render"
            :key="index + col.prop"
            class="table-cell"
            :class="{
              'zebra-stripe': enableZebraStripe && index % 2 === (isFixDataLengthOdd ? 0 : 1),
              [col.class]: col.class,
            }"
            :render="col.render"
            :props="col.prop"
            :style="col.style"
          ></sj-renderer>
          <span
            v-else
            :key="index + col.prop"
            class="table-cell"
            :class="{
              'zebra-stripe': enableZebraStripe && index % 2 === (isFixDataLengthOdd ? 0 : 1),
              [col.class]: col.class,
            }"
            :style="col.style"
            >{{ getValue(item[col.prop]) }}</span
          >
        </template>
      </span>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import SjRenderer from '../renderer/index.vue'
import infiniteScroll from 'vue-infinite-scroll'

export default defineComponent({
  name: 'SjBaseTableWithFix',
  directives: { infiniteScroll },
  components: {
    SjRenderer,
  },
  props: {
    columns: {
      type: Array,
      default: () => [],
    },
    data: {
      type: Array,
      default: () => [],
    },

    // 自定义 style
    headerStyle: {
      type: Object,
      default: () => ({}),
    },
    fixedBodyStyle: {
      type: Object,
      default: () => ({}),
    },
    normalBodyStyle: {
      type: Object,
      default: () => ({}),
    },

    // 自定义 class
    headerClass: {
      type: String,
      default: '',
    },
    fixedBodyClass: {
      type: String,
      default: '',
    },
    normalBodyClass: {
      type: String,
      default: '',
    },

    enableZebraStripe: {
      type: Boolean,
      default: true,
    }, // 是否启用斑马线

    // 无限滚动相关
    scrollImmediateCheck: {
      type: Boolean,
      default: false,
    }, // 是否立即执行加载方法
    scrollDistance: {
      type: Number,
      default: 0,
    }, // 触发加载的距离阈值，单位为px
    pageSize: {
      type: Number,
      default: 50,
    }, // 分页大小
    fillValue: {
      type: String,
      default: '-',
    },
  },

  data() {
    return {
      fixRows: [],
      normalRows: [],
      gridTemplateColumnsStyle: '',
      isFixDataLengthOdd: false, // fixRows 列表的长度是否是奇数
      scrollDisabled: false, // 是否停止触发滚动事件
      scrollBarWidth: 0, // 滚动条宽度
      curPage: 1, // 分页，当前所在的页数
      totalPage: 1, // 所有的页数
    }
  },

  watch: {
    columns: {
      immediate: true,
      handler(list) {
        this.gridTemplateColumnsStyle = ''
        list.forEach(col => {
          this.gridTemplateColumnsStyle += col.minWidth ? 'minmax(' + col.minWidth + 'px, 1fr) ' : '1fr '
        })
      },
    },
    data: {
      immediate: true,
      handler(list) {
        this.fixRows = []
        this.normalRows = []
        this.isFixDataLengthOdd = false
        this.scrollDisabled = false
        this.curPage = 1
        this.totalPage = 1

        list.forEach(item => {
          if (item.isFixed) this.fixRows.push({ ...item })
          else this.normalRows.push({ ...item })
        })

        this.isFixDataLengthOdd = this.fixRows.length % 2 === 1
        this.totalPage = Math.ceil(this.normalRows.length / this.pageSize)

        this.$nextTick(() => {
          // 计算滚动条的宽度
          this.scrollBarWidth = this.getScrollBarWidth()
        })
      },
    },
  },

  computed: {
    // 配合分页，用来在页面上展示的 normalRows
    visibleNormalRows() {
      return this.normalRows.slice(0, this.curPage * this.pageSize)
    },
  },

  methods: {
    getScrollBarWidth() {
      return this.$refs.tableBodyNormal.offsetWidth - this.$refs.tableBodyNormal.clientWidth
    },
    handleInfiniteScroll() {
      if (this.curPage < this.totalPage) this.curPage++
      else this.scrollDisabled = true // 到底了，停止继续触发滚动到底事件
    },
    getValue(val) {
      if (!val && val !== 0) {
        return this.fillValue
      }
      return val
    },
  },
})
</script>

<style lang="less" scoped>
.sj-base-table-with-fix {
  overflow-x: auto;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100%;
  &.sj-base-table-with-fix-real {
    grid-template-rows: auto auto 1fr;
  }
}
.table-header,
.table-body {
  display: grid;

  .table-cell {
    padding: 10px;
  }
}
.table-header {
  font-size: 14px;
  color: #ffffff;
  background-color: @grey-color;
}
.table-body-item,
.table-body {
  font-size: 12px;
  color: #3e3e3e;
}
.table-body-item {
  display: grid;
  .table-cell {
    padding: 10px;
  }
}
.table-body-normal {
  overflow-x: hidden;
  overflow-y: auto;
}
.table-body-fix {
  overflow: hidden;
}
.zebra-stripe {
  background-color: #f7f8f9;
}
</style>
