<template>
  <div class="colorSelect_wrapper">
    <ColorPicker
      ref="colorPicker"
      :value="value"
      :borderRadius="borderRadius"
      @input="onColorChange"
      @visible-change="dropdownShow = $event"
    >
      <div
        :class="[
          'colorSelect',
          {
            colorSelect_dropdownShow: dropdownShow,
          },
        ]"
      >
        <div class="colorSelect_colorWrapper">
          <div
            class="colorSelect_colorBox"
            :style="{
              background: value,
            }"
          ></div>
        </div>
      </div>
    </ColorPicker>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import ColorPicker from './color-picker/index.vue'

export default defineComponent({
  name: 'ColorSelect',
  components: {
    ColorPicker,
  },
  emits: ['update:value', 'change'],
  props: {
    value: String,
    borderRadius: {
      type: Boolean,
      default: false,
    },
  },
  setup() {
    const dropdownShow = ref(false)
    return {
      dropdownShow,
    }
  },
  methods: {
    onColorChange(val: string) {
      this.$emit('update:value', val)
      this.$emit('change', val)
    },
  },
})
</script>

<style lang="less" scoped>
.colorSelect_wrapper {
  display: inline-block;
  width: 24px;
  height: 24px;
  .colorSelect {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid @border-color;
    cursor: pointer;
    &.colorSelect_dropdownShow {
      border-color: @primary-color;
    }
    .colorSelect_colorWrapper {
      font-size: 14px;
      line-height: 14px;
      .colorSelect_colorBox {
        width: 14px;
        height: 14px;
        border-radius: 2px;
      }
    }
  }
}
</style>
