<template>
  <a-modal
    class="approval-modal ant-modal--modification"
    :bodyStyle="modalBodyStyle"
    :width="800"
    v-model:visible="modalVisible"
    title="智能写作审批"
    :footer="null"
    @cancel="handleCancel"
  >
    <a-row>
      <a-col :span="12" class="preview-col">
        <div class="preview-text">预览</div>
        <div class="preview-show">
          <preview-article :article="article"></preview-article>
        </div>
      </a-col>
      <a-col :span="12" class="infos-col">
        <div class="article-infos">
          <div class="info-item">
            <span class="info-item-title">标题报告</span>
            <span class="info-item-value">关于股票的研究报告</span>
          </div>
          <div class="info-item">
            <span class="info-item-title">发布位置</span>
            <span class="info-item-value">沪深每日快讯</span>
          </div>
          <div class="info-item">
            <span class="info-item-title">创建时间</span>
            <span class="info-item-value">2020-09-12 12:00:00</span>
          </div>
        </div>
        <div class="footer-btns">
          <a-button class="grey-btn" @click="handleConfirm(APPROVAL_RESULT.FALSE)">不通过</a-button>
          <a-button type="primary" @click="handleConfirm(APPROVAL_RESULT.TRUE)">通过</a-button>
        </div>
      </a-col>
    </a-row>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, ref, toRefs, watch } from 'vue'
import PreviewArticle from './PreviewArticle.vue'
export default defineComponent({
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    articleData: {
      type: Object,
      default: () => {
        return {}
      },
    },
  },
  components: {
    PreviewArticle,
  },
  setup(props, context) {
    // 审核结果
    const APPROVAL_RESULT = ref({
      TRUE: true,
      FALSE: false,
    })
    let { articleData, visible } = toRefs(props)
    let article = ref(articleData.value)
    let modalVisible = ref(visible.value)
    const handleConfirm = (val: boolean) => {
      context.emit('confirm', val)
    }
    const handleCancel = () => {
      context.emit('cancel')
    }
    const modalBodyStyle = {
      padding: '0px',
    }

    watch(visible, newVal => {
      modalVisible.value = newVal
    })
    watch(articleData, newVal => {
      article.value = newVal
    })

    return {
      APPROVAL_RESULT,
      article,
      modalVisible,
      handleConfirm,
      handleCancel,
      modalBodyStyle,
    }
  },
})
</script>

<style lang="less" scoped>
.approval-modal {
  .ant-row,
  .ant-col {
    height: 50vh;
  }
  .preview-col {
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-right: 1px solid @border-color;
    .preview-text {
      height: 18px;
    }
    .preview-show {
      height: calc(100% - 18px);
    }
  }
  .preview-text,
  .article-infos .info-item .info-item-title {
    font-size: 12px;
    color: @grey-color;
  }
  .infos-col {
    position: relative;
    .footer-btns {
      position: absolute;
      bottom: 10px;
      right: 10px;
      .ant-btn {
        height: 30px;
        border-radius: 4px;
        border: 0 none;
        &.grey-btn {
          background: @border-color;
          margin-right: 10px;
        }
      }
    }
    .article-infos {
      padding: 10px;
      font-size: 12px;
      .info-item {
        padding-left: 14px;
        margin-bottom: 10px;
        .info-item-title {
          margin-right: 25px;
        }
      }
    }
  }
}
</style>
