<template>
  <a-modal
    class="edit-project-modal ant-modal--modification"
    :width="660"
    v-model:visible="modalVisible"
    title="项目设置"
    @cancel="handleCancel"
    @ok="handleConfirm"
  >
    <div class="project-settings">
      <a-form ref="formRef" :model="formState" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
        <a-form-item ref="projectName" required name="projectName" label="项目名称">
          <a-input v-model:value="formState.projectName" placeholder="请输入项目名称" />
        </a-form-item>

        <a-form-item ref="publishPlaceId" name="publishPlaceId" label="发布位置">
          <a-select v-model:value="formState.publishPlaceId" placeholder="请选择">
            <a-select-option v-for="item in publishPlaceDics" :key="item.value">{{ item.name }}</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item ref="publishTime" name="publishTime" label="发布时间">
          <a-time-picker
            v-model:value="formState.publishTime"
            show-time
            type="time"
            placeholder="请选择"
            style="width: 100%"
          />
        </a-form-item>

        <a-form-item ref="publishRate" name="publishRateId" label="发布频率">
          <a-select v-model:value="formState.publishRateId" placeholder="请选择">
            <a-select-option v-for="item in publishRateDics" :key="item.value">{{ item.name }}</a-select-option>
          </a-select>
          <a-select
            v-show="formState.publishRateId == 'week'"
            v-model:value="formState.publishDay"
            placeholder="请选择"
          >
            <a-select-option v-for="item in publishDayDics" :key="item.value">{{ item.name }}</a-select-option>
          </a-select>
          <a-select
            v-show="formState.publishRateId == 'mounth'"
            v-model:value="formState.publishDate"
            placeholder="请选择"
          >
            <a-select-option v-for="item in 31" :key="item">{{ item }}</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item ref="dataObjectId" name="dataObjectId" label="数据对象">
          <a-select v-model:value="formState.dataObjectId" placeholder="请选择">
            <a-select-option v-for="item in dataObjectDics" :key="item.value">{{ item.name }}</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item ref="approverId" name="approverId" label="审批人">
          <a-select v-model:value="formState.approverId" placeholder="请选择">
            <a-select-option v-for="item in approverDics" :key="item.value">{{ item.name }}</a-select-option>
          </a-select>
        </a-form-item>
      </a-form>
    </div>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, toRefs, watch } from 'vue'
import { ProjectInfo } from '@/models/smartWriting'
import dics from './useDics'
const initFormState: Partial<ProjectInfo> = {
  projectId: '',
  projectName: '',
  publishPlaceId: '',
  publishPlace: '',
  publishTime: '',
  publishRateId: '',
  publishRate: '',
  publishDay: '',
  publishDate: '',
  dataObjectId: '',
  dataObject: '',
  approverId: '',
  approverName: '',
}
export default defineComponent({
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    projectData: {
      type: Object,
      default: () => {
        return {
          projectName: '',
        } as ProjectInfo
      },
    },
  },
  setup(props, context) {
    let { projectData, visible } = toRefs(props)
    let modalVisible = ref(visible.value)
    const formRef = ref()

    let formState = reactive(initFormState)
    const rules = {
      projectName: [
        { required: true, message: '请输入项目名称', trigger: 'blur' },
        { min: 3, max: 8, message: '长度为3-8', trigger: 'blur' },
      ],
    }

    // 字典项
    const { publishPlaceDics, publishRateDics, publishDayDics, dataObjectDics, approverDics } = dics

    watch(visible, newVal => {
      modalVisible.value = newVal
      if (!newVal) {
        initData()
      }
    })
    watch(projectData, newVal => {
      // formState = newVal
      // 赋值
      if (newVal.projectName != '') {
        formState.projectName = newVal.projectName
      }
    })

    const initData = () => {
      formRef.value.resetFields()
    }
    const handleChangeRate = () => {
      formState.publishDay = ''
      formState.publishDate = ''
    }
    const handleConfirm = () => {
      formRef.value
        .validate()
        .then(() => {
          handleChange()
          context.emit('confirm', formState)
        })
        .catch(() => {
          console.log('error', ...arguments)
        })
    }
    const handleCancel = () => {
      context.emit('cancel')
    }
    const handleChange = () => {
      if (formState.publishPlaceId) {
        formState.publishPlace = publishPlaceDics.filter(ele => ele.value == formState.publishPlaceId)[0].name
      }
      if (formState.publishRateId) {
        formState.publishRate = publishRateDics.filter(ele => ele.value == formState.publishRateId)[0].name
      }
      if (formState.dataObjectId) {
        formState.dataObject = dataObjectDics.filter(ele => ele.value == formState.dataObjectId)[0].name
      }
      if (formState.approverId) {
        formState.approverName = approverDics.filter(ele => ele.value == formState.approverId)[0].name
      }
    }
    return {
      modalVisible,
      handleConfirm,
      handleCancel,
      formState,
      formRef,
      rules,
      initData,
      handleChangeRate,
      labelCol: {
        span: 4,
      },
      wrapperCol: {
        span: 16,
        offset: 1,
      },
      // 发布位置字典项
      publishPlaceDics,
      // 发布频率字典项
      publishRateDics,
      // 发布频率周字典项
      publishDayDics,
      // 数据对象
      dataObjectDics,
      // 审批人列表
      approverDics,
    }
  },
})
</script>

<style lang="less" scoped>
.project-settings {
  padding-top: 15px;
  height: 420px;
  :deep(.ant-form) {
    .ant-form-item {
      margin-bottom: 4px;
    }
    .ant-form-item-label > label::after {
      display: none;
    }
  }
}
</style>
