<template>
  <div class="operation" v-if="item.hasBtn">
    <a-switch :default-checked="item.status" @change="onChange(item.key, $event)" />
    <template v-if="item.key === subKey">
      <a-dropdown placement="bottomRight" overlayClassName="menu-drop">
        <icon-font type="iconmore2" />
        <template #overlay>
          <a-menu>
            <a-menu-item @click="handleOperate('edit', item)">查看/编辑模板</a-menu-item>
            <a-menu-item @click="handleOperate('setup', item)">项目设置</a-menu-item>
            <a-menu-item @click="handleOperate('delete', item)">删除项目</a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
    </template>
  </div>
</template>

<script lang="ts">
import { Menu } from '@/models/menu'
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'MenuOperation',
  props: {
    item: {
      type: Object,
      default: () => {
        return {}
      },
    },
    subKey: {
      type: String,
      default: '',
    },
  },
  setup(props, context) {
    const onChange = (key: string, checked: boolean) => {
      context.emit('change', key, checked)
    }
    const handleOperate = (eventName: string, item: Menu) => {
      context.emit('operate', eventName, item)
    }
    return {
      onChange,
      handleOperate,
    }
  },
})
</script>

<style lang="less">
.menu-drop {
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    font-size: 12px;
    line-height: 16px;
  }
}
</style>
