<template>
  <div class="article-container">
    <div class="title">{{ article.title }}</div>
    <div class="content" v-html="article.content"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PreviewArticle',
  props: {
    article: {
      type: Object,
      default: () => {
        return {}
      },
    },
  },
})
</script>

<style lang="less" scoped>
@import url('~@/styles/mixins.less');
.article-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  background: @card-bgcolor;
  .title {
    min-height: 28px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .content {
    p {
      text-indent: 2em;
      font-size: 12px;
    }
  }
}
</style>
