<template>
  <div class="editable-text">
    <span :title="value" v-if="!isediting" class="name" @dblclick="dblclick" :class="{ ellipsis: !textArea }">
      {{ editable ? value || placeholder : value }}
    </span>
    <a-input
      v-else
      @click.stop
      v-model:value="text"
      class="input"
      size="small"
      @pressEnter="
        () => {
          !textArea && finishEditing()
        }
      "
      @blur="finishEditing"
      ref="input"
      style="padding: 2px 11px"
    ></a-input>
  </div>
</template>

<script>
/* eslint-disable */
import { defineComponent, watch, nextTick, ref, toRefs } from 'vue'

export default defineComponent({
  name: 'editableText',
  emits: ['dblclick', 'change', 'update:isediting'],
  props: {
    isediting: {
      type: Boolean,
      default: false,
    },
    value: String,
    editable: {
      default: true,
      type: Boolean,
    },
    dblclickable: {
      default: false,
      type: Boolean,
    },
    textArea: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      text: '',
    }
  },
  setup(props) {
    const { isediting } = toRefs(props)
    const input = ref(null)
    watch(isediting, newVal => {
      if (!props.editable) return
      nextTick(() => {
        if (newVal) input.value.focus()
      })
    })
    return {
      input,
    }
  },
  methods: {
    dblclick() {
      const { dblclickable } = this
      if (!dblclickable) return
      this.$emit('dblclick')
    },
    finishEditing() {
      this.$emit('change', this.text)
      this.$emit('update:isediting', false)
    },
  },
  watch: {
    value: {
      immediate: true,
      handler(value) {
        this.text = value
      },
    },
    editable(editable) {
      if (!editable) {
        this.$emit('update:isediting', false)
      }
    },
  },
})
</script>

<style scoped lang="less">
.editable-text {
  display: flex;
  align-items: center;
  overflow: hidden;
  .edit_icon {
    cursor: pointer;
    flex-shrink: 0;
    font-weight: normal;
    font-size: 18px;
    margin-right: 4px;
    color: @grey-color;
    &.showEdit {
      visibility: visible;
    }
    visibility: hidden;
  }
  .name {
    cursor: pointer;
    font-weight: 400;
  }
  .name,
  .input {
    flex-grow: 1;
  }
  .ellipsis {
    .text-ellipsis();
  }
}
</style>