<template>
  <a-drawer
    :width="391"
    :visible="visible"
    :mask="false"
    :maskClosable="false"
    :closable="false"
    @close="closeDrawer"
    :getContainer="'.personal-main'"
    :wrapStyle="wrapStyle"
    :bodyStyle="bodyStyle"
    :destroyOnClose="true"
  >
    <component :is="noteType" :data="showData" scene="personal" @cancel="closeDrawer" @commit="commitNotes"></component>
  </a-drawer>
</template>
<script lang="ts">
import { defineComponent, onMounted, toRefs, watch, reactive } from 'vue'
import EditComments from '@/views/components/EditComments.vue'
import EditNotes from './EditNotes.vue'
class ShowData {
  public id: string
  public value: string
  public originalText: string
  public author: string
  public title: string
}
export default defineComponent({
  props: {
    drawerVisible: {
      type: Boolean,
      default: false,
    },
    noteType: {
      type: String,
      required: true,
      default: '',
    },
    data: {
      type: Object,
      default: () => {
        return {}
      },
    },
  },
  components: {
    EditComments,
    EditNotes,
  },
  setup(props, context) {
    const state = reactive({
      visible: false,
      compName: '',
      showData: {},
      // 抽屉内层样式
      bodyStyle: {
        padding: '10px',
        fontSize: '12px',
      },
      // 抽屉外层wrapper样式
      wrapStyle: {
        position: 'absolute',
        top: '0',
        right: '0',
        borderTop: '1px solid #ebebec',
        boxSizing: 'border-box',
      },
    })
    let { drawerVisible, noteType, data } = toRefs(props)
    // 获取visible显示
    const getDrawerInfo = () => {
      state.visible = drawerVisible.value
      state.compName = noteType.value
      state.showData = data.value
    }
    // 关闭抽屉
    const closeDrawer = () => {
      context.emit('closed')
    }
    // 提交信息
    const commitNotes = async (value: ShowData) => {
      console.log('提交', value)
      closeDrawer()
    }
    onMounted(getDrawerInfo)
    watch(drawerVisible, getDrawerInfo)
    return {
      ...toRefs(state),
      getDrawerInfo,
      closeDrawer,
      commitNotes,
    }
  },
})
</script>

<style lang="less" scoped></style>
