<template>
  <div class="notes-edit">
    <div class="drawer-title">
      <span>我的笔记</span>
      <icon-font type="iconclose" @click="onClose" />
    </div>
    <div class="label-name">随笔内容</div>
    <!-- 随笔内容 -->
    <a-textarea
      v-model:value="showData.value"
      :rows="8"
      placeholder="请输入随笔内容"
      :auto-size="{ minRows: 8, maxRows: 14 }"
    />
    <div class="drawer-btns-wrapper">
      <a-button class="drawer-btns cancel" @click="onClose">取消</a-button>
      <a-button class="drawer-btns" type="primary" @click="onSave">保存</a-button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, toRefs, watch } from 'vue'
export default defineComponent({
  name: 'EditNotes',
  props: {
    data: {
      type: Object,
      default: () => {
        return {}
      },
    },
  },
  setup(props, context) {
    const { data } = toRefs(props)
    const showData = ref(data)
    watch(data, newVal => {
      showData.value = newVal
    })
    const onClose = () => {
      context.emit('cancel')
      showData.value = {}
    }
    const onSave = () => {
      context.emit('commit', showData.value)
    }
    return {
      showData,
      onClose,
      onSave,
    }
  },
  data() {
    return {}
  },
})
</script>

<style lang="less" scoped>
.drawer-title {
  height: 26px;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .anticon {
    color: @grey-color;
  }
}
.label-name {
  margin: 5px 0;
}
.drawer-btns-wrapper {
  background: @card-bgcolor;
  position: 'absolute';
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 16px;
  text-align: right;
  z-index: 1;
}
.drawer-btns {
  border: 0 none;
  border-radius: 4px;
  width: 60px;
  height: 30px;
  &.cancel {
    margin-right: 10px;
    background: @border-color;
  }
}
</style>
