<template>
  <div class="menu-area">
    <div
      v-for="item in menuList"
      class="menu-item"
      :class="{ active: currentMenu === item.key }"
      :key="item.key"
      @click="onMenuChange(item)"
    >
      <div class="icon-wrapper" :style="{ backgroundColor: item.color }">
        <icon-font :type="item.icon" />
      </div>
      <div class="text">{{ item.title }}</div>
    </div>
  </div>
</template>
<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'CreationCompon',
  emits: ['change'],
  props: {
    current: {
      type: String,
      default: 'material',
    },
  },
  data() {
    return {
      currentMenu: this.current,
      menuList: [
        {
          key: 'material',
          title: '素材库',
          color: '#ffb228',
          icon: 'iconreport',
        },
        {
          key: 'data',
          title: '新华财经经济数据库',
          color: '#fe9244',
          icon: 'iconreport',
        },
        {
          key: 'tool',
          title: '工具栏',
          color: '#2ea6ff',
          icon: 'iconreport',
        },
      ],
    }
  },
  methods: {
    onMenuChange(menu) {
      this.currentMenu = menu.key
      this.$emit('change', menu)
    },
  },
})
</script>

<style lang="less" scoped>
.flex {
  display: flex;
  align-items: center;
}
.menu-area {
  height: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding-bottom: 10px;
  box-shadow: 0 4px 6px 0 rgba(144, 164, 183, 0.22);
  background-color: #ffffff;
  height: 100%;
  .menu-item {
    padding: 0 12px;
    .flex();
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100%;
    cursor: pointer;
    .icon-wrapper {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 4px;
      background-color: #ffb228;
      margin-bottom: 5px;
      color: #ffffff;
    }
    .text {
      font-family: PingFangSC;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: center;
      color: #354052;
    }
    &.active {
      background-color: #e5efff;
      .text {
        font-weight: 500;
        color: #007ae4;
      }
    }
  }
}
</style>
