<template>
  <div class="indicator-container">
    <a-button type="primary" @click="showModal">编辑后引用</a-button>
    <a-modal
      v-model:visible="modalVisible"
      v-if="modalVisibleDelay"
      :closable="false"
      :footer="null"
      width="100%"
      wrapClassName="full-modal"
    >
      <indicator-editor
        ref="indicatorEditor"
        :user-name="userName"
        :data="indicator"
        :config="chartConfig"
        :chart-colors="defaultChartColors"
        :themes="defaultThemes"
        :is-merge="isMerge"
        :comparable="comparable"
        :bottom-button-show="comparable"
        :formula-change-formatter="formulaChangeFormatter"
        :aggregation-change-formatter="aggregationChangeFormatter"
        :extra-tab-data="extraTabData"
        @change="finalIndicator = $event"
        @replaceCustomIndicator="replaceSystemIndicator"
        @addCompareIndicator="addSystemParameter"
        @exit="modalVisible = false"
      ></indicator-editor>
    </a-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from 'vue'
import IndicatorEditor from '@/views/components/IndicatorEditor/index.vue'
import { indicatorDetail } from './data'
import { getDefaultChartColors, indicatorTheme } from '@/views/components/IndicatorEditor/utils/default'
import useModalControl from './useModalControl'

export default defineComponent({
  emits: ['done-config'],
  components: {
    IndicatorEditor,
  },
  data() {
    return {
      finalIndicator: null,
    }
  },
  setup(props, ctx) {
    const confirmLoading = ref(false)
    const allData = reactive({
      userName: '车心伟',
      indicator: indicatorDetail,
      chartConfig: {
        areaStyle: {
          opacity: 0.6,
        },
        range: {
          filterColor: 'rgba(167,183,204,0.4)',
        },
      },
      defaultChartColors: getDefaultChartColors(),
      defaultThemes: indicatorTheme,
      isMerge: false,
      comparable: true,
      formulaChangeFormatter: () => {
        console.log('11')
      },
      aggregationChangeFormatter: () => {
        console.log('22')
      },
      extraTabData: [], // 下载
    })
    const handleOk = () => {
      confirmLoading.value = true
      setTimeout(() => {
        confirmLoading.value = false
        ctx.emit('done-config')
      }, 1000)
    }

    const { modalVisible, modalVisibleDelay } = useModalControl()
    const showModal = () => {
      modalVisible.value = true
    }

    return {
      handleOk,
      ...allData,
      confirmLoading,
      modalVisible,
      modalVisibleDelay,
      showModal,
    }
  },
  methods: {
    replaceSystemIndicator() {
      console.log('33')
    },
    addSystemParameter() {
      console.log('44')
    },
  },
})
</script>

<style lang="less" scoped></style>
