<template>
  <div class="indicator_editor">
    <div class="indicator_editor_header">
      <div style="display: flex; align-items: center">
        <icon-font type="iconcharts" class="color-grey" style="margin: 0 10px; font-size: 20px"></icon-font>
        <span>{{ data?.show_name }}</span>
      </div>
      <div class="flex-between options-box">
        <chart-type-select
          :format="indicatorData.indicator_format"
          :value="globalStyles"
          :extra="extra"
          @change="onStyleChange"
          @typeChange="onChartTypeChange"
        >
          <div class="option-item">
            <icon-font type="iconbar-s"></icon-font>
            <div class="flex-between" style="justify-content: center">
              <span>图表</span>
              <CaretDownOutlined :rotate="0" />
            </div>
          </div>
        </chart-type-select>
        <!-- <div class="option-item">
          <icon-font type="iconcomparison"></icon-font>
          <span>对比指标</span>
        </div>
        <div class="option-item" @click="addCompareIndicator">
          <icon-font type="iconcustom"></icon-font>
          <span>自定义指标</span>
        </div>
        <div class="option-item">
          <icon-font type="icondownload-s"></icon-font>
          <div class="flex-between" style="justify-content: center">
            <span>导出</span>
            <CaretDownOutlined :rotate="0" />
          </div>
        </div> -->
      </div>
      <div class="flex-between options-box">
        <div class="option-item">
          <icon-font type="iconquote"></icon-font>
          <span>引用</span>
        </div>
        <div class="option-item" @click="$emit('exit')">
          <icon-font type="iconlogout-s"></icon-font>
          <span>退出</span>
        </div>
      </div>
    </div>
    <div class="indicator_editor_content">
      <div class="indicator_editor_edit">
        <EditArea
          ref="editor"
          :userName="userName"
          :data="baseData"
          :defaultChartColors="chartColors"
          :themes="themes"
          :isMerge="isMerge"
          :bottomButtonShow="bottomButtonShow"
          :comparable="comparable"
          :formulaChangeFormatter="formulaChangeFormatter"
          :aggregationChangeFormatter="aggregationChangeFormatter"
          v-bind="$attrs"
          @indicatorChange="onEditChange"
          @descriptionChange="onDescriptionChange"
        ></EditArea>
      </div>
      <div class="indicator_editor_display">
        <DisplayArea
          ref="display"
          :editable="true"
          :data="indicatorData"
          :config="finalConfig"
          :chartColors="chartColors"
          :extraTabData="extraTabData"
          @titleChange="onTitleChange"
          @colorChange="onColorChange"
          @layerLevelChanged="onLayerLevelChanged"
          @rangeChange="onRangeChange"
          @sliderChange="onSliderChange"
        ></DisplayArea>
      </div>
    </div>
    <!-- <AddCustomIndicatorModal
      v-model:visible="customIndicatorModalVisible"
      v-if="customIndicatorModalDelay"
      :parameters="parameters"
      @submitIndicator="onSubmitIndicator"
    ></AddCustomIndicatorModal> -->
  </div>
</template>

<script>
import DisplayArea from './components/DisplayArea.vue'
import EditArea from './components/EditArea.vue'
import ChartTypeSelect from './custom-components/chart-type-select/index.vue'
import { merge, cloneDeep as clone } from 'lodash-es'
import { computed, defineComponent, ref } from 'vue'
import { CaretDownOutlined } from '@ant-design/icons-vue'
import { getDefaultIndicatorStyles, getIsScatterMap } from './utils/index.js'
// import AddCustomIndicatorModal from './components/panels/AddCustomIndicatorModal.vue'
// import useModalControl from './useModalControl'

export default defineComponent({
  name: 'IndicatorEditor',
  components: {
    DisplayArea,
    EditArea,
    CaretDownOutlined,
    ChartTypeSelect,
    // AddCustomIndicatorModal,
  },
  emits: ['change', 'exit'],
  props: {
    userName: {
      // 用于给自定义指标的来源赋值
      type: String,
      default: '',
    },
    data: {
      type: Object,
      default: () => ({}),
    },
    config: {
      type: Object,
      default: () => ({}),
    },
    chartColors: {
      type: Array,
      default: () => [
        '#34457A',
        '#D46F7F',
        '#B4CD83',
        '#A08AB9',
        '#A6D5E3',
        '#F9B175',
        '#67749B',
        '#A7A7A7',
        '#DDDDDD',
        '#C6A893',
      ],
    },
    themes: {
      type: Array,
      default: () => [],
    },
    extraTabData: {
      type: Array,
      default: () => [],
    },
    isMerge: {
      default: false,
      type: Boolean,
    },
    bottomButtonShow: {
      type: Boolean,
      default: true,
    },
    // TODO 后续看是否去掉
    comparable: {
      type: Boolean,
      default: true,
    },
    formulaChangeFormatter: Function,
    aggregationChangeFormatter: Function,
  },
  provide() {
    return {
      poc: this.poc,
    }
  },
  data() {
    return {
      baseData: {},
      indicatorData: {},
      timeRangeTimer: null,
    }
  },
  computed: {
    finalConfig() {
      const { indicatorData, config } = this
      return merge(
        {
          legend: {
            allowLevelSelector: indicatorData?.indicator_format === 'timeline',
          },
        },
        config
      )
    },
    extra() {
      return {
        isScatterMap: getIsScatterMap(this.indicatorData),
      }
    },
    globalStyles() {
      const editData = clone(this.indicatorData)
      const defaultStyles = getDefaultIndicatorStyles(editData.indicator_format, editData.default_style, this.extra)
      return merge(defaultStyles, editData.styles)
    },
  },
  watch: {
    data: {
      immediate: true,
      handler(val) {
        this.baseData = clone(val)
        this.indicatorData = clone(val)
        console.log('IndicatorEditor拿到的数据', this.indicatorData)
      },
    },
  },
  setup() {
    const editor = ref(null)
    const parameters = computed(() => {
      return editor.value?.parameters || []
    })
    // const {
    //   modalVisible: customIndicatorModalVisible,
    //   modalVisibleDelay: customIndicatorModalDelay,
    // } = useModalControl()

    // const addCompareIndicator = () => {
    //   customIndicatorModalVisible.value = true
    // }
    // const onSubmitIndicator = parameter => {
    //   customIndicatorModalVisible.value = false
    //   editor.value?.onAddCustomIndicator(parameter)
    // }
    return {
      editor,
      // customIndicatorModalVisible,
      // customIndicatorModalDelay,
      // addCompareIndicator,
      // onSubmitIndicator,
      parameters,
    }
  },
  methods: {
    onStyleChange(styles, editData) {
      editData.styles = styles
      this.onEditChange(editData)
    },
    onChartTypeChange(styles) {
      // 同步所有parameter图表类型
      const editData = clone(this.indicatorData)
      editData.indicator_values.forEach(pItem => {
        pItem.config.style = styles.type
      })
      this.onStyleChange(styles, editData)
    },
    emitChange() {
      this.$emit('change', this.indicatorData)
    },
    onTitleChange(title) {
      this.indicatorData.show_name = title
      this.emitChange()
    },
    onDescriptionChange(description) {
      this.indicatorData.description = description
      this.emitChange()
    },
    onEditChange(indicator) {
      const { indicatorData } = this
      console.log('顶层数据', indicatorData)
      this.indicatorData =
        indicator &&
        Object.assign(clone(indicator), {
          show_name: indicatorData.show_name,
          description: indicatorData.description,
        })
      // console.log('this.indicatorData-----', this.indicatorData)
      this.emitChange()
    },
    resetBaseData() {
      this.baseData = Object.assign({}, this.indicatorData)
    },
    onColorChange(index, color) {
      const { indicatorData } = this
      if (indicatorData.indicator_format === 'timeline') {
        let visibleIndex = -1
        if (Array.isArray(indicatorData.indicator_values)) {
          indicatorData.indicator_values.forEach(valItem => {
            if (valItem.config.visible !== false) {
              visibleIndex += 1
            }
            if (visibleIndex === index) {
              valItem.config.color = color
            }
          })
        }
      } else {
        const { user_config } = indicatorData
        const newSeries = []
        const maxIndex =
          user_config && Array.isArray(user_config.series) && user_config.series.length - 1 > index
            ? user_config.series.length - 1
            : index
        for (let i = 0; i <= maxIndex; i += 1) {
          if (index === i) {
            newSeries.push({
              itemStyle: {
                color,
              },
            })
          } else {
            newSeries.push({})
          }
        }
        indicatorData.user_config = merge({}, user_config, {
          series: newSeries,
        })
      }
      this.resetBaseData()
      this.emitChange()
    },
    onLayerLevelChanged(list) {
      const { indicatorData } = this
      if (Array.isArray(indicatorData.indicator_values)) {
        indicatorData.indicator_values.forEach((v, index) => {
          v.config.z = list[index]
        })
        this.resetBaseData()
        this.emitChange()
      }
    },
    // TODO 添加timecut时间事件
    onRangeChange(timeRange) {
      if (this.timeRangeTimer) {
        clearTimeout(this.timeRangeTimer)
      }
      this.timeRangeTimer = setTimeout(() => {
        this.indicatorData.timeRange = timeRange
        this.resetBaseData()
        this.emitChange()
      }, 300)
    },
    onSliderChange(val) {
      this.indicatorData.selectedTimeIndex = val
      this.resetBaseData()
      this.emitChange()
    },
  },
})
</script>

<style lang="less" scoped>
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.indicator_editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .indicator_editor_header {
    width: 100%;
    height: 56px;
    background: #f5f7fa;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .options-box {
      .option-item {
        width: 74px;
        height: 46px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #7f8fa4;
        cursor: pointer;
        border-radius: 2px;
        .flex-between {
          margin-top: 1px;
        }
        &:hover {
          background: @hover-color;
        }
      }
    }
  }
  .indicator_editor_content {
    max-height: calc(100% - 56px);
    flex: 1;
    display: flex;
    .indicator_editor_display {
      flex: 1;
      min-width: 0;
    }
    .indicator_editor_edit {
      flex-shrink: 0;
    }
  }
}
</style>
