<template>
  <div :class="['simpleRadio', disabled ? 'simpleRadio_disabled' : '']">
    <div
      class="simpleRadio_item"
      v-for="item in data"
      :key="item.value"
      :class="{
        simpleRadio_item_iconWrapper: type === 'icon',
        'simpleRadio_item--selected': value === item.value,
      }"
      @click="disabled ? '' : onClick(item)"
    >
      <icon-font v-if="type === 'icon'" class="simpleRadio_item_icon" :type="item.icon" :style="item.style"></icon-font>
      <span class="simpleRadio_item_label" v-else>{{ item.label }}</span>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'SimpleRadio',
  emits: ['update:value', 'change'],
  props: {
    value: {},
    disabled: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'text',
      validator(v) {
        return ['text', 'icon'].includes(v)
      },
    },
    data: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    onClick(item) {
      this.$emit('update:value', item.value)
      this.$emit('change', item.value)
    },
  },
})
</script>

<style lang="less" scoped>
.simpleRadio {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  .simpleRadio_item {
    margin-right: 8px;
    flex-shrink: 0;
    color: @grey-color;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &.simpleRadio_item_iconWrapper {
      width: 24px;
      height: 24px;
      padding: 2px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      background: @hover-color;
    }
    &.simpleRadio_item--selected {
      color: @primary-color;
      background: @hover-color;
    }
    .simpleRadio_item_label {
      font-size: 12px;
      line-height: 22px;
    }
  }
  &.simpleRadio_disabled {
    .simpleRadio_item {
      cursor: not-allowed;
      &.simpleRadio_item--selected {
        color: @grey-color;
      }
    }
  }
}
</style>
