<template>
  <div @click="deriveword">已发布</div>
</template>

<script lang="ts">
/* eslint-disable */
import { defineComponent } from 'vue'
// import docxtemplater from 'docxtemplater'
// import DocxtemplaterHtmlModule from 'docxtemplater-html-module';
// import PizZip from 'pizzip'
// import JSZipUtils from 'jszip-utils'
import { saveAs } from 'file-saver'

export default defineComponent({
  methods: {
    //点击导出
    deriveword(e: any) {
      console.log(e)
      // let docxsrc = './html-block-example.docx' //模板文件的位置
      // let docxname = '工作日志.docx' //导出文件的名字
      // // 读取并获得模板文件的二进制内容
      // JSZipUtils.getBinaryContent(docxsrc, function (error: any, content: any) {
      //   var htmlModule = new DocxtemplaterHtmlModule({})
      //   var zip = new PizZip(content)
      //   var doc = new docxtemplater(zip, {
      //     modules: [htmlModule],
      //   })

      //   doc.setData({
      //     html: '<p>Hello <b>John</b></p>',
      //   })
      //   doc.render()
      //   var out = doc.getZip().generate({
      //     type: 'blob',
      //     mimeType: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
      //   })
      //   saveAs(out, 'generated.docx')
      // })
    },
  },
})
</script>
