<template>
  <a-layout class="writing-layout">
    <left-menu :width="240" :menuData="menuList"></left-menu>
    <a-layout class="padding10">
      <a-layout-content class="shadow">
        <router-view></router-view>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import LeftMenu from '@/views/components/left-menu/index.vue'
export default defineComponent({
  components: {
    LeftMenu,
  },
  data() {
    return {
      menuList: [
        {
          key: '1',
          title: '我的创作',
          icon: 'iconmyproject',
          children: [
            {
              key: '11',
              title: '正在创作',
              path: {
                name: 'my-writing',
              },
            },
            {
              key: '12',
              title: '审批中',
              path: {
                name: 'approval-ing',
              },
            },
            {
              key: '13',
              title: '已发布',
              path: {
                name: 'the-published',
              },
            },
          ],
        },
        {
          key: '2',
          title: '我的审批',
          icon: 'iconrecord',
          path: {
            name: 'my-approval',
          },
        },
      ],
    }
  },
})
</script>

<style lang="less" scoped>
.writing-layout {
  height: 100%;
}
</style>
