<template>
  <a-card :bordered="false" class="themed-border" :bodyStyle="{ padding: '10px' }">
    <a-table
      class="ant-table-modification"
      :columns="columns"
      :data-source="dataList"
      size="small"
      rowKey="id"
      :loading="tableLoading"
      :pagination="paginationOption"
      :scroll="{ y: 'calc(100vh - 232px)' }"
      @change="pageChange"
      bordered
    >
      <template #title>
        <table-header title="我的审批"></table-header>
      </template>
      <template #status="{ text }">
        <span :style="text === 0 ? 'color: #c80000' : ''">{{ status[text] }}</span>
      </template>
      <template #action="{ record }">
        <a-dropdown>
          <icon-font type="iconmore2"></icon-font>
          <template #overlay>
            <a-menu>
              <a-menu-item :disabled="record.status !== 1" @click="approvalReport = true">审批</a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </template>
    </a-table>
    <approval-modal v-model:visible="approvalReport" title="研报审批"></approval-modal>
  </a-card>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue'
import { WritingWorkbench as writingWorkbenchType } from '@/models/writingWorkbench'
import { TableState } from 'ant-design-vue/lib/table/interface'
import approveListApi from '@/api/approveList'
import { TableHeader, ApprovalModal } from './components'
import useTable from './useTable'

export default defineComponent({
  components: { TableHeader, ApprovalModal },
  setup() {
    const columns = [
      { title: '标题', width: '40%', dataIndex: 'title', ellipsis: true },
      { title: '作者', dataIndex: 'author', ellipsis: true },
      { title: '提交时间', width: 200, dataIndex: 'submitTime' },
      { title: '类型', width: 100, dataIndex: 'type' },
      { title: '审批状态', width: 100, dataIndex: 'status', slots: { customRender: 'status' } },
      { title: '操作', width: 100, slots: { customRender: 'action' } },
    ]
    enum status {
      '未通过',
      '待审批',
      '修改中',
    }
    const { tableLoading, paginationOption, dataList } = useTable<writingWorkbenchType>()
    async function pageChange(pagination: TableState['pagination'] = { current: 1, pageSize: 10 }) {
      const res = await approveListApi.getApproveList({ pageNum: pagination?.current, pageSize: pagination?.pageSize })
      tableLoading.value = false
      dataList.value = res.data.list
      paginationOption.total = res.data.total
    }

    const approvalReport = ref(false)

    onMounted(() => {
      pageChange()
    })
    return {
      columns,
      dataList,
      paginationOption,
      pageChange,
      tableLoading,
      status,
      approvalReport,
    }
  },
})
</script>
