<template>
  <a-card :bordered="false" class="themed-border" :bodyStyle="{ padding: '10px' }">
    <a-table
      class="ant-table-modification"
      :columns="columns"
      :data-source="dataList"
      size="small"
      rowKey="id"
      :loading="tableLoading"
      :pagination="paginationOption"
      :scroll="{ y: 'calc(100vh - 232px)' }"
      @change="pageChange"
    >
      <template #title>
        <table-header title="已发布"></table-header>
      </template>
      <template #status="{ text }">
        {{ status[text] }}
      </template>
      <template #action="{ text }">
        <a-dropdown>
          <icon-font type="iconmore2"></icon-font>
          <template #overlay>
            <a-menu>
              <a-menu-item>查看</a-menu-item>
              <a-menu-item @click="createDocx(text.context, text.title)">导出Word</a-menu-item>
              <a-menu-item @click="createPDF(text.context, text.title)">导出PDF</a-menu-item>
              <a-menu-item>{{ text.status === 0 ? '上线' : '下线' }}</a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </template>
    </a-table>
    <div :style="domContainerStyle">
      <div ref="pdfDomContainer" v-html="htmlString" :style="domStyle"></div>
    </div>
  </a-card>
</template>

<script lang="ts">
import { defineComponent, onMounted } from 'vue'
import { WritingWorkbench as writingWorkbenchType } from '@/models/writingWorkbench'
import { TableState } from 'ant-design-vue/lib/table/interface'
import publishedListApi from '@/api/publishedList'
import { TableHeader } from './components'
import useTable from './useTable'
import useExportReport from './useExportReport'

export default defineComponent({
  components: { TableHeader },
  setup() {
    const columns = [
      { title: '标题', width: '40%', dataIndex: 'title', ellipsis: true },
      { title: '作者', dataIndex: 'author', ellipsis: true },
      { title: '发布时间', width: 200, dataIndex: 'publishedTime' },
      { title: '类型', width: 100, dataIndex: 'type' },
      { title: '阅读量', width: 100, dataIndex: 'read', ellipsis: true },
      { title: '发布状态', width: 100, dataIndex: 'status', slots: { customRender: 'status' } },
      { title: '操作', width: 100, slots: { customRender: 'action' } },
    ]
    enum status {
      '下线',
      '上线',
    }
    const { tableLoading, paginationOption, dataList } = useTable<writingWorkbenchType>()
    async function pageChange(pagination: TableState['pagination'] = { current: 1, pageSize: 10 }) {
      const res = await publishedListApi.getPublishedList({
        pageNum: pagination?.current,
        pageSize: pagination?.pageSize,
      })
      tableLoading.value = false
      dataList.value = res.data.list
      paginationOption.total = res.data.total
    }

    const { domContainerStyle, domStyle, htmlString, pdfDomContainer, createPDF, createDocx } = useExportReport()

    onMounted(() => {
      pageChange()
    })
    return {
      columns,
      dataList,
      paginationOption,
      pageChange,
      tableLoading,
      domContainerStyle,
      domStyle,
      htmlString,
      pdfDomContainer,
      createPDF,
      createDocx,
      status,
    }
  },
})
</script>
