<template>
  <div class="formula-editor" :class="{ focus }">
    <div
      contenteditable="true"
      @focus="focus = true"
      @blur="onBlur"
      @keydown.enter.prevent="apply"
      ref="textarea"
      class="textarea"
    ></div>
    <div class="btn-box clearFix" :class="{ 'btn-box-mini': size === 'mini' }">
      <!-- 插入函数 -->
      <a-dropdown :trigger="['click']" placement="bottomCenter">
        <a-button class="add-btn" type="link" size="small" style="border: 0">
          <div class="flex-between">
            <icon-font v-if="size === 'default'" type="iconadd" style="font-size: 16px; margin-right: 2px"></icon-font
            ><span>插入函数</span>
          </div>
        </a-button>
        <template #overlay>
          <a-menu @click="insertFunction">
            <a-menu-item v-for="item in functionOptions" :key="item.value">
              <span>{{ item.label }}</span>
            </a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
      <!-- 插入参数 -->
      <a-dropdown :trigger="['click']" placement="bottomCenter" :disabled="systemParamsOptions.length === 0">
        <a-button class="add-btn" type="link" size="small" style="border: 0">
          <div class="flex-between">
            <icon-font v-if="size === 'default'" type="iconadd" style="font-size: 16px; margin-right: 2px"></icon-font
            ><span>插入参数</span>
          </div>
        </a-button>
        <template #overlay>
          <a-menu @click="insertParam">
            <a-menu-item v-if="systemParamsOptions.lenght > 1" key="all">
              <div class="flex-between">
                <span>全部参数</span>
                <a-tooltip>
                  <template #title>
                    <span style="font-size: 12px">一键添加所有的对比参数，便于求和/均值等计算</span>
                  </template>
                  <QuestionOutlined />
                </a-tooltip>
              </div>
            </a-menu-item>
            <a-menu-item v-for="item in systemParamsOptions" :key="item.value">
              <span>{{ item.label }}</span>
            </a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
      <a-button class="apply-btn" type="link" size="small" style="border: 0" @click="apply">应用</a-button>
    </div>
  </div>
</template>

<script>
import { isEqual } from 'lodash-es'
import { defineComponent } from 'vue'
import { QuestionOutlined } from '@ant-design/icons-vue'
import { message } from 'ant-design-vue'

export default defineComponent({
  name: 'formula-editor',
  components: {
    QuestionOutlined,
  },
  emits: ['execute', 'update:value'],
  props: {
    value: Array,
    formulaParams: Array,
    systemParamsOptions: Array,
    size: {
      type: String,
      default: 'default',
    },
  },
  data() {
    return {
      formula: [],
      focus: false,
      text: '',
      caretPosition: null,
    }
  },
  setup() {
    const functionOptions = [
      { value: 'e()', label: '自然常数', hint: 'e()' },
      { value: 'pi()', label: 'π圆周率', hint: 'pi()' },
      { value: 'abs()', label: '绝对值', hint: 'abs(x:Number)' },
      { value: 'inverse()', label: '取反数', hint: 'inverse(x:Number)' },
      { value: 'sqrt()', label: '平方根', hint: 'sqrt(x:Number)' },
      { value: 'sin()', label: '正弦', hint: 'sin(x:Number)' },
      { value: 'cos()', label: '余弦', hint: 'cos(x:Number)' },
      { value: 'tan()', label: '正切', hint: 'tan(x:Number)' },
      { value: 'max()', label: '最大值', hint: 'max(x:Number,y:Number)' },
      { value: 'min()', label: '最小值', hint: 'min(x:Number,y:Number)' },
      { value: 'sum()', label: '和值', hint: 'sum(x:Number,y:Number,...)' },
      { value: 'avg()', label: '平均值', hint: 'avg(x:Number,y:Number,...)' },
      { value: 'var()', label: '方差', hint: 'var(x:Number,y:Number,...)' },
      {
        value: 'stdev()',
        label: '标准差',
        hint: 'stdev(x:Number,y:Number,...)',
      },
      { value: 'log(,)', label: '对数', hint: 'log(real:Number,base:Number)' },
    ]

    return {
      functionOptions,
    }
  },
  methods: {
    insertFunction({ key }) {
      this.addFunction(key)
    },
    insertParam({ key }) {
      if (key === 'all') {
        this.systemParamsOptions.forEach((v, i) => {
          if (i !== 0) {
            this.addFunction(', ')
          }
          this.addParam(v.value)
        })
        return
      }
      this.addParam(key)
    },
    createTextNode(s) {
      if (!s) return null
      return document.createTextNode(s)
    },

    createParamElement({ id }) {
      const node = document.createElement('SPAN')
      node.setAttribute('contenteditable', 'false')
      node.setAttribute('class', 'param')
      node.setAttribute('data-paramId', id)

      const param = this.formulaParams.find(param => param.id == id)
      if (!param) return null
      const { name, color } = param
      const marker = document.createElement('SPAN')
      marker.setAttribute('class', 'marker')
      marker.style.backgroundColor = color
      node.appendChild(marker)

      const text = document.createElement('SPAN')
      text.textContent = name
      text.setAttribute('class', 'text')
      node.appendChild(text)
      return node
    },

    getCaretPosition() {
      if (window.getSelection && window.getSelection().getRangeAt) {
        const range = window.getSelection().getRangeAt(0)
        const selectedObj = window.getSelection()
        // let rangeCount = 0;
        if (this.$refs.textarea !== selectedObj.anchorNode.parentNode) {
          return {
            node: range.endOffset,
            pos: 0,
          }
        }
        const childNodes = selectedObj.anchorNode.parentNode.childNodes
        let i = 0
        for (i; i < childNodes.length; i++) {
          if (childNodes[i] === selectedObj.anchorNode) {
            break
          }
          // if (childNodes[i].outerHTML) {
          //   rangeCount += 1;
          // } else if (childNodes[i].nodeType === 3) {
          //   //text_node
          //   rangeCount += childNodes[i].textContent.length;
          // }
        }
        return {
          node: i,
          pos: range.startOffset,
        }
      }
      return null
    },

    onBlur() {
      this.caretPosition = this.getCaretPosition()
      this.focus = false
    },

    addParam(paramId) {
      const param = {
        id: paramId,
      }
      const childNodes = Array.from(this.$refs.textarea.childNodes).filter(({ nodeName }) => nodeName !== 'BR')

      const { caretPosition } = this
      if (caretPosition && caretPosition.node < childNodes.length) {
        const { node, pos } = caretPosition
        if (childNodes[node].nodeType === 3) {
          const text = childNodes[node].textContent
          childNodes.splice(
            node,
            1,
            this.createTextNode(text.slice(0, pos)),
            this.createParamElement(param),
            this.createTextNode(text.slice(pos))
          )
        } else {
          childNodes.splice(node, 0, this.createParamElement(param))
        }
      } else {
        childNodes.push(this.createParamElement(param))
      }

      this.replaceNodes(childNodes)
    },

    addFunction(func) {
      const childNodes = Array.from(this.$refs.textarea.childNodes).filter(({ nodeName }) => nodeName !== 'BR')

      const { caretPosition } = this
      if (caretPosition && caretPosition.node < childNodes.length) {
        const { node, pos } = caretPosition
        if (childNodes[node].nodeType === 3) {
          const text = childNodes[node].textContent
          childNodes.splice(node, 1, this.createTextNode(text.slice(0, pos) + func + text.slice(pos)))
        } else {
          childNodes.splice(node, 0, this.createTextNode(func))
        }
      } else {
        childNodes.push(this.createTextNode(func))
      }

      this.replaceNodes(childNodes)
    },

    replaceNodes(nodes) {
      this.$refs.textarea.innerHTML = ''
      nodes
        .filter(node => !!node)
        .forEach(node => {
          this.$refs.textarea.appendChild(node)
        })
      this.$refs.textarea.appendChild(document.createElement('BR'))
    },

    apply() {
      const formula = this.getFormulaData()
      if (!formula.length) {
        message.warning('应用公式不能为空')
      } else {
        this.$emit('update:value', formula)
        this.$emit('execute', formula)
      }
    },
    // 获取公式数据
    getFormulaData() {
      let formula = []
      this.$refs.textarea.childNodes.forEach(node => {
        if (node.className === 'param') {
          formula.push(
            this.formulaParams.find(fp => fp.id == node.dataset.paramid) // 使用 == 是因为有的 id 是数字类型
          )
        } else if (node.nodeName === '#text') {
          formula.push(node.data)
        } else if (node.nodeName === 'SPAN') {
          formula.push(node.innerText)
        }
      })
      return formula
    },
  },
  watch: {
    value: {
      immediate: true,
      handler(value, oldValue) {
        if (isEqual(value, oldValue)) return
        const nodes = (this.value || []).map(item => {
          return item.id ? this.createParamElement(item) : this.createTextNode(item)
        })
        this.$nextTick(() => {
          this.replaceNodes(nodes)
        })
      },
    },

    formulaParams() {
      const nodes = Array.from(this.$refs.textarea.childNodes)
        .filter(({ nodeName }) => nodeName !== 'BR')
        .map(node => (node.nodeType === 3 ? node : this.createParamElement({ id: node.getAttribute('data-paramId') })))
      this.replaceNodes(nodes)
    },
  },
})
</script>

<style scoped lang="less">
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formula-editor {
  position: relative;
  height: 128px;
  border-radius: 4px;
  border: 1px solid rgba(237, 242, 248, 1);
  padding: 10px 10px 30px;
  transition: all 0.3s;
  &.focus {
    border-color: @focus-border-color;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: @focus-box-shadow-color;
  }
  .textarea {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    color: rgba(114, 128, 150, 1);
    line-height: 18px;
    vertical-align: bottom;
    box-sizing: border-box;
    overflow-y: auto;
    ime-mode: disabled;
    &:focus {
      outline: 0 solid transparent;
    }
    :deep(.param) {
      background-color: @grey-color;
      border-radius: 3px;
      font-size: 12px;
      display: inline-flex;
      align-items: center;
      line-height: 18px;
      margin: 0 3px;
      .marker {
        flex-shrink: 0;
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 2px;
      }
      .text {
        margin-right: 5px;
      }
    }
  }
  .btn-box {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid @border-color;
    .add-btn {
      float: left;
    }
    .apply-btn {
      float: right;
    }
  }
  .btn-box-mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .add-btn {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 7px;
        height: 16px;
        width: 1px;
        background: @border-color;
      }
    }
  }
}
</style>
