<template>
  <a-collapse-panel v-if="config" class="content-no-padding">
    <template #header>
      <parameter-name
        v-model:name="config.name"
        v-model:color="config.color"
        v-model:isediting="isEditing"
        :visible="config.visible"
        :deleted="parameter.deleted"
        :removable="removable"
        :comparable="comparable"
        :dblclickable="dblclickable"
        @nameChange="emitStyleChange"
        @colorChange="emitStyleChange"
        @dblclick="onDblclick"
      />
    </template>
    <div class="flex-between margin-bottom-10" style="justify-content: flex-end">
      <icon-font class="pointer color-grey" type="iconedit" title="编辑标题" @click="editTitle"></icon-font>
      <!-- <icon-font class="pointer color-grey" type="iconadd" title="快捷新增"></icon-font> -->
      <!-- <icon-font class="pointer color-grey" type="icondelete" title="删除" @click="onRemove"></icon-font>
      <a-switch v-model:checked="config.visible" @change="emitStyleChange" size="small"></a-switch> -->
    </div>
    <div class="flex-between margin-bottom-10">
      <span>样式</span>
      <chart-type-select
        :format="format"
        placement="right"
        :extra="chartTypeExtra"
        :getChartTypeDisabled="getChartTypeDisabled"
        :value="chartTypeValue"
        @change="onChartTypeChange"
        @typeChange="onChartTypeChange"
      >
      </chart-type-select>
      <a-select
        v-model:value="config.lineType"
        placeholder="线型"
        @change="emitStyleChange"
        :disabled="lineDisabled"
        size="small"
        style="width: 70px"
        :options="lineTypeOptions"
      >
      </a-select>
    </div>
    <div class="flex-between margin-bottom-10">
      <span style="width: 24px; height: 1px"></span>
      <a-input-number
        size="small"
        style="width: 70px"
        class="ant-input-number-24px"
        v-model:value="config.lineWidth"
        :min="1"
        placeholder="宽度"
        :disabled="lineDisabled"
        @pressEnter="onStyleChanged"
        @change="onStyleChanged"
        @blur="onStyleChanged"
      />
      <span style="width: 70px; height: 1px"></span>
    </div>
    <div class="flex-between margin-bottom-10">
      <span>标记</span>
      <a-select
        v-model:value="config.markerType"
        placeholder="标记"
        size="small"
        style="width: 70px"
        :disabled="markerDisabled"
        @change="emitStyleChange"
        :options="markerTypeOptions"
      >
      </a-select>
      <a-input-number
        size="small"
        style="width: 70px"
        class="ant-input-number-24px"
        v-model:value="config.markerWidth"
        :min="1"
        placeholder="标记宽度"
        :disabled="markerDisabled"
        @pressEnter="onStyleChanged"
        @change="onStyleChanged"
        @blur="onStyleChanged"
      />
    </div>
    <div class="flex-between margin-bottom-10">
      <span>数值</span>
      <a-switch v-model:checked="config.showLabel" size="small" @change="onStyleChanged"></a-switch>
    </div>
    <div class="flex-between margin-bottom-10">
      <span>显示小数位数</span>
      <a-input-number
        size="small"
        style="width: 90px"
        class="ant-input-number-24px"
        v-model:value="config.labelFractionDigit"
        :min="1"
        :max="100"
        placeholder="小数位数"
        :disabled="!config.showLabel"
        @pressEnter="onStyleChanged"
        @change="onStyleChanged"
        @blur="onStyleChanged"
      />
    </div>
    <div class="flex-between margin-bottom-10">
      <span>Y轴位置</span>
      <a-radio-group
        v-model:value="config.yAxisPosition"
        :options="yAxisOptions"
        @change="onStyleChanged"
        size="small"
        class="ant-radio-group-modification no-border"
      >
      </a-radio-group>
    </div>
  </a-collapse-panel>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { Modal } from 'ant-design-vue'
import { styleList } from '../../../utils/index.js'
import parameterMixin from './parameterMixin'
import ChartTypeSelect from '../../../custom-components/chart-type-select/index.vue'

export default defineComponent({
  components: {
    ChartTypeSelect,
  },
  emits: ['dblclick', 'colorChange', 'styleChange', 'remove'],
  name: 'ParameterStyle',
  mixins: [parameterMixin],
  data() {
    return {
      // 线形可选值
      lineTypeOptions: [
        {
          label: '实线',
          value: 'solid',
        },
        {
          label: '虚线',
          value: 'dashed',
        },
        {
          label: '点线',
          value: 'dotted',
        },
      ],
      // 标记可选值
      markerTypeOptions: [
        {
          label: '圆点',
          value: 'circle',
        },
        {
          label: '方形',
          value: 'rect',
        },
        {
          label: '三角',
          value: 'triangle',
        },
        {
          label: '菱形',
          value: 'diamond',
        },
        {
          label: '水滴',
          value: 'pin',
        },
        {
          label: '箭头',
          value: 'arrow',
        },
        {
          label: '无',
          value: 'none',
        },
      ],
      yAxisOptions: [
        {
          label: '左侧',
          value: 'left',
        },
        {
          label: '右侧',
          value: 'right',
        },
      ],
    }
  },
  computed: {
    lineDisabled() {
      const { config } = this
      return ['bar', 'stack_bar', 'scatter'].includes(config.style)
    },
    markerDisabled() {
      const { config } = this
      return ['bar', 'stack_bar', 'area', 'stack_area'].includes(config.style)
    },
    chartTypeValue() {
      const { config } = this
      return {
        type: config.style,
      }
    },
    chartTypeExtra() {
      const { globalStyles } = this
      const extra = Object.assign(
        {
          globalType: globalStyles && globalStyles.type,
        },
        globalStyles
      )
      delete extra.type
      return extra
    },
  },
  setup(props, { emit }) {
    const isEditing = ref(false)
    const config = ref(null)

    const editTitle = () => {
      isEditing.value = true
    }
    const onRemove = () => {
      Modal.confirm({
        title: '是否删除参数' + config.value?.name,
        onOk() {
          emit('remove')
        },
        onCancel() {
          console.log('Cancel')
        },
        class: 'test',
      })
    }
    return {
      isEditing,
      editTitle,
      onRemove,
      config,
    }
  },
  methods: {
    getChartTypeDisabled(chartType, format, config) {
      if (config.showTimeline) return true // 有时间轴
      const styleValues = styleList.map(v => v.value)
      if (config.globalType && !styleValues.includes(config.globalType)) return true // 全局设置了非grid可选项
      if (styleValues.includes(chartType)) {
        let disabled = ['horizontal_bar', 'stack_horizontal_bar'].includes(chartType)
        if (config.globalType && ['horizontal_bar', 'stack_horizontal_bar'].includes(config.globalType)) {
          disabled = ['bar', 'stack_bar'].includes(chartType)
        }
        return disabled
      } else {
        return true
      }
    },
    emitStyleChange() {
      this.$emit('styleChange', this.config)
    },
    onDblclick() {
      this.$emit('dblclick')
    },
    onVisibleChange() {
      const { config } = this
      config.visible = !config.visible
      this.emitStyleChange()
    },
    onStyleChanged() {
      // 将config.z置为undefined触发重新计算
      this.emitStyleChange()
    },
    onChartTypeChange(style) {
      this.config.style = style.type
      this.onStyleChanged()
    },
  },
})
</script>

<style scoped lang="less">
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
</style>
