<template>
  <a-collapse-panel v-if="config">
    <template #header>
      <parameter-name
        v-model:name="config.name"
        v-model:color="config.color"
        v-model:isediting="isEditing"
        :visible="config.visible"
        :deleted="parameter.deleted"
        :removable="removable"
        :comparable="comparable"
        :dblclickable="dblclickable"
        @nameChange="emitStyleChange"
        @colorChange="emitStyleChange"
        @dblclick="onDblclick"
        @remove="onRemove"
      />
    </template>
    <div class="flex-between margin-bottom-10" style="justify-content: flex-end">
      <icon-font class="pointer color-grey" type="iconedit" title="编辑标题" @click="editTitle"></icon-font>
      <!-- <icon-font
        v-if="isSystem && comparable"
        class="pointer color-grey"
        type="iconadd"
        title="快捷新增"
        :options="customCalculateTypeOptions"
        @click="addCustomParameter"
      ></icon-font>
      <icon-font class="pointer color-grey" type="icondelete" title="删除" @click="onRemove"></icon-font>
      <a-switch v-model:checked="config.visible" @change="emitStyleChange" size="small"></a-switch> -->
    </div>
    <div class="flex-between margin-bottom-10">
      <span>单位</span>
      <a-input
        size="small"
        class="input-24"
        style="width: 120px"
        v-model:value="config.unit"
        placeholder="单位"
        :disabled="isSystem"
        @pressEnter="emitStyleChange"
        @change="emitStyleChange"
        @blur="emitStyleChange"
      />
    </div>
    <div v-if="!isSystem" class="margin-bottom-10">
      <div style="margin-bottom: 6px">生成公式</div>
      <formula-editor
        size="mini"
        v-model:value="config.formula"
        :formulaParams="formulaParams"
        :systemParamsOptions="systemParamsOptions"
      />
    </div>
    <div class="flex-between margin-bottom-10">
      <span>参数平移</span>
      <div class="flex-between" style="width: 120px">
        <a-input-number
          size="small"
          style="width: 100px"
          class="ant-input-number-24px"
          :max="1000"
          v-model:value="config.translation"
          :disabled="!parameter.originFrequency"
        />
        <span>{{ frequencyUnit }}</span>
      </div>
    </div>
    <div class="flex-between margin-bottom-10">
      <span>聚合周期</span>
      <a-select
        v-model:value="config.aggregation_period"
        :options="aggregationPeriodOptions"
        placeholder="聚合周期"
        size="small"
        style="width: 120px"
      >
      </a-select>
    </div>
    <div class="flex-between margin-bottom-10">
      <span>聚合方式</span>
      <a-select
        :disabled="!config.aggregation_period"
        v-model:value="config.aggregation_type"
        :options="aggregationTypeOptions"
        placeholder="聚合方式"
        size="small"
        style="width: 120px"
      >
      </a-select>
    </div>
    <div class="flex-between margin-bottom-10">
      <span>计算方式</span>
      <a-select
        v-model:value="config.calculator_type"
        :options="calculateTypeOptions"
        placeholder="计算方式"
        size="small"
        style="width: 120px"
      >
      </a-select>
    </div>
  </a-collapse-panel>
</template>

<script>
/* eslint-disable */
import { defineComponent, ref } from 'vue'
import { frequencyMap } from '../../../utils/index.js'
import parameterMixin from './parameterMixin'
import FormulaEditor from './FormulaEditor.vue'
import { isEqual } from 'lodash-es'
import { Modal } from 'ant-design-vue'
import EventBus from '@/core/plugins/eventBus'

export default defineComponent({
  components: {
    FormulaEditor,
  },
  name: 'ParameterConfig',
  mixins: [parameterMixin],
  inject: {
    isYinhua: { default: false },
  },
  data() {
    return {
      frequencyMap,
      aggregationPeriodOptions: [],
    }
  },
  setup() {
    const config = ref(null)
    const isEditing = ref(false)
    const editTitle = () => {
      isEditing.value = true
    }
    const onRemove = () => {
      Modal.confirm({
        title: '是否删除参数' + config.value?.name,
        onOk() {
          emit('remove')
        },
        onCancel() {
          console.log('Cancel')
        },
        class: 'test',
      })
    }
    return {
      onRemove,
      isEditing,
      editTitle,
    }
  },
  computed: {
    frequencyUnit() {
      const { frequencyMap, parameter } = this
      if (!parameter.originFrequency) return null
      return frequencyMap[parameter.originFrequency].replace(/(度|ly)/, '')
    },
    functionOptions() {
      return [
        { value: 'e()', label: '自然常数', hint: 'e()' },
        { value: 'pi()', label: 'π圆周率', hint: 'pi()' },
        { value: 'abs()', label: '绝对值', hint: 'abs(x:Number)' },
        { value: 'inverse()', label: '取反数', hint: 'inverse(x:Number)' },
        { value: 'sqrt()', label: '平方根', hint: 'sqrt(x:Number)' },
        { value: 'sin()', label: '正弦', hint: 'sin(x:Number)' },
        { value: 'cos()', label: '余弦', hint: 'cos(x:Number)' },
        { value: 'tan()', label: '正切', hint: 'tan(x:Number)' },
        { value: 'max()', label: '最大值', hint: 'max(x:Number,y:Number)' },
        { value: 'min()', label: '最小值', hint: 'min(x:Number,y:Number)' },
        { value: 'sum()', label: '和值', hint: 'sum(x:Number,y:Number,...)' },
        { value: 'avg()', label: '平均值', hint: 'avg(x:Number,y:Number,...)' },
        { value: 'var()', label: '方差', hint: 'var(x:Number,y:Number,...)' },
        {
          value: 'stdev()',
          label: '标准差',
          hint: 'stdev(x:Number,y:Number,...)',
        },
        { value: 'log(,)', label: '对数', hint: 'log(real:Number,base:Number)' },
      ]
    },
    initPeriodOptions() {
      const { frequencyMap } = this
      return Object.keys(frequencyMap).map(key => ({
        value: key,
        label: frequencyMap[key],
      }))
    },
    initAggregationTypeOptions() {
      return [
        { value: 'avg', label: '均值' },
        { value: 'sum', label: '求和' },
        { value: 'median', label: '中位数' },
        { value: 'period_head', label: '周期开始值' },
        { value: 'period_last', label: '周期结束值' },
      ]
    },
    initCalculateTypeOptions() {
      return [
        {
          label: '原值',
          value: 'original',
        },
        {
          label: '环比',
          value: 'chain_ratio',
        },
        {
          label: '同比',
          value: 'cycle_ratio',
        },
        {
          label: '年度累计',
          value: 'year_accumulation',
        },
        {
          label: '累计环比',
          value: 'accumulation_chain_ratio',
        },
        {
          label: '累计同比',
          value: 'accumulation_cycle_ratio',
        },
        {
          label: '环比差值',
          value: 'chain_differential',
        },
        {
          label: '同比差值',
          value: 'cycle_differential',
        },
        {
          label: '年度差值',
          value: 'year_differential',
        },
        {
          label: '移动均值',
          value: 'moving_average',
        },
      ]
    },
    initYearCalculateTypeOptions() {
      return [
        { value: 'original', label: '原值' },
        { value: 'cycle_ratio', label: '同比' },
        { value: 'cycle_differential', label: '同比差值' },
        { value: 'moving_average', label: '移动均值' },
      ]
    },
    calculateTypeOptions() {
      // 当period为年的时候，只显示年度选项
      if (this.config.aggregation_period !== 'year' && this.parameter.frequency !== 'year') {
        return this.initCalculateTypeOptions
      }
      return this.initYearCalculateTypeOptions
    },
    customCalculateTypeOptions() {
      return this.calculateTypeOptions.filter(({ value }) => value.endsWith('ratio'))
    },

    aggregationTypeOptions() {
      return this.initAggregationTypeOptions
    },

    systemParamsOptions() {
      if (!this.systemParams) return null
      return this.systemParams.map(({ param_id, config }) => ({
        label: config.name,
        value: param_id,
      }))
    },

    aggregationConfig() {
      const { translation, aggregation_period, aggregation_type, calculator_type, moving_period, formula } = this.config
      return {
        translation,
        calculator_type,
        aggregation_type,
        aggregation_period,
        moving_period,
        formula,
      }
    },

    formulaParams() {
      if (!this.systemParams) return null
      return this.systemParams.map(({ param_id, config }) => ({
        name: config.name,
        id: param_id,
        color: config.color,
      }))
    },
  },
  methods: {
    handlerGenerateCode() {
      EventBus.emit('generateCode', this.parameter)
    },
    setAaggregationPeriodOptions() {
      const { initPeriodOptions, parameter } = this
      const frequency = parameter.originFrequency
      const index = initPeriodOptions.findIndex(({ value }) => value === frequency)
      this.aggregationPeriodOptions = [
        {
          value: '',
          label: '未应用',
        },
        ...initPeriodOptions.slice(index).filter(v => frequency !== 'week' || v.value !== 'ten-day'), // 最小是月度(没有周度)
      ]
    },
    emitStyleChange() {
      this.$emit('styleChange', this.config)
    },
    onDblclick() {
      this.$emit('dblclick')
    },
    onVisibleChange() {
      const { config } = this
      config.visible = !config.visible
      this.emitStyleChange()
    },
    onInsertParam(param) {
      this.$refs.formulaEditor.addParam(param.value)
    },
    onInsertParamAll() {
      this.systemParamsOptions.forEach((v, i) => {
        if (i !== 0) {
          this.$refs.formulaEditor.addFunction(', ')
        }
        this.$refs.formulaEditor.addParam(v.value)
      })
    },
    onInsertFunction(func) {
      this.$refs.formulaEditor.addFunction(func.value)
    },
    addCustomParameter(type) {
      this.$emit('addCustomParameter', type)
    },
  },
  watch: {
    config: {
      immediate: true,
      deep: true,
      handler(config) {
        if (!config.aggregation_period) {
          if (config.aggregation_type !== null) {
            this.$set(this.config, 'aggregation_type', null)
            return
          }
        } else {
          if (config.aggregation_period === 'year') {
            const option = this.initYearCalculateTypeOptions.find(({ value }) => config.calculator_type === value)
            if (!option) {
              this.$set(this.config, 'calculator_type', 'original')
              return
            }
          }
          if (config.aggregation_period && !config.aggregation_type) {
            this.$set(this.config, 'aggregation_type', 'avg')
            return
          }
        }
        if (config.calculator_type === 'moving_average' && !config.moving_period) {
          this.$set(this.config, 'moving_period', 1)
        }
      },
    },
    aggregationConfig(val, oldVal) {
      if (this.isSystem) {
        this.$emit('aggregationChange', val)
      } else {
        this.$emit('formulaChange', val, oldVal && !isEqual(val.formula, oldVal.formula))
      }
    },
    'parameter.originFrequency': {
      immediate: true,
      handler() {
        this.setAaggregationPeriodOptions()
      },
    },
  },
})
</script>

<style scoped lang="less">
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
</style>
