<template>
  <div class="parameter-name">
    <div class="color-picker" @click.stop>
      <SjColorPicker :value="color" @input="onColorChange">
        <div class="color_trigger" :style="{ background: color }" />
      </SjColorPicker>
    </div>
    <editable-text
      v-model:isediting="isEditing"
      iconAlign="left"
      titleDisabled
      @change="onNameChange"
      :value="name"
      :dblclickable="dblclickable && comparable"
      @dblclick="$emit('dblclick')"
    />

    <!-- <SjTooltip class="text" :class="{ visible: visible && !deleted }" placement="top" :disabled="!deleted">
      <template #reference>
        <editable-text
          iconAlign="left"
          titleDisabled
          @editStart="isEditing = true"
          @editEnd="isEditing = false"
          @input="onNameChange"
          :value="name"
          :dblclickable="dblclickable && comparable"
          @dblclick="$emit('dblclick')"
        />
      </template>
      <template #tooltips>
        <span>该子指标已被删除/下架，请及时删除</span>
      </template>
    </SjTooltip> -->

    <template v-if="comparable">
      <template>
        <!-- <SjTooltip placement="top">
          <template #reference>
            <i class="iconfont icon-icon_lock lock" />
          </template>
          <template #tooltips>
            <span>已被自定指标引用，无法删除</span>
          </template>
        </SjTooltip> -->
      </template>
    </template>
  </div>
</template>

<script>
/* eslint-disable */
import { defineComponent, ref, watch, toRefs } from 'vue'
import SjColorPicker from '../../../custom-components/color-select/color-picker/index.vue'
import EditableText from '../../../custom-components/editable-text/index.vue'
import emitter from '@/core/plugins/eventBus';

export default defineComponent({
  components: { SjColorPicker, EditableText },
  name: 'ParameterName',
  emits: ['remove', 'update:name', 'colorChange', 'update:color', 'nameChange', 'update:isediting'],
  props: {
    name: String,
    color: String,
    visible: Boolean,
    dblclickable: {
      type: Boolean,
      default: false,
    },
    isediting: {
      type: Boolean,
      default: false,
    },
    comparable: {
      type: Boolean,
      default: true,
    },
    deleted: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, ctx) {
    const isEditing = ref(false)
    const { isediting } = toRefs(props)
    watch(isEditing, newVal => {
      ctx.emit('update:isediting', newVal)
    })
    watch(isediting, newVal => {
      isEditing.value = newVal
    })
    return {
      isEditing,
    }
  },
  methods: {
    onColorChange(val) {
      this.$emit('update:color', val)
      this.$emit('colorChange', val)
      emitter.emit('colorChange', val)
    },
    onNameChange(val) {
      this.$emit('update:name', val)
      this.$emit('nameChange', val)
    },
  },
})
</script>

<style scoped lang="less">
// TODO 颜色值替换变量
.parameter-name {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  .color-picker {
    margin-right: 6px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .color_trigger {
      width: 8px;
      border-radius: 50%;
      height: 8px;
      cursor: pointer;
    }
  }
  :deep(.editable-text) {
    flex: 1;
  }
}
</style>
