<template>
  <div class="material-library">
    <div class="search-wrapper">
      <search-input placeholder="请输入" />
    </div>
    <material-tabs v-model:value="currentMaterialTab" />
    <template v-if="[TabTypes.Library, TabTypes.MyCollections].includes(currentMaterialTab)">
      <div class="material-library-tabs-wrapper">
        <material-library-tabs @change="onLibraryTabsChange" :current="curMaterialLibraryTab" />
        <icon-font type="iconuploading" @click="uploadModalVisible = true" />
      </div>
      <div class="material-content-wrapper" v-infinite-scroll="onReachBottom">
        <keep-alive>
          <component :is="MaterialLibraryCompMap[curMaterialLibraryTab]" @open-full-text="open" />
        </keep-alive>
      </div>
    </template>
    <div class="material-content-wrapper">
      <my-materials v-if="currentMaterialTab === TabTypes.MyMaterials" @upload="uploadModalVisible = true" />
      <my-notes v-if="currentMaterialTab === TabTypes.MyNotes" @edit="onNoteEdit" />
    </div>
    <div class="material-full-text-wrapper" v-show="fullTextVisible">
      <material-full-text
        v-model:visible="fullTextVisible"
        :title="fullTextInfo.title"
        :content="fullTextInfo.content"
        :created-at="fullTextInfo.createdAt"
        :author="fullTextInfo.author"
      />
    </div>
    <div class="material-full-text-wrapper" v-show="noteEditorVisible">
      <material-full-text-container v-model:visible="noteEditorVisible" v-if="currentMyNotes">
        <edit-comments
          scene="material"
          hide-header
          v-if="currentMyNotesTab === MyNotesTabsEnum.Comments"
          :data="{
            title: currentMyNotes.comment,
            author: currentMyNotes.comment,
            value: currentMyNotes.comment,
            originalText: currentMyNotes.origin,
          }"
        >
          <template name="action">
            <div></div>
          </template>
        </edit-comments>
        <note-editor v-else />
        <template #headerRight>
          <a-button class="quote-btn primary">保存</a-button>
        </template>
      </material-full-text-container>
    </div>
    <div class="material-full-text-wrapper" v-show="imgOrChartFullTextVisible">
      <material-full-text-container v-model:visible="imgOrChartFullTextVisible">
        <div class="material-full-text-title">近五年国际贸易数据统计</div>
        <img src="" alt="" v-if="curMaterialLibraryTab === MaterialLibraryTabsKeys.Images" />
        <material-charts-item v-else />
        <div class="material-full-text-action">
          <span class="">2020-02-02</span>
          <a-button class="quote-btn primary">引用</a-button>
        </div>
      </material-full-text-container>
    </div>
    <material-upload-modal v-model:visible="uploadModalVisible" />
  </div>
</template>

//
<script lang="ts">
import { defineComponent, ref } from 'vue'
import MaterialReports from './material-reports/index.vue'
import MaterialImages from './material-images/index.vue'
import MaterialNews from './material-news/index.vue'
import MaterialCharts from './material-charts/index.vue'
import MaterialViews from './material-views/index.vue'
import SearchInput from './SearchInput.vue'
import MaterialTabs, { TabTypes } from './MaterialTabs.vue'
import MaterialLibraryTabs, { MaterialLibraryTabsKeys } from './MaterialLibraryTabs.vue'
import MaterialFullText from './MaterialFullText.vue'
import MaterialFullTextContainer from './MaterialFullTextBox.vue'
import { MaterialNewsItemType } from './material-news/MaterialNewsItem.vue'
import MyMaterials from './my-materials/index.vue'
import MyNotes, { TabsEnum as MyNotesTabsEnum, curTab as currentMyNotesTab } from './MaterialMyNotes.vue'
import MaterialUploadModal from './material-upload-modal/index.vue'
import EditComments from '@/views/components/EditComments.vue'
import MaterialChartsItem from './material-charts/MaterialChartsItem.vue'
import NoteEditor from '@/views/components/NoteEditor.vue'
import Notes from '@/models/annotations'

const MaterialLibraryCompMap = {
  [MaterialLibraryTabsKeys.Views]: MaterialViews,
  [MaterialLibraryTabsKeys.Charts]: MaterialCharts,
  [MaterialLibraryTabsKeys.News]: MaterialNews,
  [MaterialLibraryTabsKeys.Reports]: MaterialReports,
  [MaterialLibraryTabsKeys.Images]: MaterialImages,
}

export default defineComponent({
  name: 'materialLibrary',
  components: {
    MaterialNews,
    MaterialImages,
    MaterialCharts,
    MaterialReports,
    MaterialViews,
    SearchInput,
    MaterialTabs,
    MaterialLibraryTabs,
    MaterialFullText,
    MaterialFullTextContainer,
    MyMaterials,
    MaterialUploadModal,
    MyNotes,
    EditComments,
    MaterialChartsItem,
    NoteEditor,
  },
  setup() {
    const curMaterialLibraryTab = ref<MaterialLibraryTabsKeys>(MaterialLibraryTabsKeys.News)

    const fullTextVisible = ref(false)
    const fullTextInfo = ref({})
    const noteEditorVisible = ref(false)
    const uploadModalVisible = ref(false)
    const imgOrChartFullTextVisible = ref(false)
    const currentMaterialTab = ref(TabTypes.Library)
    const currentMyNotes = ref<Notes>()

    const onLibraryTabsChange = (tab: MaterialLibraryTabsKeys) => {
      curMaterialLibraryTab.value = tab
    }

    const open = (e: MaterialNewsItemType) => {
      switch (curMaterialLibraryTab.value) {
        case MaterialLibraryTabsKeys.News:
        case MaterialLibraryTabsKeys.Views:
          fullTextVisible.value = true
          fullTextInfo.value = e
          break
        case MaterialLibraryTabsKeys.Images:
        case MaterialLibraryTabsKeys.Charts:
          imgOrChartFullTextVisible.value = true
          fullTextInfo.value = e
          break
        default:
          break
      }
    }

    const showUploadModal = () => {
      console.log('showUploadModal')
    }

    const onNoteEdit = ({ notes }: { notes: Notes; type: MyNotesTabsEnum }) => {
      noteEditorVisible.value = true
      currentMyNotes.value = notes
    }

    const onReachBottom = () => {
      console.log('onReachBottom')
    }

    return {
      MaterialLibraryTabsKeys,
      curMaterialLibraryTab,
      fullTextVisible,
      fullTextInfo,
      onLibraryTabsChange,
      open,
      uploadModalVisible,
      showUploadModal,
      MyNotesTabsEnum,
      TabTypes,
      currentMaterialTab,
      onNoteEdit,
      currentMyNotes,
      noteEditorVisible,
      imgOrChartFullTextVisible,
      MaterialLibraryCompMap,
      currentMyNotesTab,
      onReachBottom,
    }
  },
})
</script>

<style lang="less" scoped>
.material-library {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  .search-wrapper {
    padding: 10px;
    padding-bottom: 0;
    flex-shrink: 0;
  }
  .material-library-tabs-wrapper {
    display: flex;
    padding: 10px;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
  .material-content-wrapper {
    flex: auto;
    overflow-y: auto;
  }
  .material-full-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #ffffff;
    font-family: PingFangSC;
    .material-full-text-title {
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #354052;
      margin: 10px 0;
    }
    .material-full-text-action {
      font-size: 12px;
      color: #97a3b4;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
</style>
