<template>
  <div class="material-tabs">
    <div class="material-tabs-item" :class="{ active: value === TabTypes.Library }">
      <span class="title" @click="onChange(TabTypes.Library)">素材库</span>
    </div>
    <div class="material-tabs-item" :class="{ active: value !== TabTypes.Library }">
      <a-dropdown>
        <div>
          <span class="title" @click="onChange(rightTabs[0])"> {{ TabTextMap[rightTabs[0]] }} </span>
          <!-- TODO:换图标 -->
          <icon-font type="icondone" />
        </div>
        <template #overlay>
          <a-menu>
            <a-menu-item @click="onChange(rightTabs[1])"> {{ TabTextMap[rightTabs[1]] }}</a-menu-item>
            <a-menu-item @click="onChange(rightTabs[2])"> {{ TabTextMap[rightTabs[2]] }}</a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, reactive } from 'vue'

export enum TabTypes {
  Library = 'library',
  MyMaterials = 'MyMaterials',
  MyCollections = 'myCollections',
  MyNotes = 'myNotes',
}

const TabTextMap = {
  [TabTypes.Library]: '素材库',
  [TabTypes.MyMaterials]: '我的素材',
  [TabTypes.MyCollections]: '我的收藏',
  [TabTypes.MyNotes]: '我的笔记',
}

export default defineComponent({
  name: 'MaterialTabs',
  props: {
    value: {
      type: String,
      default: TabTypes.Library,
    },
  },
  setup(props, { emit }) {
    const rightTabs = reactive([TabTypes.MyMaterials, TabTypes.MyCollections, TabTypes.MyNotes])
    const onChange = (type: TabTypes) => {
      if (rightTabs.includes(type)) {
        const i = rightTabs.indexOf(type)
        let temp = rightTabs[0]
        rightTabs[0] = rightTabs[i]
        rightTabs[i] = temp
      }
      emit('update:value', type)
    }
    return {
      TabTypes,
      onChange,
      TabTextMap,
      rightTabs,
    }
  },
})
</script>
<style lang="less" scoped>
.material-tabs {
  display: flex;
  border-bottom: 1px solid #ebebec;
  &-item {
    flex: 1;
    text-align: center;
    padding-top: 3px;
    height: 36px;
    .title {
      display: inline-block;
      cursor: pointer;
      line-height: 33px;
      font-family: PingFangSC;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #97a3b4;
    }
    &.active {
      .title {
        font-weight: 500;
        color: #007ae4;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          background-color: #007ae4;
          width: 14px;
          height: 3px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
</style>
