<template>
  <div class="materials-tag" :class="checked" @click="onClick">
    <span>
      <slot></slot>
    </span>
    <!-- <span class="close-btn" v-if="!closeable" @click="$emit('close')"
      ></span> -->
    <svg
      class="close-btn"
      v-if="closeable"
      @click="$emit('close')"
      data-icon="close"
      width="1em"
      height="1em"
      fill="currentColor"
      aria-hidden="true"
      viewBox="64 64 896 896"
      focusable="false"
    >
      <path
        d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"
      ></path>
    </svg>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    checked: Boolean,
    closeable: Boolean,
  },
  emits: ['close', 'update:checked'],
  setup(props, { emit }) {
    const onClick = () => {
      emit('update:checked', !props.checked)
    }
    return {
      onClick,
    }
  },
})
</script>
<style lang="less" scoped>
.materials-tag {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-family: PingFangSC;
  font-size: 12px;
  text-align: center;
  color: #97a3b4;
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  border: solid 1px #97a3b4;
  padding: 0 6px;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: color 0.3s, background 0.3s, border-color 0.3s;

  .close-btn {
    vertical-align: middle;
    margin-left: 4px;
    user-select: none;
    color: rgba(0, 0, 0, 0.45);
    font-size: 10px;
    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &.checked {
    color: #ffffff;
    border-color: #007ae4;
    background-color: #007ae4;
  }
}
</style>
