<template>
  <div class="material-full-text">
    <div class="material-full-text-header">
      <div class="close-bar" @click="$emit('update:visible', false)">
        <icon-font type="iconclose" />
        <span class="text">关闭素材</span>
      </div>
      <slot name="headerRight"></slot>
    </div>
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MaterialFullTextBox',
  emits: ['update:visible'],
})
</script>

<style lang="less" scoped>
.flex {
  display: flex;
  align-items: center;
}
.material-full-text {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 50px;
  font-family: PingFangSC;
  font-size: 12px;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: 8px;
    .close-bar {
      line-height: 1.83;
      color: #97a3b4;
      cursor: pointer;
      .flex();
      .text {
        margin-left: 3px;
      }
    }
  }
}
</style>
