<template>
  <div class="material-my-notes">
    <a-radio-group v-model:value="curTab" class="ant-radio-group-modification" size="small">
      <a-radio-button :value="tab" v-for="tab in tabs" :key="tab">{{ tab }}</a-radio-button>
    </a-radio-group>
    <div class="notes-wrapper" v-if="curTab === TabsEnum.Comments">
      <material-item-container
        v-for="note in notesList"
        :key="note.id"
        :quoteCount="note.quoteCount"
        class="material-item-container"
      >
        <note-comments
          class="note-comments"
          :comments="note.comment"
          :source="`取值 式点说通原书从再满之间与热积养。青持做小建都集前几位期位史。求完县很很平阶经月数得出改。证光两革思可新素格行研科才   准清身花。论包非求保放价论器对体小革做例方。济权新值号再压候集程度改为。必处克与较没群计从眼因风本形商类节。`"
          :rows="2"
        />
        <template #footerLeft>
          <div class="quote-text">2020-08-19 12:54</div>
        </template>
        <template #footerRight>
          <div class="button-wrapper">
            <a-button size="small" class="quote-btn" @click="onEdit(note, TabsEnum.Comments)">编辑</a-button>
            <a-button size="small" class="quote-btn primary" type="primary" @click="onQuote(note, TabsEnum.Comments)"
              >引用</a-button
            >
          </div>
        </template>
      </material-item-container>
    </div>
    <div class="notes-wrapper" v-else>
      <material-item-container v-for="note in notesList" :key="note.id">
        <div class="notes-essay">{{ note.comment }}</div>
        <template #footerLeft>
          <div class="quote-text">2020-08-19 12:54</div>
        </template>
        <template #footerRight>
          <div class="button-wrapper">
            <a-button size="small" class="quote-btn" @click="onEdit(note, TabsEnum.Essays)">编辑</a-button>
            <a-button size="small" class="quote-btn primary" type="primary" @click="onQuote(note, TabsEnum.Essays)"
              >引用</a-button
            >
          </div>
        </template>
      </material-item-container>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, readonly, ref, toRaw } from 'vue'
import MaterialItemContainer from './MaterialItemContainer.vue'
import NoteComments from '@/views/components/note-comments/index.vue'
import { notesApi, useApi, GetAllResult } from '@/api'
import Notes from '@/models/annotations'

export enum TabsEnum {
  Comments = '批注',
  Essays = '随笔',
}

const _curTab = ref<TabsEnum>(TabsEnum.Comments)
export const curTab = readonly(_curTab)

export default defineComponent({
  name: 'MaterialMyNotes',
  emits: ['edit', 'quote'],
  components: {
    MaterialItemContainer,
    NoteComments,
  },
  setup(props, { emit }) {
    const { loading = false, response: notesList = [] } = useApi<GetAllResult<Notes>>(notesApi.getAll())

    const onEdit = (notes: Notes, type: TabsEnum) => {
      emit('edit', {
        notes: toRaw(notes),
        type,
      })
    }

    const onQuote = (notes: Notes, type: TabsEnum) => {
      emit('quote', {
        notes: toRaw(notes),
        type,
      })
    }

    return {
      TabsEnum,
      tabs: [TabsEnum.Comments, TabsEnum.Essays],
      curTab: _curTab,
      notesList,
      loading,
      onEdit,
      onQuote,
    }
  },
})
</script>
<style lang="less" scoped>
.material-my-notes {
  box-sizing: border-box;
  padding-top: 10px;
  flex-direction: column;
  .ant-radio-group-modification {
    margin-left: 10px;
  }
  .notes-wrapper {
    flex: auto;
    overflow-y: auto;
    .material-item-container:hover {
      .button-wrapper {
        display: block;
      }
    }
    .notes-essay {
      font-family: PingFangSC;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.83;
      letter-spacing: normal;
      color: #354052;
    }
    .button-wrapper {
      display: none;
    }
    .quote-btn {
      margin-right: 10px;
    }
  }
}
</style>
