<template>
  <material-full-text-box v-model:visible="visible">
    <div class="material-title">{{ title }}</div>
    <div class="material-info">
      <span class="created-time">{{ createdAt }}</span>
      <span>{{ author }}</span>
    </div>
    <div class="material-content">
      <text-selection-tooltip>
        <div class="text-area">
          {{ content }}
        </div>
        <template #tooltip>
          <div class="text-tooltip">
            <div class="text-tooltip-btn" @click="onQuote">引用</div>
            <div class="text-tooltip-btn" @click="onCollect">收藏</div>
          </div>
        </template>
      </text-selection-tooltip>
    </div>
    <div class="material-full-text-footer">
      <div class="left-area">
        <base-collector style="margin-right: 5px" />
        收藏到我的素材
      </div>
      <a-button class="quote-btn primary">引用</a-button>
    </div>
  </material-full-text-box>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import TextSelectionTooltip from '@/components/TextSelectionTooltip.vue'
import MaterialFullTextBox from './MaterialFullTextBox.vue'
import BaseCollector from '@/components/BaseCollector.vue'

export default defineComponent({
  name: 'MaterialFullText',
  components: {
    TextSelectionTooltip,
    MaterialFullTextBox,
    BaseCollector,
  },
  props: {
    title: String,
    createdAt: String,
    author: String,
    content: String,
  },
  setup() {
    const onQuote = () => {
      console.log('onQuote')
    }
    const onCollect = () => {
      console.log('onSelect')
    }
    return {
      onQuote,
      onCollect,
      visible: ref(false),
    }
  },
})
</script>

<style lang="less" scoped>
.material-full-text {
  .material-title {
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    color: #354052;
    margin-bottom: 10px;
  }
  .material-info {
    flex-shrink: 0;
    line-height: 1.83;
    color: #97a3b4;
    .created-time {
      margin-right: 20px;
    }
  }
  .material-content {
    padding: 10px 0;
    flex: auto;
    line-height: 1.5;
    color: #354052;
    text-align: justify;
    // overflow-y: scroll;
    .text-area::selection {
      background: #e5efff;
      color: #354052;
    }
    .text-tooltip {
      user-select: none;
      display: flex;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 3px;
      position: relative;
      transform: translateY(-5px);
      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 11;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        border: 5px solid transparent;
        border-top-color: rgba(0, 0, 0, 0.7);
        background-clip: padding-box;
        width: 0;
        height: 0;
      }
      &-btn {
        padding: 6px;
        font-family: PingFangSC;
        font-size: 12px;
        line-height: 1;
        color: #ffffff;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f5f7fa;
    border-top: 1px solid #ebebec;
    .left-area {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 1.83;
      color: #97a3b4;
    }
  }
}
</style>
