<template>
  <div class="material-item-container">
    <slot></slot>
    <div class="material-item-container-footer">
      <div class="quote-text">
        <slot name="footerLeft"> 被引用{{ quoteCount }}次 </slot>
      </div>
      <div class="opration-area">
        <slot name="footerRight">
          <div class="button-wrapper">
            <a-button size="small" class="quote-btn" @click="$emit('openFullText')">全文</a-button>
            <a-button size="small" class="quote-btn primary" type="primary" @click="$emit('quote')">引用</a-button>
          </div>
          <base-collector class="base-collector" :class="{ hidden: !collected }" />
        </slot>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'
import BaseCollector from '@/components/BaseCollector.vue'

export default defineComponent({
  name: 'MaterialNewsItem',
  emits: ['openFullText', 'quote'],
  components: {
    BaseCollector,
  },
  props: {
    quoteCount: Number,
    collected: Boolean,
  },
})
</script>

<style lang="less" scoped>
.material-item-container {
  padding: 10px 10px 5px;
  cursor: pointer;
  border-bottom: 2px solid #ebebec;
  &:hover {
    background-color: #f5f7fa;
    .opration-area .button-wrapper {
      display: block;
    }
    .opration-area .base-collector.hidden {
      visibility: visible;
    }
  }
  &-footer {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .quote-text {
      font-family: PingFangSC;
      font-size: 12px;
      line-height: 1.83;
      color: #97a3b4;
    }
    .opration-area {
      display: flex;
      align-items: center;
      .button-wrapper {
        display: none;
        .quote-btn {
          margin-right: 10px;
        }
      }
      .base-collector.hidden {
        visibility: hidden;
      }
    }
  }
}
</style>
