<template>
  <a-radio-group v-model:value="curTab" class="ant-radio-group-modification" size="small">
    <a-radio-button :value="tab.key" v-for="tab in tabs" :key="tab.key">{{ tab.title }}</a-radio-button>
  </a-radio-group>
</template>
<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
export enum MaterialLibraryTabsKeys {
  News = 'news',
  Reports = 'reports',
  Images = 'images',
  Charts = 'charts',
  Views = 'views',
}
interface MaterialLibraryTabsProps {
  current: MaterialLibraryTabsKeys
}
export default defineComponent<MaterialLibraryTabsProps>({
  name: 'MaterialLibraryTabs',
  emits: ['change', 'update:value'],
  setup(props, { emit }) {
    const tabs = [
      { title: '资讯', key: MaterialLibraryTabsKeys.News },
      { title: '报告', key: MaterialLibraryTabsKeys.Reports },
      { title: '图片', key: MaterialLibraryTabsKeys.Images },
      { title: '图表', key: MaterialLibraryTabsKeys.Charts },
      { title: '观点', key: MaterialLibraryTabsKeys.Views },
    ]
    const curTab = ref(props.current || MaterialLibraryTabsKeys.News)
    watch(curTab, val => {
      emit('change', val)
      emit('update:value', val)
    })
    return {
      tabs,
      curTab,
    }
  },
})
</script>
