<template>
  <a-auto-complete
    class="ant-select-auto-complete-search-button-modification"
    v-bind="$attrs"
    :options="[{ value: 'Burns Bay Road' }, { value: 'Downing Street' }, { value: 'Wall Street' }]"
  >
    <a-input-search class="ant-input-search-enter-button-modification" :placeholder="placeholder">
      <template #enterButton>
        <icon-font type="iconsearch" style="font-size: 16px" />
      </template>
    </a-input-search>
  </a-auto-complete>
</template>
<script>
export default {
  props: {
    placeholder: {
      type: String,
      default: '请输入',
    },
  },
}
</script>
