<template>
  <a-popover :placement="placement" :trigger="trigger">
    <template #content>
      <div class="chartTypeSelect_content">
        <EditChartType
          :format="format"
          :value="chartTypeValue"
          :maxHeight="maxHeight"
          :extra="chartTypeExtra"
          :getChartTypeDisabled="getChartTypeDisabled"
          @change="onChange"
          @typeChange="onTypeChange"
        ></EditChartType>
      </div>
    </template>
    <slot>
      <a-input :value="inputText" size="small" readonly class="slot-input">
        <template #suffix>
          <DownOutlined class="DownOutlined" />
        </template>
      </a-input>
    </slot>
  </a-popover>
</template>

<script>
import { defineComponent } from 'vue'
import EditChartType from '../../components/panels/EditChartType.vue'
import { chartTypeList } from '../../utils'
import { DownOutlined } from '@ant-design/icons-vue'

const chartTypeMap = {}
chartTypeList.forEach(v => {
  chartTypeMap[v.value] = v
})

export default defineComponent({
  name: 'ChartTypeSelect',
  emits: ['typeChange'],
  components: {
    EditChartType,
    DownOutlined,
  },
  props: {
    format: {
      type: String,
      default: '',
    },
    placement: {
      type: String,
      default: 'bottom',
    },
    value: {
      type: Object,
      default: () => ({}),
    },
    // 额外信息，会合并到EditChartType的值中，用于触发getChartTypeDisabled
    extra: {
      type: Object,
      default: () => ({}),
    },
    // EditChartType组件的额外信息
    chartTypeExtra: {
      type: Object,
      default: () => ({}),
    },
    chartTypeOnly: {
      type: Boolean,
      default: true,
    },
    getChartTypeDisabled: Function,
    trigger: {
      type: String,
      default: 'click',
    },
    size: {
      type: String,
      default: 'default',
      validator(v) {
        return ['large', 'middle', 'default', 'small', 'mini'].indexOf(v) !== -1
      },
    },
    border: {
      type: Boolean,
      default: true,
    },
    placeholder: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    boundariesSelector: {
      type: String,
      default: 'body',
    },
    appendToBody: {
      type: Boolean,
      default: true,
    },
    maxHeight: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      chartTypeMap,
    }
  },
  computed: {
    chartTypeValue() {
      const { value, extra } = this
      return {
        ...extra,
        ...value,
      }
    },
    inputText() {
      const { value, chartTypeMap } = this
      if (value && value.type && chartTypeMap[value.type]) {
        return chartTypeMap[value.type].label
      }
      return ''
    },
  },
  methods: {
    onTypeChange(val) {
      this.$emit('typeChange', val)
    },
    onChange(val) {
      this.$emit('input', val)
      this.$emit('change', val)
    },
  },
})
</script>

<style lang="less" scoped>
.chartTypeSelect_content {
  width: 320px;
}
.slot-input {
  width: 70px;
  padding: 0 7px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
  :deep(input) {
    cursor: pointer;
    user-select: none;
  }
  :deep(.ant-input-suffix) {
    width: 12px;
    height: 22px;
    display: flex;
    align-items: center;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    pointer-events: none;
    cursor: pointer;
  }
  .DownOutlined {
    position: absolute;
    cursor: pointer;
    top: 53%;
    margin-top: -6px;
    right: 11px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    color: rgba(0, 0, 0, 0.25);
  }
}
</style>
