<template>
  <div id="toolbar" class="ql-toolbar quill-text-toolbar">
    <!-- Add a bold button -->
    <button :disabled="disabled" class="ql-bold" title="加粗">Bold</button>
    <button :disabled="disabled" class="ql-italic" title="斜体">Italic</button>
    <button :disabled="disabled" class="ql-underline" title="下划线">underline</button>
    <button :disabled="disabled" class="ql-strike" title="删除线">strike</button>
    <button :disabled="disabled" class="ql-blockquote" title="引用"></button>
    <button :disabled="disabled" class="ql-code-block" title="代码"></button>
    <!-- <button :disabled="disabled" class="ql-header" value="1" title="标题1"></button>
    <button :disabled="disabled" class="ql-header" value="2" title="标题2"></button> -->
    <!--Add list -->
    <button :disabled="disabled" class="ql-list" value="ordered" title="有序列表"></button>
    <button :disabled="disabled" class="ql-list" value="bullet" title="无序列表"></button>
    <!-- Add font size dropdown -->
    <!-- <select :disabled="disabled" class="ql-header" title="段落格式">
      <option selected>段落</option>
      <option value="1">标题1</option>
      <option value="2">标题2</option>
      <option value="3">标题3</option>
      <option value="4">标题4</option>
      <option value="5">标题5</option>
      <option value="6">标题6</option>
    </select> -->
    <select :disabled="disabled" class="ql-size" title="字体大小">
      <template v-for="(size, key) in sizes" :key="key">
        <option :value="size.value">{{ size.label }}</option>
      </template>
    </select>
    <select :disabled="disabled" class="ql-font" title="字体">
      <template v-for="(font, key) in fonts" :key="key">
        <option :value="font.value">{{ font.label }}</option>
      </template>
    </select>
    <!-- Add subscript and superscript buttons -->
    <!-- <button :disabled="disabled" class="ql-table" value="TD" title="表格"></button>
    <button :disabled="disabled" class="ql-table-body" value="TBODY" title="表格"></button>
    <button :disabled="disabled" class="ql-table-insert-row" value="TIR" title="增加行">IR</button>
    <button :disabled="disabled" class="ql-table-insert-column" value="TIC" title="增加列">IC</button>
    <button :disabled="disabled" class="ql-table-delete-row" value="TDR" title="删除行">DR</button>
    <button :disabled="disabled" class="ql-table-delete-column" value="TDC" title="删除列">DC</button>
    <button :disabled="disabled" class="ql-table-delete-body" value="TDB" title="表格"></button> -->
    <select :disabled="disabled" class="ql-color" value="color" title="字体颜色"></select>
    <select :disabled="disabled" class="ql-background" value="background" title="背景颜色"></select>
    <select :disabled="disabled" class="ql-align" value="align" title="对齐"></select>
    <!-- <button :disabled="disabled" class="ql-clean" title="还原"></button> -->
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, toRefs } from 'vue'
import { sizeWhitelist, quillShowList, quillFonts } from './quillTextEditorToolBar'

export default defineComponent({
  name: 'QuillTextEditorToolBar',
  props: {
    disabled: {
      type: Boolean,
      default: true,
    },
  },
  setup() {
    const sizes = computed(() => {
      return sizeWhitelist.map((ele, index) => {
        return {
          value: ele,
          label: quillShowList[index],
        }
      })
    })
    const state = {
      fonts: quillFonts,
    }
    return {
      sizes,
      ...toRefs(state),
    }
  },
})
</script>
<style lang="less" scoped>
.ql-toolbar.quill-text-toolbar {
  border: 0 none;
  padding: 3px 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'SimSun', 'SimHei', 'Microsoft YaHei', 'KaiTi', 'FangSong',
    'sans-serif';
  :deep(.ql-stroke) {
    stroke: @text-color;
  }
  :deep(.ql-fill) {
    fill: @text-color;
  }
  .ql-picker {
    color: @text-color;
    &.ql-expanded {
      :deep(.ql-picker-options) {
        background: @card-bgcolor;
      }
      &.ql-size,
      &.ql-font {
        :deep(.ql-picker-options) {
          max-height: 100px;
          overflow-y: scroll;
        }
      }
    }
  }
  :deep(.ql-picker.ql-font) {
    .ql-picker-label[data-value='SimSun']::before,
    .ql-picker-item[data-value='SimSun']::before {
      content: '宋体';
      font-family: 'SimSun';
    }
    .ql-picker-label[data-value='SimHei']::before,
    .ql-picker-item[data-value='SimHei']::before {
      content: '黑体';
      font-family: 'SimHei';
    }
    .ql-picker-label[data-value='Microsoft-YaHei']::before,
    .ql-picker-item[data-value='Microsoft-YaHei']::before {
      content: '微软雅黑';
      font-family: 'Microsoft YaHei';
    }
    .ql-picker-label[data-value='KaiTi']::before,
    .ql-picker-item[data-value='KaiTi']::before {
      content: '楷体';
      font-family: 'KaiTi';
    }
    .ql-picker-label[data-value='FangSong']::before,
    .ql-picker-item[data-value='FangSong']::before {
      content: '仿宋';
      font-family: 'FangSong';
    }
    .ql-picker-label[data-value='Arial']::before,
    .ql-picker-item[data-value='Arial']::before {
      content: 'Arial';
      font-family: 'Arial';
    }
    .ql-picker-label[data-value='sans-serif']::before,
    .ql-picker-item[data-value='sans-serif']::before {
      content: 'sans-serif';
      font-family: 'sans-serif';
    }
  }

  .ql-font-SimSun {
    font-family: 'SimSun';
  }
  .ql-font-SimHei {
    font-family: 'SimHei';
  }
  .ql-font-Microsoft-YaHei {
    font-family: 'Microsoft YaHei';
  }
  .ql-font-KaiTi {
    font-family: 'KaiTi';
  }
  .ql-font-FangSong {
    font-family: 'FangSong';
  }
  .ql-font-Arial {
    font-family: 'Arial';
  }
  .ql-font-sans-serif {
    font-family: 'sans-serif';
  }
  .disable-modal {
    position: absolute;
  }
}
</style>
