<template>
  <div class="tool-btn" :class="{ btnDisabled, active }" @click="handleClick">
    <icon-font v-if="icon" :style="{ fontSize: `${iconSize}px` }" :type="icon"></icon-font>
    <span v-if="text" class="text">{{ text }}</span>
  </div>
</template>

<script lang="ts">
import { defineComponent, toRefs, watch } from 'vue'

export default defineComponent({
  name: 'ToolButton',
  props: {
    text: String,
    icon: String,
    disabled: {
      default: false,
      type: Boolean,
    },
    active: {
      default: false,
      type: Boolean,
    },
    fontFamily: {
      type: String,
      default: 'iconfont',
    },
    iconSize: {
      default: 20,
      type: Number,
    },
  },
  setup(props, { emit }) {
    const { disabled } = toRefs(props)
    const btnDisabled = disabled
    watch(disabled, val => {
      btnDisabled.value = val
    })
    const handleClick = () => {
      if (!btnDisabled.value) {
        emit('onclick')
      }
    }
    return {
      btnDisabled,
      handleClick,
    }
  },
})
</script>

<style scoped lang="less">
@import '../style/pptEditor.less';

.tool-btn {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;

  .text('body', 'available');
  &.disabled {
    cursor: not-allowed;
    color: @color-text-light;
  }
  &:hover:not(.disabled) {
    background: @color-hover-background;
  }
  &:active:not(.disabled) {
    color: @color-text-highlight;
  }
  &.active {
    color: @color-text-highlight;
  }
  .icon {
    &.hasText {
      margin-right: 10px;
    }
  }
}
</style>
