<template>
  <a-dropdown overlayClassName="my-ppt-dropdown" :trigger="['click']" placement="bottomCenter">
    <tool-button v-bind="$attrs" :disabled="disabled" />
    <template v-slot:overlay>
      <slot v-if="customDropdown" />
      <div v-else class="dropdown_items">
        <slot></slot>
      </div>
    </template>
  </a-dropdown>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import ToolButton from './ToolButton.vue'

export default defineComponent({
  name: 'ToolDropdownBtn',
  components: { ToolButton },
  props: {
    disabled: {
      default: false,
      type: Boolean,
    },
    customDropdown: {
      default: false,
      type: Boolean,
    },
  },
  setup() {
    return {}
  },
})
</script>

<style lang="less">
@import url('../style/pptEditor.less');
.dropdown_items {
  background: @card-bgcolor;
  box-shadow: 0px 6px 9px 0px rgba(144, 164, 183, 0.22);
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.my-ppt-dropdown {
  will-change: top, left;
  overflow-y: visible;
}
.my-ppt-dropdown {
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid @border-color;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.my-ppt-dropdown::after,
.my-ppt-dropdown::before {
  display: block;
  content: '';
  border-width: 6px;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-color: @border-color;
  opacity: 1;
}

.my-ppt-dropdown::after {
  margin-right: 3px;
  top: -5px;
  border-top-width: 0;
  border-bottom-color: #fff;
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.1));
}

.my-ppt-dropdown {
  .item.text-item {
    min-width: 100px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 2px 10px;
    .text('body', 'normal');
    text-align: left;

    &:hover,
    &:active {
      background-color: @border-color;
      color: @color-text-highlight;
    }
  }
}
</style>
