<template>
  <div class="tools">
    <slot name="left-tools"></slot>
    <div>
      <!-- <icon-font type="iconback" @click="goBack"></icon-font> -->
      <editable-text
        :value="fileName"
        class="name"
        :editable="editable"
        @input="handleEditFileName"
        @editStart="fileNameEditing = true"
        @editEnd="fileNameEditing = false"
      />

      <div v-if="editable" class="group">
        <icon-font type="iconreturn" title="撤销" @click="$emit('undo')" :disabled="disableUndo"></icon-font>
        <icon-font type="iconnext" title="重做" @click="$emit('redo')" :disabled="disableRedo"></icon-font>
      </div>

      <div v-if="editable" class="group">
        <page-insert-dropdown :template="template" @add="addPage" />
      </div>

      <div class="group">
        <template v-if="editable">
          <tool-dropdown-btn class="export_dropdown" text="设置背景图" icon="iconimage">
            <div class="item text-item" @click="$emit('handleChangeBGImage')">选择本地文件</div>
            <div class="item text-item" @click="$emit('handleChangeBGImage', '')">删除背景图</div>
          </tool-dropdown-btn>
          <tool-button text="图片" icon="iconaddimage" @onclick="$emit('handleAddImage')" />
          <tool-button text="文本" icon="iconinformation" @onclick="$emit('handleAddTextbox')" />
          <tool-button text="图表" icon="icontarget" @onclick="$emit('handleAddIndicator')" />
        </template>
        <tool-button text="预览" icon="iconpreview" @onclick="$emit('togglePreview')" />
      </div>

      <!-- <div class="group">
        <tool-button
          text="全屏"
          :icon="`${!fullScreen ? 'iconbanner' : 'iconbanner'}`"
          :active="fullScreen"
          @onclick="toggleFullScreen"
        />
      </div> -->

      <div class="group">
        <!-- <share-report-dropdown :disabled="emailShareDisabled" :share-img="handleShare" :share-ppt="handleSharePpt" /> -->

        <tool-dropdown-btn class="export_dropdown" text="导出" icon="icondownload" :disabled="exportDisabled">
          <div class="item text-item" @click="$emit('savePdf')">PDF</div>
          <div class="item text-item" @click="$emit('savePpt')">PPT</div>
          <!-- /*% if report.features.exportInnerIndicator %*/ -->
          <div class="item text-item" @click="$emit('exportInnerIndicators')">报告内指标</div>
          <!-- /*% /if %*/ -->
        </tool-dropdown-btn>
      </div>
    </div>

    <div v-if="editable">
      <p v-if="saveStatus()" class="not-save-label">
        {{ saveStatusText[saveStatus()] }}
      </p>
      <a-button class="btn" type="primary" size="default" :disabled="!file" @click="$emit('save')">
        <span>保存</span>
      </a-button>
      <a-button class="btn" type="primary" ssize="default" :disabled="!file" @click="$emit('startPublish')">
        <span>发布</span>
      </a-button>
    </div>
    <!-- <template v-else-if="isHistoryMode">
      <div v-if="!!versionList" class="version-select">
        <div class="page-button">
          <SjButton :disabled="versionSelected === versionList.length - 1" theme="3" @click="checkCommitId('next')"
            >上一个
          </SjButton>
        </div>
        <span class="version-label">
          <span>{{ versionLabel }}</span>
          <span v-if="isCurrentVersion">（当前版本）</span>
        </span>
        <div class="page-button">
          <SjButton :disabled="versionSelected <= 0" theme="3" @click="checkCommitId('prev')">下一个 </SjButton>
        </div>
      </div>
      <div v-if="file.auth_type === 'edit'">
        <SjButton :disabled="isCurrentVersion" theme="2" style="margin-right: 10px" @click="useCurrentVersion"
          >恢复
        </SjButton>
        <SjButton theme="1" @click="goReportEdit">从当前版本开始编辑 </SjButton>
      </div>
    </template> -->

    <!-- 仅有查看权限和新建权限 保存副本 -->
    <!-- <div v-else-if="permissionObj.my_report_create">
      <a-button theme="3" @click="createDialogVisible = true"> 保存副本 </a-button>
    </div> -->
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, ref } from 'vue'
// 组件
import EditableText from '../editor-comp/EditableText.vue'
import PageInsertDropdown from './page-insert-dropdown/index.vue'
import ToolButton from './ToolButton.vue'
import ToolDropdownBtn from './ToolDropdownBtn.vue'
import { PageTypes, TemplatePages } from '@/models/pptTemplate'
// import UndoManager from "undo-manager";

// hooks

export default defineComponent({
  name: 'Toolbar',
  components: {
    EditableText,
    PageInsertDropdown,
    ToolButton,
    ToolDropdownBtn,
  },
  props: {
    template: {
      type: Object,
      default: () => {
        return {} as TemplatePages
      },
    },
    // ppt 名称
    fileName: {
      type: String,
      default: '',
    },
    // 全屏
    fullScreen: {
      type: Boolean,
      default: false,
    },
    exportDisabled: {
      type: Boolean,
      default: false,
    },
  },
  // mixins: [Commands],
  setup(props, { emit }) {
    const state = reactive({
      // 可编辑
      editable: true,
      // 缓存
      fromTemp: false,
      // 文件
      file: true,
      // 源ppt id
      resourceId: '',
      // 是否需要发布
      needPublish: true,
      saveStatusText: {
        notPublished: '未发布',
        notSaved: '未保存',
      },
    })
    const addPage = (pageType: Partial<PageTypes>) => {
      emit('addPage', pageType)
    }
    const handleEditFileName = (fileName: string) => {
      if (typeof fileName == 'string') {
        emit('changeFileName', fileName)
      }
    }
    const disableUndo = ref(false)
    const disableRedo = ref(false)
    return {
      ...toRefs(state),
      disableUndo,
      disableRedo,
      // func
      addPage,
      handleEditFileName,
    }
  },
  methods: {
    saveStatus() {
      if (!this.editable) return null

      if (
        this.fromTemp ||
        (this.fileName && !this.resourceId)
        // (!this.resourceId ||
        //   (this.undoManager && (this.undoManager as typeof UndoManager).hasUndo())))
      ) {
        console.log('notSaved')
        return 'notSaved'
      }

      if (this.needPublish) {
        console.log('notPublished')
        return 'notPublished'
      }

      return null
    },
  },
})
</script>

<style lang="less" scoped>
@import url('../style/pptEditor.less');

.tools {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  flex-wrap: wrap;

  .not-save-label {
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 0;
    color: @color-alert-error;
  }

  .version-select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

    .version-label {
      margin: 0 10px;
    }

    .page-button {
      width: 70px;
      height: 30px;
      display: flex;
      justify-content: center;
    }
  }

  > div {
    display: flex;
    align-items: center;
  }

  .group {
    margin: 0 5px;
    display: flex;
    align-items: center;
    .anticon {
      cursor: pointer;
    }
  }

  .back {
    margin-right: 15px;
  }

  .name {
    .text('body', 'available');
    width: 120px;
  }

  .op_btn {
    + .op_btn {
      margin-left: 5px;
    }
  }

  .btn {
    + .btn {
      margin-left: 10px;
    }
  }

  .start_edit {
    .text_bg('highlight', 'body', 'available');
  }
}
</style>
