<template>
  <div class="material-news">
    <material-item-container
      v-for="item in newsList"
      :key="item.id"
      @openFullText="$emit('openFullText', item)"
      @quote="$emit('quote', item)"
    >
      <material-news-item v-bind="$attrs" :title="item.title" :content="item.content" :quote-count="item.quoteCount" />
    </material-item-container>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import MaterialNewsItem from './MaterialNewsItem.vue'
import { materialsApi, useApi, GetAllResult } from '@/api'
import { Materials } from '@/models/materials'
import MaterialItemContainer from '../MaterialItemContainer.vue'

export default defineComponent({
  name: 'MaterialNews',
  components: {
    MaterialNewsItem,
    MaterialItemContainer,
  },
  emits: ['openFullText', 'quote'],
  setup() {
    const { loading, response: newsList } = useApi<GetAllResult<Materials>, Materials[]>(materialsApi.getAll())

    return {
      loading,
      newsList,
    }
  },
})
</script>

<style></style>
