<template>
  <div class="material-news-item-title">{{ title }}</div>
  <div class="material-news-item-content">
    {{ content }}
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export type MaterialNewsItemType = {
  content: string
  title: string
  quoteCount: number
  collected: boolean
  author: string
  createdAt: string
}

export default defineComponent({
  name: 'MaterialNewsItem',
  emits: ['openFullText'],
  inheritAttrs: false,
  props: {
    content: String,
    title: String,
  },
})
</script>

<style lang="less" scoped>
.material-news-item-title {
  font-family: PingFangSC;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  color: #354052;
  margin-bottom: 10px;
}
.material-news-item-content {
  font-family: PingFangSC;
  font-size: 12px;
  line-height: 1.5;
  color: #354052;
  margin-bottom: 10px;
}
</style>
