<template>
  <div @click="$emit('click')" class="el-color-dropdown">
    <div class="el-color-dropdown__main-wrapper">
      <hue-slider ref="hue" :color="color" vertical style="float: right"></hue-slider>
      <sv-panel ref="sl" :color="color"></sv-panel>
    </div>
    <alpha-slider v-if="showAlpha" ref="alpha" :color="color"></alpha-slider>
    <predefine v-if="predefine" :color="color" :colors="predefine"></predefine>
    <div class="el-color-dropdown__btns">
      <span class="el-color-dropdown__value">
        <sj-input
          border
          v-model="customInput"
          @keyup.enter="handleConfirm"
          @blur="handleConfirm"
          :validate-event="false"
          size="small"
        >
        </sj-input>
      </span>
      <sj-button size="mini" type="text" class="el-color-dropdown__btn" @click="$emit('clear')"> 清空 </sj-button>
      <sj-button plain size="mini" class="el-color-dropdown__btn" @click="confirmValue"> 确定 </sj-button>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import AlphaSlider from './alpha-slider'
import HueSlider from './hue-slider'
import Predefine from './predefine'
import SvPanel from './sv-panel'
import SjInput from '../../../SJComponents/Input/index.vue'

export default {
  name: 'el-color-picker-dropdown',

  components: {
    SvPanel,
    HueSlider,
    AlphaSlider,
    Predefine,
    SjInput,
  },

  props: {
    color: {
      required: true,
    },
    showAlpha: Boolean,
    predefine: Array,
  },

  data() {
    return {
      customInput: '',
    }
  },

  computed: {
    currentColor() {
      const parent = this.$parent
      return !parent.value && !parent.showPanelColor ? '' : parent.color.value
    },
  },

  methods: {
    confirmValue() {
      this.$emit('pick')
    },

    handleConfirm() {
      this.color.fromString(this.customInput)
    },
  },

  watch: {
    showPopper(val) {
      if (val === true) {
        this.$nextTick(() => {
          const { sl, hue, alpha } = this.$refs
          sl && sl.update()
          hue && hue.update()
          alpha && alpha.update()
        })
      }
    },

    currentColor: {
      immediate: true,
      handler(val) {
        this.customInput = val
      },
    },
  },
}
</script>
