<template>
  <div class="news-card">
    <a-skeleton v-if="loading" />
    <template v-else>
      <div class="news-preview">
        <a-image :src="img" :width="60" :height="45" class="news-preview-img" />
        <a-typography-paragraph class="news-preview-title" :ellipsis="ellipsisConf" :content="title" />
      </div>
      <div class="news-info">
        <span class="news-info-item">{{ createdAt }}</span>
        <span class="news-info-item"
          ><icon-font type="iconfira" class="news-info-item-icon" style="cursor: initial" />{{ hot }}</span
        >
        <span class="news-info-item"><icon-font type="iconnice" class="news-info-item-icon" />{{ like }}</span>
        <span class="news-info-iem">
          <icon-font
            type="iconcollect"
            class="news-info-item-icon"
            :class="{ active: isCollected }"
            @click="onCollect"
          ></icon-font>
        </span>
      </div>
      <a-typography-paragraph :ellipsis="ellipsisConf" :content="content" />
    </template>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'NewsCard',
  props: {
    loading: Boolean,
    img: String,
    title: String,
    content: String,
    createdAt: String,
    hot: Number,
    like: Number,
    collected: Boolean,
  },
  data() {
    return {
      isCollected: this.collected,
      ellipsisConf: {
        rows: 2,
      },
    }
  },
  methods: {
    onCollect() {
      this.isCollected = !this.isCollected
    },
  },
})
</script>

<style lang="less" scoped>
@import url('~@/styles/mixins');
.news-card {
  padding: 15px 7px 15px 10px;
  border-bottom: 1px solid #ebebec;
  .news-preview {
    display: flex;
    :deep(.ant-image) {
      margin-right: 10px;
      overflow: hidden;
    }
    :deep(.ant-typography) {
      font-family: PingFangSC;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      color: #354052;
      margin-bottom: 0;
    }
  }
  .news-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #97a3b4;
    margin: 8px 0 5px;
    height: 18px;
    &-item {
      color: #97a3b4;
      height: 18px;
      line-height: 18px;
      display: flex;
      align-items: center;
      :deep(.anticon) {
        svg {
          vertical-align: inherit;
        }
      }
      &-icon {
        cursor: pointer;
        margin-right: 2px;
        font-size: 18px;
        color: #d8d8d8;
        &.active {
          color: #007be0;
        }
      }
    }
  }

  :deep(.ant-typography) {
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #354052;
    margin-bottom: 0;
  }
}
</style>
