<template>
  <div class="editor-header">
    <template v-for="item in options" :key="item.type">
      <select :class="`ql-${item.type}`" v-if="item.class === 'select'">
        <option :value="option.value" v-for="option in item.options" :key="option.value">{{ option.title }}</option>
      </select>
      <button :class="`ql-${item.type}`" :value="item.value" v-if="item.class === 'button'"></button>
    </template>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'
import defaultOptions from './headerConfig'

export default defineComponent({
  emits: ['var'],
  props: {
    options: {
      type: Array,
      default: () => defaultOptions,
    },
  },
})
</script>
