<template>
  <div class="collaborative-editor" id="editorScroller">
    <editor-header id="toolbar" />
    <div id="editor" class="editor-body">
      <slot>
        <h3 id="text-change">text-change</h3>

        <p>
          Emitted when the contents of Quill have changed. Details of the change, representation of the editor contents
          before the change, along with the source of the change are provided. The source will be
          <code class="highlighter-rouge">"user"</code> if it originates from the users. For example:
        </p>

        <ul>
          <li>User types into the editor</li>
          <li>User formats text using the toolbar</li>
          <li>User uses a hotkey to undo</li>
          <li>User uses OS spelling correction</li>
        </ul>

        <p>
          Changes may occur through an API but as long as they originate from the user, the provided source should still
          be <code class="highlighter-rouge">"user"</code>. For example, when a user clicks on the toolbar, technically
          the toolbar module calls a Quill API to effect the change. But source is still
          <code class="highlighter-rouge">"user"</code> since the origin of the change was the user’s click.
        </p>

        <p>
          APIs causing text to change may also be called with a <code class="highlighter-rouge">"silent"</code> source,
          in which case <code class="highlighter-rouge">text-change</code> will not be emitted. This is not recommended
          as it will likely break the undo stack and other functions that rely on a full record of text changes.
        </p>
      </slot>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, onMounted, shallowReactive } from 'vue'
import ShareDB from 'sharedb/lib/client'
import Editor from './Editor'
import EditorHeader from './EditorHeader.vue'
import richText from 'rich-text'
import useEditor from './hooks/useEditor'
import useVariable, { UseVariableResult } from './hooks/useVariable'
import useChart, { UseChartResult } from './hooks/useChart'
// import Quill from 'quill'
// const Delta = Quill.import('delta')

ShareDB.types.register(richText.type)

interface EditorConf extends UseVariableResult, UseChartResult {
  editor: Editor | null
}

export default defineComponent({
  name: 'CollaborativeEditor',
  components: { EditorHeader },
  emits: ['variableClick'],
  props: {
    docId: { type: String },
    collaborative: Boolean,
    placeholder: {
      type: String,
      default: 'Insert text here ...',
    },
    readOnly: Boolean,
  },
  setup(props, { emit }) {
    const editorConf = shallowReactive<EditorConf>({
      editor: null,
      insertVariable: () => {},
      removeVariable: () => {},
      insertChart: () => {},
      removeChart: () => {},
    })

    onMounted(() => {
      editorConf.editor = useEditor('#editor', {
        onVariableClick: e => emit('variableClick', e),
        quillOptions: {
          scrollingContainer: '#editorScroller',
        },
      })
      const { insertVariable, removeVariable } = useVariable(editorConf.editor as Editor)
      const { insertChart, removeChart } = useChart(editorConf.editor as Editor)

      editorConf.insertVariable = insertVariable
      editorConf.removeVariable = removeVariable
      editorConf.insertChart = insertChart
      editorConf.removeChart = removeChart
    })

    return editorConf
  },
})
</script>

<style lang="less" scoped>
.collaborative-editor {
  height: 100%;
  padding: 10px;
  :deep(.ql-toolbar) {
    border: none;
    line-height: 28.5px;
    height: 28.5px;
    padding: 0;
    margin-bottom: 6.5px;
    .ql-picker-label::before {
      vertical-align: super;
    }
  }
  .editor-body {
    height: calc(100% - 35px);
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 6px 0 rgba(144, 164, 183, 0.22);
    background-color: #ffffff;
    :deep(.ql-editor) {
      p {
        font-family: PingFangSC;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #354052;
      }
    }
  }
}
</style>
