@import './generalClass.less';
/*** 覆写ant-design默认样式 ***/

// 解决按钮中添加图标 图标为20*23导致不能垂直居中的问题
.ant-btn > .anticon {
  line-height: 0;
}
// 默认按钮样式修改
.ant-btn {
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  border-color: @border-color;
}
// 默认输入框样式修改
.ant-input,
.ant-input-affix-wrapper {
  font-size: 12px;
  border-radius: 4px;
  padding: 5px 11px;
  border-color: @border-color;
  &.input-24 {
    padding: 2px 11px;
  }
}
// 数字输入框样式修改
.ant-input-number {
  font-size: 12px;
  border-radius: 4px;
  border-color: @border-color;
  .ant-input-number-input {
    height: 28px;
  }
}
.ant-input-number-24px {
  font-size: 12px;
  border-radius: 4px;
  border-color: @border-color;
  .ant-input-number-input {
    height: 22px;
  }
}
// 默认下拉选择框样式修改
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  font-size: 12px;
  border-radius: 4px;
  height: 30px;
  border-color: @border-color;
  .ant-select-selection-search-input {
    height: 28px;
  }
}
.ant-select-dropdown .ant-select-item {
  font-size: 12px;
}
// 下拉菜单组件样式覆写
.ant-dropdown {
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    font-size: 12px;
  }
}
// 分页器组件样式覆写
.ant-pagination {
  font-size: 12px;
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    border-color: #d8d8d8;
  }
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    border-color: #d8d8d8;
  }
  .ant-pagination-item-link {
    .anticon > svg {
      vertical-align: baseline;
    }
  }
  .ant-pagination-item {
    height: 30px;
    line-height: 30px;
  }
  .ant-pagination-item:not(.ant-pagination-item-active) {
    border-color: #d8d8d8;
  }
  .ant-pagination-options-quick-jumper {
    height: 30px;
    line-height: 30px;
    input {
      width: 42px;
      font-size: 12px;
      padding: 5px 11px;
      border-color: #d8d8d8;
    }
  }
}
// 气泡卡片样式覆写 (去除content默认的padding)
.ant-popover {
  .ant-popover-content {
    .ant-popover-inner {
      .ant-popover-inner-content {
        padding: 0;
      }
    }
  }
}
// 全屏弹窗
.full-modal {
  .ant-modal {
    max-width: 100%;
    top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
  }
  .ant-modal-body {
    flex: 1;
    padding: 0;
  }
}

/************************************************* 以下覆写样式需要添加外部class生效 *************************************************/

// 单选框组覆写
.ant-radio-group-modification.ant-radio-group {
  border: 1px solid @border-color;
  border-radius: 4px;
  // background: #ffffff;
  &.no-border {
    border: none;
  }
  .ant-radio-wrapper {
    font-family: PingFangSC;
    font-size: 12px;
    line-height: 1.83;
    color: @text-color;
    display: inline-flex;
    align-items: center;
    .ant-radio {
      &-inner {
        width: 12px;
        height: 12px;
        &::after {
          width: 6px;
          height: 6px;
          top: 2px;
          left: 2px;
        }
      }
    }
  }
  .ant-radio-button-wrapper {
    border-width: 0;
    border-right-width: 1px;
    border-color: @border-color !important;
    height: 12px;
    font-size: 12px;
    line-height: 1;
    &:last-child {
      border: 0;
    }
    [data-theme='dark'] &:not(&-checked) {
      color: @grey-color;
      &:hover {
        color: @primary-color;
      }
    }
  }
  .ant-radio-button-wrapper:focus-within {
    outline: none;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    outline: none;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    box-shadow: -1px 0 0 0 transparent;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: transparent !important;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: transparent !important;
  }
}

// 带搜索图标输入框覆写 a-input组件 图标使用slot插入形式
.input-search-icon {
  border-radius: 4px;
  input {
    font-size: 12px;
  }
  .ant-input-suffix {
    color: @grey-color;
    .anticon {
      cursor: pointer;
    }
  }
}

// 带搜索图标输入框覆写2
.ant-input-search-enter-button-modification {
  .ant-input-group {
    .ant-input {
      font-family: PingFangSC;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      height: 24px;
      line-height: 24px;
      box-sizing: border-box;
      color: #354052;
      padding: 0 7px;
      &::placeholder {
        color: #97a3b4;
      }
    }
    .ant-input-group-addon {
      .ant-input-search-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 24px;
        width: 35px;
      }
    }
  }
}

// auto complete 样式覆写
.ant-select-auto-complete-search-button-modification {
  width: 100%;
  .ant-input-search-enter-button-modification();
}

// 表格组件样式覆写
.ant-table-modification {
  .ant-table-pagination {
    .ant-pagination-disabled a,
    .ant-pagination-item-ellipsis {
      .themify({
      color: #ebedee;
    });
    }
  }
  .ant-table.ant-table-bordered .ant-table-title {
    border-color: transparent;
  }
  .ant-table-bordered .ant-table-header > table,
  .ant-table-bordered .ant-table-body > table {
    border-color: transparent;
    .themify({
      border-color: @dark-border-color;
    });
  }
  .ant-table-bordered.ant-table-fixed-header .ant-table-scroll .ant-table-header::-webkit-scrollbar {
    border: 0;
  }
  .ant-table-title + .ant-table-content {
    border-radius: 0;
  }
  .ant-table {
    font-size: 12px;
    table {
      border-radius: 0;
    }
  }
  .ant-table-thead {
    tr th {
      border-color: transparent;
      .themify({
        border-color: @dark-border-color;
      });
    }
    > tr:first-child {
      > th:first-child,
      > th:last-child {
        border-radius: 0;
      }
    }
  }
  .ant-table-thead > tr > th {
    background-color: #97a3b4;
    .themify({
      background-color: #1c3a5b;
    });
    color: #ffffff;
  }
  .ant-table-tbody {
    > tr:nth-of-type(2n + 1) {
      background-color: #f7f8f9;
      .themify({
        background-color: transparent;
      });
    }
    tr {
      td {
        border-color: transparent;
        .themify({
          border-color: @dark-border-color;
        });
      }
      > td:first-child {
        padding-left: 20px;
      }
      &:hover {
        &:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
          .themify({
          background: @dark-border-color;
        });
        }
      }
    }
  }

  .ant-table.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th,
  .ant-table.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-thead
    > tr
    > th,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-fixed-left
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-fixed-right
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-fixed-left
    > .ant-table-body-outer
    > .ant-table-body-inner
    > table
    > .ant-table-thead
    > tr
    > th,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-fixed-right
    > .ant-table-body-outer
    > .ant-table-body-inner
    > table
    > .ant-table-thead
    > tr
    > th,
  .ant-table.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td,
  .ant-table.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-tbody
    > tr
    > td,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-body
    > table
    > .ant-table-tbody
    > tr
    > td,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-fixed-left
    > .ant-table-header
    > table
    > .ant-table-tbody
    > tr
    > td,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-fixed-right
    > .ant-table-header
    > table
    > .ant-table-tbody
    > tr
    > td,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-fixed-left
    > .ant-table-body-outer
    > .ant-table-body-inner
    > table
    > .ant-table-tbody
    > tr
    > td,
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-fixed-right
    > .ant-table-body-outer
    > .ant-table-body-inner
    > table
    > .ant-table-tbody
    > tr
    > td {
    height: 40px;
    line-height: 40px;
    padding: 0 9px;
    &:first-of-type {
      padding-left: 20px;
    }
  }
  .ant-table.ant-table-small
    > .ant-table-content
    > .ant-table-scroll
    > .ant-table-header
    > table
    > .ant-table-thead
    > tr
    > th {
    padding: 0px 9px;
    height: 40px;
    line-height: 40px;
  }
  .ant-table.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th {
    padding: 0px 9px;
    height: 40px;
    line-height: 40px;
  }

  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background: #e5efff;
  }
  .ant-table-pagination {
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// 弹窗框样式覆写 (标题居中)
.ant-modal--modification {
  .ant-modal-content {
    border-radius: 4px;
  }
  .ant-modal-close {
    .ant-modal-close-x {
      width: 44px;
      height: 44px;
      line-height: 40px;
      font-size: 14px;
    }
  }
  .ant-modal-header {
    padding: 0;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
    .ant-modal-title {
      color: #002257;
    }
  }
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-footer {
    padding: 10px;
    .ant-btn {
      border: 0;
      border-radius: 4px;
      height: 30px;
      font-size: 12px;
    }
    // .ant-btn:not(.ant-btn-primary) {
    //   color: #002257;
    //   background-color: #f7f8f9;
    // }
  }
}

// 引用相关按钮
.ant-btn.quote-btn {
  width: 45px;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-family: PingFangSC;
  font-size: 12px;
  color: #007ae4;
  border-radius: 2px;
  border: solid 1px #007ae4;
  &.primary {
    color: #ffffff;
    background-color: #007ae4;
  }
}

// 折叠面板样式覆写
.ant-collapse-modification-chart {
  font-size: 12px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  > .ant-collapse-item {
    .common-border-color();
    > .ant-collapse-header {
      padding: 9px 10px;
      padding-left: 30px;
      color: @text-color;
      font-weight: 500;
      .ant-collapse-arrow {
        left: 10px;
        > * {
          line-height: 0;
        }
      }
      .ant-collapse-extra {
        display: flex;
        align-items: center;
        height: 22px;
      }
    }
    > .ant-collapse-content {
      border: 0;
      background-color: transparent;
      .ant-collapse-content-box {
        padding: 0 10px 0;
      }
    }
    &.no-border {
      border: 0;
    }
    &.content-no-right-padding {
      > .ant-collapse-header {
        padding: 9px 0px 9px 30px;
      }
      > .ant-collapse-content {
        .ant-collapse-content-box {
          padding: 0;
        }
      }
    }
    &.content-no-padding {
      > .ant-collapse-header {
        padding: 0px 0px 0px 30px;
        height: 40px;
        display: flex;
        align-items: center;
      }
      > .ant-collapse-content {
        .ant-collapse-content-box {
          padding: 0;
        }
      }
    }
    &.font-weight-normal {
      > .ant-collapse-header {
        font-weight: normal;
      }
    }
  }
}
