// 全局阴影块容器
.shadow {
  border-radius: 2px;
  box-shadow: 0 4px 6px 0 rgba(144, 164, 183, 0.22);
  background-color: #ffffff;
}

.no-shadow {
  border-radius: 2px;
  background-color: #ffffff;
}

.common-border-color {
  border-color: @border-color;
}

.color-grey {
  color: @grey-color;
}

.padding10-not-top {
  padding: 0 10px 10px 10px;
}

.padding10 {
  padding: 10px;
}

.margin10 {
  margin: 10px;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.clearFix::after {
  content: '';
  display: block;
  overflow: hidden;
  clear: both;
  visibility: hidden;
  height: 0;
}

.pointer {
  cursor: pointer;
}
