@import './mixins.less';
@import './antDesignModification.less';
@import './generalClass.less';
// @import '~ant-design-vue/dist/antd.dark.less';

html,
body,
#app,
#root {
  height: 100%;
  font-family: PingFangSC;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout.layout-basic {
  height: 100vh;
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// 数据列表 样式
.table-alert {
  margin-bottom: 16px;
}
// 数据列表 操作
.table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}
// 数据列表 搜索条件
.table-page-search-wrapper {
  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-bottom: 24px;
      margin-right: 0;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }
      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

// @media (max-width: @screen-xs) {
//   .ant-table {
//     width: 100%;
//     overflow-x: auto;
//     &-thead > tr,
//     &-tbody > tr {
//       > th,
//       > td {
//         white-space: pre;
//         > span {
//           display: block;
//         }
//       }
//     }
//   }
// }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  .themify({
    background-color: @dark-card-bgcolor;
  });
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: @scrollbar-color;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  .themify({
    background-color: @dark-card-bgcolor;
  });
}
:hover::-webkit-scrollbar-thumb {
  background-color: darken(@scrollbar-color, 30%);
  border-radius: 4px;
}
