.text-emphasis-mixin(@max-lines: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @max-lines;
  overflow: hidden;
}

// 骨架屏动画
.skeleton-animation(@shallow-color: #f7f8f9, @deep-color: #f2f2f2) {
  background: linear-gradient(90deg, @shallow-color 25%, @deep-color 37%, @shallow-color 63%);
  background-size: 400% 100%;
  animation: ant-skeleton-loading 1.4s ease infinite;
}

//主题化
.themify(@rules,@theme:dark) {
  [data-theme='@{theme}'] & {
    @rules();
  }
}

//主题化的组件边框
.themed-border {
  border: 1px solid transparent;
  .themify({
    border-color: @dark-border-color;
  });
}
