/**
 * less全局变量文件
 */
// 覆盖ant-design默认变量 在vue.config.js中less-loader中配置 同步更新至此(不支持热更新,修改需要重启项目)
@primary-color: #007ae4; // 全局主色
@link-color: #007ae4; // 链接色
@text-color: #354052; // 主文本色

/**********  以下变量支持热更新  **********/
//新增变量
@grey-color: #97a3b4; // 字体灰色
@border-color: #ebebec; // 通用灰色边框
@menu-bgcolor: #354051; // 左侧导航菜单背景色
@menu-bgcolor-active: #1f2238; // 左侧导航菜单被选中背景色
@menu-icon-active: #fabe00; // 左侧导航菜单图标被选中颜色
@variable-label-color: #e5efff; // 变量标签背景色

// ant-design中的变量
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@hover-color: #e5efff; // 选中色
@font-size-base: 12px; // 主字号
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 4px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影
@focus-border-color: #2698f0;
@focus-box-shadow-color: 0 0 0 2px rgba(0, 122, 228, 0.2);

// 浅色主题变量
@card-bgcolor: #fffffe;

@scrollbar-color: #c1c1c1;

// 深色主题变量
@dark-primary-color: #008bce;
@dark-title-color: #ebedee; //标题颜色
@dark-body-color: #808c9a; //正文颜色
@dark-func1-color: #00cc88; //功能1颜色
@dark-func2-color: #ff3355; //功能2颜色
@dark-border-color: #162d48;
@dark-card-bgcolor: #001832;
@dark-page-bgcolor: #001125;
@dark-heading-color: #002257; //组件头颜色
@dark-menu-bgcolor: #071a30; //左侧导航菜单背景色
@dark-menu-bgcolor-active: #008bcd; // 左侧导航菜单被选中背景色

@dark-border-color-secondary: #162d47;

// 以下变量移植于知识图谱  图表工具开发完成后删除

.text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis(@font-type;@lines:1) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  @font-size: 14px;
  @line-height: 22px;
  max-height: @line-height* @lines; /* Fallback for non-webkit */
  font-size: @font-size;
  line-height: @line-height;
  -webkit-line-clamp: @lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @-moz-document url-prefix() {
    & {
      position: relative;
      overflow: hidden;
    }
    &:before {
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem;
    }
    &:after {
      content: '';
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1;
    }
  }
}
