<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      href="/static/sj_spread/lib/spread/gc.spread.sheets.excel2016colorful.12.0.0.css"
      rel="stylesheet"
      type="text/css"
    />
    <script defer src="/static/sj_spread/lib/spread/gc.spread.sheets.all.12.0.0.min.js" type="text/javascript"></script>
    <script
      defer
      src="/static/sj_spread/lib/spread/interop/gc.spread.excelio.12.0.0.min.js"
      type="text/javascript"
    ></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please
        enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
