<template>
  <div class="creation-report">
    <div class="creation-header">
      <div class="back-area">
        <icon-font type="iconback"></icon-font>
        <div class="report-title">福鼎白茶：优化资源运作 打造现代化茶产业</div>
      </div>
      <div class="operating-area">
        <div class="operating-item">
          <icon-font type="iconsave"></icon-font>
          <div class="operating-item-text">保存为模板</div>
        </div>
        <div class="operating-item">
          <icon-font type="iconpreview"></icon-font>
          <div class="operating-item-text">预览</div>
        </div>
        <div class="operating-item">
          <icon-font type="icondownload"></icon-font>
          <div class="operating-item-text">导出</div>
        </div>
        <div class="operating-item">
          <icon-font type="iconcustomization"></icon-font>
          <div class="operating-item-text">协作</div>
        </div>
        <div class="operating-item">
          <icon-font type="iconhandle"></icon-font>
          <div class="operating-item-text">智能审查</div>
        </div>
        <div class="operating-item">
          <icon-font type="iconpublish"></icon-font>
          <div class="operating-item-text">发布</div>
        </div>
      </div>
      <div class="save-area">
        <icon-font type="iconsave2"></icon-font>
        <div class="save-text">已保存至云端</div>
      </div>
    </div>
    <div class="creation-body">
      <creation-report-menu />
      <div class="material-area">
        <material-libary />
      </div>
      <div class="editor-area">
        <collaborative-editor ref="editor" @variableClick="onVariableClick" />
        <!-- <ppt-editor></ppt-editor> -->
      </div>
      <div class="right-area">
        <collaborative-area class="collaborative-area-comp" />
        <material-records class="material-records-comp" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'
import CreationReportMenu from './components/CreationReportMenu.vue'
import CollaborativeEditor from '@/components/collaborative-editor/index.vue'
// import PptEditor from './components/ppt-editor/index.vue'
import MaterialLibary from './components/material-library/index.vue'
import CollaborativeArea from './components/collaborative-area/index.vue'
import MaterialRecords from './components/material-records/index.vue'

export default defineComponent({
  name: 'CreationReport',
  components: {
    CreationReportMenu,
    CollaborativeEditor,
    // PptEditor,
    MaterialLibary,
    CollaborativeArea,
    MaterialRecords,
  },
  mounted() {
    // const editor = this.$refs.editor as typeof CollaborativeEditor
  },
  methods: {
    onVariableClick(e: MouseEvent) {
      console.log(e)
    },
  },
})
</script>

<style lang="less" scoped>
.creation-report {
  height: 100%;
  .flex {
    display: flex;
    align-items: center;
  }
  .text {
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #7f8fa4;
  }
  .creation-header {
    height: 50px;
    padding: 0 15px;
    background-color: #f5f7fa;
    .flex();
    justify-content: space-between;
    & > div {
      .flex();
    }
    .back-area {
      color: #97a3b4;
      .report-title {
        font-family: PingFangSC;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #002257;
        margin-left: 13px;
      }
    }
    .operating-area {
      .operating-item {
        width: 60px;
        text-align: center;
        cursor: pointer;
        .text();
      }
    }
    .save-area {
      color: #d8d8d8;
      .save-text {
        .text();
        margin-left: 6px;
      }
    }
  }
  .creation-body {
    display: flex;
    height: calc(100% - 50px);
    .material-area {
      width: 260px;
      flex-shrink: 0;
      box-shadow: 0 4px 6px 0 rgba(144, 164, 183, 0.22);
      background-color: #ffffff;
      z-index: 1;
    }
    .editor-area {
      flex: auto;
      overflow-y: auto;
    }
    .right-area {
      padding-bottom: 10px;
      width: 250px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      :deep(.collaborative-area-comp) {
        flex-shrink: 0;
        margin-bottom: 10px;
        box-shadow: 0 4px 6px 0 rgba(144, 164, 183, 0.22);
      }
      .material-records-comp {
        flex: auto;
        overflow: hidden;
        box-shadow: 0 4px 6px 0 rgba(144, 164, 183, 0.22);
      }
    }
  }
}
</style>
