<template>
  <div class="ppt-editor-inner-wrapper">
    <div class="ppt-editor-sider">
      <div class="previews">
        <Container
          orientation="vertical"
          class="draggable-container"
          @drop="onPageDrag"
          drag-class="on-dragging"
          ref="draggableContainer"
          lock-axis="y"
        >
          <Draggable
            v-for="(page, index) in showPages"
            :key="page.pageId"
            class="draggable-wrapper-col"
            :class="{ empty: pages.length }"
            :style="{ flex: 1 }"
          >
            <preview-item
              ref="previewItem"
              class="preview"
              :selected="page.pageId === selectedId"
              :data="page"
              :scale="1"
              :aspect-ratio="aspectRatio"
              :init-width="initWidth"
              @contextmenu.prevent="handlePreviewRightClick($event, page, index)"
              @click="$emit('update:selectedPageId', page.pageId)"
            ></preview-item>
          </Draggable>
        </Container>
      </div>
    </div>
    <div class="ppt-editor-content" ref="pageWrapper">
      <div ref="pageContent" class="page-content">
        <page-content
          v-for="(page, index) in pages"
          :key="page.pageId"
          :ref="el => (pageRefs[index] = el)"
          :class="{
            page_hide: page.pageId !== selectedId,
          }"
          :style="{
            visibility: page.pageId === selectedId ? 'visible' : 'hidden',
          }"
          :page-data="page"
          :scale="scale"
          :preview="preview || !editable"
          v-bind="$attrs"
        />

        <!-- 文本编辑 -->
        <quill-text-editor :scale="scale" :visible="editType === 'text'" v-bind="$attrs"></quill-text-editor>
      </div>
      <div class="scale-ratio">{{ (scale * 100).toFixed(0) + '%' }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  reactive,
  toRefs,
  watch,
  ref,
  nextTick,
  onMounted,
  onUnmounted,
  onBeforeUpdate,
} from 'vue'
import { changeConfig } from '@/store/modules/home'
import { Container, Draggable } from '@/components/smooth-dnd'
import { PagesType } from '@/models/pptTemplate'
import PreviewItem from './PreviewItem.vue'
import PageContent from './PageContent.vue'
import QuillTextEditor from './QuillTextEditor.vue'

import { fullscreenElement } from '../utils/index'

export default defineComponent({
  name: 'EditorWrapper',
  components: {
    [Container.name]: Container,
    [Draggable.name]: Draggable,
    PreviewItem,
    PageContent,
    QuillTextEditor,
  },
  props: {
    pages: {
      type: Array,
      default: () => {
        const arr: PagesType[] = []
        return arr
      },
    },
    selectedPageId: {
      type: String,
      default: '',
    },
    aspectRatio: {
      type: Number,
      default: 4 / 3,
    },
    preview: {
      type: Boolean,
      default: false,
    },
    editable: {
      type: Boolean,
      default: false,
    },
    editType: {
      type: String,
      default: '',
    },
  },
  setup(props, { emit }) {
    const { pages, selectedPageId, preview: propPreview, aspectRatio, editable } = toRefs(props)
    const showPages: PagesType[] = pages.value as PagesType[]
    const state = reactive({
      scale: 1,
      initWidth: 900,
      showPages,
      selectedId: selectedPageId,
    })
    const pageWrapper = ref()
    const pageContent = ref()
    let pageRefs = ref([])
    onBeforeUpdate(() => {
      pageRefs.value = []
    })
    const selectedPageIndex = computed(() => {
      return state.showPages.findIndex(({ pageId }: PagesType) => pageId === state.selectedId)
    })
    const calcPageSize = (e?: Event, preview = propPreview) => {
      nextTick(() => {
        if (!pageWrapper.value || !pageContent.value) return
        const pad = preview ? 0 : 40
        const width = pageWrapper.value.clientWidth - pad
        const height = pageWrapper.value.clientHeight - pad
        let pageHeight
        let pageWidth
        if (width / height > aspectRatio.value) {
          pageHeight = height
          pageWidth = height * aspectRatio.value
        } else {
          pageWidth = width
          pageHeight = width / aspectRatio.value
        }
        state.scale = pageWidth / state.initWidth
        pageContent.value.style.width = `${pageWidth}px`
        pageContent.value.style.height = `${pageHeight}px`
        emit('resized', pageWidth, pageHeight)
      })
    }
    const onPageDrag = ({ addedIndex, removedIndex }: changeConfig) => {
      emit('pageOrderChange', addedIndex, removedIndex)
    }
    const handlePreviewRightClick = ($event: MouseEvent, page: PagesType, index: number) => {
      if (editable) {
        emit('previewRightClick', $event, page, index)
      }
    }
    const getActiveElement = () => {
      if (selectedPageIndex.value === null) return
      return (pageRefs.value[selectedPageIndex.value] as typeof PageContent)?.getActiveElement()
    }
    onMounted(() => {
      // 全屏
      // document.onwebkitfullscreenchange = () => {
      //   const preview =
      //     document.webkitFullscreenElement === pageWrapper.value;
      //   emit("update:preview", preview);
      //   nextTick(() => {
      //     calcPageSize();
      //   });
      // };
      window.addEventListener('resize', calcPageSize)
      calcPageSize()
    })
    onUnmounted(() => {
      window.removeEventListener('resize', calcPageSize)
    })
    watch(selectedPageId, val => {
      state.selectedId = val
    })
    watch(propPreview, val => {
      if (val) {
        const rfs =
          pageWrapper.value.requestFullScreen ||
          pageWrapper.value.webkitRequestFullScreen ||
          pageWrapper.value.mozRequestFullScreen ||
          pageWrapper.value.msRequestFullScreen //定义不同浏览器的全屏API
        //执行全屏
        if (typeof rfs != 'undefined' && rfs) {
          rfs.call(pageWrapper.value)
        } else if (typeof window.ActiveXObject != 'undefined') {
          // for IE，这里其实就是模拟了按下键盘的F11，使浏览器全屏
          const wscript = new window.ActiveXObject('WScript.Shell')
          if (wscript != null) {
            wscript.SendKeys('{F11}')
          }
        }
      } else if (!val && fullscreenElement() !== null) {
        class Dom extends Document {
          public webkitExitFullscreen?: () => void
          public mozCancelFullScreen?: () => void
          public msExitFullscreen?: () => void
        }
        const docum = document as Dom
        if (docum.exitFullscreen) {
          docum.exitFullscreen()
        } else if (docum.mozCancelFullScreen) {
          docum.mozCancelFullScreen()
        } else if (docum.webkitExitFullscreen) {
          docum.webkitExitFullscreen()
        } else if (docum.msExitFullscreen) {
          docum.msExitFullscreen()
        }
      }
    })
    watch(aspectRatio, () => {
      calcPageSize()
    })
    watch(pages.value, val => {
      state.showPages = val as PagesType[]
    })
    return {
      ...toRefs(state),
      pageWrapper,
      pageContent,
      selectedPageIndex,
      pageRefs,
      // func
      onPageDrag,
      handlePreviewRightClick,
      getActiveElement,
    }
  },
})
</script>

<style lang="less" scoped>
.ppt-editor-inner-wrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  overflow: auto;
  .ppt-editor-sider {
    z-index: 1;
    width: 134px;
    height: 100%;
    box-sizing: border-box;
    .previews {
      overflow: auto;
      height: 100%;
      .preview {
        margin: 0 auto;
      }
      .flip-list-move {
        transition: transform 0.3s;
      }
    }
  }
  .ppt-editor-content {
    overflow: hidden;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    .page-content {
      position: relative;
      box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.18);
      > * {
        position: absolute;
      }
      :deep(.page_hide) {
        * {
          visibility: hidden !important;
        }
      }
    }
    .scale-ratio {
      position: absolute;
      right: 0;
      bottom: 10px;
    }
  }
}
</style>
