<template>
  <div
    class="ppt-page-content"
    :style="{
      overflow: preview ? 'hidden' : 'visible',
      backgroundImage: finalBackgroundSrc ? `url(${finalBackgroundSrc})` : undefined,
    }"
    @contextmenu.prevent.stop="handlePageRightClick($event)"
  >
    <template v-if="pageData.indicators">
      <page-indicator
        v-for="(indicator, index) in pageData.indicators"
        :key="indicator.id"
        :ref="el => (indicatorsRefs[index] = el)"
        type="indicator"
        :preview="preview"
        :data="indicator"
        :scale="scale"
        @update="$emit('elementUpdate', 'indicator', index, $event)"
        @contextmenu.prevent.stop="handleElementRightClick($event, 'indicator', indicator, index)"
        @edit="$emit('indicatorEdit', $event, index)"
        @dblclick="$emit('changeIndicator', index)"
      />
    </template>
    <template v-if="pageData.images">
      <page-image
        v-for="(image, index) in pageData.images"
        :key="image.id"
        :ref="el => (imagesRefs[index] = el)"
        :data="image"
        :scale="scale"
        :preview="preview"
        @update="$emit('elementUpdate', 'image', index, $event)"
        @contextmenu.prevent.stop="handleElementRightClick($event, 'image', image, index)"
        @edit="$emit('imagesEdit', $event, index)"
        @dblclick="$emit('changeImages', index)"
      ></page-image>
    </template>
    <template v-if="pageData.textboxes">
      <page-text
        v-for="(textbox, index) in pageData.textboxes"
        :key="textbox.id"
        :ref="el => (textboxesRefs[index] = el)"
        type="textbox"
        :data="textbox"
        :scale="scale"
        :preview="preview"
        :visible="hideIndex != index"
        @update="$emit('elementUpdate', 'textbox', index, $event)"
        @contextmenu.prevent.stop="handleElementRightClick($event, 'textbox', textbox, index)"
        @dblclick="$emit('changeTextbox', index)"
      ></page-text>
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, toRefs, watch, onBeforeUpdate } from 'vue'
import PageText from '../editor-comp/PageText.vue'
import PageImage from '../editor-comp/PageImage.vue'
import PageIndicator from '../editor-comp/PageIndicator.vue'
import { Images, Indicators, PagesType, Textboxes } from '@/models/pptTemplate'
import ossImageMixin from '../hooks/ossImageMixin'

export default defineComponent({
  name: 'PageContent',
  props: {
    pageData: {
      type: Object,
      default: () => {
        const page = new PagesType()
        return page
      },
    },
    scale: {
      type: Number,
      default: 1,
    },
    preview: {
      type: Boolean,
      default: false,
    },
    editIndex: {
      type: Number,
      default: -1,
    },
  },
  components: { PageText, PageImage, PageIndicator },
  setup(props, { emit }) {
    const { pageData, editIndex } = toRefs(props)
    const hideIndex = ref(editIndex.value)
    const { getFinalImageSrc } = ossImageMixin()
    let indicatorsRefs = ref([])
    let textboxesRefs = ref([])
    let imagesRefs = ref([])
    onBeforeUpdate(() => {
      indicatorsRefs.value = []
      textboxesRefs.value = []
      imagesRefs.value = []
    })

    let finalBackgroundSrc = ref('')

    const getImageSrc = (src: string) => {
      if (src.indexOf('report/template/') != -1) {
        return require(`../templates/${src.replace('report/template/', '')}`)
      } else if (src.startsWith('http') || !src || src == '') {
        return src
      } else {
        return (getFinalImageSrc(src) as string) || ''
      }
    }
    finalBackgroundSrc.value = getImageSrc(pageData.value.background)
    const getActiveElement = () => {
      if (indicatorsRefs.value.length > 0) {
        const index = indicatorsRefs.value.findIndex((el: typeof PageIndicator) => el.$refs.draggable.active)
        if (index >= 0) {
          return {
            type: 'indicator',
            index,
          }
        }
      }
      if (textboxesRefs.value.length > 0) {
        const index = textboxesRefs.value.findIndex((el: typeof PageText) => el.$refs.draggable.active)
        if (index >= 0) {
          return {
            type: 'textbox',
            index,
          }
        }
      }
      if (imagesRefs.value.length > 0) {
        const index = imagesRefs.value.findIndex((el: typeof PageImage) => el.$refs.draggable.active)
        if (index >= 0) {
          return {
            type: 'image',
            index,
          }
        }
      }
      return null
    }
    const handleElementRightClick = (
      event: MouseEvent,
      type: string,
      item: Images | Textboxes | Indicators,
      index: number
    ) => {
      emit('elementRightClick', event, type, item, index)
    }

    const handlePageRightClick = (event: MouseEvent) => {
      emit('pageRightClick', event)
    }
    watch(pageData.value, val => {
      finalBackgroundSrc.value = getImageSrc(val.background)
    })
    watch(editIndex, val => {
      hideIndex.value = val
    })
    return {
      finalBackgroundSrc,
      indicatorsRefs,
      textboxesRefs,
      imagesRefs,
      hideIndex,
      // func
      getActiveElement,
      handleElementRightClick,
      handlePageRightClick,
    }
  },
})
</script>

<style scoped lang="less">
.ppt-page-content {
  background-color: #fff;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
</style>
