<template>
  <div class="preview-item" :class="{ selected }">
    <div class="content" :style="{ width: width + 'px', height: height + 'px' }">
      <page-content ref="page" :style="pageStyle" :page-data="data" :scale="scale" :preview="true" />
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, toRefs } from 'vue'
import { PagesType } from '@/models/pptTemplate'
import PageContent from './PageContent.vue'

export default defineComponent({
  name: 'PreviewItem',
  components: { PageContent },
  props: {
    selected: {
      type: Boolean,
      default: false,
    },
    // src: String,
    data: {
      type: Object,
      default: () => {
        const page = new PagesType()
        return page
      },
    },
    scale: {
      type: Number,
      default: 1,
    },
    aspectRatio: {
      type: Number,
      default: 4 / 3,
    },
    initWidth: {
      type: Number,
      default: 180,
    },
  },
  setup(props) {
    const width = ref(130)
    const transformScale = computed(() => {
      const { initWidth } = toRefs(props)
      return width.value / initWidth.value
    })
    const height = computed(() => {
      const { aspectRatio } = toRefs(props)
      return width.value / aspectRatio.value
    })
    const pageStyle = computed(() => {
      const { initWidth, aspectRatio } = toRefs(props)
      return {
        transform: `scale(${transformScale.value})`,
        transformOrigin: 'left top',
        width: initWidth.value + 'px',
        height: initWidth.value / aspectRatio.value + 'px',
      }
    })
    return {
      width,
      height,
      pageStyle,
    }
  },
})
</script>

<style scoped lang="less">
@import url('../style/pptEditor.less');
.preview-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  .content {
    position: relative;
    // border: 1px solid @color-splitline;
    pointer-events: none;
  }

  &:hover {
    background: @color-hover-background;
  }

  &:active,
  &.selected {
    background: @color-hover-background;
    .content {
      // border-color: @color-text-highlight;
    }
  }
}
</style>
