<template>
  <div class="quill-text-editor-container" :style="finalStyle">
    <div id="quill-text-editor" ref="quillTextEditorRef" class="quill-text-editor"></div>
    <div class="editor-tools">
      <a-button @click="handleSave">保存</a-button>
      <a-button @click="handleCancel">取消</a-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Textboxes } from '@/models/pptTemplate'
import { defineComponent, reactive, toRefs, ref, watch, onMounted, computed } from 'vue'
import Quill from 'quill'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.bubble.css'
import 'quill/dist/quill.snow.css'
import { cloneDeep } from 'lodash'
import { sizeWhitelist, fonts } from '../toolbar/quillTextEditorToolBar'

const Size = Quill.import('attributors/style/size')
//default 16px
Size.whitelist = sizeWhitelist
Quill.register(Size, true)
// const Font = Quill.import('formats/font') - 会生成 ql-font 的类名
const Font = Quill.import('attributors/style/font')
Font.whitelist = [false, ...fonts]
Quill.register(Font, true)
var Align = Quill.import('attributors/style/align')
Align.whitelist = [false, 'right', 'center', 'justify']
Quill.register(Align, true)
export default defineComponent({
  name: 'QuillTextEditor',
  props: {
    editElement: {
      type: Textboxes,
      default: () => {
        return new Textboxes()
      },
    },
    visible: {
      type: Boolean,
      default: false,
    },
    scale: {
      type: Number,
      default: 1,
    },
  },
  setup(props, { emit }) {
    const { editElement, visible, scale } = toRefs(props)
    const quillTextEditorRef = ref()
    const state = reactive({
      editorStyle: {
        top: '0px',
        left: '0px',
        display: 'none',
        width: '',
        height: '',
      },
      editHtml: '',
    })
    let quill: Quill

    const transText = (textbox: Textboxes) => {
      if (!textbox.text && textbox.textStyle) {
        textbox = Object.assign({}, textbox)
        const textStyle = textbox.textStyle
        textbox.text = `<p><span style='font-size:${textStyle['font-size']};color:${textStyle['color']};'>&#8203</span></p>`
      }
      state.editHtml = textbox.text
      quill.clipboard.dangerouslyPasteHTML(state.editHtml)
      quill.focus()
    }
    const finalConfig = computed(() => {
      if (editElement.value && editElement.value.config) {
        const { config } = editElement.value
        return {
          // width: Math.round(config.width * scale.value),
          // height: Math.round(config.height * scale.value),
          width: config.width,
          height: config.height,
          x: Math.round(config.x * scale.value),
          y: Math.round(config.y * scale.value),
        }
      } else {
        return {
          width: 0,
          height: 0,
          x: 0,
          y: 0,
        }
      }
    })
    const finalStyle = computed(() => {
      return {
        width: (finalConfig.value.width || 0) + 'px',
        height: (finalConfig.value.height || 0) + 'px',
        top:
          (finalConfig.value.y - (finalConfig.value.height - finalConfig.value.height * scale.value) / 2 || 0) + 'px',
        left: (finalConfig.value.x - (finalConfig.value.width - finalConfig.value.width * scale.value) / 2 || 0) + 'px',
        display: visible.value ? 'block' : 'none',
        transform: `scale(${scale.value.toFixed(2)})`,
      }
    })
    watch(visible, val => {
      state.editorStyle.display = val ? 'block' : 'none'
      quill.enable(val)
    })
    watch(editElement, (val: Textboxes) => {
      if (val) {
        transText(val)
      }
    })
    onMounted(() => {
      quill = new Quill('#quill-text-editor', {
        modules: {
          toolbar: {
            container: '#toolbar',
          },
        },
        // theme: 'bubble',
        theme: 'snow',
      })
      quill.enable(false)

      quill.getModule('toolbar').addHandler('color', (value: string) => {
        value = value ? value : '#000000'
        quill.format('color', value)
      })
    })
    const handleSave = () => {
      const newTextbox = cloneDeep(editElement.value)
      newTextbox.text = quill.root.innerHTML
      emit('changeTextboxVal', newTextbox)
    }
    const handleCancel = () => {
      emit('cancelChangeTextbox')
    }
    return {
      quillTextEditorRef,
      finalStyle,
      ...toRefs(state),
      handleSave,
      handleCancel,
    }
  },
})
</script>

<style lang="less" scoped>
@quill-min-width: 100px;
@quill-min-height: 30px;
.quill-text-editor-container {
  position: absolute;
  .quill-text-editor {
    width: 100%;
    height: 100%;
    min-width: @quill-min-width;
    min-height: @quill-min-height;
    color: #000000;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'SimSun', 'SimHei', 'Microsoft YaHei', 'KaiTi', 'FangSong',
      'sans-serif';
    font-size: 16px;
    :deep(.ql-editor) {
      padding: 0;
    }
  }
  .editor-tools {
    min-width: @quill-min-width;
    .ant-btn {
      width: 50%;
      height: 24px;
      border-radius: 0;
      padding: 0;
    }
  }
}
</style>
