<template>
  <div class="displayArea">
    <div class="displayArea_chart shadow">
      <div class="typeSwitch clearFix">
        <a-radio-group v-model:value="iconRadioValue" class="ant-radio-group-modification">
          <a-radio-button value="chart">
            <icon-font type="iconcharts"></icon-font>
          </a-radio-button>
          <a-radio-button value="table">
            <icon-font type="iconicon_list1"></icon-font>
          </a-radio-button>
        </a-radio-group>
      </div>
      <IndicatorChart
        style="height: calc(100% - 42px)"
        v-if="iconRadioValue === 'chart'"
        ref="chart"
        :editable="editable"
        :data="data"
        :config="config"
        :chartColors="chartColors"
        :timeRange="timeRange"
        v-bind="$attrs"
      ></IndicatorChart>
      <sj-base-table-with-fix
        v-else-if="iconRadioValue === 'table'"
        headerClass="displayArea_chart_table_head"
        :data="tableData"
        :columns="tableColumns"
      ></sj-base-table-with-fix>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { defineComponent } from 'vue'
import IndicatorChart from './IndicatorChart.vue'
import SjBaseTableWithFix from '../custom-components/base-table-width-fix/index.vue'
import { getIndicatorTableData, frequencyTimeRangeMap } from '../utils'
import Moment from 'moment'

export default defineComponent({
  name: 'DisplayArea',
  components: {
    IndicatorChart,
    SjBaseTableWithFix,
  },
  props: {
    editable: {
      type: Boolean,
      default: false,
    },
    data: {
      type: Object,
      default: () => ({}),
    },
    config: {
      type: Object,
      default: () => ({}),
    },
    chartColors: {
      type: Array,
      default: () => {
        return []
      },
    },
    extraTabData: {
      type: Array,
      default: () => {
        return []
      },
    },
  },
  data() {
    return {
      tabSelected: null,
      iconRadioValue: 'chart',
      tableData: [],
      tableColumns: [],
    }
  },
  computed: {
    tabData() {
      const { extraTabData, data } = this
      const defaultData = [
        {
          label: '描述',
          value: 'description',
          component: Description,
          props: {
            data,
          },
          events: {
            descriptionChange: this.onDescriptionChange,
          },
        },
      ]
      return [...defaultData, ...extraTabData]
    },
    timeRange() {
      const { data } = this
      let timeRange = null
      if (data && !data.timeRange && data.frequency) {
        const time = frequencyTimeRangeMap[data.frequency]
        if (time && time !== 'max') {
          const past = Moment().subtract(time, 'years').valueOf()
          timeRange = [past, Moment().valueOf()]
        }
      }
      return timeRange
    },
  },
  watch: {
    defaultTab: {
      immediate: true,
      handler(val) {
        this.tabSelected = val
      },
    },
    data: {
      immediate: true,
      handler() {
        this.initTableData()
      },
    },
  },
  methods: {
    initTableData() {
      this.tabSelected = this.defaultTab
      const { data } = this
      const dataObj = getIndicatorTableData(data, true, true, true, true)
      this.tableData = dataObj.data
      this.tableColumns = dataObj.columns.map(v =>
        Object.assign(v, {
          minWidth: 120,
        })
      )
      console.log('initTableData', dataObj)
    },
    onIconRadioChange(val) {
      this.iconRadioValue = val
    },
    onDescriptionChange(val) {
      this.$emit('descriptionChange', val)
    },
  },
})
</script>

<style lang="less" scoped>
.displayArea {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  .displayArea_chart {
    margin: 15px;
    box-sizing: border-box;
    flex-grow: 1;
    min-height: 600px;
    .typeSwitch {
      margin: 8px 0 4px 0;
      padding-right: 10px;
      .ant-radio-group-modification {
        float: right;
        padding: 5px 0;
        width: 61px;
        display: flex;
        align-items: center;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
        border: 0;
        .ant-radio-button-wrapper {
          height: 100%;
          padding: 0 5px;
        }
      }
    }
    :deep(.displayArea_chart_table_head) {
      .table-header-cell {
        margin: 10px;
        padding: 0;
        // .text-ellipsis('body', 2);
      }
    }
  }
  .displayArea_info {
    flex-shrink: 0;
  }
}
</style>
