<template>
  <CollapseGroup v-model:value="selectedTabs" :data="tabs"></CollapseGroup>
</template>

<script>
/* eslint-disable */
import CollapseGroup from '../custom-components/collapse-group/index.vue'
import EditStyle from './panels/EditStyle.vue'
import EditData from './panels/EditData.vue'
import EditInformation from './panels/EditInformation.vue'
import { merge, cloneDeep as clone, isEqual as isequal } from 'lodash-es'
import { v1 as uuid } from 'uuid'
import { getColorGenerator } from '../sjchart/lib/utils/index.js'
import {
  generatorSystemList,
  getIsScatterMap,
  getDefaultParameterConfig,
  getDefaultIndicatorStyles,
  getDateTimeList,
  getTimeRange,
  frequencyMap,
  getMergedFrequency,
} from '../utils/index.js'

export default {
  name: 'EditArea',
  components: {
    CollapseGroup,
  },
  emits: ['indicatorChange', 'addCompareIndicator', 'replaceCustomIndicator', 'descriptionChange'],
  props: {
    userName: {
      // 用于给自定义指标的来源赋值
      type: String,
      default: '',
    },
    data: {
      type: Object,
      default: () => {},
    },
    defaultChartColors: {
      type: Array,
      default: () => [
        '#34457A',
        '#D46F7F',
        '#B4CD83',
        '#A08AB9',
        '#A6D5E3',
        '#F9B175',
        '#67749B',
        '#A7A7A7',
        '#DDDDDD',
        '#C6A893',
      ],
    },
    themes: {
      type: Array,
      default: () => [],
    },
    isMerge: {
      default: false,
      type: Boolean,
    },
    bottomButtonShow: {
      type: Boolean,
      default: true,
    },
    // TODO 后续看是否去掉
    comparable: {
      type: Boolean,
      default: true,
    },
    formulaChangeFormatter: Function,
    aggregationChangeFormatter: Function,
  },
  data() {
    return {
      selectedTabs: ['data', 'style', 'information'],
      format: null,
      dataEditable: false,
      editData: null,
      parameters: [],
      globalStyles: {},
      extra: {},

      colorIndex: 0,
      colorGenerator: null,

      aggregationConfigKeys: [
        'translation',
        'calculator_type',
        'aggregation_type',
        'aggregation_period',
        'moving_period',
        'formula',
      ],
    }
  },
  computed: {
    tabs() {
      const { editData, parameters, globalStyles, extra, format, dataEditable, comparable, themes } = this
      const tabs = [
        {
          label: '样式调整',
          value: 'style',
          icon: 'iconstyle',
          component: EditStyle,
          props: {
            data: editData,
            parameters: parameters,
            globalStyles,
            format,
            dataEditable,
            comparable,
            themes,
          },
          events: {
            styleChange: this.onStyleChange,
            themeChange: this.onThemeChange,
            yAxisStyleChange: this.onYAxisStyleChange,
            yAxisPositionChange: this.onYAxisPositionChange,
            parameterStyleChange: this.onParameterStyleChange,
            parameterRemove: this.onParameterRemove,
            parameterDblclick: this.onParameterDblclick,
          },
        },
        {
          label: '附加信息',
          value: 'information',
          icon: 'iconinformation',
          component: EditInformation,
          props: {
            data: editData,
          },
          events: {
            descriptionChange: this.onDescriptionChange,
          },
        },
      ]
      if (dataEditable) {
        tabs.unshift({
          label: '指标操作',
          value: 'data',
          icon: 'iconsetting',
          component: EditData,
          props: {
            data: editData,
            parameters: parameters,
            comparable,
          },
          events: {
            parameterStyleChange: this.onParameterStyleChange,
            parameterRemove: this.onParameterRemove,
            parameterAggregationChange: this.onParameterAggregationChange,
            parameterFormulaChange: this.onParameterFormulaChange,
            parameterDblclick: this.onParameterDblclick,
            addCustomParameter: this.onAddCustomParameter,
          },
        })
      }
      return tabs
    },
    systemParameters() {
      const { parameters } = this
      return parameters.filter(({ generator }) => generatorSystemList.includes(generator))
    },
    bottomTitle() {
      const { dataEditable } = this
      if (!dataEditable) {
        return '当前指标类型不支持添加对比/自定义指标'
      }
      return ''
    },
  },
  watch: {
    data: {
      handler() {
        this.init()
      },
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      const { data } = this
      this.format = data && data.indicator_format
      this.dataEditable = data ? data.indicator_format === 'timeline' : true
      this.extra = {
        isScatterMap: getIsScatterMap(data),
      }
      this.initColorGenerator(data && data.styles && data.styles.chartColors)
      this.initParameters()
      this.initEditData()
    },
    initParameters() {
      this.parameters = []
      this.pushParameters(this.data)
      console.log('this.parameters', this.parameters)
    },
    // 处理指标数据
    pushParameters(indicator, addFlag = false) {
      const { parameters, dataEditable, format, isMerge } = this
      if (dataEditable && indicator && Array.isArray(indicator.indicator_values)) {
        indicator.indicator_values.forEach(v => {
          const isCustom = v.generator === 'user'
          const generator = v.generator || indicator.generator
          const param_id = generatorSystemList.includes(generator) ? v.param_id || uuid() : v.param_id
          const unit = (v.config && v.config.unit) || v.unit || indicator.unit
          let config = v.config || {
            visible: v.visible,
          }
          if (!config.name) {
            config.name = v.name
          }
          if (indicator.styles && indicator.styles.type && !config.style) {
            config.style = indicator.styles.type
          }
          config.unit = unit
          config = this.initParameterConfig(config, format)

          const parameterItem = {
            param_id,
            generator,
            config,
            name: config.name,
            visible: config.visible,
            deleted: v.deleted,
            data_source: v.data_source,
            indicator_id: v.indicator_id || (isCustom ? null : indicator.indicator_id),
            indicator_index: typeof v.indicator_index === 'number' ? v.indicator_index : 0,
            parent_indicator_id: v.parent_indicator_id,
            parent_show_name: v.parent_show_name,
            update_time: v.update_time,
            values: v.values,
            frequency: v.frequency || indicator.frequency,
            originFrequency: v.original_frequency || v.originFrequency || v.frequency || indicator.frequency,
            originValues: v.original_values || v.values, // 原始数据，用于公式计算的数据
            originUnit: v.originUnit || indicator.originUnit || unit, // 原始单位，用于切换计算方式后恢复单位，indicator.originUnit 是为计算节点在切换计算方式时准备的单位原值
            sortIndex: parameters.length,
          }
          // 数据格式同步，解决前后端读取字段不同问题
          parameterItem.formula = Array.isArray(config.formula) && config.formula.length ? config.formula : v.formula
          this.aggregationConfigKeys.forEach(key => {
            if (key !== 'formula') {
              parameterItem[key] = config[key] || v[key]
            }
          })

          parameters.push(parameterItem)
        })
      }
      console.log('初始化parameters', parameters)
    },
    initEditData() {
      const { data, parameters } = this
      const newData = clone(data)
      this.editData = newData
      if (parameters.length) {
        this.editData.indicator_values = parameters
        this.emitChange()
      }
      this.initStyles()
    },
    initStyles() {
      const { editData, extra } = this
      console.log('editData', editData)
      if (!editData) return
      const defaultStyles = getDefaultIndicatorStyles(editData.indicator_format, editData.default_style, extra)
      editData.styles = merge(defaultStyles, editData.styles)
      this.globalStyles = editData.styles
      // group特殊处理
      if (editData.data && Array.isArray(editData.data.series)) {
        editData.data.series.every(v => {
          if (v.yAxisIndex === 0) {
            editData.styles.yAxisPosition = 'left'
            return false
          }
          return true
        })
      }
    },
    initColorGenerator(colors) {
      const { defaultChartColors } = this
      const colorList = Array.isArray(colors) && colors.length ? colors : defaultChartColors
      this.colorIndex = 0
      this.colorGenerator = getColorGenerator(colorList)
    },
    getColor() {
      const { colorGenerator } = this
      return colorGenerator && colorGenerator(this.colorIndex++)
    },
    initParameterConfig(initConfig, format) {
      const color = this.getColor()
      const config = merge(
        {
          translation: 0,
          formula: [],
          calculator_type: 'original',
          aggregation_period: '',
          aggregation_type: null,
          color,
        },
        getDefaultParameterConfig(format || this.format),
        initConfig
      )
      if (config.aggregation_period === 'none') {
        config.aggregation_period = ''
      }
      console.log('initParameterConfig', config)
      return config
    },
    onAddCustomIndicator(parameter) {
      if (this.dataEditable) {
        this.addCustomParameter(parameter)
      }
    },
    onAddCompareIndicator() {
      if (this.dataEditable) {
        this.$emit('addCompareIndicator')
      }
    },
    emitChange() {
      this.$emit('indicatorChange', clone(this.editData))
    },
    onDescriptionChange(val) {
      this.$emit('descriptionChange', val)
    },
    // 样式调整
    onStyleChange(styles) {
      this.editData.styles = styles
      this.globalStyles = styles
      this.emitChange()
    },
    onChartTypeChange(styles) {
      // 同步所有parameter图表类型
      const { parameters } = this
      parameters.forEach(pItem => {
        pItem.config.style = styles.type
      })
      this.onStyleChange(styles)
    },
    onThemeChange(styles) {
      // 主题设置
      this.initColorGenerator(styles.chartColors)
      // 清空图例颜色设置
      const { editData, format } = this
      const { user_config } = editData
      if (user_config && Array.isArray(user_config.series)) {
        editData.user_config = merge({}, user_config, {
          series: user_config.series.map(item => {
            if (item.itemStyle && item.itemStyle.color) {
              delete item.itemStyle.color
            }
          }),
        })
      }
      // 应用主题颜色
      const { parameters } = this
      if (parameters && parameters.length) {
        parameters.forEach(item => {
          const colorItem = this.getColor()
          if (item.config) {
            Object.assign(item.config, {
              color: colorItem,
            })
          }
        })
      }
      // 地图数据类型
      if (format === 'map') {
        if (editData.data && editData.data.series) {
          const series = []
          editData.data.series.forEach(item => {
            if (item.type === 'scatter') {
              series.push({
                itemStyle: {
                  color: this.getColor(),
                },
              })
            } else {
              series.push({})
            }
          })
          merge(user_config, {
            series,
          })
        }
      }
      // 蜡烛图类型
      if (format === 'candlestick') {
        if (editData.data && editData.data.series) {
          const series = []
          editData.data.series.forEach(item => {
            if (item.type !== 'candlestick') {
              series.push({
                itemStyle: {
                  color: this.getColor(),
                },
              })
            } else {
              series.push({})
            }
          })
          merge(user_config, {
            series,
          })
        }
      }
      // 雷达图类型
      if (format === 'radar') {
        if (editData.data && editData.data.series) {
          const series = []
          editData.data.series.forEach(() => {
            series.push({
              itemStyle: {
                color: this.getColor(),
              },
            })
          })
          merge(user_config, {
            series,
          })
        }
      }

      this.onStyleChange(styles)
    },
    onYAxisStyleChange(value, yAxis, styles) {
      this.parameters
        .filter(({ config }) => config.yAxisPosition === yAxis.value)
        .forEach(param => {
          param.config.style = value
        })
      this.onStyleChange(styles)
    },
    onYAxisPositionChange(value, styles) {
      const { editData } = this
      // group特殊处理
      if (editData.data && Array.isArray(editData.data.series)) {
        editData.data.series.forEach(v => {
          if (Object.prototype.hasOwnProperty.call(v, 'yAxisIndex')) {
            v.yAxisIndex = value === 'left' ? 0 : 1
          }
        })
      }
      this.onStyleChange(styles)
    },
    onParameterChange() {
      const { parameters } = this
      console.log('----------------------', parameters)
      parameters.forEach(v => {
        // 同步config参数
        v.name = v.config.name
        v.visible = v.config.visible
      })
      // 设置frequency
      this.editData.frequency = getMergedFrequency(
        parameters
          .filter(({ frequency }) => !!frequency)
          .filter(({ config }) => config.visible)
          .map(({ frequency, originFrequency }) => frequency || originFrequency)
      )
      // 设置单位
      if (parameters.length) {
        const units = [...new Set(parameters.map(v => v.config.unit))]
        this.editData.unit = units.length === 1 ? units[0] : ''
      }

      if (!parameters.length) {
        this.editData = null
        this.format = null
        this.globalStyles = {}
      }
      this.initEditData()
    },
    onParameterStyleChange(config, p) {
      this.parameters.forEach(item => {
        if (item.indicator_id === p.indicator_id) {
          merge(item.config, config)
        }
      })
      // TODO 同步图表选择
      this.onParameterChange()
    },
    onParameterRemove(p) {
      const dateTimeRange = this.getDateTimeRange()
      const { parameters } = this
      const index = parameters.indexOf(p)
      if (index !== -1) {
        parameters.splice(index, 1)
      }
      parameters.forEach((pItem, i) => {
        pItem.sortIndex = i
      })
      this.resetTimeRange(dateTimeRange)
      this.onParameterChange()
    },
    checkAggregationConfig(aggregationConfig, p) {
      let changed = false
      this.aggregationConfigKeys.every(key => {
        if (!isequal(p[key], aggregationConfig[key])) {
          changed = true
          return false
        }
        return true
      })
      return changed
    },
    async onParameterAggregationChange(aggregationConfig, p) {
      const { aggregationChangeFormatter, parameters } = this
      if (!this.checkAggregationConfig(aggregationConfig, p)) return
      this.aggregationConfigKeys.forEach(key => {
        p[key] = aggregationConfig[key]
      })
      if (aggregationChangeFormatter) {
        const newData = await this.aggregationChangeFormatter(aggregationConfig, p, parameters)
        p.values = newData.values
        p.frequency = newData.frequency
        if (aggregationConfig.calculator_type.endsWith('ratio')) {
          p.config.unit = '%'
        } else {
          p.config.unit = p.originUnit
        }
        // TODO 后续合并调用一个change，避免重复绘制
        this.onParameterChange()

        // 同步所有自定义指标数据
        const userParameters = parameters.filter(({ generator }) => !generatorSystemList.includes(generator))
        userParameters
          .filter(param => {
            const formula = param.config.formula
            return formula && formula.some(({ id }) => id === p.param_id)
          })
          .forEach(param => {
            const {
              aggregation_period,
              aggregation_type,
              calculator_type,
              moving_period,
              formula,
              translation,
            } = param.config
            this.onParameterFormulaChange(
              {
                calculator_type,
                aggregation_type,
                aggregation_period,
                moving_period,
                formula,
                translation,
              },
              false,
              param,
              false
            )
          })
      }
    },
    async onParameterFormulaChange(aggregationConfig, ifNotify, p, ifCheckConfig = true) {
      const { formulaChangeFormatter, parameters } = this
      if (ifCheckConfig && !this.checkAggregationConfig(aggregationConfig, p)) return
      // 同步计算相关字段，主要给后端调用
      this.aggregationConfigKeys.forEach(key => {
        p[key] = aggregationConfig[key]
      })

      let hasYear = false
      let resetPeriod = false
      const formulaParamIds = []
      if (Array.isArray(p.formula)) {
        p.formula.forEach(v => {
          if (typeof v === 'object' && v.id) {
            formulaParamIds.push(v.id)
          }
        })
      }
      if (formulaParamIds.length) {
        const parameterMap = {}
        parameters.forEach(v => {
          parameterMap[v.param_id] = v
        })
        const frequencyList = Object.keys(frequencyMap)
        formulaParamIds.forEach(v => {
          if (parameterMap[v]) {
            // 判断公式中指标项是否存在年度数据
            if (parameterMap[v].aggregation_period === 'year' || parameterMap[v].frequency === 'year') {
              hasYear = true
            }
            // 判断聚合周期是否越界
            if (p.frequency) {
              const frequencyIndex = frequencyList.indexOf(p.frequency)
              if (frequencyList.indexOf(parameterMap[v].frequency) > frequencyIndex) {
                resetPeriod = true
              }
            }
          }
        })
      }

      // 重新设置计算方式
      if (hasYear) {
        // TODO 和ParameterConfig中的initYearCalculateTypeOptions同步提取
        const yearCalculateTypes = ['original', 'cycle_ratio', 'cycle_differential', 'moving_average']
        if (!yearCalculateTypes.includes(p.calculator_type)) {
          p.calculator_type = 'original'
          p.config.calculator_type = 'original'
        }
      }
      // 重新设置聚合周期
      if (resetPeriod) {
        p.aggregation_period = ''
        p.config.aggregation_period = ''
      }

      if (formulaChangeFormatter) {
        const newData = await this.formulaChangeFormatter(aggregationConfig, p, parameters)
        p.values = newData.values
        p.frequency = newData.frequency
        p.originFrequency = newData.original_frequency
        if (ifNotify) {
          this.$SjNotify({
            message: '公式应用成功',
            duration: 2000,
            type: 'success',
          })
        }
        this.onParameterChange()
      }
    },
    onParameterDblclick(p) {
      this.$emit('replaceCustomIndicator', p)
    },
    onAddCustomParameter({ label, value }, p) {
      const { parameters, globalStyles } = this
      const param_id = uuid()
      const newParameter = {
        param_id,
        generator: 'user',
        values: [],
        frequency: '',
        originFrequency: '', // 需要赋值用于watch,设置新的聚合周期列表
        sortIndex: parameters.length,
        data_source: this.userName,
        config: this.initParameterConfig({
          unit: value.endsWith('ratio') ? '%' : null,
          style: (globalStyles && globalStyles.type) || 'line',
          yAxisPosition: 'right',
          formula: [
            {
              id: p.param_id,
            },
          ],
          calculator_type: value,
          name: `${label}_${p.config.name}`,
        }),
      }
      parameters.push(newParameter)
      this.onParameterFormulaChange(newParameter.config, false, newParameter, false)
    },
    // 加入空白自定指标
    addCustomParameter(config) {
      if (this.systemParameters.length === 0) return
      const param_id = uuid()
      const { globalStyles } = this
      this.parameters.push({
        param_id,
        generator: 'user',
        values: [],
        frequency: '',
        originFrequency: '',
        sortIndex: this.parameters.length,
        data_source: this.userName,
        config: this.initParameterConfig({
          ...config,
          style: globalStyles?.type || 'line',
        }),
      })
    },
    // 替换系统指标
    replaceSystemIndicator(indicator, p) {
      const rp = indicator.indicator_values[0]
      const oldName = p.config.name
      const repalceText = oldName.replace(/[()[\]]/g, (...params) => `\\${params[0]}`)
      const name = rp.config ? rp.config.name : rp.name
      const unit = rp.config ? rp.config.unit : rp.unit
      this.editData.show_name = this.editData.show_name.replace(new RegExp(repalceText, 'g'), name)
      Object.assign(p, {
        indicator_id: rp.indicator_id || indicator.indicator_id,
        update_time: rp.update_time || indicator.update_time,
        frequency: rp.frequency || indicator.frequency,
        // TODO 全局data_source是否跟随改动
        data_source: rp.data_source || indicator.data_source,
        originFrequency: rp.original_frequency || rp.originFrequency || rp.frequency || indicator.frequency,
        originUnit: rp.originUnit || unit,
        values: rp.values,
        originValues: rp.original_values || rp.values,
        config: Object.assign(p.config, {
          name,
          unit,
          translation: 0,
          aggregation_period: '',
          aggregation_type: '',
          calculator_type: 'original',
        }),
      })
      this.syncUserIndicator(p, oldName)
      this.onParameterChange()
    },
    syncUserIndicator(p, oldName) {
      const { parameters } = this
      parameters.forEach(pItem => {
        let syncFlag = false
        pItem.config.formula &&
          pItem.config.formula.every(fItem => {
            if (typeof fItem === 'object' && fItem.id === p.param_id) {
              if (Object.prototype.hasOwnProperty.call(fItem, 'name')) {
                Object.assign(fItem, {
                  name: p.config.name,
                })
              }
              syncFlag = true
              return false
            }
            return true
          })
        if (syncFlag) {
          const repalceText = oldName.replace(/[()[\]]/g, (...params) => `\\${params[0]}`)
          Object.assign(pItem.config, {
            name: pItem.config.name.replace(new RegExp(repalceText, 'g'), p.config.name),
            translation: 0,
            aggregation_period: '',
            aggregation_type: '',
          })
          // TODO 后续同步操作
          this.onParameterFormulaChange(
            {
              translation: 0,
              aggregation_period: '',
              aggregation_type: '',
              calculator_type: pItem.config.calculator_type,
              moving_period: undefined,
              formula: pItem.config.formula,
            },
            false,
            pItem,
            false
          )
        }
      })
    },
    // 添加指标
    addIndicator(indicators) {
      const dateTimeRange = this.getDateTimeRange()
      indicators.forEach(indicator => {
        if (!indicator) return
        const newIDMap = {}
        indicator.indicator_values.forEach(value => {
          newIDMap[value.param_id] = uuid()
        })
        indicator.indicator_values.forEach(value => {
          if (value && value.config && value.config.formula) {
            value.config.formula = value.config.formula.map(item => {
              if (typeof item === 'object') {
                return { id: newIDMap[item.id] }
              }
              return item
            })
          }
          value.param_id = newIDMap[value.param_id]
        })
        this.pushParameters(indicator, true)
      })
      this.resetTimeRange(dateTimeRange)
    },
    // 获取实际时间范围
    getDateTimeRange() {
      let range
      const { editData } = this
      if (editData.timeRange) {
        const timeList = getDateTimeList(editData)
        const startIndex = editData.timeRange[0]
        const endIndex = editData.timeRange[1] || timeList.length - 1
        range = [timeList[startIndex], timeList[endIndex]]
      }
      return range
    },
    // 根据时间范围重置timeRange
    resetTimeRange(dateTimeRange) {
      // TODO 后期取消数据类型限制
      const { editData } = this
      if (this.dataEditable) {
        const timeList = getDateTimeList(editData)
        editData.timeRange = getTimeRange(dateTimeRange, timeList)
      } else {
        editData.timeRange = null
      }
    },
  },
}
</script>
