<template>
  <KmChartNew
    ref="chart"
    :data="data"
    :config="finalConfig"
    :viewOption="viewOption"
    :editable="editable"
    :timeRange="timeRange"
    v-bind="$attrs"
  ></KmChartNew>
</template>

<script>
/* eslint-disable */
import { defineComponent } from 'vue'
import KmChartNew from '../sjchart/SjChart.vue'
import html2canvas from 'html2canvas'
import { merge } from 'lodash-es'
// import XLSX from 'xlsx'
// import downloadjs from 'downloadjs'

export default defineComponent({
  components: {
    KmChartNew,
  },
  name: 'IndicatorChart',
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    config: Object,
    chartColors: {
      type: Array,
      default: () => [],
    },
    viewOption: String,
    editable: {
      type: Boolean,
      default: false,
    },
    clearDefaultColor: {
      type: Boolean,
      default: true,
    },
    timeRange: {
      type: Array,
      default: null,
    },
  },
  computed: {
    finalConfig() {
      const { config, clearDefaultColor, chartColors, data } = this
      const baseConfig = {
        clearDefaultColor,
        range: {
          type: 'native',
        },
      }
      if (chartColors.length && data && (!data.styles || !data.styles.chartColors)) {
        Object.assign(baseConfig, {
          theme: {
            chartColors,
          },
        })
      }
      return merge(baseConfig, config)
    },
  },
  methods: {
    async getPng(callback, excludeComponents) {
      let chartPng
      const excludeComponentsFinal = Array.isArray(excludeComponents) ? excludeComponents : ['dataZoom', 'range']
      // TODO 优化
      if (this.$refs.chart && this.$refs.chart.$refs.chart && this.$refs.chart.$refs.chart.$refs.chart) {
        const chartCmpt = this.$refs.chart.$refs.chart.$refs.chart
        chartPng = chartCmpt.getDataURL({
          excludeComponents: excludeComponentsFinal,
        })
        chartCmpt.resize()
      }
      const canvas = await html2canvas(this.$el, {
        onclone(el) {
          if (callback) {
            callback(el)
          }
          el.querySelectorAll('.table-header-cell').forEach(cell => {
            cell.style.display = 'block'
            cell.style['-webkit-line-clamp'] = 'unset'
            cell.style['-webkit-box-orient'] = 'unset'
          })
          el.querySelectorAll('.sj_chart').forEach(chart => {
            const chartWrapper = chart.querySelector('.chart_wrapper')
            if (chartPng && chartWrapper) {
              chartWrapper.innerHTML = ''
              const img = document.createElement('img')
              img.style.width = '100%'
              img.src = chartPng
              chartWrapper.appendChild(img)
            }
            if (excludeComponentsFinal.includes('range')) {
              const range = chart.querySelector('.sj-range')
              if (range) {
                range.remove()
              }
            }
          })
        },
      })
      const png = canvas.toDataURL('image/png')
      return png
    },
    async getSimplePng() {
      const instance = this.$refs?.chart?.$refs?.chart?.$refs?.chart
      if (instance) {
        const src = instance.getDataURL({
          type: 'png',
        })
        return src
      }
      return null
    },
    getXData() {
      const options = this.$refs.chart.options
      return options?.xAxis?.data
    },
    getXLSX(name) {
      const { tableData, columns } = this.$refs.chart
      if (tableData && columns) {
        const ws = XLSX.utils.json_to_sheet(
          [
            columns.reduce(
              (prev, { prop, label }) => ({
                ...prev,
                [prop]: label,
              }),
              {}
            ),
            ...tableData,
          ],
          {
            header: columns.map(({ prop }) => prop),
            skipHeader: true,
          }
        )
        const wb = XLSX.utils.book_new()
        XLSX.utils.book_append_sheet(wb, ws)
        downloadjs(
          XLSX.write(wb, {
            bookType: 'xlsx',
            type: 'binary',
          }),
          `${name}.xlsx`,
          'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
        )
      }
    },
    getSize() {
      const width = this.$refs.chart.$el.clientWidth + 40
      const height = this.$refs.chart.$el.clientHeight + 40
      return {
        width,
        height,
      }
    },
  },
})
</script>
