<template>
  <div class="hot-words-skeleton">
    <div class="skeleton-item skeleton-item1">
      <div></div>
    </div>
    <div class="skeleton-item skeleton-item2">
      <div></div>
      <div></div>
    </div>
    <div class="skeleton-item skeleton-item3">
      <div></div>
    </div>
    <div class="skeleton-item skeleton-item4">
      <div></div>
      <div></div>
    </div>
    <div class="skeleton-item skeleton-item5">
      <div></div>
    </div>
  </div>
</template>
<style lang="less" scoped>
.hot-words-skeleton {
  padding: 16px 33px 0 28px;
  .skeleton-item {
    display: flex;
    justify-content: space-between;
    & > div {
      border-radius: 2px;
      background-color: #f7f8f9;
    }
  }
  .skeleton-item1 {
    justify-content: center;
    margin-bottom: 8px;
    & > div {
      width: 102px;
      height: 18px;
    }
  }
  .skeleton-item2 {
    margin-bottom: 12px;
    & > div {
      width: 93px;
      height: 18px;
      &:last-child {
        width: calc(100% - 104px);
        // margin-left: 11px;
      }
    }
  }
  .skeleton-item3 {
    justify-content: center;
    margin-bottom: 18px;
    & > div {
      width: 123px;
      height: 44px;
    }
  }
  .skeleton-item4 {
    margin-bottom: 14px;
    & > div {
      width: 123px;
      height: 18px;
      &:last-child {
        widows: calc(100% - 137px);
        // margin-left: 14px;
      }
    }
  }
  .skeleton-item5 {
    justify-content: center;
    margin-bottom: 18px;
    & > div {
      width: 102px;
      height: 18px;
    }
  }
}
</style>
