<template>
  <title-container>
    <div class="container">
      <hot-words-skeleton v-if="loading" />
      <div id="hotWords" v-else-if="hotWords?.length"></div>
      <empty-placeholder v-else />
    </div>
    <template #operation v-if="showSkeleton">
      <icon-font type="iconclose2" @click="$emit('remove')"></icon-font>
    </template>
  </title-container>
</template>

<script lang="ts">
import { defineComponent, onMounted } from 'vue'
import HotWordsSkeleton from './HotWordsSkeleton.vue'
import TitleContainer from '@/views/components/TitleContainer.vue'
// import userTagCloud, { TagCloudProps } from './useTagCloud'
import { GetResult, useApi, newsApi } from '@/api'
import { HotNews } from '@/models/hotNews'
import EmptyPlaceholder from '@/components/EmptyPlaceholder.vue'

export default defineComponent({
  name: 'HotWords',
  components: {
    HotWordsSkeleton,
    TitleContainer,
    EmptyPlaceholder,
  },
  emits: ['remove'],
  props: {
    showSkeleton: Boolean,
  },
  setup() {
    const { loading, response: hotWords } = useApi<GetResult<HotNews>>(newsApi.get('hot'))

    onMounted(() => {
      // userTagCloud('hotWords', {
      //       data: hotWords as GetAllResult<HotNews>,
      //       // onClick: this.onClick
      //     } as TagCloudProps)
    })

    return {
      loading,
      hotWords,
    }
  },
})
</script>

<style scoped>
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
