<template>
  <div class="collapse_group">
    <div
      class="collapse_group_item common-border-color no-shadow"
      :class="isCollapse(item.value) ? 'collapse-active' : ''"
      v-for="item in data"
      :key="item.value"
    >
      <div class="collapse_group_item_header_wrapper common-border-color">
        <div class="collapse_group_item_header">
          <icon-font v-if="isCollapse(item.value)" :type="item.icon" class="color-grey"></icon-font>
          <div v-if="isCollapse(item.value)" class="collapse_group_item_header_label" :title="item.label">
            {{ item.label }}
          </div>
          <icon-font
            class="collapse-icon color-grey"
            :type="isCollapse(item.value) ? 'iconnav-expanded' : 'iconnav-collapsed'"
            @click="onSwitch(item)"
          ></icon-font>
        </div>
      </div>
      <div v-if="!isCollapse(item.value)" style="width: 100%; text-align: center; margin-top: 10px">
        <icon-font class="color-grey" :type="item.icon"></icon-font>
      </div>
      <div v-show="isCollapse(item.value)" class="collapse_group_item_content">
        <component :is="item.component" v-bind="item.props" v-on="item.events"></component>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { addListener, removeListener } from 'resize-detector'

export default defineComponent({
  name: 'CollapseGroup',
  props: {
    value: {
      type: Array,
      default: () => [],
    },
    data: {
      type: Array,
      default: () => [],
    },
    multiple: {
      type: Boolean,
      default: true,
    },
  },
  setup(props) {
    const isCollapse = v => {
      return props.value.includes(v)
    }
    return {
      isCollapse,
    }
  },
  watch: {
    data() {
      this.onResize()
    },
  },
  mounted() {
    addListener(this.$el, this.onResize)
  },
  beforeUnmount() {
    removeListener(this.$el, this.onResize)
  },
  methods: {
    onResize() {
      let itemMaxHeight = 0
      if (this.$el && this.$el.clientHeight) {
        const { data } = this
        itemMaxHeight = this.$el.clientHeight - 40 * data.length
      }
      this.itemMaxHeight = itemMaxHeight
    },
    onSwitch(item) {
      const { value } = this
      let newVal = [...value]
      const valIndex = newVal.indexOf(item.value)
      if (valIndex === -1) {
        if (!this.multiple) {
          newVal = []
        }
        newVal.push(item.value)
      } else {
        newVal.splice(valIndex, 1)
      }
      this.$emit('update:value', newVal)
    },
  },
})
</script>

<style lang="less" scoped>
.collapse_group {
  height: 100%;
  display: flex;
  .collapse_group_item {
    width: 40px;
    height: 100%;
    transition: all 0.2s;
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    &.collapse-active {
      width: 200px;
    }
    .collapse_group_item_header_wrapper {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      .collapse_group_item_header {
        height: 40px;
        box-sizing: border-box;
        padding: 0 10px;
        display: flex;
        align-items: center;
        .collapse_group_item_header_label {
          flex-grow: 1;
          min-width: 0;
          font-size: 12px;
          font-weight: 500;
          padding-left: 5px;
          .text-ellipsis();
        }
        .collapse-icon {
          cursor: pointer;
        }
      }
    }
    .collapse_group_item_content {
      width: 100%;
      height: calc(100% - 40px);
      overflow: auto;
    }
  }
}
</style>
