<template>
  <a-popover placement="bottom" :disabled="disabled" trigger="click" v-model:visible="dropdownShow">
    <template #content>
      <div>
        <div class="color-container">
          <div>
            <div class="color-title">标准色</div>
            <div style="display: flex">
              <div class="color-content">
                <div
                  :class="{ borderRadius }"
                  class="color-item"
                  v-for="color in colors1"
                  :key="color"
                  @click="onManualPick(color)"
                  :style="{ backgroundColor: color }"
                ></div>
              </div>
            </div>
          </div>
          <div style="margin-top: 5px">
            <div class="color-title">主题色</div>
            <div style="display: flex">
              <div class="color-content">
                <div
                  class="color-item"
                  :class="{ borderRadius }"
                  v-for="color in standard"
                  :key="color"
                  @click="onManualPick(color)"
                  :style="{ backgroundColor: color }"
                ></div>
              </div>
            </div>
          </div>
          <ColorPicker :value="value" @input="onManualPick" @reset="onReset" v-bind="$attrs">
            <div class="color-more">更多颜色...</div>
          </ColorPicker>
          <slot name="attachment" class="color-picker-attachment"></slot>
        </div>
      </div>
    </template>
    <div class="trigger">
      <slot />
    </div>
  </a-popover>
</template>

<script>
import { defineComponent, ref } from 'vue'
import ColorPicker from './colorpicker.vue'

export default defineComponent({
  name: 'SjColorPicker',
  emits: ['input', 'update:visible'],
  components: {
    ColorPicker,
  },
  props: {
    value: String,
    borderRadius: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, ctx) {
    const storeColor = ref(null)
    const dropdownShow = ref(false)
    const onManualPick = color => {
      ctx.emit('input', color)
    }
    const onReset = () => {
      ctx.emit('input', storeColor.value)
    }
    return {
      onManualPick,
      onReset,
      dropdownShow,
    }
  },
  data() {
    return {
      colors1: [
        '#34457A',
        '#D46F7F',
        '#B4CD83',
        '#A08AB9',
        '#A6D5E3',
        '#F9B175',
        '#000000',
        '#535353',
        '#A7A7A7',
        '#C5C5C5',
        '#DDDDDD',
        '#FFFFFF',
      ],
      colors2: [
        '#9F3244',
        '#2A3862',
        '#7C9547',
        '#675081',
        '#3C899F',
        '#C57838',
        '#C63D55',
        '#34457A',
        '#9CBB59',
        '#8064A2',
        '#4AACC6',
        '#F79645',
        '#D46F7F',
        '#67749B',
        '#B4CD83',
        '#A08AB9',
        '#78C1D5',
        '#F9B175',
        '#E39EAA',
        '#9AA2BC',
        '#CDDDAC',
        '#C0B1D0',
        '#A6D5E3',
        '#FBCBA3',
        '#535353',
        '#000000',
        '#A7A7A7',
        '#FFFFFF',
        '#DDDDDD',
      ],

      // standard: [
      //   "#34457A",
      //   "#D46F7F",
      //   "#B4CD83",
      //   "#A08AB9",
      //   "#A6D5E3",
      //   "#F9B175"
      // ],
      standard: [
        '#2A3862',
        '#9F3244',
        '#7C9547',
        '#675081',
        '#3C899F',
        '#C57838',
        '#34457A',
        '#C63D55',
        '#9CBB59',
        '#8064A2',
        '#4AACC6',
        '#F79645',
        '#67749B',
        '#D46F7F',
        '#B4CD83',
        '#A08AB9',
        '#78C1D5',
        '#F9B175',
        '#9AA2BC',
        '#E39EAA',
        '#CDDDAC',
        '#C0B1D0',
        '#A6D5E3',
        '#FBCBA3',
      ],
      standard2: ['#0064FF', '#E5EFFF'],
    }
  },
})
</script>

<style lang="less" scoped>
.trigger {
  display: inline-block;
}
.color-container {
  text-align: left;
  padding: 10px 5px 10px 8px;

  .color-title {
    // .text('caption', 'dark');
    margin-bottom: 5px;
  }

  .color-content {
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2px;
    margin-bottom: 5px;

    .color-item {
      width: 15px;
      height: 15px;
      border-radius: 2px;
      box-sizing: border-box;
      margin: 0 5px 5px 0;

      // &:hover{
      //   border: 1px solid #354052;
      // }
    }
    .borderRadius {
      border-radius: 50%;
    }
  }
}
.color-more {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  &:hover {
    color: @primary-color;
  }
}
</style>
