<template>
  <tool-dropdown-btn class="page-insert-dropdown" text="插入" icon="iconadd">
    <div class="page-insert-content" :style="{ maxHeight }">
      <div v-for="p in templatePages" :key="p.key" class="item" @click="$emit('add', p)">
        <template-thumbnail :src="p.background" class="preview" />
        <div class="text">
          {{ p.name }}
        </div>
      </div>
    </div>
  </tool-dropdown-btn>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, toRefs } from 'vue'
import ToolDropdownBtn from '../ToolDropdownBtn.vue'
import TemplateThumbnail from './LibraryTemplate/TemplateThumbnail.vue'
// import { useStore } from '@/store'
import { TemplatePages } from '@/models/pptTemplate'

export default defineComponent({
  name: 'PageInsertDropdown',
  components: {
    ToolDropdownBtn,
    TemplateThumbnail,
  },
  props: {
    template: {
      type: Object,
      default: () => {
        return new TemplatePages()
      },
    },
  },
  setup(props) {
    console.log(props)
    const templateObj: Partial<TemplatePages> = {}
    const state = reactive({
      blankPage: [
        {
          key: 'content',
          name: '空白',
          background: '',
        },
      ],
      templateObj,
    })

    // const store = useStore()
    const maxHeight = computed(() => {
      // const { contentHeight } = store.state;
      const contentHeight = 1000
      return `${contentHeight - 100}px`
    })

    const templatePages = computed(() => {
      const { template } = toRefs(props)
      console.log('template.value', template.value)
      if (!template.value) return null
      console.log([...template.value.pageTypes, state.blankPage])
      return [...template.value.pageTypes, ...state.blankPage]
      // return pageTypes
    })
    return {
      ...toRefs(state),
      maxHeight,
      templatePages,
    }
  },
})
</script>

<style lang="less">
.page-insert-content {
  overflow-x: hidden;
  overflow-y: auto;
  .item {
    cursor: pointer;
    display: flex;
    margin: 0 15px;
    &:first-child {
      margin-top: 15px;
    }
    &:last-child {
      margin-bottom: 15px;
    }
    .preview {
      width: 90px;
      height: 68px;
      border-radius: 4px;
      border: 1px solid @border-color;
    }
    .text {
      margin-left: 22px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
      color: @text-color;
      line-height: 14px;
      align-self: flex-end;
    }
    + .item {
      margin-top: 10px;
    }
    &:hover {
      .preview {
        box-shadow: 2px 2px 8px 0px @grey-color;
      }
    }
  }
}
</style>
