<template>
  <div :id="id" ref="contextMenu" :style="ctxStyle" class="ctx-menu-container" @click.stop @contextmenu.stop>
    <div style="background-color: transparent" class="ctx open">
      <ul
        role="menu"
        class="ctx-menu"
        :class="{
          'ctx-menu-right': align === 'right',
          'ctx-menu-left': align === 'left',
        }"
      >
        <slot></slot>
      </ul>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import createBodyClickListener from './bodyClickListener'

// const EVENT_LIST = ['click', 'contextmenu', 'keydown']

export default {
  name: 'ContextMenu',
  props: {
    id: {
      type: String,
      default: 'default-ctx',
    },
  },
  data() {
    return {
      locals: {},
      align: 'left',
      ctxTop: 0,
      ctxLeft: 0,
      ctxVisible: false,
      bodyClickListener: createBodyClickListener(e => {
        const isOpen = !!this.ctxVisible
        const outsideClick = isOpen && !this.$el.contains(e.target)

        if (outsideClick) {
          if (e.which !== 1) {
            e.preventDefault()
            e.stopPropagation()
            return false
          } else {
            this.ctxVisible = false
            this.$emit('ctx-cancel', this.locals)
            e.stopPropagation()
          }
        } else {
          this.ctxVisible = false
          this.$emit('ctx-close', this.locals)
        }
      }),
    }
  },
  computed: {
    ctxStyle() {
      return {
        display: this.ctxVisible ? 'block' : 'none',
        top: (this.ctxTop || 0) + 'px',
        left: (this.ctxLeft || 0) + 'px',
      }
    },
  },
  watch: {
    ctxVisible(newVal, oldVal) {
      if (oldVal === true && newVal === false) {
        this.bodyClickListener.stop(e => {
          // console.log('context menu sequence finished', e)
          // this.locals = {}
        })
      }
    },
  },
  methods: {
    /*
     * this function handles some cross-browser compat issues
     * thanks to https://github.com/callmenick/Custom-Context-Menu
     */
    setPositionFromEvent(e) {
      e = e || window.event

      const scrollingElement = document.scrollingElement || document.documentElement

      if (e.pageX || e.pageY) {
        this.ctxLeft = e.pageX
        this.ctxTop = e.pageY - scrollingElement.scrollTop
      } else if (e.clientX || e.clientY) {
        this.ctxLeft = e.clientX + scrollingElement.scrollLeft
        this.ctxTop = e.clientY + scrollingElement.scrollTop
      }

      this.$nextTick(() => {
        const menu = this.$el
        const minHeight = (menu.style.minHeight || menu.style.height).replace('px', '') || 32
        const minWidth = (menu.style.minWidth || menu.style.width).replace('px', '') || 32
        const scrollHeight = menu.scrollHeight || minHeight
        const scrollWidth = menu.scrollWidth || minWidth

        const largestHeight = window.innerHeight - scrollHeight - 25
        const largestWidth = window.innerWidth - scrollWidth - 25

        if (this.ctxTop > largestHeight) this.ctxTop = largestHeight
        if (this.ctxLeft > largestWidth) this.ctxLeft = largestWidth
      })
      return e
    },

    open(e, data) {
      if (this.ctxVisible) this.ctxVisible = false
      this.ctxVisible = true
      this.$emit('ctx-open', (this.locals = data || {}))
      this.setPositionFromEvent(e)
      this.$el.setAttribute('tab-index', -1)
      this.bodyClickListener.start()
      return this
    },
  },
}
</script>
<!--<script>-->
<!--import createBodyClickListener from "./body-click-listener";-->

<!--export default {-->
<!--name: "context-menu",-->
<!--props: {-->
<!--id: {-->
<!--type: String,-->
<!--default: "default-ctx"-->
<!--}-->
<!--},-->
<!--data() {-->
<!--return {-->
<!--locals: {},-->
<!--align: "left",-->
<!--ctxTop: 0,-->
<!--ctxLeft: 0,-->
<!--ctxVisible: false,-->
<!--bodyClickListener: createBodyClickListener(e => {-->
<!--const outsideClick = this.ctxVisible && !this.$el.contains(e.target);-->
<!--this.ctxVisible = false;-->
<!--console.log('close')-->
<!--this.$emit("ctx-close", this.locals);-->

<!--if (outsideClick) {-->
<!--e.stopPropagation();-->
<!--}-->
<!--})-->
<!--};-->
<!--},-->
<!--methods: {-->
<!--/*-->
<!--* this function handles some cross-browser compat issues-->
<!--* thanks to https://github.com/callmenick/Custom-Context-Menu-->
<!--*/-->
<!--setPositionFromEvent(e) {-->
<!--e = e || window.event;-->

<!--const scrollingElement =-->
<!--document.scrollingElement || document.documentElement;-->

<!--if (e.pageX || e.pageY) {-->
<!--this.ctxLeft = e.pageX;-->
<!--this.ctxTop = e.pageY - scrollingElement.scrollTop;-->
<!--} else if (e.clientX || e.clientY) {-->
<!--this.ctxLeft = e.clientX + scrollingElement.scrollLeft;-->
<!--this.ctxTop = e.clientY + scrollingElement.scrollTop;-->
<!--}-->

<!--this.$nextTick(() => {-->
<!--const menu = this.$el;-->
<!--const minHeight =-->
<!--(menu.style.minHeight || menu.style.height).replace("px", "") || 32;-->
<!--const minWidth =-->
<!--(menu.style.minWidth || menu.style.width).replace("px", "") || 32;-->
<!--const scrollHeight = menu.scrollHeight || minHeight;-->
<!--const scrollWidth = menu.scrollWidth || minWidth;-->

<!--const largestHeight = window.innerHeight - scrollHeight - 25;-->
<!--const largestWidth = window.innerWidth - scrollWidth - 25;-->

<!--if (this.ctxTop > largestHeight) this.ctxTop = largestHeight;-->
<!--if (this.ctxLeft > largestWidth) this.ctxLeft = largestWidth;-->
<!--});-->
<!--return e;-->
<!--},-->

<!--open(e, data) {-->
<!--if (this.ctxVisible) this.ctxVisible = false;-->
<!--this.ctxVisible = true;-->
<!--this.$emit("ctx-open", (this.locals = data || {}));-->
<!--this.setPositionFromEvent(e);-->
<!--this.$el.setAttribute("tab-index", -1);-->
<!--this.bodyClickListener.start();-->
<!--return this;-->
<!--}-->
<!--},-->
<!--watch: {-->
<!--ctxVisible(newVal, oldVal) {-->
<!--if (oldVal === true && newVal === false) {-->
<!--this.bodyClickListener.stop(e => {-->
<!--// console.log('context menu sequence finished', e)-->
<!--// this.locals = {}-->
<!--});-->
<!--}-->
<!--}-->
<!--},-->
<!--computed: {-->
<!--ctxStyle() {-->
<!--return {-->
<!--display: this.ctxVisible ? "block" : "none",-->
<!--top: `${this.ctxTop || 0}px`,-->
<!--left: `${this.ctxLeft || 0}px`-->
<!--};-->
<!--}-->
<!--}-->
<!--};-->
<!--</script>-->
<style lang="less" scoped>
@import url('../../style/pptEditor.less');
.ctx {
  position: relative;
}

.ctx-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 0.9rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.ctx-divider {
  height: 1px;
  margin: 0.5rem 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.ctx-item {
  display: block;
  /*width: 100%;*/
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  cursor: default;
}

.ctx-item:focus,
.ctx-item:hover {
  color: @primary-color;
  text-decoration: none;
  background-color: @color-background;
  cursor: auto;
}

.ctx-item.active,
.ctx-item.active:focus,
.ctx-item.active:hover {
  color: #fff;
  text-decoration: none;
  background-color: @color-highlight;
  outline: 0;
}

.ctx-item.disabled,
.ctx-item.disabled:focus,
.ctx-item.disabled:hover {
  color: #818a91;
}

.ctx-item.disabled:focus,
.ctx-item.disabled:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: 'progid:DXImageTransform.Microsoft.gradient(enabled = false)';
}

.open > .ctx-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.ctx-menu-right {
  right: 0;
  left: auto;
}

.ctx-menu-left {
  right: auto;
  left: 0;
}

.ctx-header {
  display: block;
  padding: 3px 20px;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #818a91;
  white-space: nowrap;
}

.ctx-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .ctx-menu {
  right: 0;
  left: auto;
}

.ctx-menu-container {
  position: fixed;
  padding: 0;
  border: 1px solid #bbb;
  background-color: whitesmoke;
  z-index: 99999;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
</style>
