<template>
  <context-menu ref="ctxMenu" class="context-menu">
    <div class="menu">
      <div v-for="item in menu" :key="item.key" class="item" @click="handleClick(item.key)">
        <icon-font v-if="item.icon" :type="item.icon"></icon-font>
        <span>{{ item.text }}</span>
      </div>
    </div>
  </context-menu>
</template>
<script>
/* eslint-disable */

import ContextMenu from './ContextMenu.vue'

export default {
  name: 'PageContextMenu',
  components: {
    ContextMenu,
  },
  props: {
    menu: {
      type: Array,
      default: () => {
        return []
      },
    },
  },
  data() {
    return {
      ctxVisible: false,
      callback: null,
    }
  },
  computed: {},
  mounted() {
    this.$watch(
      () => this.$refs.ctxMenu.ctxVisible,
      visible => {
        this.ctxVisible = visible
      },
      {
        immediate: true,
      }
    )
  },
  methods: {
    open(event, callback) {
      if (this.menu?.length > 0) {
        this.$refs.ctxMenu.open(event)
        this.callback = callback
      }
    },
    handleClick(key) {
      this.callback(key)
    },
  },
}
</script>

<style scoped lang="less">
.context-menu {
  :deep(.ctx-menu) {
    background: rgba(255, 255, 255, 1);
    border: none;
    padding: 0;
    min-width: max-content;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 4px;
    padding: 4px 0;
    .item {
      min-width: max-content;
      cursor: pointer;
      color: rgba(151, 163, 180, 1);
      font-size: 14px;
      font-weight: 400;
      display: flex;
      align-items: center;
      padding: 0 10px;
      i {
        margin-right: 5px;
      }
      &:hover {
        background: rgba(250, 251, 251, 1);
        color: rgba(0, 100, 255, 1);
      }
    }
  }
}
</style>
