<template>
  <div class="hot-news">
    <aside class="shadow left-aside" style="overflow: auto">
      <div class="padding10 filter-box" style="padding-bottom: 0">
        <div class="clearFix">
          <a-radio-group v-model:value="searchTime" class="ant-radio-group-modification fl" size="small">
            <a-radio-button value="1">24小时</a-radio-button>
            <a-radio-button value="3">近三天</a-radio-button>
            <a-radio-button value="7">近一周</a-radio-button>
          </a-radio-group>
          <a-config-provider :auto-insert-space-in-button="false">
            <a-button class="fr" type="primary" size="small" style="font-size: 12px">筛选</a-button>
          </a-config-provider>
        </div>
        <div class="mt10">
          <a-input v-model:value="searchText" placeholder="请输入" allowClear size="small" class="input-search-icon">
            <template #suffix>
              <icon-font type="iconsearch" @click="searchFunc"></icon-font>
            </template>
          </a-input>
        </div>
      </div>
      <!-- <a-divider style="margin: 0"></a-divider> -->
      <title-container tit="行业" bottomBorder @callback="collapse('business')">
        <template #operation>
          <span>{{ businessActive ? '收起' : '展开' }}</span
          ><span class="icon-collapse" :class="{ rotate90: businessActive }">></span>
        </template>
        <div class="padding10-not-top businessList" :class="{ 'contont-collapse': businessActive }">
          <a-radio-group v-model:value="businessSelect" size="small" buttonStyle="solid">
            <a-space :size="10">
              <a-radio-button value="all">全部</a-radio-button>
              <a-radio-button v-for="item in businessList" :value="item.value" :key="item.id">{{
                item.value
              }}</a-radio-button>
            </a-space>
          </a-radio-group>
          <data-empty v-if="businessList.lenght === 0"></data-empty>
        </div>
      </title-container>
      <title-container tit="地域" bottomBorder @callback="collapse('territory')">
        <template #operation>
          <span>{{ territoryActive ? '收起' : '展开' }}</span
          ><span class="icon-collapse" :class="{ rotate90: territoryActive }">></span>
        </template>
        <div class="padding10-not-top businessList" :class="{ 'contont-collapse': territoryActive }">
          <a-radio-group v-model:value="territorySelect" size="small" buttonStyle="solid">
            <a-space :size="10">
              <a-radio-button value="all">全部</a-radio-button>
              <a-radio-button v-for="item in territoryList" :value="item.value" :key="item.id">{{
                item.value
              }}</a-radio-button>
            </a-space>
          </a-radio-group>
          <data-empty v-if="territoryList.lenght === 0"></data-empty>
        </div>
      </title-container>
      <title-container tit="常用筛选" bottomBorder @callback="opeartionClick">
        <template v-slot:operation> <span>清空</span></template>
        <div class="padding10-not-top businessList">
          <a-radio-group size="small" buttonStyle="solid">
            <a-space :size="10">
              <a-radio-button v-for="item in commonFiltrateList" :value="item.value" :key="item.id">{{
                item.value
              }}</a-radio-button>
            </a-space>
          </a-radio-group>
          <data-empty v-if="commonFiltrateList.lenght === 0"></data-empty>
        </div>
      </title-container>
      <title-container tit="我的订阅">
        <data-empty></data-empty>
      </title-container>
    </aside>
    <!-- 主要内容区域 开始 -->
    <section class="shadow main-content">
      <div class="news-list">
        <div class="padding10 clearFix">
          <a-radio-group v-model:value="tabs" class="ant-radio-group-modification fl" size="small">
            <a-radio-button value="1">热门资讯</a-radio-button>
            <a-radio-button value="2">最近浏览</a-radio-button>
          </a-radio-group>
          <a-button class="fr subscription-btn" size="small" type="primary">
            <icon-font type="iconadd" />
            <span>订阅</span>
          </a-button>
        </div>
        <div class="news-list-container" v-infinite-scroll="scroll">
          <news-card
            v-for="item in listData"
            :key="item.id"
            :title="item.title"
            :content="item.content"
            :created-at="item.time"
            :hot="item.hot"
            :like="item.like"
            :collected="item.isCol"
            :img="item.avatar"
          ></news-card>
          <data-empty v-if="listData.lenght === 0"></data-empty>
        </div>
      </div>
      <div class="news-content"></div>
    </section>
    <!-- 主要内容区域 结束 -->

    <aside class="aside-other">
      <div class="shadow other-item">
        <title-container tit="点赞资讯" headerBorder>
          <template v-slot:operation> <span>更多</span></template>
          <div class="other-list-container">
            <news-card
              v-for="item in listData"
              :key="item.id"
              :title="item.title"
              :content="item.content"
              :created-at="item.time"
              :hot="item.hot"
              :like="item.like"
              :collected="item.isCol"
              :img="item.avatar"
            ></news-card>
            <data-empty v-if="listData.lenght === 0"></data-empty>
          </div>
        </title-container>
      </div>
      <div class="shadow other-item mt10">
        <title-container tit="收藏资讯" headerBorder>
          <template #operation> <span>更多</span></template>
          <div class="other-list-container">
            <news-card
              v-for="item in listData"
              :key="item.id"
              :title="item.title"
              :content="item.content"
              :created-at="item.time"
              :hot="item.hot"
              :like="item.like"
              :collected="item.isCol"
              :img="item.avatar"
            ></news-card>
            <data-empty v-if="listData.lenght === 0"></data-empty>
          </div>
        </title-container>
      </div>
      <div class="shadow other-item mt10">
        <title-container tit="我的笔记" headerBorder>
          <template #operation>
            <icon-font type="iconadd"></icon-font>
            <span>添加随笔</span>
          </template>
          <div class="clearFix margin10">
            <a-radio-group v-model:value="searchTime" class="ant-radio-group-modification fl" size="small">
              <a-radio-button value="1">24小时</a-radio-button>
              <a-radio-button value="3">近三天</a-radio-button>
              <a-radio-button value="7">近一周</a-radio-button>
            </a-radio-group>
            <a-input
              v-model:value="searchText"
              placeholder="请输入"
              allowClear
              size="small"
              class="input-search-icon fr"
              style="width: 100px"
            >
              <template #suffix>
                <icon-font type="iconsearch" @click="searchFunc"></icon-font>
              </template>
            </a-input>
          </div>
          <div class="other-list-container" style="padding: 0 10px; height: calc(100% - 44px)">
            <note-comments
              v-for="item in noteList"
              :key="item.id"
              :comments="item.content1"
              :source="item.content2"
              :time="item.time"
            ></note-comments>
          </div>
        </title-container>
      </div>
    </aside>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { TitleContainer, NewsCard, NoteComments } from '@/views/components'
import useFiltrate from './useFiltrate'
import useNoteList from './useNotes'
import { newsApi } from '@/api'
import { HotNews } from '@/models/hotNews'
export default defineComponent({
  components: { TitleContainer, NewsCard, NoteComments },
  setup() {
    const {
      searchTime,
      businessSelect,
      territorySelect,
      businessList,
      territoryList,
      commonFiltrateList,
      businessActive,
      territoryActive,
      collapse,
    } = useFiltrate() // 行业筛选列表

    const { noteList } = useNoteList()

    // 搜索
    const searchText = ref('')
    function searchFunc() {
      console.log(searchText.value)
    }
    // 资讯类型 列表
    const tabs = ref('1')
    const listData = ref<HotNews[]>([])
    // console.log(listData)
    function opeartionClick() {
      console.log('点击清空')
    }

    return {
      searchTime,
      searchText,
      searchFunc,
      tabs,
      opeartionClick,
      listData,
      businessSelect,
      territorySelect,
      businessActive,
      territoryActive,
      businessList,
      territoryList,
      commonFiltrateList,
      collapse,
      noteList,
    }
  },
  data() {
    return {}
  },
  methods: {
    scroll() {
      this.$message.info('222')
    },
  },
  async mounted() {
    let res = await newsApi.getAll()
    this.listData = res?.data
  },
})
</script>

<style lang="less" scoped>
.padding10 {
  padding: 10px;
}
.mt10 {
  margin-top: 10px;
}
</style>

<style lang="less" scoped>
@import url('~@/styles/mixins.less');
.hot-news {
  min-width: 1366px;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: flex;

  > aside {
    width: 300px;
    height: 100%;
    margin: 0 10px;
    .filter-box {
      background: @card-bgcolor;
    }
    &.left-aside {
      .themed-border();
    }
  }
  > section {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .news-list {
      width: 300px;
      height: 100%;
      border-right: 1px solid @border-color;
      background: @card-bgcolor;
      .subscription-btn {
        // background: #f7f8f9;
        display: flex;
        align-items: center;
        // border: 0;
        // font-size: 12px;
        // color: @grey-color;

        > .anticon {
          line-height: 0;
        }
        > .anticon + span,
        .ant-btn > span + .anticon {
          margin-left: 2px;
        }
      }
      .news-list-container {
        height: calc(100% - 44px);
        overflow: auto;
      }
    }
    .news-content {
      flex: 1;
      background: @card-bgcolor;
    }
    &.main-content {
      .themed-border();
    }
  }
  .icon-collapse {
    transition: 0.2s;
    &.rotate90 {
      transform: rotate(90deg);
    }
  }
  .businessList {
    transition: all 0.3s;
    max-height: 100px;
    overflow: hidden;
    :deep(.ant-space) {
      flex-wrap: wrap;
      .ant-space-item {
        margin-bottom: 10px;
        font-size: 12px;
        .ant-radio-button-wrapper {
          border-color: @primary-color;
          color: @primary-color;
          &.ant-radio-button-wrapper-checked {
            color: #ffffff;
          }
        }
      }
    }
    &.contont-collapse {
      max-height: 500px;
      overflow: auto;
    }
  }
  .aside-other {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .other-item {
      width: 100%;
      height: 100%;
      min-height: 184px;
      overflow: hidden;
      :deep(.card-box) {
        width: 100%;
        height: 100%;
        .other-list-container {
          width: 100%;
          height: 100%;
          overflow: auto;
        }
      }
    }
  }
}
</style>
