<template>
  <a-modal v-bind="$attrs" :closable="false" width="660px" class="ant-modal--modification" title="我的笔记" @ok="onOk">
    <div style="padding: 17px 37px 37px">
      <note-editor v-model:value="essays" />
    </div>
    <template #footer>
      <a-button @click="$emit('update:visible', false)">取消</a-button>
      <a-button type="primary" @click="onOk" :disabled="!essays" :loading="loading">完成</a-button>
    </template>
  </a-modal>
</template>
<script lang="ts">
import NoteEditor from '@/views/components/NoteEditor.vue'
import { useApi, essaysApi, AddResult } from '@/api'
import Essays from '@/models/essays'
import { defineComponent, ref, watchEffect } from 'vue'
export default defineComponent({
  name: 'AddEssaysModal',
  components: { NoteEditor },
  // props: {},
  emits: ['ok', 'update:visible'],
  setup(props, { emit }) {
    const essays = ref('')
    const loading = ref(false)
    const onOk = () => {
      const { response } = useApi<AddResult<Essays>>(essaysApi.add({ noteContent: essays.value }), loading)

      watchEffect(() => {
        if (response.value) {
          emit('ok', essays.value)
          emit('update:visible', false)
        }
      })
    }
    return {
      essays,
      onOk,
      loading,
    }
  },
})
</script>
