<template>
  <div class="message-center-skeleton" :class="{ animation }">
    <div class="skeleton-item"></div>
    <div class="skeleton-item"></div>
  </div>
</template>
<script>
export default {
  props: {
    animation: Boolean,
  },
}
</script>
<style lang="less" scoped>
@import url('~@/styles/mixins.less');

.message-center-skeleton {
  padding: 18px 10px 16px;
  .skeleton-item {
    height: 18px;
    border-radius: 2px;
    background-color: #f7f8f9;
    margin-bottom: 8px;
    &:last-child {
      width: calc(100% - 94px);
      margin-bottom: 0;
    }
  }
  &.animation {
    .skeleton-item {
      .skeleton-animation();
    }
  }
}
</style>
