<template>
  <title-container>
    <template v-if="showSkeleton || loading">
      <message-center-skeleton v-for="i in 10" :key="i" />
    </template>
    <scroll-container class="message-list" v-else-if="messageList?.length" @reach-bottom="loadMore">
      <div class="message-list-item" v-for="item in messageList" :key="item.id" @click="openMessage(item)">
        <a-typography-paragraph :ellipsis="{ rows: 2 }" :content="item.sendContent" />
        <div class="created-time">{{ item.sendTime }}</div>
        <div class="unread-mark" v-if="item.isRead === 0"></div>
      </div>
    </scroll-container>
    <empty-placeholder v-else />
    <template #operation v-if="showSkeleton">
      <icon-font type="iconclose2" @click="$emit('remove')"></icon-font>
    </template>
  </title-container>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watchEffect, toRaw } from 'vue'
import MessageCenterSkeleton from './MessageCenterSkeleton.vue'
import ScrollContainer from '@/components/ScrollContainer.vue'
import TitleContainer from '@/views/components/TitleContainer.vue'
import { useStore } from '@/store'
import EmptyPlaceholder from '@/components/EmptyPlaceholder.vue'
import { MessagesTypes } from '@/store/modules/messages'
import { usePagingApi, messageApi } from '@/api'
import Message from '@/models/message'

export default defineComponent({
  name: 'MessageCenter',
  components: {
    MessageCenterSkeleton,
    TitleContainer,
    EmptyPlaceholder,
    ScrollContainer,
  },
  emits: ['remove'],
  props: {
    showSkeleton: Boolean,
  },
  setup(props) {
    const store = useStore()
    const messageList = computed(() => store.state.messages.messages)
    const openMessage = () => store.dispatch('')
    const loading = ref(props.showSkeleton)

    const { loadMore, loadedAll, delta: messages } = usePagingApi<Message>(
      messageApi,
      {
        pageSize: 10,
        pageNum: 1,
      },
      loading
    )

    watchEffect(() => {
      console.log('messages', messages, toRaw(messages))
      store.commit(`messages/${MessagesTypes.ADD_MESSAGES}`, toRaw(messages.value))
    })

    !props.showSkeleton && loadMore()

    setTimeout(() => {
      loadMore()
    }, 5000)

    return {
      messageList,
      openMessage,
      loading,
      loadedAll,
      loadMore,
    }
  },
})
</script>

<style lang="less" scoped>
@import url('~@/layouts/layout.less');

.message-list {
  overflow-y: auto;
  height: 100%;
  // height: calc(@body-height - 308px);
  &-item {
    position: relative;
    padding: 10px 36px 7.5px 10px;
    border-top: 1px solid #ebebec;
    .text {
      font-family: PingFangSC;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #354052;
      margin-bottom: 0;
    }
    :deep(.ant-typography) {
      height: 36px;
      .text();
    }
    .created-time {
      .text();
      color: #97a3b4;
    }
    .unread-mark {
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: #c80000;
      border-radius: 50%;
      right: 6px;
      top: 16px;
    }
  }
}
</style>
