<template>
  <title-container>
    <template v-if="loading">
      <my-notes-skeleton v-for="i in 4" :key="i" />
    </template>
    <div class="my-notes" v-else-if="notesList?.length">
      <div>
        <a-radio-group v-model:value="curTab" class="ant-radio-group-modification" size="small">
          <a-radio-button :value="index" v-for="(tab, index) in tabs" :key="index">{{ tab }}</a-radio-button>
        </a-radio-group>
      </div>
      <scroll-container class="my-notes-list" @reachBottom="loadMore" :loading="loadingMore">
        <div v-if="curTab === 0">
          <note-comments
            v-for="note in notesList"
            :key="note.id"
            class="note-comments"
            :id="note.id"
            :comments="note.noteContent"
            :source="note.originalContent"
            :time="note.commentTime"
            @open="viewNotes(note)"
          />
        </div>
        <div v-else>
          <essays-item
            v-for="essays in essaysList"
            :key="essays.id"
            class="note-comments"
            :id="essays.id"
            :createTime="essays.createTime"
            :noteContent="essays.noteContent"
          />
        </div>
      </scroll-container>
    </div>
    <empty-placeholder v-else />
    <template #operation v-if="showSkeleton">
      <icon-font type="iconclose2" @click="$emit('remove')"></icon-font>
    </template>
    <template #operation v-else>
      <icon-font type="iconadd" @click="addNotes"></icon-font>
      <span class="add-notes" @click="addNotes">添加随笔</span>
    </template>
    <add-essays-modal v-model:visible="visible" />
    <note-modal v-model:visible="noteModalVisible" :note-data="noteData" />
  </title-container>
</template>

<script lang="ts">
import NoteComments from '@/views/components/note-comments/index.vue'
import EssaysItem from '@/views/components/EssaysItem.vue'
import ScrollContainer from '@/components/ScrollContainer.vue'
import MyNotesSkeleton from './MyNotesSkeleton.vue'
import TitleContainer from '@/views/components/TitleContainer.vue'
import AddEssaysModal from '@/views/home/components/AddEssaysModal.vue'
import NoteModal from './NoteModal.vue'
import EmptyPlaceholder from '@/components/EmptyPlaceholder.vue'
import { notesApi, essaysApi, usePagingApi } from '@/api'
import Notes from '@/models/annotations'
import Essays from '@/models/essays'
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'MyNotes',
  components: {
    NoteComments,
    MyNotesSkeleton,
    TitleContainer,
    AddEssaysModal,
    EmptyPlaceholder,
    EssaysItem,
    NoteModal,
    ScrollContainer,
  },
  emits: ['remove'],
  props: {
    showSkeleton: Boolean,
  },
  setup(props) {
    const visible = ref(false)
    const noteModalVisible = ref(false)
    const curTab = ref(0)
    const loading = ref(false)
    const loadingMore = ref(false)
    const noteData = ref({})
    const { loadMore: loadMoreNotes, result: notesList = [] } = usePagingApi<Notes>(
      notesApi,
      {
        pageSize: 10,
        pageNum: 1,
      },
      loading
    )
    const { loadMore: loadMoreEssays, result: essaysList = [] } = usePagingApi<Essays>(
      essaysApi,
      {
        pageSize: 10,
        pageNum: 1,
      },
      loading
    )

    if (!props.showSkeleton) {
      loadMoreNotes()
      loadMoreEssays()
    }

    const loadMore = () => {
      loadingMore.value = true
      loadMoreNotes()
      console.log('load more')
    }

    const addNotes = () => {
      visible.value = true
    }

    const viewNotes = (note: Notes) => {
      noteModalVisible.value = true
      noteData.value = {
        originalText: note.originalContent,
        value: note.noteContent,
        title: note.informationId,
        author: note.informationId,
      }
    }

    return {
      tabs: ['批注', '随笔'],
      curTab,
      loading: props.showSkeleton || loading,
      visible,
      noteModalVisible,
      notesList,
      essaysList,
      loadMore,
      loadingMore,
      loadMoreNotes,
      loadMoreEssays,
      addNotes,
      viewNotes,
      noteData,
    }
  },
})
</script>

<style lang="less" scoped>
.my-notes {
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  .ant-radio-group-modification {
    margin-left: 10px;
  }
  &-list {
    flex: auto;
    overflow: auto;
  }
  .note-comments {
    padding: 6.5px 10px 7.5px;
    border-bottom: 1px solid #ebebec;
  }
  .add-notes {
    display: flex;
    align-items: center;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #7f8fa4;
    margin-left: 6px;
  }
}
</style>
