<template>
  <a-modal v-bind="$attrs" :closable="false" width="660px" class="ant-modal--modification" title="我的笔记" @ok="onOk">
    <div style="padding: 17px 37px 37px">
      <note-editor v-model:value="essays" :data="noteData" />
    </div>
    <template #footer>
      <a-button @click="$emit('update:visible', false)">取消</a-button>
      <a-button type="primary" @click="onOk" :loading="loading">完成</a-button>
    </template>
  </a-modal>
</template>
<script lang="ts">
import NoteEditor from '@/views/components/EditComments.vue'
import { useApi, notesApi, AddResult } from '@/api'
import Essays from '@/models/annotations'
import { defineComponent, ref, watchEffect } from 'vue'
export default defineComponent({
  name: 'AddEssaysModal',
  components: { NoteEditor },
  props: {
    noteData: {
      type: Object,
      default: () => ({}),
    },
  },
  emits: ['ok', 'update:visible'],
  setup(props, { emit }) {
    const essays = ref('')
    const loading = ref(false)

    const onOk = () => {
      const { response } = useApi<AddResult<Essays>>(
        notesApi.add({
          noteContent: '测试批注' + Date.now(),
          originalContent: '测试批注原文' + Date.now(),
          originalId: 37221408,
        }),
        loading
      )

      watchEffect(() => {
        if (response.value) {
          emit('ok', essays.value)
          // emit('update:visible', false)
        }
      })
    }

    // const onOk2 = () => {
    //   const { response } = useApi<UpdateResult>(
    //     notesApi.update(
    //       {
    //         noteContent: '测试批注' + Date.now(),
    //         originalContent: '测试批注原文' + Date.now(),
    //         originalId: 37221408,
    //       },
    //       30044
    //     ),
    //     loading
    //   )
    // }
    return {
      essays,
      onOk,
      // onOk2,
      loading,
    }
  },
})
</script>
