<template>
  <div class="subscribe-news-skeleton">
    <div class="skeleton-preview">
      <div class="skeleton-img"></div>
      <div class="skeleton-title">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="skeleton-content">
      <div></div>
      <div></div>
    </div>
  </div>
</template>
<style lang="less" scoped>
.subscribe-news-skeleton {
  padding: 10px 15px 16px 9px;
  background-color: @card-bgcolor;
  .skeleton-item {
    border-radius: 2px;
    background-color: #f7f8f9;
  }
  .skeleton-row {
    height: 18px;
    &:last-child {
      width: calc(100% - 63px);
    }
    .skeleton-item();
  }
  .skeleton-preview {
    display: flex;
    .skeleton-img {
      width: 60px;
      height: 45px;
      margin-right: 14px;
      .skeleton-item();
    }
    .skeleton-title {
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & > div {
        .skeleton-row();
      }
    }
  }
  .skeleton-content {
    & > div {
      margin-top: 8px;
      .skeleton-row();
    }
  }
}
</style>
