<template>
  <title-container>
    <div class="subscribe-wrapper">
      <template v-if="loading">
        <subscribe-news-skeleton v-for="i in 6" :key="i" />
      </template>
      <template v-else-if="list?.length">
        <news-card
          v-for="i in list"
          :key="i.id"
          :title="i.title"
          :content="i.content"
          :created-at="i.createdAt"
          :hot="i.hot"
          :like="i.like"
          :collected="i.collected"
          :img="i.img"
        />
      </template>
      <empty-placeholder v-else />
    </div>
    <template #operation v-if="showSkeleton">
      <icon-font type="iconclose2" @click="$emit('remove')"></icon-font>
    </template>
  </title-container>
</template>

<script lang="ts">
import NewsCard from '@/views/components/news-card/index.vue'
import SubscribeNewsSkeleton from './SubscribeNewsSkeleton.vue'
import TitleContainer from '@/views/components/TitleContainer.vue'
import EmptyPlaceholder from '@/components/EmptyPlaceholder.vue'
import { newsApi, useApi, GetAllResult } from '@/api'
import { HotNews } from '@/models/hotNews'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Subscribe',
  components: { NewsCard, SubscribeNewsSkeleton, TitleContainer, EmptyPlaceholder },
  emits: ['remove'],
  props: {
    showSkeleton: Boolean,
  },
  setup(props) {
    const { loading = props.showSkeleton, response: list = [] } = !props.showSkeleton
      ? useApi<GetAllResult<HotNews>>(newsApi.getAll())
      : {}
    return {
      list,
      loading,
    }
  },
})
</script>

<style lang="less" scoped>
.subscribe-wrapper {
  // height: calc(100vh - 116px);
  height: 100%;
  overflow-y: auto;
}
</style>
>
