<template>
  <div class="writing-tasks-skeleton">
    <div class="skeleton-item"></div>
    <div class="skeleton-item"></div>
    <div class="skeleton-item"></div>
  </div>
</template>

<style lang="less" scoped>
.writing-tasks-skeleton {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 21px 10px;
  .skeleton-item {
    height: 30px;
    background-color: #f7f8f9;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
