<template>
  <title-container>
    <writing-tasks-skeleton v-if="loading" />
    <div class="table-wrapper" v-else-if="dataSource.length">
      <a-table
        class="ant-table-modification"
        :columns="columns"
        size="small"
        :data-source="dataSource"
        :scroll="{ y: 210 }"
        :pagination="false"
        bordered
      >
      </a-table>
    </div>
    <empty-placeholder v-else />
    <template #operation v-if="showSkeleton">
      <icon-font type="iconclose2" @click="$emit('remove')"></icon-font>
    </template>
  </title-container>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import WritingTasksSkeleton from './WritingTasksSkeleton.vue'
import TitleContainer from '@/views/components/TitleContainer.vue'
import EmptyPlaceholder from '@/components/EmptyPlaceholder.vue'
import { tasksApi, usePagingApi } from '@/api'
import Tasks from '@/models/tasks'

const columns = [
  {
    title: '研报标题',
    dataIndex: 'reportTitle',
    ellipsis: true,
    width: '40%',
    key: 'reportTitle',
  },
  {
    title: '任务描述',
    dataIndex: 'task',
    key: 'task',
    ellipsis: true,
    width: '35%',
  },
  {
    title: '任务分配者',
    dataIndex: 'taskDistributionUserName',
    key: 'taskDistributionUserName',
    width: '20%',
  },
  // {
  //   title: '任务工期',
  //   dataIndex: 'period',
  //   key: 'period',
  //   width: '15%',
  // },
]

export default defineComponent({
  name: 'WritingTasks',
  components: {
    WritingTasksSkeleton,
    TitleContainer,
    EmptyPlaceholder,
  },
  emits: ['remove'],
  props: {
    showSkeleton: Boolean,
  },
  setup(props) {
    const { loadMore, result: dataSource = [] } = usePagingApi<Tasks>(tasksApi, {
      pageSize: 100,
      pageNum: 1,
    })
    const { loading } = !props.showSkeleton ? loadMore() : { loading: true }
    return {
      columns,
      loading,
      dataSource,
    }
  },
})
</script>

<style lang="less" scoped>
.table-wrapper {
  height: 100%;
  overflow: hidden;
  padding: 0 10px 5px;
  :deep(.ant-table-thead) {
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
  }
  :deep(.ant-table-row) {
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #354052;
  }
}
</style>
