<template>
  <div class="writing-statistics-skeleton">
    <div class="circle"></div>
    <div class="rect"></div>
  </div>
</template>
<style lang="less" scoped>
.writing-statistics-skeleton {
  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f7f8f9;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .rect {
    width: 103px;
    height: 18px;
    border-radius: 2px;
    background-color: #f7f8f9;
    margin: 0 auto;
  }
}
</style>
