<template>
  <!-- Todo: 改图标 -->
  <title-container>
    <ul class="writing-statistics">
      <li class="item">
        <writing-statistics-skeleton v-if="loading" />
        <template v-else-if="homeWritingStats">
          <div>
            <span class="item-amount">{{ homeWritingStats.reportTotalCount }}</span> <span class="item-unit">篇</span>
          </div>
          <p class="item-description">共创作研报</p>
        </template>
      </li>
      <li class="separator"></li>
      <li class="item">
        <writing-statistics-skeleton v-if="loading" />
        <template v-else-if="homeWritingStats">
          <span class="item-amount">{{ homeWritingStats.writeTotalTime }}</span>
          <span class="item-unit">小时</span>
          <p class="item-description">创作时长总计</p>
        </template>
      </li>
      <li class="separator"></li>
      <li class="item">
        <writing-statistics-skeleton v-if="loading" />
        <template v-else-if="homeWritingStats">
          <span class="item-amount">{{ homeWritingStats.readTotalCount }}</span>
          <span class="item-unit">次</span>
          <p class="item-description">阅读量</p>
        </template>
      </li>
      <li class="separator"></li>
      <li class="item">
        <writing-statistics-skeleton v-if="loading" />
        <template v-else-if="homeWritingStats">
          <span class="item-amount">{{ homeWritingStats.nowReportCount }}</span>
          <span class="item-unit">篇</span>
          <p class="item-description">正在创作</p>
        </template>
      </li>
    </ul>
    <template #operation v-if="showSkeleton">
      <icon-font type="iconclose2" @click="$emit('remove')"></icon-font>
    </template>
    <template #operation v-else-if="homeWritingStats">
      <!-- TODO:图标缺失 -->
      <icon-font type="iconemoji"></icon-font>
      <span class="deadline">截止{{ homeWritingStats.vitalTime }}</span>
    </template>
  </title-container>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import WritingStatisticsSkeleton from './WritingStatisticsSkeleton.vue'
import TitleContainer from '@/views/components/TitleContainer.vue'
import { useApi, writingStatsApi } from '@/api'

export default defineComponent({
  name: 'WritingStatistics',
  components: { WritingStatisticsSkeleton, TitleContainer },
  emits: ['remove'],
  props: {
    showSkeleton: Boolean,
  },
  setup(props) {
    const { loading, response: homeWritingStats = {} } = !props.showSkeleton
      ? useApi(writingStatsApi.get())
      : { loading: true }
    return {
      homeWritingStats,
      loading,
    }
  },
})
</script>

<style lang="less" scoped>
.writing-statistics {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  padding-inline-start: 0;
  .item {
    flex: 1;
    text-align: center;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #97a3b4;
    &-amount {
      font-family: DINAlternate;
      font-size: 35px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.63;
      letter-spacing: normal;
      color: #354052;
      vertical-align: sub;
    }
    &-unit {
      margin-left: 8px;
    }
    &-description {
      margin-top: 5px;
      margin-bottom: 0px;
    }
  }
  .separator {
    width: 1px;
    height: 30px;
    background: #ebebec;
  }
  .deadline {
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #97a3b4;
  }
}
</style>
