<template>
  <div class="xhcj-base-switch" :class="{ open: value }" @click="$emit('update:value', !value)">
    <div class="xhcj-base-switch-btn"></div>
  </div>
</template>
<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    value: Boolean,
  },
})
</script>
<style lang="less" scoped>
.xhcj-base-switch {
  cursor: pointer;
  display: inline-block;
  width: 32px;
  height: 16px;
  border-radius: 8px;
  background: #b0b0b1;
  position: relative;
  transition: all 0.2s;
  &.open {
    background: #007ae4;
    .xhcj-base-switch-btn {
      transform: translateX(-16px);
    }
  }
  &-btn {
    background: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    top: 2px;
    // top: 50%;
    // transform: translateY(-50%);
    transition: all 0.2s;
  }
}
</style>
