<template>
  <icon-font type="iconcollect" class="base-collector" :class="{ active: isCollected }" @click="onCollect"></icon-font>
</template>
<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'NewsCollector',
  props: {
    collected: Boolean,
  },
  data() {
    return {
      isCollected: this.collected,
    }
  },
  methods: {
    onCollect() {
      this.isCollected = !this.isCollected
    },
  },
})
</script>
<style lang="less" scoped>
.base-collector {
  cursor: pointer;
  font-size: 18px;
  color: #d8d8d8;
  &.active {
    color: #007be0;
  }
}
</style>
