<template>
  <div class="empty-place-holder">
    <a-empty v-bind="$attrs"></a-empty>
  </div>
</template>
<style lang="less" scoped>
.empty-place-holder {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
</style>
