<template>
  <div ref="excel" class="excel" @contextmenu.prevent.stop />
  <input v-model="sendData" /><button @click="sendMessage">发送</button>
  <ul>
    <li v-for="(item, index) in receiveData" :key="index">{{ item }}</li>
  </ul>
</template>
<script lang="ts">
import importSpreadJSLib from 'sj_spread'
import { io } from 'socket.io-client'

import { defineComponent, ref, reactive } from 'vue'
export default defineComponent({
  setup: () => {
    const sendData = ref('')

    const receiveData = reactive<string[]>([])

    const socket = io('http://localhost:3000/', {
      auth: {
        token: Date.now(),
        doc: 'uuid',
      },
    })

    socket.on('enter', data => {
      receiveData.push(data)
    })

    socket.on('message', data => {
      console.log(data)

      receiveData.push(data)
    })

    socket.on('leave', data => {
      receiveData.push(data)
    })

    const sendMessage = () => {
      socket.emit('message', sendData.value)
    }

    return { sendData, receiveData, sendMessage, socket }
  },
  async mounted() {
    await importSpreadJSLib()

    // eslint-disable-next-line
    const spread = new GC.Spread.Sheets.Workbook(this.$refs.excel, {
      sheetCount: 1,
    })
  },
  unmounted() {
    this.socket.disconnect()
  },
})
</script>
