<template>
  <a-directory-tree class="file-tree" autoExpandParent :blockNode="false" draggable v-bind="$attrs">
    <a-tree-node key="0-0" title="我的空间">
      <template #icon>
        <!-- TODO:换图标 -->
        <icon-font type="iconaddfolder" />
      </template>
      <a-tree-node key="0-0-0" title="中国宏观" is-leaf>
        <template #icon>
          <!-- TODO:换图标 -->
          <icon-font type="iconaddfolder" /> </template
      ></a-tree-node>
      <a-tree-node key="0-0-1" title="中国宏观" is-leaf>
        <template #icon>
          <!-- TODO:换图标 -->
          <icon-font type="iconaddfolder" /> </template
      ></a-tree-node>
    </a-tree-node>
  </a-directory-tree>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'FileTree',
  props: {
    options: {
      type: Array,
      default: () => [],
    },
  },
})
</script>

<style lang="less" scoped>
@drag-over-color: red;
.file-tree.ant-tree.ant-tree-directory {
  :deep([role='treeitem']) {
    padding: 0;
    .ant-tree-node-content-wrapper {
      display: flex;
      align-items: center;
      padding: 0;
      height: 29px;
    }
    &.drag-over {
      > span[draggable] {
        background-color: @drag-over-color;
        color: inherit;
      }
    }
    &.drag-over-gap-top {
      > span[draggable] {
        border-top-color: @drag-over-color;
      }
    }
    &.drag-over-gap-bottom {
      > span[draggable] {
        border-bottom-color: @drag-over-color;
      }
    }
    .ant-tree-switcher {
      display: none;
    }
    .ant-tree-iconEle {
      width: 20px;
      height: 20px;
      margin-right: 1px;
    }
    .ant-tree-node-selected {
      color: #354052;
    }
    .ant-tree-title {
      font-family: PingFangSC;
      font-size: 12px;
      line-height: 1.5;
      color: #354052;
    }
    // span.ant-tree-node-content-wrapper::before {
    //   background-color: #f5f7fa;
    // }

    .ant-tree-node-selected::before {
      background-color: #f5f7fa;
      height: 29px;
    }
    .ant-tree-child-tree {
    }
  }
}
</style>
