<template>
  <a-popconfirm
    placement="topRight"
    ok-text="删除"
    cancel-text="取消"
    title="确认删除吗"
    okType="danger"
    v-bind="$attrs"
  >
    <!-- <template #okText>
      <a-button type="danger">删除</a-button>
    </template>
    <template #cancelText>
      <a-button>取消</a-button>
    </template> -->
    <icon-font type="icondelete" />
  </a-popconfirm>
</template>
