<template>
  <div class="scroll-container">
    <slot></slot>
    <div class="loading-container">
      <span v-if="loadedAll">加载完成</span>
      <a-spin size="small" v-if="loading" />
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  props: {
    loadedAll: Boolean,
    loading: Boolean,
  },
  emits: ['reachBottom'],
  setup(props, { emit }) {
    const onReachBottom = () => {
      emit('reachBottom')
    }
    return {
      onReachBottom,
    }
  },
})
</script>
<style lang="less" scoped>
.scroll-container {
  .loading-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-size: 12px;
    color: #97a3b4;
  }
}
</style>
