<template>
  <div @mouseup="onMouseUp" ref="textSelectionWrapper">
    <slot></slot>
  </div>
  <div class="text-selection-tooltip" ref="tooltip" v-show="isTooltipShow">
    <slot name="tooltip"></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, onUnmounted } from 'vue'
/**
 * 文本选择提示
 */
export default defineComponent({
  name: 'TextSelectionTooltip',
  inheritAttrs: true,
  setup() {
    const tooltip = ref<HTMLDivElement | null>(null)
    const isTooltipShow = ref<boolean>(false)
    const textSelectionWrapper = ref<HTMLElement>()

    const wrapperRect = computed(() => (textSelectionWrapper.value as HTMLElement).getBoundingClientRect())

    const onMouseUp = () => {
      const tooltipEl = tooltip.value as HTMLDivElement
      setTimeout(() => {
        const selection = window.getSelection()
        isTooltipShow.value = !selection?.isCollapsed
        if (selection && isTooltipShow.value) {
          const range = selection?.getRangeAt(0)
          const rect = range?.getBoundingClientRect()
          const right = Math.min(rect.right, wrapperRect.value.right)
          const top = Math.max(rect.top, wrapperRect.value.top)
          tooltipEl.style.left = `${right}px`
          tooltipEl.style.top = `${top}px`
        }
      })
    }

    const onWindowClick = () => {
      isTooltipShow.value = false
    }

    window.addEventListener('click', onWindowClick)

    onUnmounted(() => {
      window.removeEventListener('click', onWindowClick)
    })

    return {
      onMouseUp,
      tooltip,
      isTooltipShow,
      textSelectionWrapper,
    }
  },
})
</script>

<style lang="less" scoped>
.text-selection-tooltip {
  position: fixed;
  transform: translate(-100%, -100%);
}
</style>
