//
<template>
  //
  <div class="text-expansion" ref="textRef"></div>
  //
</template>
//
<!-- <span>
//       <slot>
//         效压资全建她往办该容安则最置生。员条同之况车即族候该一议了自整导。号管金明备严算国活结历花并除西动格再。米名布向写无要不入劳打习总。两设济海管通写体龙题什表她油打按受级。合林查点力很济照计出开增地。
//       </slot>
//       <span class="expand-area">
//         <slot name="expansion">
//           <span class="expand-btn">展开</span>
//         </slot>
//       </span>
//       <span class="collapse-btn">收起</span>
//     </span> -->
//
<script lang="ts">
// import { defineComponent, onMounted, ref } from 'vue'
// import measure from './util'

// const calLineLetterNums = (container: HTMLElement) => {
//   const { lineHeight, fontSize } = window.getComputedStyle(container)
//   const rect = container.getBoundingClientRect()
//   // console.log(lineHeight, fontSize, rect)
// }

// export default defineComponent({
//   name: 'TextExpansion',
//   props: {
//     lineClamp: {
//       type: [String, Number],
//       default: 2,
//     },
//   },
//   setup() {
//     const textRef = ref<HTMLElement>()
//     onMounted(() => {
//       calLineLetterNums(textRef.value as HTMLElement)
//       const a = measure(
//         textRef.value as HTMLElement,
//         { rows: 1, suffix: '' },
//         '效压资全建她往办该容安则最置生。员条同之况车即族候该一议了自整导。号管金明备严算国活结历花并除西动格再。米名布向写无要不入劳打习总。两设济海管通写体龙题什表她油打按受级。合林查点力很济照计出开增地。',
//         [],
//         '...'
//       )
//     })
//     return {
//       textRef,
//     }
//   },
// })
//
</script>

//
<style lang="less" scoped>
// .text-expansion {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   position: relative;
//   .expand-area {
//     // position: absolute;
//     // right: 0;
//     // bottom: 0;
//   }
//   .collapse-btn {
//     color: red;
//     float: right;
//   }
// }
//
</style>
