<template>
  <a-modal v-bind="$attrs" :closable="false" width="760px" class="ant-modal--modification">
    <template #title>
      <upload-steps :current="currentStep" />
    </template>
    <step-upload v-if="currentStep === 1" />
    <step-excel v-if="currentStep === 2" />
    <step-info v-if="currentStep === 3" />
    <div class="step-completed" v-if="currentStep === 4">
      <img src="@/assets/images/fileSucess.svg" class="step-completed-img" />
      <span class="step-completed-text">上传完成！</span>
    </div>
    <template #footer>
      <a-button @click="$emit('update:visible', false)">取消</a-button>
      <a-button @click="goPrevStep">上一步</a-button>
      <a-button type="primary" @click="goNextStep" v-if="currentStep < 4">下一步</a-button>
      <a-button v-else type="primary" @click="$emit('update:visible', false)">完成</a-button>
    </template>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import UploadSteps from './MaterialUploadSetps.vue'
import StepUpload from './StepUpload.vue'
import StepExcel from './StepExcel.vue'
import StepInfo from './StepInfo.vue'

export default defineComponent({
  name: 'MaterialUploadModal',
  components: { UploadSteps, StepUpload, StepExcel, StepInfo },
  setup() {
    const currentStep = ref(1)
    const uploadModalVisible = ref(true)

    const goPrevStep = () => {
      currentStep.value -= 1
    }

    const goNextStep = () => {
      currentStep.value += 1
    }

    return {
      uploadModalVisible,
      currentStep,
      goPrevStep,
      goNextStep,
    }
  },
})
</script>

<style lang="less" scoped>
.step-completed {
  height: 424px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-text {
    font-family: PingFangSC;
    font-size: 14px;
    line-height: 1;
    color: #354052;
    transform: translateY(-25px);
  }
}
</style>
