<template>
  <div class="modal-setps">
    <template v-for="(item, index) in steps" :key="index">
      <div class="modal-setps-item" :class="{ active: index < current }">
        <div class="step-num">{{ index + 1 }}</div>
        <span>{{ item }}</span>
      </div>
      <div class="modal-steps-delimiter" v-if="index < steps.length - 1" :class="{ active: index < current }">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </template>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

const steps = ['上传素材', '编辑素材', '设置上传信息', '完成上传']

export default defineComponent({
  name: 'MaterialUploadSetps',
  props: {
    current: {
      type: Number,
      default: 1,
    },
  },
  setup() {
    return {
      steps,
    }
  },
})
</script>
<style lang="less" scoped>
@main-color: #ebebec;
@active-color: #007ae4;
@active-text-color: #002257;
.modal-setps {
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-setps-item {
    font-family: PingFangSC;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: normal;
    color: @main-color;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: 0.3s;
    .step-num {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: @main-color; //#007ae4;
      font-family: Lato;
      font-size: 12px;
      font-weight: bold;
      line-height: 24px;
      color: #ffffff;
      text-align: center;
      margin-right: 6px;
      transition: 0.3s;
    }
    &.active {
      color: @active-text-color;
      .step-num {
        background-color: @active-color;
      }
    }
  }
  .modal-steps-delimiter {
    width: 88px;
    height: 22px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: @main-color;
      transition: 0.3s;
    }
    &.active > div {
      background-color: @active-color;
    }
  }
}
</style>
