<template>
  <div class="step-info">
    <a-form :label-col="{ span: 3 }">
      <a-form-item class="step-info-item" label="文件名">
        <div class="item-content">
          <a-input class="file-name-input"></a-input>
        </div>
      </a-form-item>
      <a-form-item class="step-info-item" label="保存位置">
        <div class="item-content save-position">
          <directory-tree />
        </div>
      </a-form-item>
      <!-- <a-form-item class="step-info-item" label="素材标签">
        <div class="item-content">
          <material-tag closeable v-for="i in materialTags" :key="i" @close="rmTag(i)">#{{ i }}</material-tag>
          <material-tag closeable v-if="addTagInputVisible" @close="rmAddInput">
            <input
              type="text"
              @keydown.enter="addTag"
              @blur="addTag"
              class="material-tag-input"
              maxlength="8"
              v-model="addTagText"
              ref="addTagInputRef"
            />
          </material-tag>
          <material-tag class="add-btn" @click="showAddInput">+新增标签</material-tag>
        </div>
      </a-form-item> -->
      <a-form-item class="step-info-item" label="是否公开">
        <div class="item-content">
          <a-checkbox v-for="i in spaceList" :key="i.id" v-model:checked="i.open"> {{ i.name }} </a-checkbox>
        </div>
      </a-form-item>
    </a-form>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref /*watch, nextTick, reactive*/ } from 'vue'
// import { message } from 'ant-design-vue'

// import MaterialTag from '../MaterialTag.vue'
import DirectoryTree from './DirectoryTree.vue'

// function useTag() {
//   const addTagInputVisible = ref(false)
//   const materialTags: string[] = reactive([])
//   const addTagText = ref('')
//   const addTagInputRef = ref<HTMLInputElement>()
//   const rmAddInput = () => {
//     addTagInputVisible.value = false
//     addTagText.value = ''
//   }
//   const addTag = () => {
//     const val = addTagText.value
//     rmAddInput()
//     if (!val) {
//       return
//     }
//     if (materialTags.includes(val)) {
//       message.error('标签已存在')
//       return
//     }
//     materialTags.push(val)
//   }
//   const showAddInput = () => {
//     addTagInputVisible.value = true
//   }
//   watch(addTagInputVisible, val => {
//     if (val) {
//       nextTick(() => {
//         addTagInputRef.value?.focus()
//       })
//     }
//   })
//   const rmTag = (tag: string) => {
//     const i = materialTags.indexOf(tag)
//     if (i > -1) {
//       materialTags.splice(i, 1)
//     }
//   }
//   return {
//     addTag,
//     rmTag,
//     addTagText,
//     materialTags,
//     addTagInputVisible,
//     rmAddInput,
//     addTagInputRef,
//     showAddInput,
//   }
// }

const spaceList = reactive([
  { id: 1, open: false, name: '公共空间' },
  { id: 2, open: false, name: '机构空间' },
])

export default defineComponent({
  name: 'StepInfo',
  components: { /*MaterialTag,*/ DirectoryTree },
  setup() {
    // const {
    //   addTag,
    //   rmTag,
    //   addTagText,
    //   materialTags,
    //   addTagInputVisible,
    //   showAddInput,
    //   rmAddInput,
    //   addTagInputRef,
    // } = useTag()

    return {
      openStatus: ref(1),
      spaceList,
      // addTag,
      // rmTag,
      // addTagText,
      // materialTags,
      // addTagInputVisible,
      // rmAddInput,
      // addTagInputRef,
      // showAddInput,
    }
  },
})
</script>

<style lang="less" scoped>
.step-info {
  padding: 15px 42px;
  :deep(.ant-form-item-label label) {
    font-family: PingFangSC;
    font-size: 12px;
    line-height: 1.83;
    color: #354052;
  }
  .box-border {
    border-radius: 4px;
    border: solid 1px #ebebec;
  }
  .step-info-item {
    margin-bottom: 21px;
    &:last-child {
      margin-bottom: 0;
    }
    .item-content {
      :deep(.ant-checkbox-wrapper) {
        &-checked {
          border-color: transparent;
        }
        .ant-checkbox {
          &-checked {
            .ant-checkbox-inner {
              background-color: #ffffff;
            }
          }
          &-inner {
            width: 20px;
            height: 20px;
            border-radius: 4px;
            border: solid 1px #d8d8d8;
            &::after {
              border-color: #007ae4;
              left: 25%;
            }
          }
          + span {
            padding: 0;
            margin-left: 5px;
            font-family: PingFangSC;
            font-size: 12px;
            line-height: 1.83;
            color: #354052;
          }
        }
      }
      &.save-position {
        .box-border();
        height: 269px;
        width: 510px;
        padding: 10px;
        box-sizing: border-box;
        overflow: auto;
      }
      .add-btn {
        color: #007ae4;
        border-color: #007ae4;
      }
      .material-tag-input {
        border: none;
        outline: none;
        width: 4em;
        min-width: 2em;
      }
      .file-name-input {
        height: 24px;
        width: 510px;
      }
    }
  }
}
</style>
