<template>
  <div class="step-upload">
    <a-upload-dragger :show-upload-list="false">
      <a-spin :spinning="false">
        <div class="step-upload-inner">
          <img src="@/assets/images/file.svg" class="upload-icon" />
          <div class="upload-title">上传文件</div>
          <div class="upload-tips">请将文件拖拽到此处或点击上传文件</div>
        </div>
      </a-spin>
    </a-upload-dragger>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  setup() {
    return {}
  },
})
</script>
<style lang="less" scoped>
.step-upload {
  padding: 20px;
  :deep(.ant-upload-drag) {
    border-radius: 8px;
    border: dashed 2px #c4dbff;
    background-color: #f5f7fa;
    height: 384px;
    width: 100%;
  }
  &-inner {
    font-family: PingFangSC;
    .upload-icon {
      width: 46px;
      margin-bottom: 19px;
    }
    .upload-title {
      font-size: 14px;
      line-height: 1.57;
      color: #007ae4;
      margin-bottom: 4px;
    }
    .upload-tips {
      font-size: 12px;
      line-height: 1.5;
      color: #b0b0b1;
    }
  }
}
</style>
