<template>
  <div class="step-excel">
    <div></div>
    <div ref="excel" class="excel" @contextmenu.prevent.stop />
  </div>
</template>
<script lang="ts">
import importSpreadJSLib from 'sj_spread'
import { defineComponent } from 'vue'
export default defineComponent({
  async mounted() {
    await importSpreadJSLib()
    // eslint-disable-next-line
    new GC.Spread.Sheets.Workbook(this.$refs.excel, {
      sheetCount: 1,
    })
  },
})
</script>
<style lang="less" scoped>
.step-excel {
  padding: 10px;
}
</style>
