//
<template>
  //
  <div class="step-two">
    //
    <div class="input-area">
      //
      <div class="input-item">
        // <label>表名</label> //
        <sj-input v-model="data.sheetName" class="input" size="small" disabled border :title="data.sheetName" /> //
      </div>
      //
      <div class="input-item">
        // <label>范围</label> //
        <sj-input class="input" size="small" border :value="data.range" @change="checkRange" /> //
      </div>
      //
    </div>

    //
    <div ref="excel" class="excel" @contextmenu.prevent.stop />
    //
  </div>
  //
</template>

//
<script>
// import { ColumnIndexToLetters, ColumnLettersToIndex, getExcelRange } from '../../utils'
// import importSpreadJSLib from 'sj_spread'

// export default {
//   name: 'StepTwo',
//   props: {
//     data: {
//       type: Object,
//       default: () => ({}),
//     },
//   },

//   data() {
//     return {
//       spread: null,
//     }
//   },

//   methods: {
//     // 对外提供获取 spread 实例
//     async getSpread() {
//       if (!this.spread) {
//         await importSpreadJSLib()
//         this.spread = new GC.Spread.Sheets.Workbook(this.$refs.excel, {
//           sheetCount: 1,
//         })
//       }
//       return this.spread
//     },

//     // 渲染文件到 Exel 表格
//     async renderExelFile() {
//       if (!this.spread) {
//         this.spread = await this.getSpread()
//         this.spread.bind(GC.Spread.Sheets.Events.ActiveSheetChanged, () => {
//           const sheet = this.spread.getActiveSheet()
//           sheet.clearSelection()
//           this.$emit('change-value', 'sheetName', this.data.file.name)
//           this.$emit('change-value', 'range', '')
//         })
//         this.spread.bind(GC.Spread.Sheets.Events.SelectionChanged, () => {
//           this.checkSelection()
//         })
//       }

//       try {
//         const excelIO = new GC.Spread.Excel.IO()
//         const workbookObj = await new Promise((resolve, reject) => {
//           excelIO.open(
//             this.data.file,
//             workbookObj => {
//               resolve(workbookObj)
//             },
//             e => {
//               reject(e)
//             }
//           )
//         })
//         this.fixWorkbookJsonError(workbookObj)
//         this.spread.fromJSON(workbookObj)

//         setTimeout(() => {
//           this.spread.setActiveSheetIndex(0) // 默认选中第一个 sheet
//           this.spread.setActiveSheet(this.data.sheetName)
//           this.$emit('change-value', 'sheetName', this.data.file.name)
//         }, 0)
//       } catch (e) {
//         this.spread = null
//       }
//     },

//     fixWorkbookJsonError(workbookJson) {
//       Object.values(workbookJson.sheets).forEach(sheetData => {
//         if (sheetData?.data?.dataTable) {
//           Object.values(sheetData.data.dataTable).forEach(row => {
//             Object.keys(row).forEach(cellKey => {
//               const cell = row[cellKey]
//               if (typeof cell.value === 'object' && cell.value._error) {
//                 row[cellKey] = {
//                   style: cell.style,
//                   value: '解析失败',
//                 }
//               }
//             })
//           })
//         }
//       })
//     },

//     // Exel 所选范围
//     checkRange(e) {
//       this.data.range = e.target.value
//       if (!this.data.range) return

//       const sheet = this.spread.getActiveSheet()
//       sheet.clearSelection()
//       const range = getExcelRange(this.data.range.toUpperCase())
//       if (!range) {
//         this.$emit('change-value', 'range', '')
//       } else {
//         const { startRow, endRow, startCol, endCol } = range
//         if (startCol === undefined) {
//           const colCount = sheet.getColumnCount()
//           sheet.setSelection(startRow - 1, -1, endRow - startRow + 1, colCount)
//         } else {
//           const startColNumber = ColumnLettersToIndex(startCol)
//           const endColNumber = ColumnLettersToIndex(endCol)

//           if (startRow === undefined) {
//             const rowCount = sheet.getRowCount()
//             sheet.setSelection(-1, startColNumber, rowCount, endColNumber - startColNumber + 1)
//           } else {
//             sheet.setSelection(startRow - 1, startColNumber, endRow - startRow + 1, endColNumber - startColNumber + 1)
//           }
//         }
//         this.checkSelection()
//       }
//     },
//     // 检查选择的数据
//     checkSelection() {
//       const sheet = this.spread.getActiveSheet()
//       const selection = sheet.getSelections()

//       if (selection?.[0]) {
//         const { col, colCount, row, rowCount } = selection[0]
//         let startCol, endCol, startRow, endRow
//         if (col === -1) {
//           startCol = ''
//           endCol = ''
//           if (row !== -1) {
//             startRow = row + 1
//             endRow = row + rowCount
//           } else {
//             startRow = 1
//             endRow = rowCount
//           }
//         } else {
//           if (row === -1) {
//             startCol = ColumnIndexToLetters(col)
//             endCol = ColumnIndexToLetters(col + colCount - 1)
//             startRow = ''
//             endRow = ''
//           } else {
//             startCol = ColumnIndexToLetters(col)
//             startRow = row + 1
//             endCol = ColumnIndexToLetters(col + colCount - 1)
//             endRow = row + rowCount
//           }
//         }
//         this.$emit('change-value', 'range', `${startCol}${startRow}:${endCol}${endRow}`)
//       }
//     },
//     // 锁定区域
//     lockSpread(spread) {
//       spread.focus(false)
//       spread.options.newTabVisible = false
//       spread.options.tabEditable = false
//       spread.options.allowContextMenu = false
//       spread.sheets.forEach(sheet => {
//         sheet.selectionPolicy(1) //选择一个区域
//         sheet.options.isProtected = true
//         sheet.options.protectionOptions = {
//           allowResizeRows: true,
//           allowResizeColumns: true,
//         }
//       })
//     },

//     // 获取框选范围的数据
//     getRangeExelData() {
//       const sheet = this.spread.getActiveSheet()
//       let data = sheet.getArray(0, 0, sheet.getRowCount(), sheet.getColumnCount())
//       //把合并的单元格补全
//       sheet.getSpans().forEach(({ col, row, colCount, rowCount }) => {
//         const val = data[row][col]
//         let r = row
//         while (r <= row + rowCount - 1) {
//           let c = col
//           while (c <= col + colCount - 1) {
//             data[r][c] = val
//             c++
//           }
//           r++
//         }
//       })
//       //获取选中的区域数据
//       if (this.data.range) {
//         const { startRow, endRow, startCol, endCol } = getExcelRange(this.data.range)
//         if (startCol === undefined) {
//           data = data.slice(startRow - 1, endRow)
//         } else {
//           const startColNumber = ColumnLettersToIndex(startCol)
//           const endColNumber = ColumnLettersToIndex(endCol)
//           if (startRow === undefined) {
//             data = data.map(row => row.slice(startColNumber, endColNumber + 1))
//           } else {
//             data = data.slice(startRow - 1, endRow).map(row => row.slice(startColNumber, endColNumber + 1))
//           }
//         }
//       }
//       // 临时方案：去除空白字符
//       for (let i = 0; i < data.length; i++) {
//         for (let j = 0; j < data[i].length; j++) {
//           if (typeof data[i][j] === 'string') {
//             data[i][j] = data[i][j].trim()
//           }
//         }
//       }
//       return data
//     },
//   },
// }
//
</script>

//
<style scoped lang="less">
// @import './index.less';
//
</style>
