@color-available: @text-color;
@color-highlight: @primary-color;
@color-normal: @text-color;
@color-dark: #3e3e3e;
@color-light: #B0B0B1;
@color-subinfo: #8c9195;
@color-alert-success: #58975F;
@color-alert-error: #FF5C47;
@color-alert-info: #FDD200;

@color-gray-1: #FAFBFC;
@color-gray-2: #F7F8F9;
@color-gray-3: #EBEBEC;
@color-gray-4: #D8D8D8;
@color-gray-5: #525A65;

@color-antibg: #FFFFFF;
@color-productlight: #E5EFFF;

@base-border-color: @color-productlight;

// components
@color-label-switch-1: #354052;
@color-label-switch-2: #DEBC00;
@color-label-switch-3:#D53A57;
@color-label-switch-4:#2E60AF;
@color-label-switch-5: #596E6F;

@color-table-highlight: #7f8fa4;

@color-label-display-1: @color-productlight;
@color-label-display-2: @color-antibg;

@tab-header-chrome-background-color: #f2f2f2;
@tab-header-item-chrome-background-color-active: @color-antibg;
@tab-pane-background-color: transparent;

@pagination-table-tableBox-background-color: transparent;
@pagination-table-paginationBox-background-color: transparent;

@linkmenu-main-title-background-color: @color-antibg;
@linkmenu-content-title-marker-color: @color-available;
@linkmenu-nav-background-color: @color-gray-2;
@linkmenu-content-item-background-color: @color-gray-1;

@table-item-background: @color-antibg;
@table-header-item-background: @color-antibg;
@table-item-stripe-background: @color-gray-1;
@table-item-highlight-background: @color-gray-2;
@table-border-color: @color-gray-3;
@table-item-highlight-color: @color-highlight;

@input-placeholder-color-default: @color-normal;
@input-placeholder-color-dark: @color-light;
@input-placeholder-color-file: @color-normal;
@input-placeholder-color-disabled: @color-light;
@input-focus-shadow: none;
//main
@base-background-color: @color-white;

@color-white:rgba(255,255,255,1);
@color-black:rgba(0,0,0,1);
@color-red:#c80000;

@color-text-antibg: #FFFFFF;
@color-text-red: #D53A57;

@color-background-blue: #19314B;
@color-hover-background: #EBEBEC;
@color-tag-1: #a6d5e3;
@color-tag-2: #d7d7d7;
@color-tag-3: #c1c1c1;

@color-font-dark:#354052;

@color-table-header: #949cb3;
@color-table-hover: #f0f2f6;

@color-background: #f3f5f6;
@color-splitline: #e8edf0;
@color-splitline-2: #f3f3f3;
@color-very-light-pink: #dddddd;
@color-vermillion: #e02020;

@color-status-group: #ff8b63;
@color-status-share: #997cff;

@sp-nav-color: @color-available;
@sp-nav-name-color: @color-subinfo;
@sp-nav-color-background: #FFFFFF;
@sp-nav-color-hover-background: #f7f8f9;
@sp-nav-color-select: #e5efff;

@search-nav-color: #6587bb;
@search-nav-icon-color: #6587bb;
@search-nav-color-select: #FFFFFF;
@search-nav-color-background: @color-available;
@search-nav-color-hover-background: rgba(255, 255, 255, 0.15);

// @sp-nav-color-background: #912f37;
// @sp-nav-color-hover-background: #85121b;
// @sp-nav-color-select: #f7bd8a;

// 兼容映射
// @color-sub: @color-text-sub;
// @color-red: @color-text-red;

// @color-available: @color-text-available;
// @color-highlight: @color-text-highlight;
// @color-normal: @color-text-normal;
// @color-dark: @color-text-dark;
// @color-light: @color-text-light;
// @color-subinfo: @color-text-sub;

/*% if common.features.theme == 'changjiang' %*/
// @color-dark: #354052;
// @color-light: #d8d7d7;
// @color-subinfo: #999999;
// @color-available: #700000;
// @color-highlight: #e10000;
// @color-productlight: #fde6dd;
// @color-normal: #97a3b4;

// @sp-nav-color: @color-antibg;
// @sp-nav-name-color: @color-antibg;
// @sp-nav-color-background: #8f0000;
// @sp-nav-color-hover-background: #700000;
// @sp-nav-color-select: #f7bd8a;

// @search-nav-color: #666666;
// @search-nav-icon-color: @color-light;
// @search-nav-color-select: @color-highlight;
// @search-nav-color-background: @color-antibg;
// @search-nav-color-hover-background: @color-productlight;
/*% /if %*/

@color-text-available: @color-available;
@color-text-highlight: @color-highlight;
@color-text-normal: @color-normal;
@color-text-dark: @color-dark;
@color-text-light: @color-light;
@color-text-sub: @color-subinfo;
@color-sub: @color-text-sub;
@color-red: @color-text-red;

@color-alert-btn-border: #ffdfdf;