@base-border-radius: 4px;

//font size
@h0-font-size: 48px;
@h0-line-height: 57px;

@h1-font-size: 26px;
@h1-line-height: 36px;

@h2-font-size: 22px;
@h2-line-height: 24px;

@h3-font-size: 18px;
@h3-line-height: 28px;

@body-font-size: 14px;
@body-line-height: 22px;

@caption-font-size: 12px;
@caption-line-height: 18px;

@tiny-font-size: 12px;
@tiny-line-height: 14px;

//font weight
@light-weight: 300;
@regular-weight: 400;
@medium-weight: 500;
@semibold-weight: 600;
@bold-weight: 700;

//Border
@base-border-width: 1px;
@base-border-style: solid;

//size
@large-size: 50px;
@middle-size: 40px;
@default-size: 30px;
@small-size: 24px;
@mini-size: 20px;

@sizes:large,middle,default,small,mini;
