<template>
  <a-modal class="ant-modal--modification" width="660px" :closable="false" title="文件夹关联人员信息" v-bind="$attrs">
    <a-form :label-col="{ span: 5 }" class="folder-relate-form">
      <a-form-item class="folder-relate-form-item" label="当前关联人员" label-align="left">
        <div class="item-content related-members">张三</div>
      </a-form-item>
      <a-form-item class="folder-relate-form-item" label="添加关联人员" label-align="left">
        <div class="item-content">
          <a-select class="item-content-select" placeholder="请选择"></a-select>
        </div>
      </a-form-item>
      <a-form-item class="folder-relate-form-item" label="信息一览" label-align="left">
        <div class="item-content">
          <div>姓名：张三</div>
          <div>当前关联文件夹路径：新华财经/经济日报组</div>
        </div>
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script>
export default {}
</script>

<style lang="less" scoped>
.folder-relate-form {
  padding: 21px 57px;
  box-sizing: border-box;
  font-size: 14px;
  :deep(.ant-form-item-label) {
    > label {
      color: #354052;
      &::after {
        display: none;
      }
    }
  }
  &-item {
    margin-bottom: 20px;
    .item-content {
      width: 414px;
      > div {
        // line-height: 31px;
      }
      &.related-members {
        color: #c1c1c1;
      }
      &-select {
        // width: 100%;
      }
    }
  }
}
</style>
