<template>
  <div class="my-materials">
    <div class="materials-upload-area">
      <span>可以根据标签快速筛选素材</span>
      <icon-font type="iconuploading" @click="$emit('upload')" />
    </div>
    <material-tags />
    <material-list style="margin-top: 10px" />
    <folder-relate-modal v-model:visible="folderModalVisible" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import MaterialTags from './MaterialTags.vue'
import MaterialList from './MaterialList.vue'
import FolderRelateModal from './FolderRelateModal.vue'

export default defineComponent({
  components: { MaterialTags, MaterialList, FolderRelateModal },
  setup() {
    return {
      folderModalVisible: ref(false),
    }
  },
})
</script>

<style lang="less" scoped>
.my-materials {
  padding: 7px 10px;
  .materials-upload-area {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: PingFangSC;
    font-size: 12px;
    line-height: 1.83;
    color: #97a3b4;
    margin-bottom: 6px;
  }
}
</style>
