<template>
  <div class="materials-list">
    <div class="materials-list-header">
      <a-breadcrumb>
        <a-breadcrumb-item><a href="">全部素材</a></a-breadcrumb-item>
        <a-breadcrumb-item>
          <a href="">宏观经济</a>
        </a-breadcrumb-item>
      </a-breadcrumb>
      <folder-creator />
    </div>
    <ul class="materials-list-content">
      <li class="materials-list-content-item">
        <div>
          <icon-font class="icon" type="iconimage" style="color: #007be0; font-size: 20px" />
          <span>中国宏观</span>
        </div>
        <div class="action-wrapper">
          <icon-font type="iconuser2x" style="margin-right: 10px" @click="setRelatedMembers" />
          <icon-font type="icondelete" />
        </div>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import FolderCreator from '@/views/components/FolderCreator.vue'

export default defineComponent({
  name: 'MaterialsList',
  components: { FolderCreator },
  setup() {
    const addFolderVisible = ref(false)
    const addFolder = () => {
      addFolderVisible.value = false
    }
    return {
      addFolder,
      addFolderVisible,
      gData: [
        {
          key: 1,
          title: '1',
          children: [],
        },
        {
          key: 2,
          title: '2',
          children: [],
        },
        {
          key: 3,
          title: '3',
          children: [],
        },
      ],
    }
  },
})
</script>

<style lang="less" scoped>
.flex {
  display: flex;
  align-items: center;
}
.materials-list {
  &-header {
    .flex();
    justify-content: space-between;
    color: #97a3b4;
    margin-bottom: 8px;
    :deep(.ant-breadcrumb) {
      font-family: PingFangSC;
      font-size: 12px;
      line-height: 1.83;
      color: #97a3b4;
      .ant-breadcrumb-link {
        a {
          color: #97a3b4;
          &.active {
            color: #007ae4;
          }
          &:hover {
            .active();
          }
        }
      }
      .ant-breadcrumb-separator {
        margin: 0 3px;
        color: #97a3b4;
      }
    }
  }
  &-content {
    padding: 0;
    .font {
      font-family: PingFangSC;
      font-size: 12px;
      line-height: 1.5;
      color: #354052;
    }
    &-item {
      .flex();
      height: 29px;
      justify-content: space-between;
      cursor: pointer;
      .font();
      &:hover {
        background-color: #f5f7fa;
      }
      .add-folder-input {
        height: 29px;
        box-sizing: border-box;
        border: none;
        outline: none;
        .font();
      }
      .icon {
        margin-right: 1px;
      }
      > div {
        .flex();
        &.action-wrapper {
          color: #97a3b4;
          font-size: 20px;
        }
      }
    }
  }
}
</style>
