<template>
  <div class="materials-tags" :class="{ dropdown }">
    <div class="materials-tags-wrapper">
      <materials-tag v-for="i in 5" :key="i">#财经</materials-tag>
    </div>
    <!-- TODO:换icon -->
    <icon-font type="icondone" class="dropdown-icon" :class="{ dropdown }" @click="dropdown = !dropdown" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import MaterialsTag from '../MaterialTag.vue'

export default defineComponent({
  name: 'MaterialsTags',
  components: {
    MaterialsTag,
  },
  setup() {
    const value = ref('a')
    const dropdown = ref(false)
    return {
      value,
      dropdown,
    }
  },
})
</script>

<style lang="less" scoped>
.materials-tags {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 22px;
  overflow: hidden;
  &.dropdown {
    height: auto;
  }
  .dropdown-icon {
    // transition: 0.4s;
    flex-shrink: 0;
    &.dropdown {
      transform: rotate(180deg);
    }
  }
}
</style>
