<template>
  <a-layout class="personal-layout">
    <left-menu :width="240" :menuData="menuList">
      <template v-slot:header>
        <div class="menu-header">个人中心</div>
      </template>
    </left-menu>
    <a-layout class="personal-main">
      <a-layout-content>
        <router-view></router-view>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import LeftMenu from '@/views/components/left-menu/index.vue'
export default defineComponent({
  components: {
    LeftMenu,
  },
  setup() {
    let selectedKeys = ref(['1'])
    const menuList = ref([
      {
        key: '1',
        title: '个人信息',
        icon: 'iconpersonal',
        path: '/personal-infomation',
      },
      {
        key: '2',
        title: '我的笔记',
        icon: 'iconmynote',
        path: '/personal-mynotes',
      },
      {
        key: '3',
        title: '我的收藏',
        icon: 'iconmycollect',
        path: '/personal-mycollection',
      },
      {
        key: '4',
        title: '我的点赞',
        icon: 'iconmytop',
        path: '/personal-mytop',
      },
      {
        key: '5',
        title: '浏览记录',
        icon: 'iconrecord',
        path: '/personal-myrecords',
      },
    ])
    return {
      menuList,
      selectedKeys,
    }
  },
  data() {
    return {}
  },
})
</script>

<style lang="less" scoped>
@import url('~@/layouts/layout.less');
.personal-layout {
  height: calc(100vh - @header-height);
  .menu-header {
    margin-top: 11px;
    margin-bottom: 7px;
    padding-left: 9px;
    width: 100%;
    height: 22px;
    color: @grey-color;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 5px;
      height: 15px;
      background: #2ea6ff;
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
}
.personal-main {
  padding: 10px;
  position: relative;
}
</style>
