<template>
  <div class="mynotes-container">
    <div :class="{ 'has-edit': drawerVisible, 'notes-list': true }" @click="toggleDrawer(true)">
      <my-notes-comp></my-notes-comp>
    </div>
    <edit-notes-drawer
      :drawerVisible="drawerVisible"
      @closed="toggleDrawer(false)"
      :noteType="noteType"
      :data="showData"
    ></edit-notes-drawer>
  </div>
</template>

<script lang="ts">
import { MyNotes as MyNotesComp } from '@/views/home/components'
import EditNotesDrawer from './components/EditNotesDrawer.vue'
import { defineComponent, reactive, toRefs } from 'vue'
const noteTypeComp = {
  COMMENTS: 'EditComments',
  NOTES: 'EditNotes',
}
export default defineComponent({
  components: {
    MyNotesComp,
    EditNotesDrawer,
  },
  setup() {
    const state = reactive({
      drawerVisible: false,
      // noteType: noteTypeComp.COMMENTS,
      noteType: noteTypeComp.NOTES,
      showData: {},
    })
    const toggleDrawer = (val: boolean) => {
      state.drawerVisible = val
      if (!val) {
        return
      }
      if (state.noteType == noteTypeComp.COMMENTS) {
        state.showData = {
          id: '01',
          value: '我们覆盖的A股开发商在4Q15期间股价累计上涨41%，我们重申当前时点地产板块的配置价值。',
          originalText:
            '重申对A/H地产板块看多观点。历史上A/H地产板块在仓位低点时均呈现显著反弹（A股开发商仓位于3Q15末降至底部，我们覆盖的A股开发商在4Q15期间股价累计上涨41%；H股开发商仓位于2Q17末降至底部，我们覆盖的H股开发商在3Q17-1Q18期间股价累计上涨63%）。往前看，我们判断2021年全年基本面将延续平稳态势，而政策实际执行可能存在正向预期差。考虑到当前板块仓位处历史底部，我们重申当前时点地产板块的配置价值。',
          author: '中金，张宇、王璞',
          title: '房地产4Q20基金持仓分析：仓位降至历史底部，重申板块配置价值',
        }
      } else {
        state.showData = {
          id: '01',
          value: '我们覆盖的A股开发商在4Q15期间股价累计上涨41%，我们重申当前时点地产板块的配置价值。',
        }
      }
    }
    return {
      ...toRefs(state),
      // func
      toggleDrawer,
    }
  },
  methods: {},
})
</script>

<style lang="less" scoped>
@edit-width: 391px;
.mynotes-container {
  width: 100%;
  height: 100%;
  position: relative;
  .notes-list {
    height: 100%;
    overflow-y: scroll;
    background: @card-bgcolor;
    padding-right: 0;
    &.has-edit {
      padding-right: @edit-width - 10px;
      transition: all 0.1s linear;
    }
  }
}
</style>
