<template>
  <div class="list-detail">
    <div class="list-container">
      <news-card
        v-for="item in listData"
        :key="item.id"
        :title="item.title"
        :content="item.content"
        :created-at="item.time"
        :hot="item.hot"
        :like="item.like"
        :collected="item.isCol"
        :img="item.avatar"
      ></news-card>
      <!-- <data-empty v-if="listData.lenght === 0"></data-empty> -->
    </div>
    <div class="item-detail"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { NewsCard } from '@/views/components'
import { newsApi, useApi, GetAllResult } from '@/api'
import { HotNews } from '@/models/hotNews'
export default defineComponent({
  components: { NewsCard },
  setup() {
    const { loading = false, response: listData } = useApi<GetAllResult<HotNews>, HotNews[]>(newsApi.getAll())
    return {
      loading,
      listData,
    }
  },
})
</script>

<style lang="less" scoped>
.list-detail {
  width: 100%;
  height: 100%;
  display: flex;
  background: @card-bgcolor;
  border-radius: 2px;
  box-shadow: 0 4px 6px 0 rgba(144, 164, 183, 0.22);
  .list-container {
    flex: 4;
    overflow-y: scroll;
  }
  .item-detail {
    flex: 5;
    border-left: 1px solid @border-color;
    overflow-y: scroll;
  }
}
</style>
