<template>
  <div class="info-container">
    <!-- 头像 -->
    <a-upload
      name="avatar"
      list-type="picture-card"
      class="avatar-uploader"
      :show-upload-list="false"
      action=""
      :before-upload="beforeUpload"
    >
      <img v-if="personalInfo && personalInfo.avatar" :src="personalInfo.avatar" alt="avatar" />
      <div v-else>
        <a-icon :type="loading ? 'loading' : 'plus'" />
        <div class="ant-upload-text">Upload</div>
      </div>
      <div class="camera-icon">
        <icon-font type="iconcamera"></icon-font>
        <!-- <icon-font type="iconsave"></icon-font> -->
      </div>
    </a-upload>
    <!-- 个人信息 -->
    <ul class="info-items" v-if="personalInfo">
      <li v-for="item in keysLabel" :key="item.key">
        <span class="label">{{ item.label }}</span>
        <span class="text">{{ personalInfo[item.key] }}</span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, toRefs, onMounted, reactive } from 'vue'
import { personalApi, useApi, GetResult } from '@/api'
import { PersonalInfomation } from '@/models/personal'
// function getBase64(img: File, callback:(file: any) => void) {
//   const reader = new FileReader()
//   reader.addEventListener('load', () => callback(reader.result))
//   reader.readAsDataURL(img)
// }
export default defineComponent({
  name: 'PersonalInfomation',
  setup() {
    const state = reactive({
      personalInfo: {},
    })
    const getPersonalInfomation = () => {
      const { response: data } = useApi<GetResult<PersonalInfomation>, PersonalInfomation>(
        personalApi.getPersonalInfo()
      )
      state.personalInfo = data
    }
    onMounted(getPersonalInfomation)

    return {
      ...toRefs(state),
      keysLabel: [
        { label: '姓名', key: 'userName' },
        { label: '组织', key: 'organize' },
        { label: '电话', key: 'tel' },
        { label: '邮箱', key: 'email' },
        { label: '用户类型', key: 'customerType' },
      ],
      loading: false,
    }
  },
  methods: {
    // handleChange(info: object) {
    //   if (info.file.status === 'uploading') {
    //     this.loading = true
    //     return
    //   }
    //   if (info.file.status === 'done') {
    //     getBase64(info.file.originFileObj, (imageUrl: string) => {
    //       // this.personalInfo.avatar = imageUrl
    //       console.log('imageUrl', imageUrl)
    //       this.loading = false
    //     })
    //     this.loading = false
    //   }
    // },
    beforeUpload(file: File) {
      const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png'
      if (!isJpgOrPng) {
        console.log('You can only upload JPG file!')
      }
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isLt2M) {
        console.log('Image must smaller than 2MB!')
      }
      return isJpgOrPng && isLt2M
    },
  },
})
</script>

<style lang="less" scoped>
@avatarWidth: 120px;
.info-container {
  width: 100%;
  height: 100%;
  background: @card-bgcolor;
  padding-top: 40px;
  display: flex;
  :deep(.avatar-uploader) {
    width: @avatarWidth;
    margin-left: 82px;
    margin-right: 50px;
    .ant-upload {
      width: @avatarWidth;
      height: @avatarWidth;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
      .camera-icon {
        width: @avatarWidth;
        height: 25px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        .anticon {
          color: #ffffff;
        }
      }
    }
  }
  .ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }

  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }
  .info-items {
    padding: 0;
    li {
      display: flex;
      margin-bottom: 15px;
      .label {
        min-width: 56px;
        text-align: right;
        margin-right: 15px;
        color: @grey-color;
      }
    }
  }
}
</style>
