<template>
  <a-modal class="ant-modal--modification" title="添加协作者" :closable="false" v-bind="$attrs">
    <div class="add-collaborator-modal">
      <div class="add-collaborator-modal-header">
        <span class="add-collaborator-modal-header-title">已添加协作者</span>
        <div class="search-input-wrapper">
          <a-auto-complete
            class="ant-select-auto-complete-search-button-modification"
            v-bind="$attrs"
            :options="[{ value: 'Burns Bay Road' }, { value: 'Downing Street' }, { value: 'Wall Street' }]"
          >
            <a-input-search class="ant-input-search-enter-button-modification" placeholder="请输入">
              <template #enterButton>
                <icon-font type="iconsearch" style="font-size: 16px" />
              </template>
            </a-input-search>
          </a-auto-complete>
        </div>
      </div>
      <div class="add-collaborator-modal-body">
        <add-collaborator-item class="add-collaborator-item" v-for="i in 10" :key="i" />
      </div>
    </div>
  </a-modal>
</template>

<script>
import { defineComponent } from '@vue/runtime-core'
import AddCollaboratorItem from './AddCollaboratorItem.vue'
export default defineComponent({
  name: 'AddCollaboratorModal',
  components: { AddCollaboratorItem },
})
</script>

<style lang="less" scoped>
.add-collaborator-modal {
  height: 425px;
  background-color: #f5f7fa;
  padding: 10px 10px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  &-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    &-title {
      font-family: PingFangSC;
      font-size: 12px;
      line-height: 1.5;
      color: #354052;
    }
    .search-input-wrapper {
      width: 235px;
    }
  }
  &-body {
    flex: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    .add-collaborator-item {
      margin-bottom: 10px;
    }
  }
}
</style>
