<template>
  <div class="add-collaborator-item">
    <icon-font type="iconclose2" class="close-btn" />
    <div class="user-area">
      <a-avatar :size="30" />
      <div class="user-info">
        <div class="user-name">张哈穿</div>
        <div class="user-department">研究部</div>
      </div>
    </div>
    <div class="task-area">
      <div class="add-task-input" v-if="isEditing">
        <textarea v-model="taskContent" @blur="isEditing = false"> </textarea>
      </div>
      <div class="add-task-btn" v-else-if="!taskContent" @click="isEditing = true">+添加任务描述</div>
      <div class="task-content-wrapper" v-else>
        <div class="task-content">{{ taskContent }}</div>
        <div class="edit-task-btn"><icon-font type="iconedit" class="icon" @click="onEdit" /></div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'AddCollaboratorItem',
  setup() {
    const isEditing = ref(false)
    const taskContent = ref('')
    const onEdit = () => {
      isEditing.value = true
    }
    return {
      isEditing,
      onEdit,
      taskContent,
    }
  },
})
</script>

<style lang="less" scoped>
.add-collaborator-item {
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  width: 152px;
  font-family: PingFangSC;
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #d8d8d8;
    cursor: pointer;
  }
  .user-area {
    display: flex;
    border-bottom: 1px dashed #ebebec;
    padding: 10px 10px 5px;
    .user-info {
      margin-left: 10px;
      .user-name {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        color: #354052;
        margin-bottom: 2px;
      }
      .user-department {
        font-size: 12px;
        line-height: 1.5;
        color: #97a3b4;
      }
    }
  }
  .task-area {
    height: 90px;
    font-size: 12px;
    line-height: 1.5;
    color: #97a3b4;
    .add-task-btn {
      color: #007ae4;
      text-align: center;
      line-height: 90px;
      cursor: pointer;
    }
    .add-task-input {
      width: 100%;
      height: 100%;
      padding: 5px;
      textarea {
        border: 1px solid #ebebec;
        padding: 5px;
        width: 100%;
        height: 100%;
        outline: none;
        resize: none;
      }
    }
    .task-content-wrapper {
      padding: 6px;
      .task-content {
        line-height: 16px;
        height: 64px;
      }
      .edit-task-btn {
        transform: translateY(-3px);
        text-align: right;
        .icon {
          cursor: pointer;
        }
      }
      .add-task-btn {
        text-align: right;
        .icon {
          cursor: pointer;
        }
      }
    }
  }
}
</style>
