<template>
  <div class="collaborator-item">
    <div class="collaborator-avatar-wrapper">
      <a-avatar :size="30"></a-avatar>
      <div class="active-mask" :style="{ borderColor: activeColor }"></div>
      <div class="active-point" :style="{ backgroundColor: activeColor }"></div>
    </div>
    <div class="collaborator-name">张小天</div>
  </div>
</template>
<script>
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'CollaboratorItem',
  props: {
    activeColor: {
      type: String,
      default: '#ff9802',
    },
  },
  setup() {
    return {}
  },
})
</script>
<style lang="less" scoped>
.collaborator-item {
  display: inline-block;
  min-width: 36px;
  .collaborator-avatar-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    .active-point {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 2px;
      width: 8px;
      height: 8px;
      background: #ff9802;
      border-radius: 50%;
    }
    .active-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      border: 3px solid #ff9802;
    }
  }
  .collaborator-name {
    font-family: PingFangSC;
    font-size: 12px;
    color: #354052;
    margin-top: 5px;
    text-align: center;
  }
}
</style>
