<template>
  <div class="collaborative-area" v-bind="$attrs">
    <div class="collaborative-area-header">
      <div class="header-tabbar">
        <div class="header-tabbar-item active">正在创作(3)</div>
        <div class="header-tabbar-item">未在创作(2)</div>
      </div>
      <icon-font type="iconaddpeo" class="add-user-btn" @click="addCollaboratorModalVisible = true" />
    </div>
    <div class="collaborative-area-body">
      <div class="collaborator-area">
        <collaborator-item style="margin-right: 20px" v-for="i in 4" :key="i" />
      </div>
      <div class="task-area">
        <div class="task-area-tabbar">
          <div class="task-area-tabbar-item">编辑记录</div>
          <div class="task-area-tabbar-line"></div>
          <div class="task-area-tabbar-item">任务</div>
        </div>
        <div class="task-list">
          <div class="task-list-item" v-for="i in 3" :key="i">
            <div class="task-list-item-content">张笑天 把文档 “无标题” 重命名为 “关于股票的研究报告”</div>
            <div class="task-list-item-time">07/27 18:35</div>
          </div>
        </div>
      </div>
      <div class="action-area">
        <span class="action-area-title">显示协作记录</span>
        <base-switch v-model:value="collaborativeRecordsVisible" />
      </div>
    </div>
  </div>
  <add-collaborator-modal v-model:visible="addCollaboratorModalVisible" width="660px" :closeable="false" />
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import AddCollaboratorModal from './AddCollaboratorModal.vue'
import CollaboratorItem from './CollaboratorItem.vue'
import BaseSwitch from '@/components/BaseSwitch.vue'

export default defineComponent({
  name: 'CollaborativeArea',
  components: { AddCollaboratorModal, CollaboratorItem, BaseSwitch },
  setup() {
    const addCollaboratorModalVisible = ref(false)
    const collaborativeRecordsVisible = ref(false)
    return {
      addCollaboratorModalVisible,
      collaborativeRecordsVisible,
    }
  },
})
</script>

<style lang="less" scoped>
.collaborative-area {
  background: #ffffff;
  &-header {
    padding-top: 15px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebec;
    .add-user-btn {
      color: #007ae4;
      cursor: pointer;
    }
    .header-tabbar {
      display: flex;
      &-item {
        flex: 1;
        font-family: PingFangSC;
        margin: 0 12px;
        font-size: 12px;
        line-height: 1.83;
        color: #97a3b4;
        padding-bottom: 7px;
        text-align: center;
        cursor: pointer;
        &.active {
          color: #007ae4;
          font-weight: 500;
          position: relative;
          &::after {
            content: '';
            display: block;
            width: 14px;
            height: 3px;
            background: #007ae4;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  &-body {
    padding: 10px;
    .collaborator-area {
      &-body {
        white-space: nowrap;
        overflow-x: auto;
      }
      margin-bottom: 10px;
    }
    .task-area {
      padding: 8px 10px 0;
      background-color: #f5f7fa;
      height: 186px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      &-tabbar {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 10px;
        &-line {
          height: 16px;
          width: 1px;
          background: #d8d8d8;
        }
        &-item {
          flex: 1;
          font-family: PingFangSC;
          font-size: 12px;
          line-height: 1.5;
          color: #97a3b4;
          text-align: center;
          cursor: pointer;
          &.active {
            color: #007ae4;
          }
        }
      }
      .task-list {
        flex: auto;
        overflow-y: auto;
        &-item {
          margin-bottom: 10px;
          &-content {
            font-size: 12px;
            color: #354052;
          }
          &-time {
            margin-top: 5px;
            font-size: 12px;
            color: #97a3b4;
          }
        }
      }
    }
    .action-area {
      margin-top: 6px;
      font-size: 12px;
      color: #97a3b4;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &-title {
        margin-right: 10px;
      }
    }
  }
}
</style>
