<template>
  <div class="home">
    <img alt="Vue logo" src="@/assets/logo.png" />
    <h1>Welcome to Your Vue.js + TypeScript App</h1>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'Home',
  components: {},
})
</script>
