<template>
  <a-layout-main class="login-container">
    <a-typography-title class="login-title">欢迎登录研报共享平台</a-typography-title>
    <a-form class="login-form" :label-col="labelCol" :wrapper-col="wrapperCol">
      <div class="login-type-switch" @click="handleLoginTypeChange">
        <span class="login-type-switch-text">{{ loginInfo }}</span>
        <icon-font :type="iconType" style="font-size: 40px"></icon-font>
      </div>
      <div style="margin-bottom: 25px">
        <a-image :src="logoImg" :preview="false" :width="144" :height="40" />
      </div>
      <div v-if="isEmailLogin">
        <a-form-item v-bind="validateInfos.userAccount" :colon="false" labelAlign="left" hasFeedback>
          <template #label>
            <icon-font type="iconicon_ID"></icon-font>
            <a-typography-text>账号</a-typography-text>
          </template>
          <a-input placeholder="请输入手机号/邮箱" v-model:value="modelRef.userAccount" />
        </a-form-item>
        <a-form-item
          v-bind="validateInfos.userPwd"
          :colon="false"
          labelAlign="left"
          hasFeedback
          style="margin-bottom: 55px"
        >
          <template #label>
            <icon-font type="iconicon_lock"></icon-font>
            <a-typography-text>密码</a-typography-text>
          </template>
          <a-input placeholder="请输入密码" v-model:value="modelRef.userPwd" type="password" autocomplete="off" />
        </a-form-item>
      </div>
      <div v-else>
        <a-form-item v-bind="validateInfos.userPhone" :colon="false" labelAlign="left" hasFeedback>
          <template #label>
            <icon-font type="icontelephone"></icon-font>
            <a-typography-text>手机</a-typography-text>
          </template>
          <a-input :maxlength="11" placeholder="请输入手机号" v-model:value="modelRef.userPhone" />
        </a-form-item>
        <a-form-item
          v-bind="validateInfos.code"
          :colon="false"
          hasFeedback
          labelAlign="left"
          :wrapperCol="{ span: 10 }"
        >
          <template #label>
            <icon-font type="iconicon_lock"></icon-font>
            <a-typography-text>验证码</a-typography-text>
          </template>
          <a-input :maxlength="6" placeholder="请输入验证码" v-model:value="modelRef.code" autocomplete="off" />
          <div class="valication-code-container">
            <a-spin :spinning="smsLoading">
              <a-typography-text v-if="formattedRes.seconds > 0">{{ formattedRes.seconds }}s后重试</a-typography-text>
              <a-typography-link @click="handleValidationCodeGet" style="white-space: nowrap" v-else
                >发送验证码</a-typography-link
              ></a-spin
            >
          </div>
        </a-form-item>
      </div>
      <div style="margin: 55px 0 15px">
        <a-button type="primary" @click.prevent="onSubmit" block :loading="loginLoading">登录</a-button>
      </div>
      <!-- <div class="remember-options" v-if="isEmailLogin">
        <a-checkbox v-model:checked="modelRef.remember">记住密码</a-checkbox>
        <a-typography-link href="https://antdv.com" target="_blank">忘记密码</a-typography-link>
      </div> -->
    </a-form>
  </a-layout-main>
</template>
<script lang="ts">
import { computed, defineComponent, inject, reactive, ref, toRaw } from 'vue'
import { useForm } from '@ant-design-vue/use'
import { useStore } from '@/store'
import { useRouter } from 'vue-router'
import logoImg from '@/assets/images/login-logo.png'
import { generateRule, checkPhoneNumber } from '@/utils/validation'
import pick from 'lodash/pick'
import useCountdown from '@/core/hooks/useCountdown'
import { sendSms } from '@/api/login'
import { MessageApi } from 'ant-design-vue/lib/message/index'
import { SUCCESS_CODE } from '@/config/http'

enum LoginType {
  EmailLogin = 1,
  PhoneLogin = 2,
}

enum PlatformType {
  Writing = 1,
  Ecology = 2,
  Operation = 3,
}

interface LoginEntity {
  userAccount?: string
  userPwd?: string
  userPhone?: string
  code?: string
  remember: boolean
  platformType: PlatformType
  loginType: LoginType
}

export default defineComponent({
  props: {
    platformType: {
      type: Number,
      default: PlatformType.Writing,
    },
    loginType: {
      type: Number,
      default: LoginType.EmailLogin,
    },
  },
  setup({ platformType, loginType }, ctx) {
    const loginLoading = ref(false),
      smsLoading = ref(false)

    const $message = inject<MessageApi>('$message')

    const modelRef = reactive<LoginEntity>({
      userAccount: '',
      userPwd: '',
      userPhone: '',
      code: '',
      platformType,
      loginType,
      remember: true,
    })

    const { validate, validateInfos, clearValidate } = useForm(
      modelRef,
      reactive({
        userAccount: [
          {
            validator: generateRule(val => {
              return modelRef.loginType === LoginType.PhoneLogin || val !== ''
            }),
            message: '',
          },
        ],
        userPwd: [
          {
            validator: generateRule(val => {
              return modelRef.loginType === LoginType.PhoneLogin || val !== ''
            }),
            message: '',
          },
        ],
        userPhone: [
          {
            validator: generateRule(val => {
              return modelRef.loginType === LoginType.EmailLogin || val !== ''
            }),
            message: '',
          },
          {
            validator: generateRule(checkPhoneNumber),
            message: '请输入有效的手机号',
          },
        ],
        code: [
          {
            validator: generateRule(val => {
              return modelRef.loginType === LoginType.EmailLogin || val !== ''
            }),
            message: '',
          },
        ],
      })
    )

    const store = useStore()
    const router = useRouter()

    const onSubmit = () => {
      validate()
        .then(res => {
          loginLoading.value = true

          let action = 'login',
            modelProps = ['userAccount', 'userPwd', 'platformType']
          if (modelRef.loginType === LoginType.PhoneLogin) {
            action = 'smsLogin'
            modelProps = ['userPhone', 'code', 'platformType']
          }

          store
            .dispatch(action, pick(toRaw(modelRef), modelProps))
            .then(res => {
              router.push({ path: (router.currentRoute.value.query['redirect'] as string) || '/' })
            })
            .finally(() => (loginLoading.value = false))
        })
        .catch(err => {
          console.log('error', err)
        })
    }

    const loginInfo = computed(() => {
      return modelRef.loginType === LoginType.EmailLogin ? '短信登录' : '账号密码登录'
    })

    const iconType = computed(() => {
      return modelRef.loginType === LoginType.EmailLogin ? 'iconphone' : 'iconid'
    })

    const labelCol = computed(() => {
      return modelRef.loginType === LoginType.EmailLogin ? { span: 6 } : { span: 7 }
    })

    const wrapperCol = computed(() => {
      return modelRef.loginType === LoginType.EmailLogin ? { span: 18 } : { span: 17 }
    })

    const isEmailLogin = computed(() => {
      return modelRef.loginType === LoginType.EmailLogin
    })

    const handleLoginTypeChange = () => {
      modelRef.loginType = modelRef.loginType === LoginType.EmailLogin ? LoginType.PhoneLogin : LoginType.EmailLogin

      // clearValidate()
    }

    const { formattedRes, timeLeft, target } = useCountdown()

    const handleValidationCodeGet = () => {
      validate('userPhone').then(async () => {
        smsLoading.value = true

        const { data: res } = await sendSms({ userPhone: modelRef.userPhone }).finally(() => (smsLoading.value = false))

        if (res.code === SUCCESS_CODE) {
          $message?.success('发送验证码成功！')
          target.value = Date.now() + 1000 * 60
        } else {
          $message?.error(res.msg)
        }
      })
    }

    return {
      labelCol,
      wrapperCol,
      validateInfos,
      modelRef,
      onSubmit,
      logoImg,
      loginInfo,
      iconType,
      isEmailLogin,
      handleLoginTypeChange,
      handleValidationCodeGet,
      timeLeft,
      countdown: target,
      formattedRes,
      loginLoading,
      smsLoading,
    }
  },
})
</script>
<style lang="less" scoped>
.login-container {
  position: absolute;
  margin-right: 23.6%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  .login-title {
    font-size: 27px;
    font-weight: 300;
    line-height: 1.04;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    padding: 0 5px;
  }
  .login-type-switch {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    margin: 10px;
    color: #97a3b4;
    font-size: 12px;
    &-text {
      margin-right: -5px;
      vertical-align: middle;
    }
  }
  .login-form {
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(144, 164, 183, 0.22);
    background-color: #ffffff;
    position: relative;
    .ant-form-item {
      border-bottom: solid 1px #ebebec;
      margin-bottom: 20px;

      label > .anticon {
        vertical-align: text-bottom;
      }
      .ant-input {
        background: transparent;
        border: 0;
        padding: 0;
        &:focus {
          box-shadow: none !important;
        }
      }
      // :deep(.ant-form-explain) {
      //   min-height: 0;
      // }
    }
    .valication-code-container {
      position: absolute;
      right: -68%;
      top: -10px;
    }
  }
  .remember-options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    label {
      font-size: 12px;
    }
  }
}
</style>
