<template>
  <div class="material-charts">
    <material-item-container
      v-for="item in chartsList"
      :key="item.id"
      @openFullText="$emit('openFullText', item)"
      @quote="$emit('quote', item)"
    >
      <material-charts-item :title="item.title" :content="item.content" :quote-count="item.quoteCount" />
    </material-item-container>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import MaterialChartsItem from './MaterialChartsItem.vue'
import { materialsApi, useApi, GetAllResult } from '@/api'
import { Materials } from '@/models/materials'
import MaterialItemContainer from '../MaterialItemContainer.vue'

export default defineComponent({
  name: 'MaterialCharts',
  components: {
    MaterialChartsItem,
    MaterialItemContainer,
  },
  emits: ['openFullText', 'quote'],
  setup() {
    const { loading, response: chartsList } = useApi<GetAllResult<Materials>, Materials[]>(materialsApi.getAll())

    return {
      loading,
      chartsList,
    }
  },
})
</script>

<style></style>
