<template>
  <div class="material-charts-item-title">{{ title }}</div>
  <div class="material-charts-item-content">
    <table>
      <tr>
        <th v-for="a in 10" :key="a">C1</th>
      </tr>
      <tr v-for="i in 3" :key="i">
        <td v-for="a in 10" :key="a">{{ a }}</td>
      </tr>
    </table>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export type MaterialNewsItemType = {
  content: string
  title: string
  quoteCount: number
  collected: boolean
  author: string
  createdAt: string
}

export default defineComponent({
  name: 'MaterialChartsItem',
  inheritAttrs: false,
  props: {
    content: String,
    title: String,
  },
})
</script>

<style lang="less" scoped>
.font {
  font-family: PingFangSC;
  font-size: 12px;
  line-height: 1.5;
  color: #354052;
  font-weight: normal;
}
.material-charts-item-title {
  .font();
  margin-bottom: 10px;
}
.material-charts-item-content {
  overflow: auto;
  table {
    margin-bottom: 10px;
    td,
    th {
      .font();
      border: solid 1px #ebebec;
      padding: 6px 14px;
    }
  }
}
</style>
