<template>
  <a-modal :width="660" title="审批记录" class="ant-modal--modification">
    <div style="padding: 10px 10px 0 10px">
      <a-table
        class="ant-table-modification"
        :columns="columns"
        :data-source="dataList"
        size="small"
        rowKey="id"
        :loading="tableLoading"
        :pagination="false"
      >
        <template #tableIndex="{ index }">
          {{ index + 1 }}
        </template>
        <template #order="{ text }">
          {{ order[text] }}
        </template>
        <template #status="{ text }">
          {{ status[text] }}
        </template>
        <template #opinion="{ text }">
          {{ text ? text : '-' }}
        </template>
      </a-table>
    </div>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue'
import { ApprovalRecord } from '@/models/writingWorkbench'
import { approveRecordApi } from '@/api/writingWorkbench'
import { message } from 'ant-design-vue'

export default defineComponent({
  setup() {
    const tableLoading = ref(false)
    const dataList = ref<ApprovalRecord[]>([])
    const columns = [
      { title: '序号', width: 60, slots: { customRender: 'tableIndex' } },
      { title: '时间', width: 200, dataIndex: 'time' },
      { title: '审批节点', width: 70, dataIndex: 'order', slots: { customRender: 'order' } },
      { title: '审批状态', width: 70, dataIndex: 'status', slots: { customRender: 'status' } },
      { title: '审批人员', width: 70, dataIndex: 'person' },
      { title: '审批意见', width: '30%', dataIndex: 'opinion', ellipsis: true, slots: { customRender: 'opinion' } },
    ]
    enum order {
      '一审' = 1,
      '二审',
      '三审',
    }
    enum status {
      '不通过',
      '通过',
    }
    onMounted(async () => {
      // writingWorkbenchApi.
      tableLoading.value = true
      const res = await approveRecordApi.getAll()
      if (res.code === 200) dataList.value = res?.data ?? []
      else message.error('请求审批列表出错!', 0)
      tableLoading.value = false
    })
    return {
      tableLoading,
      columns,
      dataList,
      status,
      order,
    }
  },
})
</script>
