<template>
  <a-modal class="ant-modal--modification" :width="800" :footer="null">
    <div class="modal-container">
      <div class="preview-box">
        <div class="preview-header">
          <span>预览</span>
          <a-select size="small" v-model:value="previewType">
            <a-select-option :value="0">图文</a-select-option>
            <a-select-option :value="1">PDF</a-select-option>
            <a-select-option :value="2">H5</a-select-option>
          </a-select>
        </div>
        <div class="preview-container"></div>
      </div>
      <div class="information-box padding10">
        <div class="information-item">
          <div class="information-title">报告标题</div>
          <div class="information-content">{{ approvalData.title }}</div>
        </div>
        <div class="information-item">
          <div class="information-title">报告摘要</div>
          <div class="information-content">{{ approvalData.summary }}</div>
        </div>
        <div class="information-item">
          <div class="information-title">报告关键词</div>
          <div class="information-content">{{ approvalData.keyword }}</div>
        </div>
        <div class="information-item">
          <div class="information-title">报告作者</div>
          <div class="information-content">{{ approvalData.author }}</div>
        </div>
        <div class="information-item">
          <div class="information-title">所属分类</div>
          <div class="information-content">{{ approvalData.sort }}</div>
        </div>
        <div class="information-item">
          <div class="information-title">所属栏目</div>
          <div class="information-content">{{ approvalData.programa }}</div>
        </div>
        <div class="information-item">
          <div class="information-title">发布渠道</div>
          <div class="information-content clearFix">
            <div v-for="item in approvalData.channel" :key="item.title" class="fl channel-item clearFix">
              <img :src="item.img" :alt="item.title" class="fl" />
              <div class="channel-item-info fl">
                <div>{{ item.title }}</div>
                <div class="channel-item-info-tag">{{ item.type }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="information-item">
          <div class="information-title must">审批意见</div>
          <div class="information-content" style="padding: 0">
            <a-input size="default"></a-input>
          </div>
        </div>
        <div class="information-item">
          <div class="information-title must">下一审批人</div>
          <div class="information-content" style="padding: 0">
            <a-select placeholder="请选择" v-model:value="params.nextPeople" style="width: 100%; font-size: 12px">
              <a-select-option v-for="item in approvalData.nextPeople" :key="item.name">{{
                item.name
              }}</a-select-option>
            </a-select>
          </div>
        </div>
        <div class="btn-box ant-modal-footer">
          <a-button>修改</a-button>
          <a-button>不通过</a-button>
          <a-button type="primary">通过</a-button>
        </div>
      </div>
    </div>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive } from 'vue'
import approveListApi from '@/api/approveList'
import { ApprovalItem } from '@/models/writingWorkbench'

interface params {
  idea: string
  nextPeople: string | null
}

export default defineComponent({
  setup() {
    const approvalData = reactive<Partial<ApprovalItem>>({})
    const params = reactive<params>({
      idea: '',
      nextPeople: null,
    })
    onMounted(async () => {
      Object.assign(approvalData, (await approveListApi.getApprovalItem()).data)
    })
    return {
      approvalData,
      params,
    }
  },
  data() {
    return {
      previewType: 0,
    }
  },
  methods: {
    handleOk() {
      console.log('111')
    },
  },
})
</script>

<style lang="less" scoped>
.modal-container {
  width: 800px;
  display: flex;
  justify-content: flex-start;
  .preview-box {
    width: 430px;
    height: 470px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .preview-header {
      width: 100%;
      height: 34px;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > span {
        color: @grey-color;
      }
      :deep(.ant-select) {
        font-size: 12px;
      }
    }
    .preview-container {
      width: 100%;
      flex: 1;
      background: @border-color;
    }
  }
  .information-box {
    width: 370px;
    position: relative;
    .information-item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 12px;
      margin-bottom: 10px;
      .information-title {
        width: 72px;
        flex: 0 0 auto;
        margin-right: 4px;
      }
      .information-title:not(.must) {
        color: @grey-color;
      }
      .information-content {
        flex: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        padding-right: 10px;
        .channel-item {
          width: 128px;
          height: 40px;
          margin-right: 6px;
          > img {
            width: 40px;
            height: 40px;
            border-radius: 6px;
            margin-right: 10px;
            object-fit: cover;
          }
          .channel-item-info {
            width: 78px;
            height: 100%;
            .channel-item-info-tag {
              width: 36px;
              height: 20px;
              margin-top: 2px;
              color: #002257;
              background: #e5efff;
              border-radius: 2px;
              font-size: 12px;
              line-height: 20px;
              text-align: center;
            }
          }
          &:nth-of-type(even) {
            margin-right: 0;
          }
          &:nth-of-type(n + 3) {
            margin-top: 10px;
          }
        }
      }
      .must {
        height: 24px;
        line-height: 24px;
      }
    }
    .btn-box {
      position: absolute;
      bottom: 10px;
      right: 10px;
      border: 0;
      padding: 0;
    }
  }
}
</style>
