<template>
  <a-modal
    :width="1120"
    :confirmLoading="confirmLoading"
    :closable="false"
    @ok="handleOk"
    class="ant-modal--modification"
  >
    <div>
      <indicator-editor
        ref="indicatorEditor"
        :poc="'/*% common.features.guangfa.show %*/' === 'true'"
        :user-name="userName"
        :data="indicator"
        :config="chartConfig"
        :chart-colors="defaultChartColors"
        :themes="defaultThemes"
        :is-merge="isMerge"
        :comparable="comparable"
        :bottom-button-show="comparable"
        :formula-change-formatter="formulaChangeFormatter"
        :aggregation-change-formatter="aggregationChangeFormatter"
        :extra-tab-data="extraTabData"
        @change="finalIndicator = $event"
        @replaceCustomIndicator="replaceSystemIndicator"
        @addCompareIndicator="addSystemParameter"
      ></indicator-editor>
    </div>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from 'vue'
import IndicatorEditor from '@/views/components/IndicatorEditor/index.vue'
import { indicatorDetail } from '../../indicator-editor/data'
import { getDefaultChartColors, indicatorTheme } from '@/views/components/IndicatorEditor/utils/default'

export default defineComponent({
  name: 'ChartConfigModal',
  emits: ['done-config'],
  components: {
    IndicatorEditor,
  },
  data() {
    return {
      finalIndicator: null,
    }
  },
  setup(props, ctx) {
    const confirmLoading = ref(false)
    const allData = reactive({
      userName: '车心伟',
      indicator: indicatorDetail,
      chartConfig: {
        areaStyle: {
          opacity: 0.6,
        },
        range: {
          filterColor: 'rgba(167,183,204,0.4)',
        },
      },
      defaultChartColors: getDefaultChartColors(),
      defaultThemes: indicatorTheme,
      isMerge: false,
      comparable: true,
      formulaChangeFormatter: () => {
        console.log('11')
      },
      aggregationChangeFormatter: () => {
        console.log('22')
      },
      extraTabData: [], // 下载
    })
    const handleOk = () => {
      confirmLoading.value = true
      setTimeout(() => {
        confirmLoading.value = false
        ctx.emit('done-config')
      }, 1000)
    }
    return {
      handleOk,
      ...allData,
      confirmLoading,
    }
  },
  methods: {
    replaceSystemIndicator() {
      console.log('33')
    },
    addSystemParameter() {
      console.log('44')
    },
  },
})
</script>

<style lang="less" scoped></style>
