<template>
  <a-modal
    :width="660"
    okText="提交"
    @ok="handleOk"
    :confirmLoading="confirmLoading"
    title="发布"
    class="ant-modal--modification"
  >
    <a-form :model="formData" :label-col="{ span: 4 }" :wrapper-col="{ span: 15, offset: 1 }" class="form-container">
      <a-form-item label="报告标题">
        {{ formData.title }}
      </a-form-item>
      <a-form-item label="报告标题">
        <a-textarea
          v-model:value="formData.summary"
          :rows="4"
          placeholder="点击自动生成后系统为您生成摘要，您也可以自行编辑"
        />
      </a-form-item>
      <a-form-item label="报告关键词">
        <a-input
          v-model:value="formData.keyWord"
          placeholder="点击自动生成后系统为您生成关键词，您也可以自行编辑，以顿号分隔"
        />
      </a-form-item>
      <a-form-item label="报告作者">
        <a-input v-model:value="formData.author" placeholder="请输入作者信息，多个作者以顿号分隔" />
      </a-form-item>
      <a-form-item label="所属分类">
        <a-select v-model:value="formData.type" placeholder="请选择">
          <a-select-option v-for="item in typeList" :key="item.id">{{ item.name }}</a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="所属栏目">
        <a-select v-model:value="formData.programa" placeholder="请选择">
          <a-select-option v-for="item in programaList" :key="item.id">{{ item.name }}</a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="定价(元)">
        <a-input-number
          v-model:value="formData.price"
          :formatter="value => `￥ ${value}`.replace(/\B(?=(\d{3})+(?!\d))/g, ',')"
          :parser="value => value.replace(/\￥\s?|(,*)/g, '')"
        />
      </a-form-item>
      <a-form-item label="发布渠道">
        <div class="channel-box clearFix">
          <div v-for="item in channelList" :key="item.id" class="fl channel-item clearFix">
            <img :src="item.img" :alt="item.title" class="fl" @click="selectChannel(item)" />
            <img v-if="isChannelSelected(item)" :src="selectedSvgSrc" class="selectedSvg" />
            <div class="channel-item-info fl">
              <div>{{ item.title }}</div>
              <a-select v-model:value="item.type" size="small">
                <a-select-option v-for="type in typeList" :key="type.value">{{ type.name }}</a-select-option>
              </a-select>
            </div>
          </div>
        </div>
      </a-form-item>
      <a-form-item label="审批人">
        <a-select v-model:value="formData.nextPeople">
          <a-select-option v-for="item in programaList" :key="item.id">{{ item.name }}</a-select-option>
        </a-select>
      </a-form-item>
    </a-form>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive, ref, UnwrapRef } from 'vue'
import { message } from 'ant-design-vue'
import approveListApi from '@/api/approveList'
import selectedSvg from '@/assets/images/selected.svg'

interface FormData {
  title: string
  summary: string
  keyWord: string
  author: string
  type: string | null
  programa: string | null
  price: number
  channel: Channel[]
  nextPeople: nextPeople[]
}
interface Channel {
  id: number
  title: string
  type: string
  img: string
}
interface nextPeople {
  id: number
  name: string
}
export default defineComponent({
  emits: ['done-publish'],
  setup(props, ctx) {
    const formData: UnwrapRef<FormData> = reactive({
      title: '标题标题标题标题标题标题标题标题',
      summary: '',
      keyWord: '',
      author: '',
      type: null,
      programa: null,
      price: 0.0,
      channel: [],
      nextPeople: [],
    })
    const confirmLoading = ref(false)
    const programaList = ref([])
    const typeList = ref([
      { name: '图文', value: 'imageText' },
      { name: 'PDF', value: 'PDF' },
      { name: 'H5', value: 'H5' },
    ])
    const channelList = ref<Channel[]>([])
    const nextPeopleList = ref<nextPeople[]>([])
    const channelSelect = ref<Channel[]>([])

    const requestData = async () => {
      const { channel, nextPeople } = (await approveListApi.getApprovalItem()).data
      channelList.value = channel
      nextPeopleList.value = nextPeople
    }
    const selectChannel = (channel: Channel) => {
      if (
        channelSelect.value.filter(item => {
          return item.id === channel.id
        }).length != 0
      ) {
        const i = channelSelect.value.findIndex(item => {
          return item.id === channel.id
        })
        channelSelect.value.splice(i, 1)
        return
      }
      channelSelect.value.push(channel)
    }
    const isChannelSelected = (channel: Channel) => {
      return (
        channelSelect.value.filter(i => {
          return i.id === channel.id
        }).length !== 0
      )
    }
    onMounted(() => {
      requestData()
    })

    const handleOk = () => {
      confirmLoading.value = true
      setTimeout(() => {
        confirmLoading.value = false
        message.success('提交成功! ')
        ctx.emit('done-publish')
      }, 1000)
    }

    return {
      formData,
      programaList,
      typeList,
      channelList,
      nextPeopleList,
      channelSelect,
      handleOk,
      selectChannel,
      isChannelSelected,
      confirmLoading,
      selectedSvgSrc: selectedSvg,
    }
  },
})
</script>

<style lang="less" scoped>
.ant-modal--modification {
  .form-container {
    padding: 15px 0 20px 0;
    :deep(.ant-form-item) {
      margin-bottom: 0;
      .ant-form-item-label > label::after {
        content: '';
        margin: 0;
      }
      .ant-input-number {
        width: 100%;
      }
    }
    .channel-box {
      padding: 5px 0;
      .channel-item {
        width: calc(33% - 6px);
        height: 40px;
        margin-right: 6px;
        position: relative;
        > img {
          width: 40px;
          height: 40px;
          border-radius: 6px;
          margin-right: 10px;
          object-fit: cover;
          cursor: pointer;
        }
        .selectedSvg {
          position: absolute;
          top: 25px;
          left: 30px;
          width: 20px;
          height: 20px;
          pointer-events: none;
        }
        .channel-item-info {
          width: calc(100% - 50px);
          height: 100%;
          line-height: 18px;
          font-size: 12px;
          :deep(.ant-select) {
            width: 56px;
            height: 20px;
            .ant-select-selector {
              padding: 0 4px;
              height: 20px;
              align-items: center;
              .ant-select-selection-item {
                padding-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
