<template>
  <div class="table-header">
    <span class="table-tit">{{ title }}</span>
    <a-dropdown placement="bottomCenter">
      <a-button type="primary" class="table-btn">
        <icon-font type="iconadd"></icon-font>
        <span>开始创作</span>
      </a-button>
      <template #overlay>
        <a-menu>
          <a-menu-item @click="openModal('empty', '创建空白研报')">空白研报</a-menu-item>
          <a-menu-item @click="openModal('template', '模板库')">使用模版</a-menu-item>
          <a-menu-item @click="uploadFileVisible = true">本地上传</a-menu-item>
          <a-menu-item @click="publishModalVisible = true">发布弹窗</a-menu-item>
        </a-menu>
      </template>
    </a-dropdown>
    <create-modal v-model:visible="createModalVisible" :type="createModalType" :title="createModalTitle"></create-modal>
    <publish-modal
      v-model:visible="publishModalVisible"
      v-if="publishModalVisibleDelay"
      @done-publish="publishModalVisible = false"
    ></publish-modal>
    <upload-file-modal
      v-model:visible="uploadFileVisible"
      v-if="uploadFileVisibleDelay"
      @done-upload="doneUpload"
    ></upload-file-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { CreateModal, UploadFileModal } from './index'
import PublishModal from './PublishModal.vue'
import useModalControl from './useModalControl'

export default defineComponent({
  components: {
    CreateModal,
    PublishModal,
    UploadFileModal,
  },
  props: {
    title: {
      type: String,
      defalut: '',
    },
  },
  setup() {
    const createModalVisible = ref(false)
    const createModalType = ref('')
    const createModalTitle = ref('')
    function openModal(type: string, title: string) {
      createModalVisible.value = true
      createModalTitle.value = title
      createModalType.value = type
    }

    const doneUpload = () => {
      uploadFileVisible.value = false
      console.log('上传解析完成')
    }
    // 上传弹窗
    const { modalVisible: uploadFileVisible, modalVisibleDelay: uploadFileVisibleDelay } = useModalControl()
    // 发布弹窗
    const { modalVisible: publishModalVisible, modalVisibleDelay: publishModalVisibleDelay } = useModalControl()

    return {
      createModalVisible,
      createModalTitle,
      createModalType,
      openModal,
      doneUpload,
      uploadFileVisible,
      uploadFileVisibleDelay,
      publishModalVisible,
      publishModalVisibleDelay,
    }
  },
})
</script>

<style lang="less" scoped>
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .table-tit {
    font-size: 14px;
    color: #002257;
    font-weight: 500;
  }
  .table-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
