<template>
  <a-modal
    :closable="false"
    :keyboard="false"
    :maskClosable="false"
    :okText="okText"
    :width="660"
    :okButtonProps="{ disabled: fileList.length === 0 }"
    :confirmLoading="confirmLoading"
    @ok="okHandler"
    @afterClose="afterClose"
    @reject="rejectFile"
    accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
    class="ant-modal--modification"
  >
    <template #title>
      <a-steps :current="currentStep" :status="currentStatus" size="small" style="width: 260px">
        <a-step title="上传文件" />
        <a-step title="解析文件" />
      </a-steps>
    </template>
    <div class="blur-container">
      <a-spin :spinning="confirmLoading" :tip="loadingText">
        <div class="upload-container">
          <a-upload-dragger
            v-if="result === 'null'"
            v-model:fileList="fileList"
            :showUploadList="false"
            :beforeUpload="() => false"
            @change="handleChange"
          >
            <p class="ant-upload-drag-icon">
              <img :src="fileImageNull" />
            </p>
            <p class="upload-text">{{ fileName }}</p>
            <p class="upload-hint">{{ hintInfo }}</p>
          </a-upload-dragger>
          <div class="upload-sucess" v-else-if="result === 'sucess'">
            <div style="padding: 16px 0">
              <div class="img-container">
                <p class="upload-drag-icon">
                  <img :src="fileImageSucess" />
                </p>
                <p class="upload-hint">{{ hintInfo }}</p>
              </div>
            </div>
          </div>
          <div class="upload-sucess" v-else-if="result === 'error'">
            <div style="padding: 16px 0">
              <div class="img-container">
                <p class="upload-drag-icon">
                  <img :src="fileImageError" />
                </p>
                <p class="upload-hint">{{ hintInfo }}</p>
              </div>
            </div>
          </div>
        </div>
      </a-spin>
    </div>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import fileSvg from '@/assets/images/file.svg'
import fileSucess from '@/assets/images/fileSucess.svg'
import fileError from '@/assets/images/fileError.svg'

interface FileItem {
  uid: string
  name?: string
  status?: string
  response?: string
  url?: string
  preview?: string
  // eslint-disable-next-line
  originFileObj?: any
  file: string | Blob
}

interface FileInfo {
  file: FileItem
  fileList: FileItem[]
}

export default defineComponent({
  emits: ['done-upload'],
  setup(props, ctx) {
    const fileList = ref<FileItem[]>([])
    const currentStep = ref(0)
    const currentStatus = ref('process') // 当前状态
    const okText = ref('下一步')
    const loadingText = ref('文件上传中...')
    const fileName = ref<string | undefined>('上传文件')
    const confirmLoading = ref(false)
    const result = ref('null')
    const hintInfo = ref('请将文件拖拽到此处或点击上传文件')
    const handleChange = (info: FileInfo) => {
      // console.log(info);
      fileName.value = info.file.name
      hintInfo.value = '点击下一步开始上传文件'
    }

    const uploadStart = () => {
      confirmLoading.value = true
      const formData = new FormData()
      formData.append('file', fileList.value[0].originFileObj)
      setTimeout(() => {
        currentStep.value++
        loadingText.value = '文件上传成功, 正在解析...'
        setTimeout(() => {
          currentStep.value++
          result.value = 'sucess'
          hintInfo.value = `您上传的文档"${fileName.value}"解析完成, 点击"完成"按钮会创建XX类型研报`
          confirmLoading.value = false
          okText.value = '完成'
        }, 2000)
      }, 3000)
    }

    const okHandler = () => {
      if (currentStep.value > 1) {
        ctx.emit('done-upload')
        return
      }
      uploadStart()
    }
    return {
      fileList,
      fileImageNull: fileSvg,
      fileImageSucess: fileSucess,
      fileImageError: fileError,
      fileName,
      loadingText,
      hintInfo,
      confirmLoading,
      currentStep,
      currentStatus,
      okText,
      result,
      okHandler,
      handleChange,
    }
  },
  methods: {
    afterClose() {
      console.log('关闭了')
    },
    rejectFile(fileList: FileItem[]) {
      console.log('不符合要求', fileList)
    },
  },
})
</script>

<style lang="less" scoped>
.ant-modal--modification {
  .blur-container {
    :deep(.ant-spin-blur) {
      opacity: 0.3;
    }
  }
  .upload-container {
    width: 100%;
    padding: 20px;
    height: 384px;
    :deep(.ant-upload.ant-upload-drag) {
      border-color: #c4dbff;
      background: #f5f7fa;
    }
    .upload-text {
      font-size: 14px;
      margin-bottom: 4px;
      color: @primary-color;
    }
    .upload-hint {
      font-size: 12px;
    }
    .upload-sucess,
    .upload-error {
      width: 100%;
      height: 100%;
      .img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
</style>
