<template>
  <div class="home">
    <editor :docId="docId"></editor>
  </div>
</template>
<script>
import { defineComponent } from 'vue'
import qs from 'query-string'
// eslint-disable-next-line
import Editor from '@/components/collaborative-editor'
export default defineComponent({
  components: { Editor },
  setup() {
    const { doc } = qs.parse(location.search)

    return {
      docId: doc,
    }
  },
})
</script>
