<template>
  <a-layout class="home-config">
    <a-layout-sider class="layout-sider" theme="light">
      <div class="title">组件库</div>
      <div class="component-wrapper">
        <div
          class="config-component"
          v-for="(conf, index) in flatedConfig"
          :key="conf.title"
          @click="addComponent(conf)"
        >
          <div class="icon-wrapper" :style="{ backgroundColor: compIconColors[index] }">
            <icon-font :type="conf.icon" />
          </div>
          <div class="config-component-name">{{ conf.title }}</div>
        </div>
      </div>
      <div class="config">
        <div class="config-item" @click="resetConfig"><icon-font type="iconrefresh1x" class="icon" /> 恢复默认首页</div>
        <div class="config-item" @click="cancelConfig">
          <icon-font type="iconclose" class="icon" /> 取消当前自定义配置
        </div>
      </div>
    </a-layout-sider>
    <div class="home-config-area">
      <Container
        orientation="horizontal"
        class="draggable-container"
        @drop="onColDrag"
        drag-class="on-dragging"
        ref="draggableContainer"
      >
        <Draggable
          v-for="(col, colIndex) in config"
          :key="col.id"
          class="draggable-wrapper-col"
          :class="{ empty: !col.children.length }"
          :style="{ flex: col.span }"
        >
          <Container lock-axis="y" @drop="onColDrag($event, col.id)" drag-class="on-dragging">
            <Draggable
              v-for="(card, index) in col.children"
              :key="card.title"
              class="draggable-wrapper-row"
              v-show="!card.removed"
            >
              <component
                :tit="card.title"
                :icon="card.icon"
                :header-border="card.border"
                :scroll-height="card.height"
                :style="{ flex: card.span }"
                :is="card.component"
                show-skeleton
                @remove="onRemove(colIndex, index, true)"
              >
              </component>
            </Draggable>
          </Container>
        </Draggable>
      </Container>
    </div>
    <div class="config-btn" @click="confirmConfig">确认</div>
  </a-layout>
</template>
<script lang="ts">
import { defineComponent, computed, onBeforeUnmount } from 'vue'
import { useRouter } from 'vue-router'
import useConfig from './useConfig'
import { Container, Draggable } from '@/components/smooth-dnd'
import { SubscribeNews, WritingStatistics, WritingTasks, MyNotes, HotWords, MessageCenter } from './components'
import { changeConfig, Config, ChildConfig } from '@/store/modules/home'

export default defineComponent({
  name: 'HomeConfig',
  components: {
    [Container.name]: Container,
    [Draggable.name]: Draggable,
    [SubscribeNews.name]: SubscribeNews,
    [WritingStatistics.name]: WritingStatistics,
    [WritingTasks.name]: WritingTasks,
    [MyNotes.name]: MyNotes,
    [HotWords.name]: HotWords,
    [MessageCenter.name]: MessageCenter,
  },
  setup() {
    const router = useRouter()
    const {
      config,
      defaultConfig,
      changeConfigOrder,
      commitConfig,
      cancelConfig,
      resetConfig,
      toggleConfigItem,
    } = useConfig()

    const compIconColors = ['#ffbb41', '#f44948', '#fe9244', '#4dbb4e', '#6cd2d8', '#656cf7']

    const onColDrag = (e: changeConfig, id?: number) => {
      changeConfigOrder({
        addedIndex: e.addedIndex,
        removedIndex: e.removedIndex,
        id,
      })
    }

    const flatedConfig = computed(() => defaultConfig.value.map((conf: Config) => conf.children).flat())

    const onRemove = (colIndex: number, rowIndex: number) => {
      toggleConfigItem({
        colIndex,
        rowIndex,
        isRemove: true,
      })
    }

    const addComponent = (comp: ChildConfig) => {
      const _config = config.value
      const colIndex = _config.findIndex((conf: Config) =>
        conf.children.find(childConfig => {
          return childConfig.title === comp.title
        })
      )
      if (colIndex < 0) return
      const rowIndex = _config[colIndex].children.findIndex(
        (childConfig: ChildConfig) => childConfig.title === comp.title
      )
      if (!_config[colIndex].children[rowIndex].removed) return
      toggleConfigItem({
        colIndex,
        rowIndex,
        isRemove: false,
      })
    }

    const confirmConfig = () => {
      commitConfig()
      router.push('/home')
    }

    onBeforeUnmount(() => {
      cancelConfig()
    })

    return {
      config,
      flatedConfig,
      confirmConfig,
      onColDrag,
      onRemove,
      resetConfig,
      cancelConfig,
      addComponent,
      compIconColors,
    }
  },
})
</script>
<style lang="less" scoped>
@import url('~@/layouts/layout.less');
@import url('~@/styles/mixins.less');

.layout-sider {
  // height: calc(100vh - 64px);
  background: @menu-bgcolor;
  .themed-border();
  .themify({
    background: @dark-menu-bgcolor;
  });
  padding: 15px 17px;
  box-sizing: border-box;
  color: #ffffff;
  :deep(.ant-layout-sider-children) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .component-wrapper {
      flex: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      padding: 24px 23px;
      .config-component {
        text-align: center;
        margin-bottom: 12px;
        cursor: pointer;
        .icon-wrapper {
          width: 40px;
          height: 40px;
          margin: 0 auto;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #656cf7;
          margin-bottom: 5px;
        }
        &-name {
          font-family: PingFangSC;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.83;
          letter-spacing: normal;
          color: #ffffff;
        }
      }
    }
    .config {
      padding: 24px 7px;
      &-item {
        font-family: PingFangSC;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #97a3b4;
        margin-top: 19px;
        white-space: nowrap;
        cursor: pointer;
        .icon {
          margin-right: 6px;
        }
        .icon > svg {
          vertical-align: inherit;
        }
      }
    }
  }
}
.home-config {
  display: flex;
}
.on-dragging {
  box-shadow: 0 0 10px 0 rgba(52, 131, 255, 0.4);
  border: 1px solid #007ae4;
}
.draggable-container {
  width: 100%;
}
.home-config-area {
  padding: 10px;
  width: 100%;
  height: @body-height;
  .draggable-container {
    display: flex;
    height: calc(@body-height - 20px);
    overflow: hidden;
    .draggable-wrapper-col {
      flex: auto;
      display: flex;
      flex-direction: column;
      cursor: crosshair;
      background: #f0f2f5;
      &:nth-child(2) {
        margin: 0 10px;
      }
      .draggable-wrapper-row {
        margin-bottom: 10px;
        // border: 1px solid transparent;
        // box-sizing: border-box;
        // &:hover {
        //   .on-dragging();
        // }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.config-btn {
  position: fixed;
  bottom: 31px;
  right: 21px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 12px 10px -8px rgba(0, 68, 173, 0.43);
  background-color: #007ae4;
  font-family: PingFangSC;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
}
</style>
