<template>
  <div class="home-page">
    <div class="home-page-row">
      <div class="home-page-col" v-for="col in config" :key="col.id" :style="{ flex: col.span }">
        <component
          v-for="comp in col.children"
          :key="comp.title"
          :tit="comp.title"
          :icon="comp.icon"
          :header-border="comp.border"
          :scroll-height="comp.height"
          :style="{ flex: comp.span }"
          :is="comp.component"
        ></component>
      </div>
    </div>
    <div class="config-btn" @click="$router.push('/home/config')"></div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent } from 'vue'
import { useStore } from '@/store'
import { SubscribeNews, WritingStatistics, WritingTasks, MyNotes, MessageCenter } from './components'

export default defineComponent({
  name: 'Home',
  components: {
    [SubscribeNews.name]: SubscribeNews,
    [WritingStatistics.name]: WritingStatistics,
    [WritingTasks.name]: WritingTasks,
    [MyNotes.name]: MyNotes,
    // [HotWords.name]: HotWords,
    [MessageCenter.name]: MessageCenter,
  },
  setup() {
    const store = useStore()
    const config = computed(() => store.state.home.homeConfigFinal)

    // store.dispatch(`home/${GET_HOME_CONFIG}`)

    return {
      config,
    }
  },
})
</script>
<style lang="less" scoped>
@import url('~@/layouts/layout.less');

.home-page {
  padding: 10px;
  height: @body-height;
  // background: #f2f5f8;
  .home-page-row {
    display: flex;
    height: calc(@body-height - 20px);
    overflow-y: hidden;
    .home-page-col {
      height: 100%;
      flex: auto;
      display: flex;
      flex-direction: column;
      &:nth-child(2) {
        margin: 0 10px;
      }
      & > div {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .config-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    width: 49px;
    height: 59px;
    background-image: url('~@/assets/images/icon-home-config.png');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
</style>
