<template>
  <a-config-provider :locale="locale" :autoInsertSpaceInButton="false">
    <div id="app" :data-theme="user.theme">
      <router-view />
    </div>
  </a-config-provider>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { mapState } from 'vuex'
import zhCN from 'ant-design-vue/es/locale/zh_CN'
import store from '@/store'
import { GET_HOME_CONFIG } from '@/store/modules/home'

export default defineComponent({
  data() {
    return {
      locale: zhCN,
    }
  },
  computed: { ...mapState(['user']) },
  setup() {
    // 获取用户首页布局配置
    store.dispatch(`home/${GET_HOME_CONFIG}`)
  },
})
// import { domTitle, setDocumentTitle } from '@/utils/domUtil'
// // import { i18nRender } from '@/locales'

// export default {
//   data () {
//     return {
//     }
//   },
//   computed: {
//     locale () {
//       // 只是为了切换语言时，更新标题
//       const { title } = this.$route.meta
//       title && (setDocumentTitle(`${i18nRender(title)} - ${domTitle}`))

//       return this.$i18n.getLocaleMessage(this.$store.getters.lang).antLocale
//     }
//   }
// }
</script>
