<template>
  <a-layout class="ppt-editor-container">
    <a-layout-header class="ppt-editor-toolbar">
      <toolbar
        :template="template"
        :file-name="fileName"
        :full-screen="fullScreen"
        :export-disabled="exportDisabled"
        @changeFileName="changeFileName"
        @addPage="addPage"
        @handleChangeBGImage="handleChangeBGImage"
        @handleAddImage="handleAddImage"
        @handleAddTextbox="handleAddTextbox"
        @handleAddIndicator="handleAddIndicator"
        @togglePreview="togglePreview"
        @toggleFullScreen="toggleFullScreen"
      >
        <template v-slot:left-tools>
          <div :class="{ 'quill-toolbar': true, 'quill-toolbar-disabled': editType != 'text' }">
            <quill-text-editor-tool-bar
              @click="handleNeedPrevent"
              :disabled="editType != 'text'"
            ></quill-text-editor-tool-bar>
          </div>
        </template>
      </toolbar>
    </a-layout-header>
    <a-layout class="ppt-editor-wrapper">
      <EditorWrapper
        ref="editContainer"
        class="edit-container"
        :editable="editable"
        v-model:preview="preview"
        :aspect-ratio="aspectRatio"
        :pages="pages"
        :selected-page-id="selectedPageId"
        :edit-type="editType"
        :edit-element="editElement"
        :edit-index="editIndex"
        @resized="handleResized"
        @previewRightClick="handlePagePreviewRightClick"
        @elementRightClick="handleElementRightClick"
        @pageRightClick="handlePageRightClick"
        @pageOrderChange="handlePageOrderChange"
        @update:selectedPageId="changeCurrentPage"
        @indicatorEdit="handleIndicatorEdit"
        @elementUpdate="handleElementUpdate"
        @changeTextbox="showTextEditor"
        @changeTextboxVal="changeTextboxVal"
        @cancelChangeTextbox="cancelChangeTextbox"
        @changeIndicator="openIndicatorDialog"
        @changeImages="openImagesDialog"
      />
      <!-- 左侧预览右键菜单 -->
      <page-context-menu ref="pagePreviewContextMenuRef" :menu="pagePreviewContextMenu"></page-context-menu>
      <!-- 元素右键菜单 -->
      <page-context-menu ref="elementContextMenuRef" :menu="elementContextMenu" />
      <!-- 编辑区右键菜单 -->
      <page-context-menu ref="pageContextMenuRef" :menu="pageContextMenu" />
    </a-layout>
  </a-layout>
</template>

<script lang="ts">
import { defineComponent, onMounted, onUnmounted } from 'vue'
import Toolbar from './toolbar/Toolbar.vue'
import QuillTextEditorToolBar from './toolbar/QuillTextEditorToolBar.vue'
import EditorWrapper from './edit/index.vue'
import PageContextMenu from './editor-comp/context-menu/PageContextMenu.vue'

import shangjian from './templates/shangjian/index'
import useEditor from './hooks/useEditor'
// import { PagesType } from '@/models/pptTemplate'
import { fullscreenElement } from './utils/index'

export default defineComponent({
  name: 'ppt-editor',
  components: {
    Toolbar,
    QuillTextEditorToolBar,
    EditorWrapper,
    PageContextMenu,
  },
  setup(props, { emit }) {
    const {
      template,
      pages,
      editable,
      aspectRatio,
      selectedPageId,
      // selectedPageIndex,
      pagePreviewContextMenu,
      pagePreviewContextMenuRef,
      elementContextMenu,
      elementContextMenuRef,
      pageContextMenu,
      pageContextMenuRef,
      editContainer,
      fileName,
      preview,
      fullScreen,
      exportDisabled,
      editType,
      editIndex,
      editElement,
      // func
      addPage,
      changeCurrentPage,
      changeFileName,
      handleAddImage,
      handleChangeBGImage,
      handleAddTextbox,
      handleAddIndicator,
      handleElementUpdate,
      togglePreview,
      toggleFullScreen,
      handleResized,
      handlePagePreviewRightClick,
      handleElementRightClick,
      handlePageRightClick,
      handlePageOrderChange,
      handleKeyup,
      handleMouseDown,
      showTextEditor,
      cancelChangeTextbox,
      changeTextboxVal,
    } = useEditor(shangjian)

    const openIndicatorDialog = (index: number) => {
      console.log('编辑指标', index)
    }
    const openImagesDialog = (index: number) => {
      console.log('编辑图片', index)
    }

    const handleIndicatorEdit = () => {
      // 编辑指标
      emit('handleIndicatorEdit')
      console.log('编辑指标')
    }

    const handleNeedPrevent = (e: MouseEvent) => {
      if (editType.value != 'text') {
        e.preventDefault()
      }
    }
    // 监听全屏变化
    const handleFullScreenChange = () => {
      const fullScreenEle = fullscreenElement()
      if (fullScreenEle === null) {
        preview.value = false
      }
    }
    onMounted(() => {
      window.addEventListener('keydown', handleKeyup)
      window.addEventListener('mousedown', handleMouseDown)
      document.addEventListener('fullscreenchange', handleFullScreenChange)
      document.addEventListener('webkitfullscreenchange', handleFullScreenChange)
      document.addEventListener('mozfullscreenchange', handleFullScreenChange)
      document.addEventListener('MSFullscreenChange', handleFullScreenChange)
    })

    onUnmounted(() => {
      window.removeEventListener('keydown', handleKeyup)
      window.removeEventListener('mousedown', handleMouseDown)
      document.removeEventListener('fullscreenchange', handleFullScreenChange)
      document.removeEventListener('webkitfullscreenchange', handleFullScreenChange)
      document.removeEventListener('mozfullscreenchange', handleFullScreenChange)
      document.removeEventListener('MSFullscreenChange', handleFullScreenChange)
    })
    return {
      template,
      pages,
      editable,
      aspectRatio,
      selectedPageId,
      pagePreviewContextMenu,
      pagePreviewContextMenuRef,
      elementContextMenu,
      elementContextMenuRef,
      pageContextMenu,
      pageContextMenuRef,
      editContainer,
      fileName,
      preview,
      fullScreen,
      exportDisabled,
      editType,
      editIndex,
      editElement,
      // func
      changeFileName,
      handleAddImage,
      handleChangeBGImage,
      handleAddTextbox,
      handleAddIndicator,
      handleElementUpdate,
      togglePreview,
      toggleFullScreen,
      changeCurrentPage,
      addPage,
      handleResized,
      handlePagePreviewRightClick,
      handleElementRightClick,
      handlePageRightClick,
      handlePageOrderChange,
      handleIndicatorEdit,
      showTextEditor,
      changeTextboxVal,
      cancelChangeTextbox,
      openIndicatorDialog,
      openImagesDialog,
      handleNeedPrevent,
    }
  },
})
</script>

<style lang="less">
@import url('./style/pptEditor.less');
.ppt-editor-container {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  .ant-layout-header.ppt-editor-toolbar,
  .ppt-editor-toolbar {
    background-color: transparent;
    padding: 0;
    min-height: 30px;
    line-height: 1;
    height: fit-content;
    margin: 10px 10px 0 10px;
    .quill-toolbar {
      &.quill-toolbar-disabled {
        opacity: 0.3;
        position: relative;
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          cursor: not-allowed;
        }
      }
    }
  }
  .ppt-editor-wrapper {
    width: 100%;
    height: 100%;
    ul {
      list-style: disc;
    }
    ol {
      list-style: auto;
    }
  }
}
</style>
