<template>
  <a-layout-sider :width="menuWidth" class="left-menu">
    <slot name="header"></slot>
    <a-menu
      :inlineIndent="11"
      :default-selected-keys="selectedKeys"
      :default-open-keys="openKeys"
      mode="inline"
      theme="dark"
      @select="onSelect"
    >
      <template v-for="item in menuData">
        <a-menu-item v-if="!item.children" :key="item.key">
          <router-link :to="item.path">
            <icon-font v-if="item.icon" :type="item.icon" />
            <span>{{ item.title }}</span>
          </router-link>
        </a-menu-item>
        <sub-menu v-else :subKey="subKey" :key="item.key" :menuInfo="item">
          <template v-slot:operation="{ item }">
            <slot name="subOperation" :item="item" :subKey="subKey"></slot>
          </template>
        </sub-menu>
      </template>
    </a-menu>
    <slot name="footer"></slot>
  </a-layout-sider>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, toRefs, onUpdated } from 'vue'
import { useRoute } from 'vue-router'
import SubMenu from './MenuSubMenu.vue'
import { Menu, MenuPath } from '@/models/menu'

export default defineComponent({
  props: {
    menuWidth: {
      type: Number,
      defalut: 240,
    },
    menuData: {
      type: Array,
      require: true,
      defalut: (): Partial<Menu>[] => {
        return []
      },
    },
  },
  components: {
    'sub-menu': SubMenu,
  },
  setup(props) {
    const { menuData } = toRefs(props)
    const list = ref(menuData)
    let selectedKeys = ref(['1'])
    let openKeys = ref(['1'])
    let subKey = ref('11')
    const changeSelectedKey = () => {
      const { currentKey, openKey } = getCurrentPath(list.value as Partial<Menu>[])
      console.log('currentKey, openKey', currentKey, openKey)
      selectedKeys.value.splice(0, 1, currentKey)
      openKeys.value.splice(0, 1, openKey)
      subKey.value = currentKey
    }
    const onSelect = ({ key }: { key: string }) => {
      subKey.value = key
    }

    onMounted(changeSelectedKey)
    onUpdated(changeSelectedKey)
    return {
      subKey,
      selectedKeys,
      openKeys,
      onSelect,
    }
  },
})
function getCurrentPath(list: Partial<Menu>[]) {
  let currentItem: Partial<Menu> = { key: '', title: '' }
  const route = useRoute()
  let openKey = ''
  function getCurrent(list: Partial<Menu>[]) {
    for (let i = 0; i < list.length; i++) {
      const ele: Partial<Menu> = list[i]
      if (ele.path && (ele.path === route.path || (ele.path as MenuPath).name === route.name)) {
        currentItem = ele
        return
      }
      if (ele.children && ele.children.length != 0) {
        openKey = ele.key || ''
        getCurrent(ele.children)
      }
    }
  }
  getCurrent(list)
  const currentKey: string = currentItem.key || ''
  return {
    currentKey,
    openKey,
  }
}
</script>

<style lang="less" scoped>
@import url('~@/styles/mixins.less');

.mixin-active-icon-text {
  span {
    color: #fff;
  }
  .anticon {
    color: @menu-icon-active;
  }
}
.left-menu {
  background: @menu-bgcolor;
  .themed-border();
  .themify({
    background: @dark-menu-bgcolor;
  });
  position: relative;
  :deep(.ant-menu-dark, .ant-menu-root, .ant-menu, .ant-menu-inline, .ant-menu
      .ant-menu-sub, .ant-menu.ant-menu-dark, .ant-menu-submenu-popup.ant-menu-dark) {
    background: @menu-bgcolor;
    .themify({
      background: @dark-menu-bgcolor;
    });
    padding: 0 5px;
    .ant-menu-item {
      width: 100%;
      box-sizing: border-box;
      border-radius: 2px;
      height: 40px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > a {
        color: @grey-color;
        display: flex;
        align-items: center;
      }
      &.ant-menu-item-selected {
        background: @menu-bgcolor-active;
        .themify({
          background: @dark-menu-bgcolor-active;
        });
      }
      &.ant-menu-item-selected,
      &.ant-menu-item-active {
        .mixin-active-icon-text();
      }
      &.ant-menu-item .anticon,
      &.ant-menu-submenu-title .anticon {
        margin-right: 8px;
      }

      .operation {
        min-width: 60px;
        display: flex;
        align-items: center;
        position: relative;
        .ant-switch {
          min-width: 32px;
          width: 32px;
          height: 16px;
          border: 1px solid @primary-color;
          .themify({
            border: 1px solid #b0b0b1;
          });
          &:not(.ant-switch-checked) {
            border: 1px solid #b0b0b1;
            background: #b0b0b1;
          }
          &.ant-switch-loading-icon,
          &::after {
            width: 12px;
            height: 12px;
            top: 1px;
          }
        }
        .anticon {
          transform: rotateZ(-90deg);
          width: 18px;
          height: 8px;
          color: @grey-color;
        }
      }
    }

    // 多级菜单
    // ant-menu-submenu ant-menu-submenu-inline ant-menu-submenu-open ant-menu-submenu-selected
    .ant-menu-submenu-inline,
    .ant-menu-submenu {
      .ant-menu-submenu-title {
        // padding-left: 11px !important;
        margin: 0;
        .anticon {
          margin-right: 8px;
        }
      }
      &.ant-menu-submenu-selected,
      &.ant-menu-item-active,
      &.ant-menu-submenu-active {
        .ant-menu-submenu-title {
          .mixin-active-icon-text();
        }
      }
    }
    .ant-menu-sub.ant-menu.ant-menu-inline,
    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
      background: @menu-bgcolor;
      .themify({
        background: @dark-menu-bgcolor;
      });
      padding: 0;
      box-shadow: none;
      .ant-menu-item,
      .ant-menu-item.ant-menu-item-selected {
        margin: 0;
        font-size: 12px;
        padding-left: 35px !important;
        padding-right: 0px;
      }
    }
  }
  .ant-menu-dark .ant-menu-item:hover,
  .ant-menu-dark .ant-menu-submenu-open,
  .ant-menu-dark .ant-menu-submenu-selected,
  .ant-menu-dark .ant-menu-submenu-title:hover {
    color: @grey-color;
  }
}
</style>
