<template>
  <a-sub-menu :key="menuInfo.key">
    <template #title>
      <icon-font v-if="menuInfo.icon" :type="menuInfo.icon" /><span>{{ menuInfo.title }}</span>
    </template>
    <template v-for="item in menuInfo.children">
      <a-menu-item v-if="!item.children" :key="item.key">
        <router-link :to="item.path">
          <icon-font v-if="item.icon" :type="item.icon" />
          <span>{{ item.title }}</span>
        </router-link>
        <!-- 开关按钮及更多操作 -- 智能写作 -->
        <slot name="operation" :item="item"></slot>
      </a-menu-item>
      <sub-menu v-else :key="item.key" :menu-info="item" />
    </template>
  </a-sub-menu>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'SubMenu',
  props: {
    menuInfo: {
      type: Object,
      defalut: () => {
        return {}
      },
    },
  },
})
</script>
