<template>
  <div class="note-comments">
    <div class="comments">
      <span class="comments-content" :title="comments" @click="$emit('open')">{{ comments }}</span>
      <div class="time">
        <span> {{ time }}</span>
        <pop-delete-icon @confirm="onDelete" />
      </div>
    </div>
    <div class="source" :key="isExpand" v-if="source">
      <a-typography-paragraph :ellipsis="ellipsisConf" :content="source" />
      <div style="text-align: right">
        <span class="close-btn" @click="onClose" v-if="!ellipsisConf">收起</span>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, toRaw } from 'vue'
import { notesApi, useApi } from '@/api'
import PopDeleteIcon from '@/components/PopDeleteIcon.vue'

export default defineComponent({
  name: 'NoteComments',
  components: { PopDeleteIcon },
  props: {
    id: Number,
    comments: String,
    source: String,
    time: String,
    rows: {
      type: Number,
      default: 1,
    },
  },
  setup(props, { emit }) {
    const isExpand = ref(false)
    const ellipsisConf = ref({
      rows: props.rows,
      expandable: true,
      symbol: '展开',
      onExpand: () => {
        ellipsisConf.value = false
        isExpand.value = true
      },
    })

    const temp = toRaw(ellipsisConf.value)
    const onClose = () => {
      ellipsisConf.value = temp
      isExpand.value = false
    }
    const onDelete = () => {
      useApi(notesApi.delete(props.id))
      emit('delete')
    }

    return {
      ellipsisConf,
      onClose,
      onDelete,
      isExpand,
    }
  },
})
</script>

<style lang="less" scoped>
@import url('~@/styles/mixins.less');
.note-comments {
  .comments {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: PingFangSC;
    height: 18px;
    .comments-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 18px;
      letter-spacing: normal;
      color: #354052;
      cursor: pointer;
      flex: auto;
      max-width: 700px;
    }
    .time {
      flex-shrink: 0;
      white-space: nowrap;
      font-size: 12px;
      color: @grey-color;
      display: flex;
      align-items: center;
    }
  }
  .source {
    margin-top: 5px;
    padding: 5px 8px 5px 5px;
    background-color: #e5efff;
    .themify({
      background-color: #1c3a5b;
      border-color: #008bcf;
    });
    border-left: 3px solid #cdd8e8;
    :deep(.ant-typography) {
      font-family: PingFangSC;
      font-size: 12px;
      line-height: 1.5;
      color: #97a3b4;
      margin-bottom: 0;
      .ant-typography-expand {
        font-family: PingFangSC;
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        color: #007ae4;
      }
    }
    .close-btn {
      font-family: PingFangSC;
      font-size: 12px;
      line-height: 1.5;
      color: #007ae4;
      text-align: right;
    }
  }
}
</style>
