<template>
  <a-layout class="layout-container">
    <layout-header />
    <a-layout-content> <router-view /></a-layout-content>
  </a-layout>
</template>

<script>
import LayoutHeader from './LayoutHeader'
export default {
  name: 'BlankLayout',
  components: { LayoutHeader },
}
</script>

<style lang="less" scoped>
.layout-container {
  min-width: 1366px;
  height: 100%;
}
</style>
