<template>
  <a-layout-header class="layout-header">
    <div class="header-wrapper">
      <router-link class="logo" to="/home"></router-link>

      <ul class="header-nav">
        <router-link class="header-nav-item" v-for="menu in filterMenus" :key="menu.title" :to="menu.link">
          {{ menu.title }}
        </router-link>
      </ul>
      <div class="header-user">
        <a-typography-text>深色版</a-typography-text
        ><a-switch checked-children="开" un-checked-children="关" :checked="theme === 'dark'" @change="toggleTheme" />

        <div class="user-name">{{ user.userName }}</div>
        <a-button @click="logout">退出</a-button>
        <router-link to="/personal-center">
          <div class="user-avatar"></div>
        </router-link>
        <div class="user-notice">
          <a-badge count="543" :overflow-count="9">
            <icon-font type="iconremind"></icon-font>
          </a-badge>
        </div>
        <div class="user-more">
          <icon-font type="iconmore"></icon-font>
        </div>
      </div>
    </div>
  </a-layout-header>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from 'vue'
import { useStore } from '@/store'
import { MessagesTypes } from '@/store/modules/messages'
import { message } from 'ant-design-vue'
import { changeColor } from '@/utils/dynamicTheme'
import themeColors from '@/config/themeColors'

export default defineComponent({
  props: {
    menus: {
      type: Array,
      default: () => [
        {
          title: '首页',
          link: '/home',
        },
        {
          title: '热门资讯',
          link: '/hot-news',
        },
        {
          title: '写作工作台',
          link: '/writing-workbench',
        },
        {
          title: '智能写作',
          link: '/smart-writing',
        },
      ],
    },
  },
  data() {
    return {
      current: 0,
    }
  },
  setup(props) {
    const store = useStore()

    const userStore = store.state.user

    const logout = async () => {
      store.dispatch('logout').then(() => (window.location.href = '/'))
    }

    const filterMenus = computed(() => {
      const allMenus = props.menus as { link: string; title: string }[]
      return allMenus.filter(m => userStore.roles?.includes(m.link))
    })

    const theme = ref('light')
    const toggleTheme = (isMounted = false) => {
      theme.value = theme.value === 'light' ? 'dark' : 'light'

      if (!isMounted) {
        store.dispatch('setUserTheme', theme.value)
      }

      document.body.setAttribute('data-theme', theme.value)

      const hideMessage = message.loading('正在切换主题！', 0)
      changeColor(themeColors[theme.value]).finally(() => {
        setTimeout(() => {
          hideMessage()
        }, 10)
      })
    }

    onMounted(() => {
      if (userStore.user.theme !== 'light') {
        toggleTheme(true)
      }
    })

    store.dispatch(`messages/${MessagesTypes.LISTEN_MESSAGES}`)
    store.dispatch(`messages/${[MessagesTypes.GET_UNREAD_COUNT]}`)

    return { logout, filterMenus, user: userStore.user, theme, toggleTheme }
  },
})
</script>

<style lang="less" scoped>
@import url('~@/styles/mixins.less');
@import url('~@/layouts/layout.less');
.layout-header.ant-layout-header {
  height: @header-height;
  line-height: @header-height;
  background: #ffffff;
  padding: 0 17px;
  .themify({
    background: #162b46;
  });
}
.header-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 227px;
    height: 100%;
    background-image: url('~@/assets/images/icon-logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 50px;
    cursor: pointer;
  }
}
.header-nav {
  flex: auto;
  display: flex;
  margin-bottom: 0;
  .header-nav-item {
    display: block;
    margin-right: 55px;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: @heading-color;
    &.router-link-active,
    &.router-link-exact-active {
      position: relative;
      font-weight: 500;
      color: #007ae4;
      &::after {
        content: ' ';
        display: block;
        position: absolute;
        width: 14px;
        height: 4px;
        background-color: #007ae4;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
.header-user {
  display: flex;
  align-items: center;
  & > div {
    cursor: pointer;
    color: #97a3b4;
  }
  .user-name {
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    margin-right: 6px;
  }
  .user-avatar {
    width: 30px;
    height: 30px;
    background-color: #e7e7e7;
    border-radius: 50%;
  }
  .user-notice {
    margin: 0 18px;
  }
  :deep(.ant-badge-count) {
    min-width: 16px;
    height: 16px;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 16px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 0 4px;
  }
}
</style>
