<template>
  <a-layout class="layout-container">
    <a-layout-content> <router-view /></a-layout-content>
  </a-layout>
</template>

<script lang="ts">
import { deviceMixin } from '@/store/device-mixin'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'UserLayout',
  components: {},
  mixins: [deviceMixin],
  mounted() {
    document.body.classList.add('userLayout')
  },
  beforeUnmount() {
    document.body.classList.remove('userLayout')
  },
})
</script>

<style lang="less" scoped>
.layout-container {
  background: center no-repeat url('~@/assets/images/login-bg.jpg');
  background-size: contain;
  height: 100vh;
  position: relative;
}
</style>
