<template>
  <div class="editable-text" :title="value">
    <icon-font v-if="editable" v-show="!isEditing" title="编辑" type="iconedit" @click="goEdit"></icon-font>
    <span v-if="!isEditing" class="name" :class="{ ellipsis: !textArea }" @click="handleClick">{{
      editable ? value || placeholder : value
    }}</span>

    <a-input
      v-else
      ref="inputRef"
      v-model:value="text"
      border
      class="input"
      :text-area="textArea"
      :size="size"
      @keyup.enter="
        () => {
          !textArea && finishEditing()
        }
      "
      @blur="finishEditing"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, watch, ref, nextTick } from 'vue'

export default defineComponent({
  name: 'EditableText',
  props: {
    value: {
      type: String,
      default: '',
    },
    editable: {
      default: true,
      type: Boolean,
    },
    dblclickable: {
      default: false,
      type: Boolean,
    },
    dblclickInterval: {
      default: 300,
      type: Number,
    },
    size: {
      type: String,
      default: 'small',
    },
    textArea: {
      type: Boolean,
      default: false,
    },
    showEdit: {
      type: Boolean,
      default: true,
    },
    placeholder: {
      type: String,
      default: '点击输入',
    },
  },
  setup(props, { emit }) {
    const { value, editable } = toRefs(props)
    const inputRef = ref()
    const state = reactive({
      isEditing: false,
      isWaiting: false,
      timer: -1,
      text: value.value,
    })
    watch(value, val => {
      state.text = val
    })
    watch(editable, val => {
      if (!val) {
        state.isEditing = false
      }
    })
    const clearTimer = () => {
      state.isWaiting = false
      if (state.timer) {
        clearTimeout(state.timer)
        state.timer = -1
      }
    }

    const goEdit = () => {
      clearTimer()
      if (!editable) return
      state.isEditing = true
      nextTick(() => {
        inputRef.value.focus()
        emit('editStart')
      })
    }
    const handleClick = () => {
      const { dblclickable, dblclickInterval } = toRefs(props)
      if (!dblclickable) {
        goEdit()
        return
      }
      if (state.isWaiting) {
        clearTimer()
        emit('dblclick')
      } else {
        state.isWaiting = true
        state.timer = window.setTimeout(() => {
          state.isWaiting = false
          goEdit()
        }, dblclickInterval.value)
      }
    }
    const finishEditing = () => {
      state.isEditing = false
      emit('input', state.text)
      emit('editEnd')
    }
    return {
      ...toRefs(state),
      inputRef,
      // func
      goEdit,
      handleClick,
      finishEditing,
    }
  },
})
</script>

<style scoped lang="less">
@import url('../style/pptEditor.less');
.editable-text {
  display: flex;
  align-items: center;
  .name {
    cursor: pointer;
  }
  .name,
  .input {
    flex-grow: 1;
  }
  .ellipsis {
    .text-ellipsis();
  }
}
</style>
