<template>
  <page-draggable
    ref="draggable"
    class="page-indicator"
    :class="{ placeHolder: isPlaceholder }"
    :scale="scale"
    :config="data.config"
    :preview="preview"
    @update="$emit('update', $event)"
    @active="active = $event"
  >
    <!-- <indicator-view
      v-if="!isPlaceholder"
      ref="indicator"
      class="indicator-view"
      :indicator="indicatorMap[data.indicatorId]"
      :data="data"
      :editable="!preview"
      :show-tooltip="!preview && !!indicatorMap[data.indicatorId]"
      :watch-update="false"
      v-bind="$attrs"
    />
    <div v-else class="placeholder"> -->
    <div class="placeholder">双击编辑指标</div>
  </page-draggable>
</template>

<script>
/* eslint-disable */
// import IndicatorView from "@/cmpt/Indicator/IndicatorView";
import mixin from './draggable-resizable/draggable-mixin'
// import { mapState } from "vuex";
export default {
  name: 'PageIndicator',
  components: {
    // IndicatorView
  },
  mixins: [mixin],
  props: {
    data: Object,
    scale: Number,
  },
  computed: {
    // ...mapState("page", ["indicatorMap"]),
    isPlaceholder() {
      return true
      // return !this.indicatorMap[this.data.indicatorId] && this.indicatorMap[this.data.indicatorId] !== null;
    },
  },
  data() {
    return {
      active: false,
    }
  },
  watch: {},
  methods: {},
}
</script>

<style scoped lang="less">
.page-indicator {
  position: relative;
  .chart {
    width: 100%;
    height: 100%;
  }
  .placeholder {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(151, 151, 151, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  .indicator-view {
    z-index: 1;
  }

  .chart_icon {
    z-index: 1;
    position: absolute;
    bottom: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid transparent;
    color: #d5dfe9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
      font-size: 14px;
    }
    &.selected {
      border-color: #d5dfe9;
    }
  }
}
</style>
