<template>
  <page-draggable
    ref="draggable"
    class="page-text"
    :scale="scale"
    :config="data.config"
    :class="{ placeHolder: isPlaceholder, visible: visible }"
    :preview="preview"
    @update="$emit('update', $event)"
  >
    <div v-if="isPlaceholder && !finalText" class="placeholder">双击编辑文本</div>
    <div
      v-else
      ref="text"
      class="text"
      :style="{ fontSize: `${scale * 16}px` }"
      @click="handleTextClick"
      v-html="finalText"
    ></div>
  </page-draggable>
</template>

<script>
/* eslint-disable */
import { handlePageTextClick, PageTimeFormatter } from '../utils/index'
import mixin from './draggable-resizable/draggable-mixin'
// import { mapState } from "vuex";
import Moment from 'moment'
export default {
  name: 'PageText',
  mixins: [mixin],
  props: {
    data: Object,
    scale: Number,
    visible: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    // ...mapState("page", ["indicatorMap"]),
    valueText() {
      const { data } = this
      const valueText = this.getTextValues(data.text)
      return valueText
    },
    finalText() {
      const { valueText, data } = this
      return valueText || data.placeholder
    },
    isPlaceholder() {
      return !this.valueText
    },
  },
  data() {
    return {}
  },
  methods: {
    getTextValues(text) {
      if (!text) return null
      const el = document.createElement('div')
      el.innerHTML = text

      // indicators
      const indicators = Array.from(el.querySelectorAll('.indicator'))
      indicators.forEach(e => {
        const indicatorId = e.getAttribute('data-indicator-id')
        const indicatorDetail = this.indicatorMap[indicatorId]
        if (indicatorDetail) {
          const values = indicatorDetail.indicator_values[0].values
          e.children[0].innerText = `${values[values.length - 1].value.toFixed(2)}${indicatorDetail.unit}`
        }
      })

      // time
      const times = Array.from(el.querySelectorAll('.time'))
      const now = Moment()
      times.forEach(e => {
        const type = e.getAttribute('data-time-type')
        e.children[0].innerText = PageTimeFormatter(now, type)
      })

      return el.innerHTML
    },

    handleTextClick(ev) {
      handlePageTextClick(ev, this.$refs.text)
    },
  },
}
</script>

<style scoped lang="less">
@page-text-color: #000000;
.page-text {
  opacity: 0;
  &.placeHolder {
    .text {
      border: 1px solid rgba(151, 151, 151, 1);
    }
  }
  &.visible {
    opacity: 1;
  }
  .text {
    user-select: none;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.5;
    color: @page-text-color;
    :deep(p) {
      margin: 0;
    }
    :deep(*) {
      font-size: 1em;
    }
  }
  .placeholder {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(151, 151, 151, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    color: @page-text-color;
  }
  :deep(.ql-font-Serif) {
    font-family: Helvetica, Arial, sans-serif;
  }
  :deep(.ql-font-YaHei) {
    font-family: Microsoft YaHei;
  }
}
</style>
