<template>
  <page-draggable
    ref="draggable"
    class="page-image"
    :scale="scale"
    :config="data.config"
    :class="{ placeHolder: !src }"
    :preview="preview"
    @update="$emit('update', $event)"
  >
    <img class="image" :src="src" />
  </page-draggable>
</template>

<script>
/* eslint-disable */
import draggableMixin from './draggable-resizable/draggable-mixin'
export default {
  name: 'PageImage',
  mixins: [draggableMixin],
  props: {
    data: Object,
    scale: Number,
  },
  data() {
    return {
      src: null,
    }
  },
  watch: {
    'data.src': {
      immediate: true,
      async handler() {
        // const ossClient = await this.$store.dispatch("getOssClient");
        // if (!this.data?.src) {
        //   this.src = null;
        //   return;
        // }
        // this.src = await ossClient.generateObjectUrl(this.data.src);
        this.src = this.data.src
      },
    },
  },
}
</script>

<style scoped lang="less">
.page-image {
  &.placeHolder {
    .image {
      border: 1px solid rgba(151, 151, 151, 1);
    }
  }
  .image {
    user-select: none;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.5;
    :deep(*) {
      font-size: 1em;
    }
  }
  .placeholder {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(151, 151, 151, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
  :deep(.ql-font-Serif) {
    font-family: Helvetica, Arial, sans-serif;
  }
  :deep(.ql-font-YaHei) {
    font-family: Microsoft YaHei, sans-serif;
  }
}
</style>
