<template>
  <vue-draggable-resizable
    ref="draggable"
    :w="finalConfig.w"
    :h="finalConfig.h"
    :x="finalConfig.x"
    :y="finalConfig.y"
    v-model:active="active"
    :draggable="!preview"
    :resizable="!preview"
    :class-name="`vdr ${preview ? 'preview' : ''}`"
    @dragstop="onDrag"
    @resizestop="onResize"
    :scale="scale"
  >
    <slot></slot>
  </vue-draggable-resizable>
</template>

<script>
/* eslint-disable */
import VueDraggableResizable from './VueDraggableResizable.vue'
// import VueDraggableResizable from './test1.vue'

export default {
  name: 'ReportDraggable',
  components: {
    VueDraggableResizable,
  },
  props: {
    config: Object,
    scale: Number,
    preview: Boolean,
    placeHolder: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {
      active: false,
    }
  },
  computed: {
    finalConfig() {
      const { config, scale } = this
      return {
        w: Math.round(config.width * scale),
        h: Math.round(config.height * scale),
        x: Math.round(config.x * scale),
        y: Math.round(config.y * scale),
      }
    },
  },
  watch: {
    active: {
      immediate: true,
      handler(active) {
        this.$emit('active', active)
      },
    },
  },
  methods: {
    clearActive() {
      this.active = false
    },
    onResize(x, y, width, height) {
      console.log('onResize')

      const { scale, config } = this
      if (
        Math.round(config.width * scale) !== width ||
        Math.round(config.height * scale) !== height ||
        Math.round(config.x * scale) !== x ||
        Math.round(config.y * scale) !== y
      ) {
        const newConfig = {
          x: x / this.scale,
          y: y / this.scale,
          width: width / this.scale,
          height: height / this.scale,
        }
        this.$emit('update', newConfig)
      }
    },
    onDrag(x, y) {
      const { scale, config } = this
      if (Math.round(config.x * scale) !== x || Math.round(config.y * scale) !== y) {
        const newConfig = {
          ...config,
          x: x / this.scale,
          y: y / this.scale,
        }
        this.$emit('update', newConfig)
      }
    },
  },
}
</script>

<style scoped lang="less">
.preview {
  &.placeHolder {
    display: none;
  }
}
</style>
