<template>
  <div :class="{ 'comments-edit': true, 'not-personal': scene !== 'personal' }">
    <slot name="header">
      <div class="drawer-title" v-if="!hideHeader">
        <template v-if="scene == 'personal'">
          <span>我的批注</span>
          <icon-font type="iconclose" @click="onClose" />
        </template>
        <template v-else>
          <span class="cancel-btn" @click="onClose">
            <icon-font type="iconclose" />
            退出编辑
          </span>
          <a-button class="drawer-btns" type="primary" @click="onSave">保存</a-button>
        </template>
      </div>
    </slot>
    <!-- 批注编辑内容 -->
    <div class="comments-context-wrapper">
      <a-textarea
        class="comments-context"
        v-model:value="showData.value"
        :rows="8"
        placeholder="请输入随笔内容"
        :auto-size="{ minRows: 8, maxRows: 8 }"
      />
      <a-button v-if="scene == 'personal'" class="drawer-btns" type="primary" @click="onSave">保存</a-button>
    </div>
    <div class="section-name">原文</div>
    <div class="original-text">
      <a-typography-paragraph :ellipsis="ellipsisConf" :content="showData.originalText" />
    </div>
    <div class="section-name">原文标题作者</div>
    <div class="text-title">{{ showData.title }}</div>
    <div class="text-author">{{ showData.author }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, toRefs, watch } from 'vue'
export default defineComponent({
  name: 'EditComments',
  props: {
    scene: {
      type: String,
      default: 'personal',
    },
    data: {
      type: Object,
      default: () => {
        return {}
      },
    },
    hideHeader: Boolean,
  },
  setup(props, context) {
    let { data } = toRefs(props)
    let showData = ref(data)
    watch(data, newVal => {
      showData.value = newVal
    })
    const onClose = () => {
      context.emit('cancel')
    }
    const onSave = () => {
      context.emit('commit', showData.value)
    }
    return {
      showData,
      ellipsisConf: {
        rows: 2,
        expandable: true,
        symbol: '展开',
      },
      // func
      onClose,
      onSave,
    }
  },
  data() {
    return {}
  },
})
</script>

<style lang="less" scoped>
@import url('~@/utils/utils.less');
@import url('~@/styles/mixins.less');
.comments-edit {
  .drawer-title {
    height: 26px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cancel-btn {
      display: inline-block;
      color: @grey-color;
      display: flex;
      align-items: center;
      cursor: pointer;
      .anticon {
        margin-right: 3px;
      }
    }
    .drawer-btns {
      border: 0 none;
      border-radius: 4px;
      width: 45px;
      height: 24px;
      padding: 0;
    }
  }
  .comments-context-wrapper {
    margin-top: 10px;
    position: relative;
    .comments-context {
      padding-bottom: 40px;
    }
    .drawer-btns {
      position: absolute;
      bottom: 10px;
      right: 14px;
    }
  }
  .section-name {
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .original-text {
    background: #f5f7fa;
    .themify({
      background: @dark-border-color;
    });
    padding: 10px;
  }
  .text-title {
    color: @primary-color;
    margin: 10px 0;
  }
  .text-author {
    color: @grey-color;
  }
}
.comments-edit.not-personal {
  .comments-context-wrapper {
    .comments-context {
      padding-bottom: 5px;
    }
  }
  .original-text .ant-typography {
    margin: 0;
  }
}
</style>
