<template>
  <div class="note-essays">
    <span class="essays">{{ noteContent }}</span>
    <div class="time">
      <span>{{ createTime }}</span>
      <a-popconfirm placement="topLeft" ok-text="删除" cancel-text="取消" @confirm="onDelete" title="确认删除吗">
        <icon-font type="icondelete" />
      </a-popconfirm>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { essaysApi, useApi } from '@/api'

export default defineComponent({
  name: 'NoteEssays',
  props: {
    id: Number,
    noteContent: String,
    createTime: String,
  },
  setup(props, { emit }) {
    const onDelete = () => {
      useApi(essaysApi.delete(props.id))
      emit('delete')
    }
    return {
      onDelete,
    }
  },
})
</script>

<style lang="less" scoped>
@import url('~@/styles/mixins.less');
.note-essays {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .essays {
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 18px;
    letter-spacing: normal;
    color: #354052;
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: auto;
  }
  .time {
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 12px;
    color: @grey-color;
    display: flex;
    align-items: center;
  }
}
</style>
