<template>
  <icon-font type="iconaddfolder" style="cursor: pointer; font-size: 20px" @click="folderModalVisible = true" />
  <a-modal
    :closable="false"
    width="470px"
    class="ant-modal--modification"
    title="新建文件夹"
    v-model:visible="folderModalVisible"
  >
    <a-form :label-col="{ span: 5 }">
      <a-form-item class="step-info-item" label="文件夹名">
        <a-input class="file-name-input" placeholder="请输入" v-model:value="folderName"></a-input>
      </a-form-item>
    </a-form>
    <template #footer>
      <a-button @click="folderModalVisible = false">取消</a-button>
      <a-button type="primary" @click="onOK" :disabled="!folderName">确定</a-button>
    </template>
  </a-modal>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'FolderCreator',
  setup(props, { emit }) {
    const folderModalVisible = ref(false)
    const folderName = ref('')
    const onOK = () => {
      if (folderName.value) {
        emit('ok', folderName.value)
        folderModalVisible.value = false
      }
    }
    return {
      folderModalVisible,
      folderName,
      onOK,
    }
  },
})
</script>

<style lang="less" scoped>
.ant-form {
  padding: 48px 0;
  .ant-form-item {
    margin-bottom: 0;
  }
  :deep(.ant-form-item-label > label) {
    font-family: PingFangSC;
    font-size: 12px;
    line-height: 1.83;
    color: #354052;
    margin-right: 10px;
    &::after {
      display: none;
    }
  }
}
.file-name-input {
  width: 300px;
}
</style>
