<template>
  <div class="note-editor">
    <div class="note-editor-title">随笔内容</div>
    <a-textarea
      class="note-editor-content"
      :rows="8"
      placeholder="请输入随笔内容"
      :auto-size="{ minRows: 8, maxRows: 8 }"
      v-bind="$attrs"
    />
  </div>
</template>
<style lang="less" scoped>
.note-editor {
  &-title {
  }
  &-content {
  }
}
</style>
