<template>
  <div :class="['card-box', { topBorder: topBorder }, { bottomBorder: bottomBorder }, { headerBorder: headerBorder }]">
    <a-card
      size="small"
      :bordered="false"
      :style="{ height: scrollHeight }"
      :class="{ 'themed-border': !topBorder && !bottomBorder }"
    >
      <template #title>
        <div v-if="tit" :class="['title', { icon: icon && icon.length !== 0 }]">
          <icon-font v-if="icon" :type="icon"></icon-font>
          <span>{{ tit }}</span>
        </div>
        <slot v-else name="tit"></slot>
      </template>
      <template #extra>
        <div class="operation" @click="opeartionClick">
          <slot name="operation"></slot>
        </div>
      </template>
      <slot></slot>
    </a-card>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'TitleContainer',
  props: {
    /**
     * 标题文本内容
     */
    tit: {
      type: String,
      default: '',
    },
    /**
     * 标题图标
     */
    icon: {
      type: String,
      defalut: '',
    },
    /**
     * 顶部边框
     */
    topBorder: {
      type: Boolean,
      default: false,
    },
    /**
     * 底部边框
     */
    bottomBorder: {
      type: Boolean,
      default: false,
    },
    /**
     * 标题底边边框
     */
    headerBorder: {
      type: Boolean,
      default: false,
    },
    /**
     * 高度，超出body滚动
     */
    scrollHeight: {
      type: [Number, String],
      default: '100%',
    },
  },
  setup(props, ctx) {
    const activeKey = ref([])
    function opeartionClick() {
      ctx.emit('callback')
    }
    return {
      activeKey,
      opeartionClick,
    }
  },
})
</script>
<style lang="less" scoped>
@import url('~@/styles/mixins.less');

.borderB {
  border-bottom: 1px solid @border-color;
}
.borderT {
  border-top: 1px solid @border-color;
}

.card-box {
  > :deep(.ant-card) {
    width: 100%;
    height: 100%;
    .ant-card-head {
      width: 100%;
      padding: 0;
      height: 42px;
      border-bottom: 1px solid transparent;
      user-select: none;
      .ant-card-head-wrapper {
        width: 100%;
        height: 100%;
        .ant-card-head-title {
          height: 100%;
          padding: 0;
        }
        .ant-card-extra {
          height: 100%;
          padding: 0;
        }
      }
      .title {
        position: relative;
        padding: 10px 0px 10px 15px;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        &.icon {
          padding-left: 4px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          & > :first-child {
            color: @primary-color;
            margin-right: 2px;
          }
        }
        &:not(.icon)::before {
          content: '';
          position: absolute;
          left: 0;
          top: 10px;
          width: 5px;
          height: 20px;
          background: #1890ff;
        }
      }
      .operation {
        padding: 10px 10px 10px 0px;
        font-size: 12px;
        display: flex;
        align-items: center;
        color: @grey-color;
        cursor: pointer;
        > :first-child {
          margin-right: 2px;
        }
        > :last-child {
          margin: 0;
        }
      }
    }
    > .ant-card-body {
      height: calc(100% - 42px);
      overflow-y: auto;
      padding: 0px;
    }
  }
  &.headerBorder {
    :deep(.ant-card-head) {
      .borderB();
    }
  }
  &.topBorder {
    .borderT();
  }
  &.bottomBorder {
    :deep(.ant-card-body) {
      .borderB();
    }
  }
}
</style>
