<template>
  <div class="material-news">
    <material-item-container v-for="item in newsList" :key="item.id" @openFullText="onOpenFullText(item)">
      <material-news-item v-bind="$attrs" :title="item.title" :content="item.content" :quote-count="item.quoteCount" />
    </material-item-container>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import MaterialNewsItem from './MaterialViewsItem.vue'
import { materialsApi, useApi, GetAllResult } from '@/api'
import { Materials } from '@/models/materials'
import MaterialItemContainer from '../MaterialItemContainer.vue'

export default defineComponent({
  name: 'MaterialNews',
  components: {
    MaterialNewsItem,
    MaterialItemContainer,
  },
  setup() {
    const { loading, response: newsList } = useApi<GetAllResult<Materials>, Materials[]>(materialsApi.getAll())
    const onOpenFullText = () => {
      console.log()
    }
    return {
      loading,
      newsList,
      onOpenFullText,
    }
  },
})
</script>

<style></style>
