<template>
  <title-container tit="素材引用记录" header-border>
    <div class="material-records">
      <div class="material-records-tabs">
        <material-library-tabs v-model:value="curTab" />
      </div>
      <div class="material-records-list">
        <material-records-item-container v-for="item in materialList" :key="item.id">
          <keep-alive>
            <component :is="TabCompsMap[curTab]" v-bind="item" readonly></component>
          </keep-alive>
        </material-records-item-container>
      </div>
    </div>
  </title-container>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import TitleContainer from '@/views/components/TitleContainer.vue'
import MaterialLibraryTabs, {
  MaterialLibraryTabsKeys,
} from '@/views/creation-report/components/material-library/MaterialLibraryTabs.vue'
import MaterialRecordsItemContainer from './MaterialRecordsItemContainer.vue'
import MaterialNewsItem from '../material-library/material-news/MaterialNewsItem.vue'
import MaterialImagesItem from '../material-library/material-images/MaterialImagesItem.vue'
import MaterialReportsItem from '../material-library/material-reports/MaterialReportsItem.vue'
import MaterialChartsItem from '../material-library/material-charts/MaterialChartsItem.vue'
import MaterialViewsItem from '../material-library/material-views/MaterialViewsItem.vue'
import { useApi, GetAllResult, materialsApi } from '@/api'
import { Materials } from '@/models/materials'

const TabCompsMap = {
  [MaterialLibraryTabsKeys.News]: MaterialNewsItem,
  [MaterialLibraryTabsKeys.Reports]: MaterialReportsItem,
  [MaterialLibraryTabsKeys.Images]: MaterialImagesItem,
  [MaterialLibraryTabsKeys.Charts]: MaterialChartsItem,
  [MaterialLibraryTabsKeys.Views]: MaterialViewsItem,
}

export default defineComponent({
  name: 'MaterialRecords',
  components: {
    TitleContainer,
    MaterialLibraryTabs,
    MaterialNewsItem,
    MaterialRecordsItemContainer,
    MaterialImagesItem,
    MaterialReportsItem,
    MaterialChartsItem,
    MaterialViewsItem,
  },
  setup() {
    const { loading, response: materialList = [] } = useApi<GetAllResult<Materials>, Materials[]>(materialsApi.getAll())
    return {
      MaterialLibraryTabsKeys,
      curTab: ref(MaterialLibraryTabsKeys.News),
      TabCompsMap,
      loading,
      materialList,
    }
  },
})
</script>

<style lang="less" scoped>
.material-records {
  height: 100%;
  display: flex;
  flex-direction: column;
  &-tabs {
    padding: 10px 10px 0;
    flex-shrink: 0;
  }
  &-list {
    flex: auto;
    overflow-y: auto;
  }
}
</style>
