<template>
  <div class="material-records-item-container">
    <slot></slot>
    <div class="material-records-item-container-footer">
      <div class="quote-text">引用时间：2020-12-21 13:52:24</div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MaterialRecordsItemCotainer',
  props: {
    quoteTime: String,
  },
})
</script>

<style lang="less" scoped>
.material-records-item-container {
  padding: 10px 10px 5px;
  cursor: pointer;
  border-bottom: 2px solid #ebebec;
  &:hover {
    background-color: #f5f7fa;
  }
  &-footer {
    height: 24px;
    .quote-text {
      font-family: PingFangSC;
      font-size: 12px;
      line-height: 24px;
      color: #97a3b4;
    }
  }
}
</style>
