<template>
  <div class="material-reports">
    <div class="material-reports-item-wrapper" v-for="i in 10" :key="i" @click="openReport">
      <material-reports-item />
      <div class="material-reports-item-footer">
        <div>
          <span class="author">张颖陪</span>
          <span>新华财经</span>
        </div>
        <div>被引用23次</div>
      </div>
    </div>
    <a-modal
      :closable="false"
      width="800px"
      class="ant-modal--modification"
      title="后疫情时代企业需要提升质量优势铸造品牌高地"
      v-model:visible="modalVisible"
    >
      <div class="material-reports-modal-body">
        <ul class="report-content">
          <li class="report-content-item" v-for="i in 4" :key="i" :ref="handleParagraphEls">
            <div class="report-content-item-paragraph">
              <div class="report-content-item-paragraph-inner" :class="{ expand: i === 2 }">
                <span :class="{ 'tag-related': i === 2, 'tag-related-active': i === 3 }">
                  {{
                    i
                  }}疫情后，行业复苏节奏及龙头中线逻辑强化成为关键。今年1-2月疫情仍扰动，3月后逐步复苏，清明、五一国内游人数基本恢复，但收入全面恢复仍需时日。板块方面，21Q1收入、扣非业绩恢复至19Q185%、82%，中免较19Q1收入+32%、扣非+78%系核心支撑。板块春节前上涨27%，表现靓丽，但春节后明显调整，直至3月中旬后进入盘整震荡，1-4月累计上涨11%。个股层面，1-4月板块低估值个股或主题投资型个股阶段表现相对突出，而重点公司层面则α与β行情交织，切换频繁。
                  疫情后，行业复苏节奏及龙头中线逻辑强化成为关键。今年1-2月疫情仍扰动，3月后逐步复苏，清明、五一国内游人数基本恢复，但收入全面恢复仍需时日。板块方面，21Q1收入、扣非业绩恢复至19Q185%、82%，中免较19Q1收入+32%、扣非+78%系核心支撑。板块春节前上涨27%，表现靓丽，但春节后明显调整，直至3月中旬后进入盘整震荡，1-4月累计上涨11%。个股层面，1-4月板块低估值个股或主题投资型个股阶段表现相对突出，而重点公司层面则α与β行情交织，切换频繁。
                </span>
              </div>
              <div class="paragraph-quote-btn">引用</div>
            </div>
            <span class="action-text">展开</span>
            <!-- <span class="action-text">收起</span> -->
          </li>
        </ul>
        <div class="report-tag-area">
          <span class="current-tag" href="#paragraph_4">#标签</span>
          <div class="related-tags">
            <div class="related-tags-title">相关标签</div>
            <div>
              <span class="related-tags-item" @click="openLinkParagraph">#标签</span>
            </div>
          </div>
        </div>
      </div>
      <template #footer>
        <div class="material-reports-modal-footer">
          <div>
            <a-button @click="cancel">取消</a-button>
            <a-button @click="modalVisible = false">返回</a-button>
          </div>
          <div>
            <a-button>收藏</a-button>
            <a-button>引用</a-button>
          </div>
        </div>
      </template>
    </a-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import MaterialReportsItem from './MaterialReportsItem.vue'
export default defineComponent({
  name: 'MaterialReports',
  components: {
    MaterialReportsItem,
  },
  setup() {
    const modalVisible = ref(false)
    const modalEl = ref(null)
    const paragraphEls: HTMLElement[] = []
    const handleParagraphEls = (el: NonNullable<HTMLElement>) => {
      paragraphEls.push(el)
    }

    const openReport = () => {
      modalVisible.value = true
    }
    const openLinkParagraph = () => {
      paragraphEls[1].scrollIntoView({ behavior: 'smooth', block: 'start' })
    }
    return {
      modalVisible,
      openReport,
      modalEl,
      paragraphEls,
      handleParagraphEls,
      openLinkParagraph,
    }
  },
})
</script>

<style lang="less" scoped>
.material-reports {
  font-family: PingFangSC;
  .material-reports-item-wrapper {
    padding: 10px;
    border-bottom: solid 1px #ebebec;
    cursor: pointer;
    &:hover {
      background-color: #f5f7fa;
    }
    .material-reports-item-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: PingFangSC;
      font-size: 12px;
      line-height: 1.83;
      color: #97a3b4;
      .author {
        margin-right: 17px;
      }
    }
  }
  &-modal-body {
    // height: 100%;
    display: flex;
    .report-content {
      padding: 14px 20px;
      border-right: solid 1px #ebebec;
      margin: 0;
      max-height: 423px;
      overflow-y: auto;
      &-item {
        font-size: 12px;
        line-height: 1.67;
        color: #97a3b4;
        margin-bottom: 20px;
        &-paragraph {
          position: relative;
          span.tag-related {
            background-color: #fff2db;
            color: #354052;
          }
          span.tag-related-active {
            background-color: #e5efff;
            color: #007ae4;
          }
          &:hover {
            .report-content-item-paragraph-inner {
              border: dashed 2px #a9d7ff;
            }
            .paragraph-quote-btn {
              display: block;
            }
          }
          &-inner {
            height: 105px;
            overflow-y: hidden;
            text-align: justify;
            border: dashed 2px transparent;
            // &::selection {
            //   background: #fff2db;
            //   color: #97a3b4;
            // }
            &.expand {
              overflow-y: visible;
              height: auto;
            }
          }
          .paragraph-quote-btn {
            display: none;
            cursor: pointer;
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 0 9px;
            border-radius: 2px;
            background-color: rgba(0, 0, 0, 0.6);
            color: #ffffff;
            line-height: 1.5;
          }
        }
        .action-text {
          color: #007ae4;
          cursor: pointer;
        }
      }
    }
    .report-tag-area {
      width: 180px;
      padding: 10px;
      box-sizing: border-box;
      flex-shrink: 0;
      .current-tag {
        display: inline-block;
        padding: 6px 7px;
        border-radius: 2px;
        background-color: #e5efff;
        font-size: 16px;
        line-height: 1.13;
        color: #007ae4;
        margin-bottom: 16px;
      }
      .related-tags {
        font-size: 12px;
        line-height: 1.5;
        &-title {
          color: #97a3b4;
          margin-bottom: 4px;
        }
        &-item {
          user-select: none;
          cursor: pointer;
          display: inline-block;
          border-radius: 2px;
          background-color: #fff4ed;
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 1px 6px;
          color: #fe9244;
        }
      }
    }
  }
  &-modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
