<template>
  <div class="material-reports-item-title">
    <img src="" alt="" class="item-title-icon" />
    <div class="item-title-text">后疫情时代企业需要提升质量优势铸造品牌高地</div>
  </div>
  <div class="material-reports-item-tags">
    <div class="material-reports-item-tag" v-for="i in 5" :key="i">#标签</div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export type MaterialNewsItemType = {
  content: string
  title: string
  quoteCount: number
  collected: boolean
  author: string
  createdAt: string
}

export default defineComponent({
  name: 'MaterialReportsItem',
  emits: ['openFullText'],
  inheritAttrs: false,
  props: {
    content: String,
    title: String,
  },
})
</script>

<style lang="less" scoped>
.material-reports-item-title {
  height: 38px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
  .item-title-icon {
    width: 26px;
    margin-right: 10px;
  }
  .item-title-text {
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
    color: #354052;
  }
}
.material-reports-item-tags {
  .material-reports-item-tag {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 11px;
    border-radius: 2px;
    background-color: #e5efff;
    font-family: PingFangSC;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #007ae4;
    padding: 0 6px;
  }
}
</style>
