<template>
  <a-modal
    class="add-variables-modal ant-modal--modification"
    :width="660"
    v-model:visible="modalVisible"
    title="新建变量"
    @cancel="handleCancel"
    @ok="handleConfirm"
    :destroyOnClose="true"
  >
    <div class="add-variables">
      <a-form ref="formRef" :model="formState" :rules="rules" :label-col="labelCol" :wrapper-col="wrapperCol">
        <a-form-item ref="variableDesc" required name="variableDesc" label="名称">
          <a-input v-model:value="formState.variableDesc" placeholder="请输入运算变量的名称" autocomplete="off" />
        </a-form-item>

        <a-form-item ref="dataValueStr" name="dataValueStr" label="" :wrapperCol="textareaWrapperCol">
          <custom-edit
            ref="customEdit"
            :customVars="customVars"
            :insertNotVars="insertNotVars"
            @addOk="clearVal"
            @change="getCustomEditStr"
          ></custom-edit>
        </a-form-item>

        <a-form-item label="变量">
          <a-select v-model:value="customVarsId" placeholder="请选择" @change="handleAddVars">
            <a-select-option v-for="item in computedVarsList" :value="item.variableId" :key="item.variableId">{{
              item.variableDesc
            }}</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item label="数字">
          <a-input v-model:value="insertNum" type="number" placeholder="请输入数字">
            <template #suffix>
              <div class="insert-num-btn" @click="handleAddNumber">
                <icon-font type="iconadd" />
                <span>插入</span>
              </div>
            </template>
          </a-input>
        </a-form-item>

        <a-form-item label="符号">
          <a-space :size="10">
            <a-space :size="0">
              <a-button v-for="(item, key) in computedSymbolList" :key="item + key" @click="handleAddSymbol(item)">{{
                item
              }}</a-button>
            </a-space>
            <a-space :size="0">
              <a-button v-for="(item, key) in braceSymbolList" :key="item + key" @click="handleAddSymbol(item)">{{
                item
              }}</a-button>
            </a-space>
          </a-space>
        </a-form-item>

        <a-form-item label="小数">
          <a-select v-model:value="decimalPlaces" placeholder="请选择">
            <a-select-option v-for="(item, key) in 4" :value="item" :key="key">{{ item - 1 }}位</a-select-option>
          </a-select>
        </a-form-item>
      </a-form>
    </div>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, toRefs, ref, watch, reactive } from 'vue'
import { CommonVariables, AddOperationalVars } from '@/models/templateVariables'
import { templateVariablesApi, useApi, GetAllResult } from '@/api'
import CustomEdit from './CustomEdit.vue'

export default defineComponent({
  components: { CustomEdit },
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    newVarsName: {
      type: String,
      required: true,
    },
  },
  setup(props, context) {
    let { visible, newVarsName } = toRefs(props)
    let modalVisible = ref(visible.value)
    const formRef = ref()
    watch(visible, newVal => {
      modalVisible.value = newVal
      if (!newVal) {
        clearVal()
        state.decimalPlaces = ''
        formRef.value.resetFields()
      }
    })

    // 获取已选择的变量池
    const { response } = useApi<GetAllResult<CommonVariables>, CommonVariables[]>(templateVariablesApi.getAll())
    const state = reactive({
      computedSymbolList: ['+', '-', '×', '÷'],
      braceSymbolList: ['(', ')'],
      formState: {
        dataValueStr: '',
        dataValueShowStr: '',
        dataValueArr: [],
        variableDesc: '',
      },
      rules: {
        variableDesc: [
          { required: true, message: '请输入运算变量的名称', trigger: 'change' },
          { min: 1, max: 50, message: '不能超过50个字符', trigger: 'change' },
        ],
        dataValueStr: [{ required: true, message: '编辑器内容不能为空' }],
      },
      computedVarsList: response,
      insertNum: '',
      decimalPlaces: '',
      customVarsId: '',
      customVars: {},
      insertNotVars: {},
    })
    // 选择变量事件-将变量添加到编辑区的内容里
    const handleAddVars = (variableId: string | number) => {
      state.customVars = (state.computedVarsList as CommonVariables[]).filter(
        (ele: CommonVariables) => ele.variableId == variableId
      )[0]
    }
    // 生成计算变量对象
    const createComputedVars = () => {
      const dataValueObj = {
        conditionIds: state.formState.dataValueArr,
        expression: state.formState.dataValueStr,
        rule: {
          decimalPlaces: state.decimalPlaces,
        },
      }
      return {
        variableId: newVarsName.value,
        dataType: '1', // 数值类型文本格式
        dataValue: JSON.stringify(dataValueObj),
        variableName: newVarsName.value,
        variableType: '5',
        variableDesc: state.formState.variableDesc,
        dataValueShowStr: state.formState.dataValueShowStr,
      }
    }
    // modal确定按钮事件
    const handleConfirm = () => {
      formRef.value
        .validate()
        .then(async () => {
          const obj: AddOperationalVars = createComputedVars()
          // const addObj: CommonVariables = {
          //   variableId: '',
          //   variableName: obj.variableName,
          //   variableDesc: obj.variableDesc,
          //   dataValue: obj.dataValue,
          //   dataType: obj.dataType,
          //   variableType: '5',
          // }
          // 发请求保存变量
          // const res = await tempVarsApi.addTemplateVariables(addObj)
          // console.log('添加', res)
          context.emit('confirm', obj)
        })
        .catch(() => {
          console.log('error', ...arguments)
        })
    }
    // modal取消按钮事件
    const handleCancel = () => {
      context.emit('cancel')
    }
    const clearVal = () => {
      state.customVars = {}
      state.customVarsId = ''
      state.insertNum = ''
      state.insertNotVars = {}
    }
    const handleAddSymbol = (item: string) => {
      state.insertNotVars = {
        type: 'symbol',
        name: item,
        value: item,
      }
    }
    const handleAddNumber = () => {
      if (state.insertNum.trim() != '') {
        state.insertNotVars = {
          type: 'number',
          name: state.insertNum,
          value: state.insertNum,
        }
      }
    }
    const getCustomEditStr = ({ str = '', showStr = '', arr = [] }) => {
      state.formState.dataValueStr = str
      state.formState.dataValueShowStr = showStr
      state.formState.dataValueArr = arr
    }
    return {
      ...toRefs(state),
      formRef,
      labelCol: {
        span: 4,
      },
      wrapperCol: {
        span: 16,
        offset: 1,
      },
      textareaWrapperCol: {
        span: 16,
        offset: 5,
      },
      modalVisible,
      // func
      handleConfirm,
      handleCancel,
      handleAddVars,
      clearVal,
      handleAddSymbol,
      handleAddNumber,
      getCustomEditStr,
    }
  },
  methods: {},
})
</script>

<style lang="less" scoped>
.add-variables {
  padding-top: 15px;
  height: 420px;
  :deep(.ant-form) {
    .ant-form-item {
      margin-bottom: 4px;
    }
    .ant-form-item-label > label::after {
      display: none;
    }
  }
  .insert-num-btn {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: @primary-color;
    cursor: pointer;
    border-left: 1px solid @border-color;
  }
}
</style>
