<template>
  <div id="customEditEle" :class="['data-value-customer-edit', active ? 'data-value-customer-edit-active' : '']">
    <div class="editor-wrapper">
      <div :class="['custom-editor-wrapper', active ? 'active' : '']" placeholder="">
        <span
          v-for="(item, key) in editStr"
          :key="key"
          :class="['custom-span', item.type + '-span']"
          :value="item.value"
          :id="spanIdName + key"
          @click="handleClickSpan(key)"
          ><span>{{ item.name }}</span></span
        >

        <div
          id="customCursor"
          :class="['_custom-editor-cursor', active ? '_custom-editor_twinkle' : '']"
          :style="cursorStyle"
        ></div>
        <input @keyup="handleKeyup" ref="textboxInput" id="cusEditTextbox" autocomplete="off" type="password" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { CommonVariables } from '@/models/templateVariables'
import { defineComponent, onBeforeUnmount, onMounted, reactive, toRefs, watch, ref } from 'vue'
class EditSpan {
  public type: string
  public name: string
  public value: string
}

export default defineComponent({
  name: 'CustomEdit',
  props: {
    customVars: {
      type: Object,
      default: () => {
        return new CommonVariables()
      },
    },
    insertNotVars: {
      type: Object,
      default: () => {
        return new EditSpan()
      },
    },
  },
  setup(props, context) {
    // 获取参数
    const { customVars, insertNotVars } = toRefs(props)
    const addVariablesObj = new CommonVariables()
    // 获取非变量（符号，数字等）
    const addNotVarsObj = new EditSpan()
    const addVariablesObjList: CommonVariables[] = []
    const editStr: EditSpan[] = []
    const state = reactive({
      addVariablesObj,
      addVariablesObjList,
      addNotVarsObj,
      editStr,
      active: false,
      cursorStyle: {
        left: '0px',
        top: '2px',
        height: '0px',
      },
      spanIdName: 'custom-span',
    })
    // 光标所处index
    const cursorIndex = ref(state.editStr.length)
    // 获取变量
    const handleAddVars = () => {
      const editSpan: EditSpan = {
        type: 'variables',
        name: state.addVariablesObj.variableDesc,
        value: state.addVariablesObj.variableId.toString(),
      }
      handleAddToEditor(editSpan)
    }
    // 监听变量
    watch(customVars, newVal => {
      state.addVariablesObj = newVal as CommonVariables
      if (JSON.stringify(newVal) !== '{}') {
        state.addVariablesObjList.push(state.addVariablesObj)
        handleAddVars()
      }
    })
    watch(insertNotVars, newVal => {
      state.addNotVarsObj = newVal as EditSpan
      if (JSON.stringify(newVal) !== '{}') {
        handleAddToEditor(state.addNotVarsObj)
      }
    })
    // 将添加的span对象添加到列表中
    const handleAddToEditor = (obj: EditSpan) => {
      state.editStr.splice(cursorIndex.value, 0, obj)
      cursorIndex.value += 1
      context.emit('addOk')
      returnDataValueStr()
    }
    const textboxInput = ref()
    function clickCallBack(e: MouseEvent) {
      const element = e.target as Node
      const customEditEle = document.getElementsByClassName('data-value-customer-edit')[0]
      // 判断是否聚焦在编辑框
      const isActive = parentIndexOf(element, customEditEle as Node) != -1
      state.active = isActive
      if (isActive) {
        // 聚焦
        ;(textboxInput.value as HTMLElement).focus()
        // 点击非span时 光标移置最后一个元素后
        if (element.nodeName === 'DIV') {
          handleClickSpan(state.editStr.length - 1)
        }
      } else {
        state.cursorStyle.height = '0'
      }
    }
    function parentIndexOf(node: Node, parent: Node) {
      if (node == parent) {
        return 0
      }
      for (var i = 0, n = node; (n = n.parentNode || new Node()); i++) {
        if (n == parent) {
          return i
        }
        if (n == document.documentElement) {
          return -1
        } //找不到目标父节点，防止死循环
      }
    }
    const bindMouseEvent = () => {
      document.addEventListener('click', clickCallBack)
    }
    onMounted(bindMouseEvent)
    onBeforeUnmount(() => {
      document.removeEventListener('click', clickCallBack)
    })
    const handleClickSpan = (key: number) => {
      state.cursorStyle.height = '20px'
      const spanMarginRSingle = 9
      const currentSpan = document.getElementById(state.spanIdName + key)
      const { offsetLeft, clientWidth, offsetTop } = currentSpan || { offsetLeft: 0, clientWidth: 0, offsetTop: 0 }
      state.cursorStyle.left = offsetLeft + clientWidth - spanMarginRSingle / 2 + 'px'
      cursorIndex.value = state.editStr.length == 0 ? 0 : key + 1
      state.cursorStyle.top = offsetTop + 2 + 'px'
    }
    const handleKeyup = (e: KeyboardEvent) => {
      if (e.code === 'Backspace') {
        if (cursorIndex.value > 0) {
          state.editStr.splice(cursorIndex.value - 1, 1)
          handleClickSpan(cursorIndex.value - 2)
        }
      } else if (e.code === 'ArrowLeft') {
        if (cursorIndex.value > 0) {
          handleClickSpan(cursorIndex.value - 2)
        }
      } else if (e.code === 'ArrowRight') {
        if (cursorIndex.value < state.editStr.length) {
          handleClickSpan(cursorIndex.value)
        }
      } else {
        e.preventDefault()
        e.stopPropagation()
      }
      returnDataValueStr()
    }
    function returnDataValueStr() {
      let str = ''
      let showStr = ''
      let arr: string[] = []
      state.editStr.forEach((ele, index) => {
        str += ele.value + (index < state.editStr.length - 1 ? ' ' : '')
        if (ele.type === 'variables') {
          arr.push(ele.value.toString())
          const varObj = state.addVariablesObjList.filter(el => el.variableId === ele.value)[0]
          showStr += ele.name + `(示例值：${varObj.dataValue})` + (index < state.editStr.length - 1 ? ' ' : '')
        } else {
          showStr += ele.name + (index < state.editStr.length - 1 ? ' ' : '')
        }
      })
      context.emit('change', {
        str,
        showStr,
        arr,
      })
    }
    return {
      ...toRefs(state),
      textboxInput,
      handleAddVars,
      handleKeyup,
      handleClickSpan,
    }
  },
})
</script>

<style lang="less" scoped>
@import url('~@/styles/mixins.less');
@variables-bgcolor: rgba(0, 122, 228, 0.2);
@symbol-bgcolor: rgba(160, 229, 216, 0.2);
@number-bgcolor: rgba(245, 166, 35, 0.2);
@span-height: 24px;
.data-value-customer-edit {
  width: 100%;
  height: 100px;
  line-height: calc(@span-height - 4px);
  overflow-y: scroll;
  padding: 10px;
  cursor: text;
  // 边框与圆角与input保持一致
  border: 1px solid @border-color;
  border-radius: 2px;
  // display: flex;
  // flex-wrap: wrap;
  position: relative;
  &:hover {
    border-color: #2698f0;
    border-right-width: 1px !important;
  }
  &.data-value-customer-edit-active {
    border-color: #2698f0;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 122, 228, 0.2);
    box-shadow: 0 0 0 2px rgba(0, 122, 228, 0.2);
  }
  .custom-span {
    display: inline-block;
    span {
      display: inline-block;
      height: @span-height;
      margin-right: 9px;
      text-align: center;
      background-color: @variables-bgcolor;
      -webkit-user-select: none;
      user-select: none;
      padding: 2px 4px;
      border-radius: 2px;
      margin-bottom: 5px;
    }
    &.symbol-span span {
      background-color: @symbol-bgcolor;
      width: @span-height;
      height: @span-height;
      border-radius: 50%;
    }
    &.number-span span {
      background-color: @number-bgcolor;
    }
  }
  .custom-cursor {
    display: inline-block;
    width: 1px;
    position: absolute;
    box-shadow: 0 0 10px rgb(255 255 255 / 30%);
    background: #000;
    height: 17px;
    left: 10px;
    top: 9px;
    &.custom-editor_twinkle {
      animation: twinkle 1s 1s cubic-bezier(1, 0, 0, 1) infinite;
    }
  }
  #cusEditTextbox {
    position: absolute;
    display: inline-block;
    width: 1px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
    margin: 0;
    z-index: -1;
  }
}

.custom-editor-wrapper {
  width: 100%;
  height: 100%;
  word-break: break-all;
  position: relative;
  box-sizing: border-box;
  cursor: text;
}
.custom-editor-wrapper._custom-editor-placeholder::before {
  content: attr(placeholder);
  position: absolute;
  color: #999;
  font-size: 12px;
}
.custom-editor-wrapper > span {
  display: inline;
}
// .custom-editor-wrapper #_texting {
//   display: inline;
// }
.custom-editor-wrapper #cusEditTextbox {
  position: absolute;
  display: inline-block;
  width: 1px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  border: 0;
  margin: 0;
  z-index: -1;
}
.custom-editor-wrapper #customCursor {
  display: inline-block;
  width: 1px;
  position: absolute;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  background: @text-color;
  .themify({
    background: @dark-title-color;
  });
}
.custom-editor-wrapper #customCursor._custom-editor_twinkle {
  animation: twinkle 1s 1s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes twinkle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
