<template>
  <div class="data-variable-container">
    <div class="data-var-placeholder">
      <span>请选择插入的数据变量</span>
      <span @click="showDataOrigionModal">数据源重选变量</span>
    </div>

    <div class="variables-container" v-if="selectDataVarsList.length != 0">
      <div
        class="variables-item"
        v-for="item in selectDataVarsList"
        :key="item.variableId"
        @click="handleSelectedVars(item)"
      >
        {{ `${item.variableDesc} (示例：${item.dataValue})` }}
      </div>
    </div>

    <empty-variables createType="选择" variablesName="数据" v-if="selectDataVarsList.length == 0"></empty-variables>

    <data-origion-modal
      :visible="modalVisible"
      :selectedKeys="selectedKeys"
      @cancel="onCancel"
      @confirm="onConfirm"
    ></data-origion-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, toRefs, computed } from 'vue'
import EmptyVariables from './EmptyVariables.vue'
import DataOrigionModal from './DataOrigionModal.vue'
// import { templateVariablesApi, useApi, GetAllResult } from '@/api'
import { CommonVariables } from '@/models/templateVariables'
import { VariableType } from '@/components/collaborative-editor/blots/variable'

export default defineComponent({
  components: { EmptyVariables, DataOrigionModal },
  setup(props, context) {
    // 获取已选择的变量池
    // const { response } = useApi<GetAllResult<CommonVariables>, CommonVariables[]>(templateVariablesApi.getAll())
    const selectDataVarsList: CommonVariables[] = []
    const state = reactive({
      selectDataVarsList,
      // selectDataVarsList: response,
    })

    const handleSelectedVars = (item: { variableId: string; variableName: string }) => {
      context.emit('selected', item, VariableType.DataVariable)
    }
    let modalVisible = ref(false)
    const showDataOrigionModal = () => {
      modalVisible.value = true
    }
    const onCancel = () => {
      modalVisible.value = false
    }
    const onConfirm = (list: CommonVariables[]) => {
      const mapAfter = list.map(ele => ele.variableId)
      const hasDeleteVars = (state.selectDataVarsList as CommonVariables[]).filter(
        (ele: CommonVariables) => !mapAfter.includes(ele.variableId)
      )
      if (hasDeleteVars.length > 0) {
        // 触发删除变量操作
        hasDeleteVars.forEach(ele => {
          context.emit('delete', ele)
        })
      }
      state.selectDataVarsList = list
      onCancel()
    }
    const getSelectedKeys = () => {
      let arr
      ;(state.selectDataVarsList as CommonVariables[]).forEach((ele: CommonVariables) => {
        arr.push(ele.variableId)
      })
      return JSON.stringify(arr)
    }
    const selectedKeys = computed(() => {
      return getSelectedKeys()
    })
    return {
      ...toRefs(state),
      selectedKeys,
      // func
      handleSelectedVars,
      showDataOrigionModal,
      modalVisible,
      onCancel,
      onConfirm,
    }
  },
  methods: {
    getVarsItem(id: string) {
      return (this.selectDataVarsList as CommonVariables[]).filter((ele: CommonVariables) => ele.variableId == id)[0]
    },
  },
})
</script>

<style lang="less" scoped>
@import url('~@/styles/mixins.less');
@left-right-padding: 15px;
.data-variable-container {
  height: 100%;
  padding-left: @left-right-padding;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  .data-var-placeholder {
    padding-right: @left-right-padding;
    color: @grey-color;
    height: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    span:last-child {
      color: @primary-color;
      cursor: pointer;
    }
  }

  .variables-container {
    flex: 1;
    overflow-y: scroll;
    .variables-item {
      width: fit-content;
      min-height: 30px;
      margin-bottom: 10px;
      margin-right: @left-right-padding;
      padding: 6px 8px;
      border-radius: 4px;
      border: solid 1px @variable-label-color;
      background-color: @variable-label-color;
      cursor: pointer;
      .themify({
        border: solid 1px @primary-color;
        background: @card-bgcolor;
      });
    }
  }
}
</style>
