<template>
  <a-modal
    class="data-origion-modal ant-modal--modification"
    :width="1000"
    v-model:visible="modalVisible"
    title="请在左侧数据源可选变量中选择，作为编辑时的数据变量"
    @cancel="handleCancel"
    @ok="handleConfirm"
  >
    <div class="data-origion-container">
      <div class="origion-selections">
        <!-- 源数据列表 -->
        <div class="selections-wrapper origion-selections-wrapper">
          <div class="selections-header origion-selections-header">
            <span class="select-all-btn" @click="handleSelectAll">全选</span>
            <span>数据源可选变量（{{ dataVariablesList.length }}个）</span>
          </div>
          <div class="selections-box">
            <a-tree class="origion-tree" checkable :tree-data="treeData" v-model:checkedKeys="checkedKeys"> </a-tree>
          </div>
        </div>
        <!-- 已勾选数据列表 -->
        <div class="selections-wrapper selected-selections-wrapper">
          <div class="selections-header selection-item">
            <div>已选变量（{{ selectDataVarsList.length }}/{{ dataVariablesList.length }}）</div>
            <div>变量类型</div>
            <div>示例</div>
            <div>操作</div>
          </div>
          <div class="selections-box">
            <div class="empty-selections-placeholder" v-if="selectDataVarsList.length == 0">
              <p>请在左侧数据源可选变量中勾选</p>
              <p>选出的变量可在创作中作为数据变量使用</p>
            </div>
            <template v-else>
              <div class="selection-item" v-for="item in selectDataVarsList" :key="item.variableId">
                <div>
                  <a-input
                    v-if="editableData[item.variableId]"
                    v-model:value="editableData[item.variableId].variableDesc"
                    size="small"
                  />
                  <template v-else>
                    {{ item.variableDesc }}
                  </template>
                </div>
                <div>
                  <a-select
                    v-if="editableData[item.variableId]"
                    class="from-select"
                    size="small"
                    v-model:value="editableData[item.variableId].dataType"
                  >
                    <a-select-option :value="key + 1" v-for="(item, key) in VARIABLES_DATA_TYPE" :key="key">{{
                      item
                    }}</a-select-option>
                  </a-select>
                  <template v-else>{{ VARIABLES_DATA_TYPE[item.dataType - 1] }}</template>
                </div>
                <div>{{ item.dataValue }}</div>
                <div class="selection-action">
                  <template v-if="editableData[item.variableId]">
                    <icon-font type="iconsave" @click="save(item.variableId)" />
                    <a-popconfirm title="确定取消编辑吗？" @confirm="cancel(item.variableId)">
                      <icon-font type="iconreturn" />
                    </a-popconfirm>
                  </template>
                  <template v-else>
                    <icon-font type="iconedit" @click="edit(item.variableId)" />
                    <icon-font type="iconclose" @click="handleCancelSelect(item.variableId)" />
                  </template>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
      <!-- 数据源选择 -->
      <div class="origion-selection-from padding10-not-top">
        <label key="origionFrom">数据来自</label>
        <a-select class="from-select" size="small" name="origionFrom" v-model:value="dataOrigionId">
          <a-select-option value="hushen">预置数据源-沪深</a-select-option>
        </a-select>
      </div>
    </div>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, ref, toRefs, watch, reactive, onMounted, computed } from 'vue'
import { TreeDataItem } from 'ant-design-vue/es/tree/Tree'
// import { templateVariablesApi, useApi, GetAllResult } from '@/api'
import { CommonVariables } from '@/models/templateVariables'
import { cloneDeep } from 'lodash'

// 有层级的树结构
// const treeData: TreeDataItem[] = [
//   {
//     title: 'parent 1',
//     key: '0-0',
//     children: [
//       {
//         title: 'parent 1-0',
//         key: '0-0-0',
//         children: [
//           { title: 'credit_level(信用等级,示例值：AAA）', key: '0-0-0-0' },
//           { title: 'issuance_date(发行日期,示例值：2003年8月25日）', key: '0-0-0-1' },
//         ],
//       },
//       {
//         title: 'parent 1-1',
//         key: '0-0-1',
//         children: [{ key: '0-0-1-0', slots: { title: 'money_rate(票面利率(%),示例值：4.63）' } }],
//       },
//     ],
//   },
// ]

export default defineComponent({
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    selectedKeys: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    let { visible, selectedKeys } = toRefs(props)
    let modalVisible = ref(visible.value)
    const treeData: TreeDataItem[] = []
    let selectDataVarsList: CommonVariables[] = []
    const editableData: { [propName: string]: CommonVariables } = {}
    // 获取已选择的变量池
    // const { response } = useApi<GetAllResult<CommonVariables>, CommonVariables[]>(templateVariablesApi.getAll())
    const dataVariablesList: CommonVariables[] = []
    const state = reactive({
      dataOrigionId: 'hushen',
      // dataVariablesList: response,
      dataVariablesList,
      treeData,
      selectDataVarsList,
      editableData,
    })
    // 选中的key值
    const checkedKeys = ref<(string | number)[]>([])
    // 获取所有的key值-全选使用
    const getAllTreeKeys = (treeArr: TreeDataItem[]) => {
      let arr: (string | number)[] = []
      treeArr.forEach((ele: TreeDataItem) => {
        if (ele.key) {
          arr.push(ele.key)
        }
        if (ele.children && ele.children.length > 0) {
          arr.push(...getAllTreeKeys(ele.children))
        }
      })
      return arr
    }
    // 计算属性-全部的key值
    const allTreeKeys = computed(() => {
      return getAllTreeKeys(state.treeData)
    })
    // 左侧全选事件
    const handleSelectAll = () => {
      checkedKeys.value = allTreeKeys.value
    }
    // 监听左侧列表所选key值的变化，同步右侧展示列表的list
    watch(checkedKeys, () => {
      handleCheckTree(checkedKeys.value)
    })
    // 监听checkedKeys事件的回调
    const handleCheckTree = (checkedKeys: (string | number)[]) => {
      if (checkedKeys.length > 0) {
        state.selectDataVarsList = (state.dataVariablesList as CommonVariables[]).filter((ele: CommonVariables) =>
          checkedKeys.includes(ele.variableId)
        )
      } else {
        state.selectDataVarsList = []
      }
    }
    // 根据获取到的变量数据生成树
    const createTreeData = (list: CommonVariables[]) => {
      let arr: TreeDataItem[] = []
      list.forEach(ele => {
        if (ele.variableId) {
          const treeDataObj = {
            key: ele.variableId,
            title: `${ele.variableName}(${ele.variableDesc},示例值：${ele.dataValue})`,
          }
          arr.push(treeDataObj)
        }
      })
      return arr
    }

    onMounted(() => {
      createTreeData(state.dataVariablesList as CommonVariables[])
    })
    // 监听modal的显示隐藏visible属性
    watch(visible, newVal => {
      modalVisible.value = newVal
      // 获取selectedKeys，同步以选中的key值
      checkedKeys.value = JSON.parse(selectedKeys.value)
    })
    // 右侧展示列表的取消选择，更新左侧的选中key值列表
    const handleCancelSelect = (id: string | number) => {
      checkedKeys.value = checkedKeys.value.filter(ele => ele != id)
    }
    // 右侧编辑变量
    const edit = (key: string | number) => {
      state.editableData[key.toString()] = cloneDeep(
        state.selectDataVarsList.filter((item: CommonVariables) => key == item.variableId)[0]
      )
    }
    // 右侧保存变量的编辑
    const save = (key: string | number) => {
      Object.assign(
        state.selectDataVarsList.filter((item: CommonVariables) => key == item.variableId)[0],
        state.editableData[key]
      )
      delete state.editableData[key]
    }
    // 右侧取消变量的编辑
    const cancel = (key: string | number) => {
      delete state.editableData[key]
    }
    return {
      modalVisible,
      ...toRefs(state),
      VARIABLES_DATA_TYPE: ['文本', '数值', '日期'],
      allTreeKeys,
      checkedKeys,
      // func
      handleSelectAll,
      handleCheckTree,
      handleCancelSelect,
      edit,
      save,
      cancel,
    }
  },
  methods: {
    // modal弹窗的确定事件
    handleConfirm() {
      // 检测是否有未保存的数据，如果有提示先保存
      const checkHasEditData = JSON.stringify(this.editableData) === '{}'
      if (checkHasEditData) {
        this.$emit('confirm', this.selectDataVarsList)
      } else {
        this.$message.warning('请先保存修改的变量！')
      }
    },
    // modal弹窗取消事件
    handleCancel() {
      this.$emit('cancel')
      this.editableData = {}
    },
  },
})
</script>

<style lang="less" scoped>
@modal-font-size: 12px;
.data-origion-modal {
  .data-origion-container {
    font-size: @modal-font-size;
  }
  .origion-selections {
    height: 60vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .origion-selections-wrapper {
      width: 45%;
      margin-right: 10px;
      .origion-selections-header {
        .select-all-btn {
          color: @primary-color;
          margin-right: 10px;
          cursor: pointer;
        }
      }
      .origion-tree,
      :deep(.ant-tree) {
        font-size: @modal-font-size;
        li {
          padding: 0;
        }
      }
    }
    .selected-selections-wrapper {
      flex: 1;
      .selection-item {
        width: 100%;
        // padding: 0 10px;
        padding-left: 10px;
        display: flex;
        height: 24px;
        line-height: 24px;
        div {
          padding-right: 10px;
          .ant-input,
          .ant-select {
            font-size: @modal-font-size;
            line-height: 22px;
            padding: 0 7px;
          }
          :deep(.ant-select) {
            width: 80px;
            .ant-select-arrow {
              right: 15px;
            }
          }
        }
        & > div:nth-child(2n) {
          flex: 2;
        }
        & > div:nth-child(2n + 1) {
          flex: 4;
        }
        & > div:nth-child(3n) {
          flex: 5;
        }
        & > div:nth-child(4n) {
          flex: 1;
        }
        .selection-action {
          color: @primary-color;
          display: flex;
          align-items: center;
          span {
            cursor: pointer;
            &:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .selections-wrapper {
      height: 100%;
      border: 1px solid @border-color;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      .selections-header {
        padding-left: 10px;
        // 右边距包含滚动条宽度
        padding-right: 28px;
        background: #f5f7fa;
        height: 30px;
        line-height: 30px;
      }
      .selections-box {
        flex: 1;
        overflow: scroll;
        .empty-selections-placeholder {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          line-height: 16px;
          color: @grey-color;
        }
      }
    }
  }
  .origion-selection-from {
    .from-select {
      width: 160px;
      margin-left: 10px;
      font-size: @modal-font-size;
    }
  }
}
</style>
