<template>
  <div class="edit-tools-container">
    <title-container tit="字段工具">
      <div class="tools-tabs">
        <div
          :class="{ 'tools-tabs-item': true, 'tools-tabs-item-active': item.key === activeTabKey }"
          v-for="item in TOOLS_TABS"
          :key="item.key"
          @click="handleChangeTab(item.key)"
        >
          <icon-font :type="item.icon" />
          <span>{{ item.title }}</span>
        </div>
      </div>
      <div class="tools-container">
        <data-variable
          ref="dataVarEle"
          v-show="!detailVisible && activeTabKey == TOOLS_TABS[0].key"
          @selected="handleSelectedVars"
          @delete="handleDeleteVars"
        ></data-variable>
        <operational-variable
          ref="operationalVarEle"
          v-show="!detailVisible && activeTabKey == TOOLS_TABS[1].key"
          @selected="handleSelectedVars"
          @delete="handleDeleteVars"
        ></operational-variable>
        <variables-detail
          v-show="detailVisible"
          :showVariables="showVariables"
          @hide="detailVisible = false"
        ></variables-detail>
      </div>
    </title-container>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from 'vue'
import TitleContainer from '@/views/components/TitleContainer.vue'
import DataVariable from './DataVariable.vue'
import OperationalVariable from './OperationalVariable.vue'
import { CommonVariables } from '@/models/templateVariables'
import VariablesDetail from './VariablesDetail.vue'
import { VariableType } from '@/components/collaborative-editor/blots/variable'

export default defineComponent({
  components: {
    TitleContainer,
    DataVariable,
    OperationalVariable,
    VariablesDetail,
  },
  setup(props, context) {
    const TOOLS_TABS = [
      {
        key: 'dataVariable',
        title: '数据变量',
        icon: 'icontarget',
      },
      {
        key: 'operationalVariable',
        title: '运算变量',
        icon: 'iconcompute',
      },
    ]
    const state = reactive({
      detailVisible: false,
      activeTabKey: TOOLS_TABS[0].key,
      showVariables: {},
    })
    // 切换tab
    const handleChangeTab = (key: string) => {
      state.activeTabKey = key
      state.detailVisible = false
    }
    const handleSelectedVars = (item: Partial<CommonVariables>, type: number) => {
      context.emit('selected', item, type)
    }
    const handleDeleteVars = (item: Partial<CommonVariables>, type: number) => {
      context.emit('delete', item, type)
    }
    return {
      ...toRefs(state),
      TOOLS_TABS,
      handleChangeTab,
      handleSelectedVars,
      handleDeleteVars,
    }
  },
  methods: {
    showDetail(item: Partial<CommonVariables>) {
      // 展示变量详情
      this.showVariables = item
      this.detailVisible = true
    },
    getVarsItem(id: string, type: number) {
      let refEle
      if (type == VariableType.DataVariable) {
        refEle = this.$refs['dataVarEle'] as typeof DataVariable
      } else {
        refEle = this.$refs['operationalVarEle'] as typeof OperationalVariable
      }
      return refEle.getVarsItem(id)
    },
  },
})
</script>

<style lang="less" scoped>
@import url('~@/styles/mixins.less');
@left-right-padding: 15px;
.edit-tools-container {
  width: 100%;
  height: 100%;
  .tools-tabs {
    padding: 5px 15px 15px;
    display: flex;
    .tools-tabs-item {
      width: 94px;
      height: 59px;
      border-radius: 2px;
      border: solid 1px @primary-color;
      color: @primary-color;
      background-color: @card-bgcolor;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:not(&:last-child) {
        margin-right: 10px;
      }
      &:hover,
      &.tools-tabs-item-active {
        background-color: @variable-label-color;
        cursor: pointer;
      }
    }
  }
  .card-box {
    height: 100%;
  }
  .tools-container {
    // 减去tab高度
    height: calc(100% - 89px);

    .variables-container {
      flex: 1;
      overflow-y: scroll;
      .variables-item {
        width: fit-content;
        min-height: 30px;
        margin-bottom: 10px;
        margin-right: @left-right-padding;
        padding: 6px 8px;
        border-radius: 4px;
        border: solid 1px @variable-label-color;
        background-color: @variable-label-color;
      }
    }
  }
}
</style>
