<template>
  <div class="empty-variables">
    <img src="@/assets/images/please-add.png" />
    <span>目前没有可选的{{ variablesName }}变量</span>
    <span>需要您{{ createType + variablesName }}变量</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    variablesName: {
      type: String,
      default: '运算',
    },
    createType: {
      type: String,
      default: '新建',
    },
  },
  setup() {
    return {}
  },
})
</script>

<style lang="less" scoped>
.empty-variables {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 90px;
    height: 59px;
  }
  span {
    color: @grey-color;
  }
}
</style>
