<template>
  <div class="operational-variable-container">
    <div class="operation-placeholder">请选择插入的数据变量</div>

    <div class="variables-container" v-if="variableList.length != 0">
      <div
        class="variables-item"
        v-for="(item, key) in variableList"
        @mouseenter="handleShowDelBtn(key, true)"
        @mouseleave="handleShowDelBtn(key, false)"
        :key="item.variableId"
        @click="handleSelectedVars(item)"
      >
        <span>{{ item.variableDesc }}</span>
        <a-popconfirm title="确定删除该变量吗？" @confirm="handleDeleteVars(key, item)">
          <icon-font @click.stop type="icondelete" v-show="item.showDel"></icon-font>
        </a-popconfirm>
      </div>
    </div>

    <empty-variables v-else></empty-variables>

    <div class="add-variable-btn" @click="addOperationalVars">
      <icon-font type="iconadd" />
      <span>新建变量</span>
    </div>
    <!-- 新建变量modal -->
    <add-operational-vars-modal
      :visible="addModalVisible"
      :newVarsName="newVarsName"
      @cancel="onCancel"
      @confirm="onConfirm"
    ></add-operational-vars-modal>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from 'vue'
import AddOperationalVarsModal from './AddOperationalVarsModal.vue'
import EmptyVariables from './EmptyVariables.vue'
import { CommonVariables } from '@/models/templateVariables'
import { VariableType } from '@/components/collaborative-editor/blots/variable'
class OperationalVariables extends CommonVariables {
  public showDel: boolean
  public dataValueShowStr: string
}

export default defineComponent({
  components: { EmptyVariables, AddOperationalVarsModal },
  setup(props, context) {
    const variableList: OperationalVariables[] = []
    const state = reactive({
      variableList,
      addModalVisible: false,
      newVarsName: '',
    })
    const handleSelectedVars = (item: { variableId: string; variableName: string }) => {
      context.emit('selected', item, VariableType.CalculateVariable)
    }
    const addOperationalVars = () => {
      state.addModalVisible = true
      state.newVarsName = `calculate_${variableList.length + 1}`
    }
    const onCancel = () => {
      state.addModalVisible = false
    }
    const onConfirm = (computedVars: CommonVariables) => {
      const newOperationalVariables: OperationalVariables = {
        showDel: false,
        dataValueShowStr: '',
        ...computedVars,
      }
      // 重新获取变量列表
      state.variableList.push(newOperationalVariables)
      onCancel()
    }
    // 鼠标移入显示删除按钮
    const handleShowDelBtn = (key: number, val: boolean) => {
      state.variableList[key].showDel = val
    }
    // 删除变量
    const handleDeleteVars = (key: number, item: OperationalVariables) => {
      // 调用删除变量接口
      state.variableList.splice(key, 1)
      context.emit('delete', item)
    }
    return {
      ...toRefs(state),
      handleSelectedVars,
      addOperationalVars,
      onConfirm,
      onCancel,
      handleShowDelBtn,
      handleDeleteVars,
    }
  },
  methods: {
    getVarsItem(id: string) {
      return this.variableList.filter(ele => ele.variableId == id)[0]
    },
  },
})
</script>

<style lang="less" scoped>
@import url('~@/styles/mixins.less');
@left-right-padding: 15px;
.operational-variable-container {
  height: 100%;
  padding: 0px 0px 40px @left-right-padding;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  .operation-placeholder {
    color: @grey-color;
    height: 18px;
    margin-bottom: 10px;
  }
  .variables-container {
    flex: 1;
    overflow-y: scroll;
    .variables-item {
      width: fit-content;
      min-height: 30px;
      margin-bottom: 10px;
      margin-right: @left-right-padding;
      padding: 6px 50px 6px 8px;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
      border: solid 1px @variable-label-color;
      background-color: @variable-label-color;
      .anticon {
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        color: @grey-color;
      }
      .themify({
        border: solid 1px @primary-color;
        background: @card-bgcolor;
        .anticon {
        color: @primary-color;
        }
      });
    }
  }
  .add-variable-btn {
    width: 140px;
    height: 30px;
    border-radius: 4px;
    background-color: @primary-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
</style>
