<template>
  <div class="variables-detail">
    <div class="back-btn">
      <icon-font type="iconreturn" @click="hideDetail" />
    </div>
    <div class="vars-detail-header">变量信息</div>
    <ul class="vars-detail-info">
      <li class="detail-item">
        <span class="detail-title">变量名称：</span>
        <span class="detail-value">{{ showVariables.variableDesc }}</span>
      </li>
      <li class="detail-item" v-if="showVariables.variableType != 5">
        <span class="detail-title">变量示例：</span>
        <span class="detail-value">{{ showVariables.dataValue }}</span>
      </li>
      <li class="detail-item" v-else>
        <span class="detail-title">变量示例：</span>
        <span class="detail-value">{{ showVariables.dataValueShowStr }}</span>
      </li>
      <li class="detail-item">
        <span class="detail-title">变量格式：</span>
        <span class="detail-value">{{ VARIABLES_DATA_TYPE[showVariables.dataType - 1] }}格式</span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { CommonVariables } from '@/models/templateVariables'
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    showVariables: {
      type: Object,
      default: () => {
        return new CommonVariables()
      },
    },
  },
  setup(props, context) {
    const hideDetail = () => {
      context.emit('hide')
    }
    return {
      hideDetail,
      VARIABLES_DATA_TYPE: ['文本', '数值', '日期'],
    }
  },
})
</script>

<style lang="less" scoped>
.variables-detail {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  .back-btn {
    color: @primary-color;
  }
  .vars-detail-header {
    color: @grey-color;
    font-weight: 500;
    line-height: 40px;
  }
  .vars-detail-info {
    padding: 0;
    .detail-item {
      margin-bottom: 5px;
      display: flex;
      .detail-title {
        width: 60px;
      }
      .detail-value {
        flex: 1;
      }
    }
  }
}
</style>
